{% if settings.enable_multilang %}
<div class="lang_currency-dropdown dropdown" data-language-switcher>
    <label class="dropdown-toggle dropdown-label" data-toggle="dropdown" data-language-label>
    </label>
    <div class="dropdown-menu lang-menu" id="lang-switcher">
    </div>
</div>
{% endif %}

