<div>
 
   
             <h2 class="heading_description" style="text-align:center;">Frequently Asked Questions</h2>
        
        </div>


<dl>
<div class=".faqAccordion .faqAccordion2">
    <dt class="acc_trigger specic_tab"><a href="#toggle1">How is the anodization done?</a></dt>
    <dd class="acc_container specic_tab">
        <div class="block">Anodizing is an electrochemical process that converts the metal surface into a decorative, durable, corrosion-resistant, anodic oxide finish. Anodizing is accomplished by immersing the aluminium into an acid electrolyte bath and passing an electric current through the medium.</div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle2">Does the kadhai come with lid?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef hard anodized cookware comes with unique Stainless Steel Lid, Made from high quality Stainless Steel. Elegant wooden knob firmly riveted to the surface does not get heated or interfere with the cooking Surface. It gives you a firm grip thus, enhancing your cooking experience.</div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle3">Is the lid of hard anodized frying pan made of steel or glass?</a></dt>
    <dd class="acc_container">
        <div class="block">It is made of unique Stainless Steel lid.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle4">Does hard anodized mean non-stick?</a></dt>
    <dd class="acc_container">
        <div class="block">Hard-anodized aluminium has undergone a chemical process to oxidize the cooking surface of the pan so it's more durable, non-stick, and doesn't discolour food.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle5">What is the benefit of hard anodized cookware?</a></dt>
    <dd class="acc_container">
        <div class="block">It is non- toxic. High heat levels will not damage the anodized finish. Anodized surfaces are heat-resistant to the melting point of aluminium (1,221°F). Most important for cookware, hard-anodizing makes cookware surfaces so ultra-smooth that they become virtually non-porous (without pores).</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle6">Is the hard anodized cookware safe for oven, dishwasher?</a></dt>
    <dd class="acc_container">
        <div class="block">The heat and harsh chemicals in the dishwasher will eat away at the exposed aluminium. After repeated cleaning like this, the anodized surface may start to chip off, leaving more raw aluminium exposed to erosion. To avoid damaging your cookware, it is best not to put hard anodized cookware in the dishwasher.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle7">Are the handles soft-touch?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, they are soft touch handles & adds elegance to your kitchen.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle8">What type of spoon / spatula can I use for hard anodized kadhai?</a></dt>
    <dd class="acc_container">
        <div class="block">You can any kind of spatulas silicone, wooden, nylon or even a metal spatula for all Wonderchef hard anodised cookware range.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle9">Can I cook for 5 - 6 people in wok?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, you can. With functional design, flat induction bottom, deep curved sides the Ebony range adds style to your kitchen as well. </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle10">What is the thickness?</a></dt>
    <dd class="acc_container">
        <div class="block">Ebony Hard Anodized 60 microns hard anodized coating on pure grade aluminium makes the cookware 2.4 times harder than steel. For SKU specific thickness specification, kindly visit the product description section.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle11">Can I use hard anodized cookware on induction and gas cook tops?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, works on gas stoves and induction cooktops both.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle12">Is it safe to use?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, using hard anodized aluminium cookware is completely safe as the coating is non-toxic, stain and corrosion-resistant. It does not react with food and retains the original flavours.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle13">What is the warranty on hard anodized cookware?</a></dt>
    <dd class="acc_container">
        <div class="block">Hard anodised cookware has 5 Years Warranty, for SKU specific warranty specification, kindly visit the product description section.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle14">What can I cook in hard anodized cookware?</a></dt>
    <dd class="acc_container">
        <div class="block">The non-stick coating makes hard-anodized aluminium excellent all-purpose cookware that can be used for cooking a large variety of foods, including delicate ingredients like fish or eggs. The coating also makes the cookware easy to clean.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle15">Is it useful for deep-frying?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes it can be used for deep frying.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle16">How to clean hard anodized cookware?</a></dt>
    <dd class="acc_container">
        <div class="block">To clean, hand wash the cookware in warm, soapy water, and then rinse and thoroughly hand dry. Rinse thoroughly in warm water and pat dry using clean cloth. Clean stubborn stains with a baking soda and water. Use a hard anodized cleaner to restore the lustre of the hard anodized finish.</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle17">Is hard anodized cookware long lasting?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef uses premium quality 60-micron hard anodized coating on pure grade aluminum thus making the surface durable, scratch-resistant and literally 2.4 times harder than steel. This process make hand anodized cookware safe and long lasting. <br>
It is perfectly safe as it is 100% safe with no PFOA, Cadmium, Nickel, Arsenic or Lead and is US FDA approved as well.
</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle18">Is hard anodized cookware safe for cooking?</a></dt>
    <dd class="acc_container">
        <div class="block">While this is certainly a valid concern with non-anodized cookware, the anodizing process naturally prevents the metal from corroding with or without a non-stick coating. Therefore, hard-anodized cookware is safe to use.<br>
Wonderchef Bring home the beautiful Ebony Cookware Range. Stunning black colour with wooden handles give a sophisticated look to your kitchen. 
</div>
    </dd>
  
  
</div>
</dl>


<style>
  
  
  .acc_trigger > a:hover, .acc_trigger > a:focus {
    background: #ededed;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
   .faqAccordion2 > dt > a {
   
    color: #000!important;
    font-size:15px!important;
   
}
  .faqAccordion > dt > a:hover, .faqAccordion > dt > a:focus {
    background: #f7f7f7;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
  
  .acc_container {
    display: none;
    padding: 20px 0px;
}
  .acc_trigger > a::after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50.1%);
    -ms-transform: translateY(-50.1%);
    transform: translateY(-50.1%);
    right: 15px;
    font-size: 25px;
    content: "\002b";
    color: inherit;
}
  
  

 .acc_trigger > a::after {
    right: 0px!important;
}
 .acc_trigger > a:focus::after {
    content: "\002d";
    font-size: 30px;
}
  
  
  .acc_trigger > a {
    background: transparent;
    position: relative;
    padding: 10px;
    color: #000!important;
    font-size: 15px!important;
    border-bottom: 1px solid #ededed;
    text-align: left;
    display: block;
    cursor: pointer;
    width: 100%;
    outline: none;
    text-transform: initial;
    min-height: auto;
    height: auto;
    line-height: inherit;
    font-weight: normal;
    /* font-family: Montserrat, sans-serif; */
    font-style: normal;
    box-shadow: none;
    border-radius: 0px;
   
}
  
</style>
<script>
$(function () {
    $('.acc_trigger a').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        $(this).closest('.acc_trigger').next('.acc_container').stop().slideDown();
        return false;
    })

    $('.expand').click(function () {
        $('.acc_trigger').closest('.acc_trigger').next('.acc_container').slideDown();
        return false;
    })

    $('.collapse').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        return false;
    })
});
</script>

