<div>
 
   
             <h2 class="heading_description" style="text-align:center;">Frequently Asked Questions</h2>
        
        </div>


<dl>
<div class=".faqAccordion .faqAccordion2">
    <dt class="acc_trigger specic_tab"><a href="#toggle1">What is a Nutri-pot?</a></dt>
    <dd class="acc_container specic_tab">
        <div class="block">It is a combination of 7 different appliances put all-in-one in your kitchen. Combining the power and attributes of 7 kitchen appliances like Pressure Cooker, Steamer, Yogurt Maker, Sauté, Rice Cooker, Warmer and Slow Cooker into one, this cooking pot enables you to perform most of your cooking functions. On top of it, its automatic functioning doesn’t allow to worry much about the cooking. You can simply put it on and relax and the cooking pot will prepare your meal with perfection. Nutri-Pot is perfectly safe to use with controlled pressure and superior quality of construction. Make variety of Indian & even Western recipes in the Nutri-Pot.
</div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle2">How does the Wonderchef Nutri-pot work?</a></dt>
    <dd class="acc_container">
        <div class="block">The Nutri-Pot with its automatic smart functioning prevents overcooking so that you get the perfect taste of your cooking, whether it is rajma or chole or meat- the tenderness is maintained and even accentuated. The tight-fitting lid traps the steam rising from the food and builds up pressure and temperature within the pot and preserves the minerals and other essential nutrients in the vegetables or meat, so you get tasty as well as healthy food. With 18 pre-set functions you can leave it on the cooking pot to cook the best food for you. It is programmed with an embedded microprocessor that monitors pressure, temperature & time, and adjusts heating intensity.
</div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle3">What are the advantages of Nutri-pot over not normal pressure cooker?
</a></dt>
    <dd class="acc_container">
        <div class="block">The main differences between a traditional pressure cooker and a Nutri-Pot is that of usability and technology. Cooking made simple with 18 pre-set functions: from plain rice to pulav, Khichdi or even a Biryani is possible in Nutri-Pot. It acts as a steamer, slow cooker and can also sauté / bhuna the ingredients.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle4">What all can I cook in the Nutri-Pot?
</a></dt>
    <dd class="acc_container">
        <div class="block">With an embedded micro-computer technology, Nutri-Pot controls temperature and pressure inside the pot to prevent over-cooking, and keeps the nutrients in your food intact. The result is a juicier, healthier output that you would love. 18 pre-set dishes - Rice/Pulav, Khichdi/Biryani, Chicken Curry, Mutton Curry, Dal, Rajma/Chole, Veg Curry, Soup, Yogurt, Cake, Sambhar, Baby Food, Steamer, Slow Cooker, Sauté/Bhuna, Manual and Reheat – allow you to achieve perfect results every time. Delay-timer function gives that added flexibility to when you wish to begin cooking. For the culinary connoisseur, there is the manual function as well for taste and texture preference. A recipe book for the Indian Kitchen, specially curated by Chef Sanjeev Kapoor and Nutritionist Nahid Khilji is a complementary addition to the product.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle5">Is the Nutri-pot safe?
</a></dt>
    <dd class="acc_container">
        <div class="block">Yes! Nutri-Pot is perfectly safe to use with controlled pressure and superior quality of construction. With detachable silicone ring and safety valve, the lid as well as the pot inside are easy to clean.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle6">How many whistles should I wait for while cooking in Nutri-Pot?
</a></dt>
    <dd class="acc_container">
        <div class="block">With an embedded micro-computer technology and 18 pre-set dishes, you don’t have to worry about the whistles. The Nutri-Pot is one touch automatic appliance and it will take care of everything for you.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle7">Is the food cooked in the Nutri-Pot healthy to eat?
</a></dt>
    <dd class="acc_container">
        <div class="block">Absolutely! Food in Nutri-Pot cooks under optimum temperature and pressure, controlled by the micro-computer within the device. This prevents over-cooking or burning of food. This is really what keeps it healthy, nutritious and succulent. The shorter cooking time may also result in the greater preservation of vitamins and minerals when compared to other longer types of cooking.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle8">How much time does it take to cook in Nutri-Pot? 
</a></dt>
    <dd class="acc_container">
        <div class="block">With 18 pre-set functions you can leave it on the cooking pot to cook the best food for you. It is programmed with an embedded microprocessor that monitors pressure, temperature & time, and adjusts heating intensity.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle9">Can Nutri-Pot cook for me while I go to pick up kids from school?
</a></dt>
    <dd class="acc_container">
        <div class="block">Yes! Its automatic functioning doesn’t allow to worry much about the cooking. You can simply put it on and relax and the cooking pot will prepare your meal with perfection. Nutri-Pot is perfectly safe to use with controlled pressure and superior quality of construction.
 </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle10">Can Nutri-Pot make biryani for me when I am in the office?
</a></dt>
    <dd class="acc_container">
        <div class="block">Oh Yes! Delay-timer function gives that added flexibility to when you wish to begin cooking. You can program it to begin cooking at certain time of the day. Add ingredients, set from the pre-cooked list, close the lid and be on your way. At the end of the day, when you return all tired from work, your delicious meal will be ready and warm.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle11">How do I clean and maintain the Nutri-Pot?
</a></dt>
    <dd class="acc_container">
        <div class="block">The hard-anodized aluminium inner pot is specially crafted to last long and gives a better cooking experience. It helps to distribute heat evenly so the food doesn’t get burnt. With detachable silicone ring and safety valve, the lid as well as the pot inside are easy to clean.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle12">Can Nutri-Pot cook for family of 5? OR What is the capacity of the Nutri-Pot?
</a></dt>
    <dd class="acc_container">
        <div class="block">It is perfect for a family of 5 or more. Nutri-Pot makes your everyday cooking extremely convenient. Anyone can cook with Nutri-Pot and get perfect results every time. Whether you are a pro or a beginner in the world of cooking, Nutri-Pot with its one touch cooking is your perfect kitchen partner. Put the ingredients in, select a specific cooking function and you can leave the kitchen, let the Nutri-Pot do the rest while you come back to evenly cooked flavor packed food. Chef Sanjeev Kapoor's specially curated recipe book comes along with your Nutri-Pot.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle13">What can I do with the Nutri-Pot?
</a></dt>
    <dd class="acc_container">
        <div class="block">It is a combination of 7 different appliances put all-in-one in your kitchen. Combining the power and attributes of 7 kitchen appliances like Pressure Cooker, Steamer, Yogurt Maker, Sauté, Rice Cooker, Warmer and Slow Cooker into one, this cooking pot enables you to perform most of your cooking functions. On top of it, its automatic functioning doesn’t allow to worry much about the cooking. You can simply put it on and relax and the cooking pot will prepare your meal with perfection. Nutri-Pot is perfectly safe to use with controlled pressure and superior quality of construction. Make variety of Indian & even Western recipes in the Nutri-Pot.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle14">Can Nutri-Pot help me in preparing the baby food?
</a></dt>
    <dd class="acc_container">
        <div class="block">Yes! Baby food made in Nutri-Pot is a fantastic way to offer your baby a variety of nutritious foods while saving both time and money. Explore variety of functions to please your little one's palate. 
 </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle15">Does the Nutri-Pot keep the food warm?
</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, the Nutri-Pot can easily keep your food warm, so  program your Nutri-Pot to start cooking as per your convenience so that food is ready right on time and stays warm too, saving you hassles of re-heating the food just before serving. You can set the timer anywhere between 30 min to 24 hours.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle16">Is it worth buying the Wonderchef Nutri-Pot?
</a></dt>
    <dd class="acc_container">
        <div class="block">Yes ! Nutri-Pot has a capacity of 6 litres and 3 litres, it gives you freedom while cooking as it doesn’t require supervision. It uses only an optimum amount of water for cooking. The tight-fitting lid traps the steam rising from the food within the pot, retaining important nutrients within the food. Nutri-Pot is available on Wonderchef.com and in prominent retail stores. Easy to clean and maintain, it works like a dream. Highly recommended for working people with time constraints, who are otherwise foodies at heart.
</div>
    </dd>
  
 <!-- <dt class="acc_trigger specic_tab"><a href="#toggle17">Will I get a demo of Wonderchef Nutri-Pot?
</a></dt>
    <dd class="acc_container">
        <div class="block">Yes. You can book a demo from <a href="https://www.wonderchef.com/pages/home-demo">https://www.wonderchef.com/pages/home-demo.
          </a></div>
    </dd> -->
  
  <dt class="acc_trigger specic_tab"><a href="#toggle18">What is the warranty for Nutri-Pot?
</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef provides 2 years warranty.
</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle19">What are the accessories that come with the Nutri-Pot?
</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef Nutri-Pot comes with a spoon and measuring cup to help you.
</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle20">Will I get recipes with Nutri-Pot?
</a></dt>
    <dd class="acc_container">
      <div class="block">Explore more than 50 customized recipes by Chef Sanjeev Kapoor to help cook succulent & flavoursome food for you and your family. Download the recipe book here <a href="https://bit.ly/3IzMVGX">https://bit.ly/3IzMVGX </a>
</div>
    </dd>
 
  
</div>
</dl>


<style>
  
  
  .acc_trigger > a:hover, .acc_trigger > a:focus {
    background: #ededed;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
   .faqAccordion2 > dt > a {
   
    color: #000!important;
    font-size:15px!important;
   
}
  .faqAccordion > dt > a:hover, .faqAccordion > dt > a:focus {
    background: #f7f7f7;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
  
  .acc_container {
    display: none;
    padding: 20px 0px;
}
  .acc_trigger > a::after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50.1%);
    -ms-transform: translateY(-50.1%);
    transform: translateY(-50.1%);
    right: 15px;
    font-size: 25px;
    content: "\002b";
    color: inherit;
}
  
  

 .acc_trigger > a::after {
    right: 0px!important;
}
 .acc_trigger > a:focus::after {
    content: "\002d";
    font-size: 30px;
}
  
  
  .acc_trigger > a {
    background: transparent;
    position: relative;
    padding: 10px;
    color: #000!important;
    font-size: 15px!important;
    border-bottom: 1px solid #ededed;
    text-align: left;
    display: block;
    cursor: pointer;
    width: 100%;
    outline: none;
    text-transform: initial;
    min-height: auto;
    height: auto;
    line-height: inherit;
    font-weight: normal;
    /* font-family: Montserrat, sans-serif; */
    font-style: normal;
    box-shadow: none;
    border-radius: 0px;
   
}
  
</style>
<script>
$(function () {
    $('.acc_trigger a').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        $(this).closest('.acc_trigger').next('.acc_container').stop().slideDown();
        return false;
    })

    $('.expand').click(function () {
        $('.acc_trigger').closest('.acc_trigger').next('.acc_container').slideDown();
        return false;
    })

    $('.collapse').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        return false;
    })
});
</script>

