<div id="accordion">
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569828417275">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569828417275" aria-expanded="true" aria-controls="1569828417275">
How do I use this?
                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569828417275" class="collapse" aria-labelledby="heading-1569828417275" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Just add coffee powder and boiling water to the jar. Leave the plunger halfway for 2-3 min.
Push down the plunger and your richly flavoured coffee brew will be ready to pour
                    </p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569828878550">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569828878550" aria-expanded="true" aria-controls="1569828878550">
How much time does it take to make coffee?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569828878550" class="collapse" aria-labelledby="heading-1569828878550" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Wonderchef Regalia French Press brews great coffee within 3 minutes
</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569828968822">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569828968822" aria-expanded="true" aria-controls="1569828968822">
What is the adequate water temperature for a perfect brew? 

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569828968822" class="collapse" aria-labelledby="heading-1569828968822" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Ideal water temperature is 95°C. 

</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569829479298">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569829479298" aria-expanded="true" aria-controls="1569829479298">
Can I use boiling water in a French press?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569829479298" class="collapse" aria-labelledby="heading-1569829479298" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Yes, you can. Once the water reaches a boil, remove it from the heat and wait about 30 seconds before pouring onto the coffee. This will lower the temperature from boiling to around 95°C, which is ideal for brewing.

                  </p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830261920">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830261920" aria-expanded="true" aria-controls="1569830261920">
How many cups can it make at one go?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830261920" class="collapse" aria-labelledby="heading-1569830261920" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
It can make 4 cups of coffee. Just make sure one spoonful of coffee powder is added for each cup

                  </p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830303138">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830303138" aria-expanded="true" aria-controls="1569830303138">
What is the material for the jar? 
                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830303138" class="collapse" aria-labelledby="heading-1569830303138" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
The jar is made of durable German Borosilicate glass and has a sleek steel frame for support and accentuated look.  
                      
</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830330055">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830330055" aria-expanded="true" aria-controls="1569830330055">
Can this be used for whole coffee beans or only for ground coffee?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830330055" class="collapse" aria-labelledby="heading-1569830330055" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
This has to be used only with ground coffee beans. The powder grind for French Press is coarse

                  </p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830354345">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830354345" aria-expanded="true" aria-controls="1569830354345">
Can it be used for brewing tea? 


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830354345" class="collapse" aria-labelledby="heading-1569830354345" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Yes, it can also be used to brew any tea – black or green

                  </p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830380421">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830380421" aria-expanded="true" aria-controls="1569830380421">
Can I make cold coffee with this?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830380421" class="collapse" aria-labelledby="heading-1569830380421" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Absolutely. Add only a small amount of hot water and pour out after 3 minutes. Then add cold milk to the concoction
 
</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830404635">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404635" aria-expanded="true" aria-controls="1569830404635">
Is it good for making traditional south Indian filter coffee? Can we make a decoction from bru roast coffee powder

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404635" class="collapse" aria-labelledby="heading-1569830404635" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
South-India filter coffee requires a thick decoction that is made by seeping boiling water through finely ground powder. This can not be done in French Press 

                  </p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404636">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404636" aria-expanded="true" aria-controls="1569830404636">
Is this machine works with power or batteries?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404636" class="collapse" aria-labelledby="heading-1569830404636" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Wonderchef Regalia French Press is a manual coffee maker and does not require induction, gas stoves, batteries or electricity. You need to add boiling water to the carafe to make coffee.

                  </p>
                </div>
            </div>
        </div>


  <div class="card card-2">
            <div class="card-header" id="heading-1569830404637">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404637" aria-expanded="true" aria-controls="1569830404637">
       How do I clean my French Press?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404637" class="collapse" aria-labelledby="heading-1569830404637" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
It’s pretty easy to clean your French Press. Start by removing the coffee grounds using a wooden or rubber spatula. Rinse out any remaining grounds with warm water. Add a couple of drops of dishwashing liquid and add warm water till the French Press is half-full. Gently press the plunger a couple of times to help remove any residue. Empty and rinse well. Let it air dry or use a soft cloth.

                  </p>
                </div>
            </div>
        </div>


  

    
</div>

