<div>
 
   
             <h2 class="heading_description" style="text-align:center;">Frequently Asked Questions</h2>
        
        </div>


<dl>
<div class=".faqAccordion .faqAccordion2">
    <dt class="acc_trigger specic_tab"><a href="#toggle1">Is non-stick healthy?  </a></dt>
    <dd class="acc_container specic_tab">
        <div class="block">Yes, Wonderchef ceramide cook & serve casserole set is perfect for cooking healthy food. The superior ceramic coating promotes minimal oil-cooking ensuring that your food is less oily and healthier. 
</div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle2">Can I use a non-stick pan for everyday use? </a></dt>
    <dd class="acc_container">
        <div class="block">Ceramide Cook & Serve Casseroles are durable for everyday use .</div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle3">What spoon / spatula can I use for my non-stick pan?</a></dt>
    <dd class="acc_container">
        <div class="block">You can use silicone, wooden or nylon spatula for all Wonderchef ceramide non-stick cookware range. </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle4">What makes a good non-stick pan?</a></dt>
    <dd class="acc_container">
        <div class="block">When it comes to food preparation, safety is paramount. Ceramic coating makes the utensils non-stick, 100% PFOA free, heavy metal and nickel free and is as good non-stick property. Wonderchef ceramide non-stick cookware is 100% PFOA free, heavy metal and nickel free making it a good non-stick cookware. The coating also enables high level of heat retention making cooking easy. </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle5">What is the coating made of?</a></dt>
    <dd class="acc_container">
        <div class="block">Ceramide set coating is made of ceramic. This coating promotes minimal oil-cooking ensuring that your food is less oily and healthier. It is makes the cookware east to clean as well. </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle6">Can I use the same kadhai lid for the frying pan?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes. The lids are designed in such a way that they are common for other Wonderchef cookware. </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle7">Can I use non-stick on induction and gas?</a></dt>
    <dd class="acc_container">
        <div class="block">All the pans except mini fry pan and grill pan, can be used on all cooking appliances - stove top, gas cooktop, induction cooktop, hot plate, infrared cooktop and ceramic cooktops. Suitable for use in microwave (convection mode), oven and OTG without lid.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle8">Are the handles of the pan detachable?</a></dt>
    <dd class="acc_container">
        <div class="block">No. Wonderchef Granite range comes with stud-welded handles, avoiding rivets. Inside wall is seamless without rivets. This prevents accumulation of food residue, keeping it hygienic even after continual usage.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle9">Is the lid of the kadhai made of glass or steel?</a></dt>
    <dd class="acc_container">
        <div class="block">Each casserole includes a tempered glass lid with steam vent. </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle10">How many layers of coating are present?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef all non-stick products 5 layer coating. </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle11">Is there any special care to be taken while cleaning?</a></dt>
    <dd class="acc_container">
        <div class="block">To clean, hand wash the cookware in warm, soapy water, and then rinse and thoroughly hand dry and Wash when cooled, do not place heated pan directly on any wet surface to avoid thermo-shock and to keep the coating safe.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle12">Can I cook for 5 - 6 people?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, Ceramide cookware is ideal for stir frying, deep frying, braising, searing and even steaming.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle13">Is the non-stick kadhai heavy in weight?</a></dt>
    <dd class="acc_container">
        <div class="block">No. It is light in weight for daily use. Secure grip while lifting or carrying, and even while wearing thick oven mitts.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle14">Can I use a non-stick pan in the dishwasher and microwave?</a></dt>
    <dd class="acc_container">
        <div class="block">No. Cleaning is very easy. Hand wash the cookware in warm, soapy water & then rinse thoroughly.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle15">What is the warranty period? And what is replaceable in warranty?</a></dt>
    <dd class="acc_container">
        <div class="block">2 years on non-stick cookware for Inner coating. Replaceable warranty is only for inner coating. </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle16">How many colours are available?</a></dt>
    <dd class="acc_container">
        <div class="block">Celebration set available in purple and turquoise blue colours.</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle17">What is the thickness? </a></dt>
    <dd class="acc_container">
        <div class="block">The thickness of Ceramide set is 2.2mm. For SKU specific thickness specification, kindly visit the product description section.</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle18">Can I re-heat food in a non-stick pan?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, reheating can be easily done in non-stick cookware. </div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle19">Do I need to first warm the cookware before starting to cook? </a></dt>
    <dd class="acc_container">
        <div class="block">For added longevity, pre-heat on low flame for 1 minute only. Cook on low to medium flame for best performance.</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle20">How long should a non-stick pan last?	</a></dt>
    <dd class="acc_container">
        <div class="block">It lasts for around 5 years and withstands 10000 cycles of abrasion. </div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle21">What happens if my non-stick pan heats up too much?</a></dt>
    <dd class="acc_container">
        <div class="block">No harm will be on non-stick coating.</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle22">Does it contain aluminium? What grade of aluminium is used?	</a></dt>
    <dd class="acc_container">
        <div class="block">Yes Wonderchef use only virgin aluminium is 9 times better conductor of heat, cooks faster, and saves energy and time.</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle23">Are the handles soft touch?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes. Soft touch handles gives you a firm grip even with wet hands, it does not heat up during cooking as well.</div>
    </dd>
 
  
</div>
</dl>


<style>
  
  
  .acc_trigger > a:hover, .acc_trigger > a:focus {
    background: #ededed;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
   .faqAccordion2 > dt > a {
   
    color: #000!important;
    font-size:15px!important;
   
}
  .faqAccordion > dt > a:hover, .faqAccordion > dt > a:focus {
    background: #f7f7f7;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
  
  .acc_container {
    display: none;
    padding: 20px 0px;
}
  .acc_trigger > a::after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50.1%);
    -ms-transform: translateY(-50.1%);
    transform: translateY(-50.1%);
    right: 15px;
    font-size: 25px;
    content: "\002b";
    color: inherit;
}
  
  

 .acc_trigger > a::after {
    right: 0px!important;
}
 .acc_trigger > a:focus::after {
    content: "\002d";
    font-size: 30px;
}
  
  
  .acc_trigger > a {
    background: transparent;
    position: relative;
    padding: 10px;
    color: #000!important;
    font-size: 15px!important;
    border-bottom: 1px solid #ededed;
    text-align: left;
    display: block;
    cursor: pointer;
    width: 100%;
    outline: none;
    text-transform: initial;
    min-height: auto;
    height: auto;
    line-height: inherit;
    font-weight: normal;
    /* font-family: Montserrat, sans-serif; */
    font-style: normal;
    box-shadow: none;
    border-radius: 0px;
   
}
  
</style>
<script>
$(function () {
    $('.acc_trigger a').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        $(this).closest('.acc_trigger').next('.acc_container').stop().slideDown();
        return false;
    })

    $('.expand').click(function () {
        $('.acc_trigger').closest('.acc_trigger').next('.acc_container').slideDown();
        return false;
    })

    $('.collapse').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        return false;
    })
});
</script>

