<div>
 
   
             <h2 class="heading_description" style="text-align:center;">Frequently Asked Questions</h2>
        
        </div>


<dl>
<div class=".faqAccordion .faqAccordion2">
    <dt class="acc_trigger specic_tab"><a href="#toggle1">The jars have 2 blades or 4 blades?</a></dt>
    <dd class="acc_container specic_tab">
        <div class="block">All the Wonderchef Mixer Grinders have both 2 blades and 4 blades in the jars.
</div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle2">Does it have an auto cut switch for overloading?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes,  Wonderchef mixies have an auto cut switch at the bottom of the machine.
      </div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle3">Are the blades removable for cleaning jars?
</a></dt>
    <dd class="acc_container">
        <div class="block">No, you can not detach  the blades at the time of cleaning. Its fixed with the Jar.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle4">What to do when service is required?
</a></dt>
    <dd class="acc_container">
        <div class="block">Just call the toll free no or text "HI" on the Wonderchef  Whatsapp No and register your complain . Then the technician of the Wonderchef authorised service center will visit your given address.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle5">Does it grind tough ingredients into smooth masala?
</a></dt>
    <dd class="acc_container">
        <div class="block">Yes you can grind all types of tough ingredients in to masala in the Wonderchef Mixer Grinders.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle6">Is it possible to get a spare chutney jar?
     </a></dt>
    <dd class="acc_container">
        <div class="block">Yes , its possible , you can purchase the extra jar on Wonderchef website and also you can purchase through local Wonderchef authorised service center.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle7">Does it function as a juicer also?
</a></dt>
    <dd class="acc_container">
        <div class="block">Yes , You can prepare the juice in the Wonderchef Glory 750W Mixer Grinder and  Sumo 1000W Mixer Grinder  by using the Juicer filter attachment .
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle8">Is this good for commercial purposes and daily usage for hotels?
</a></dt>
    <dd class="acc_container">
        <div class="block">No, you can not use Wonderchef Mixer Grinders in hotels or any commercial use , Wonderchef Mixer grinders made for only domestic uses. For  commercial purpose you can use Wonderchef Regalia Power Blender.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle9">Is the Moter made of copper?
     </a></dt>
    <dd class="acc_container">
        <div class="block">Yes In Wonderchef Mixer Grinder all motors are made of copper.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle10">What is the warranty period for this mixer grinder?
     </a></dt>
    <dd class="acc_container">
        <div class="block">5 year on motor, and 2 years on other parts Wonderchef reliable warranty in all Wonderchef Mixer Grinders.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle11">Can it grind turmeric into smooth powder?
</a></dt>
    <dd class="acc_container">
        <div class="block">Yes Wonderchef Mixer Grinders are able to grind turmeric into smooth powder Specifically in Wonderchef Vietri 750W, Wonderchef Glory 750W & Wonderchef Sumo 1000W - red & black, Silverado and Black models.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle12">Can it crush ice?
     </a></dt>
    <dd class="acc_container">
        <div class="block">Yes, Wonderchef Mixer Grinders are strong enough to crush ice, Wonderchef Vietri 750W, Wonderchef Glory 750W & Wonderchef Sumo 1000W models have powerful motor to do this job.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle13">Can I do Atta kneading?
</a></dt>
    <dd class="acc_container">
        <div class="block">No you cant do Atta Kneading in  Wonderchef Mixer Grinders. You can Use Wonderchef Nutri-blend Food Processor for Atta Kneading.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle14">Can I grind coffee beans?
</a></dt>
    <dd class="acc_container">
        <div class="block">No, you can't grind  coffee beans in Wonderchef Mixer Grinder.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle15"> Can I make Orange juice in this?
</a></dt>
    <dd class="acc_container">
        <div class="block">Yes , You can prepare the orange juice in the Wonderchef  Mixer Grinder using the Juicer filter attachment ,which is given with 2 models Glory 750W and Sumo 1000W. 
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle16">Can it make dosa batter?
</a></dt>
    <dd class="acc_container">
        <div class="block">Yes , You can  Use Wonderchef Sumo 1000W to make dosa batter.</div>
    </dd>

  <dt class="acc_trigger specic_tab"><a href="#toggle17">Are there any issues with motor heating?
</a></dt>
    <dd class="acc_container">
        <div class="block">No If you will use Wonderchef Mixer Grinders in proper way like use it for 3 minutes and then rest for 2 minutes and use again  you will not face issues with motor.
        </div>
    </dd>
  
  <dt class="acc_trigger specic_tab"><a href="#toggle18">Does it make too much noise?
</a></dt>
    <dd class="acc_container">
        <div class="block">No, Wonderchef Mixer Grinders make less noise.
</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle19">What is operating time and cooling time for this product?
    </a></dt>
    <dd class="acc_container">
        <div class="block">You can use Wonderchef Mixer Grinders for 3 minutes and then rest for 2 minutes and use again.
</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle20">What is the stainless steel grade used for the jars?
</a></dt>
    <dd class="acc_container">
      <div class="block">304 grade stainless steel used for Wonderchef Mixer Grinder jars which makes the quality very superior.
      </div>
    </dd>
 
  
</div>
</dl>


<style>
  
  
  .acc_trigger > a:hover, .acc_trigger > a:focus {
    background: #ededed;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
   .faqAccordion2 > dt > a {
   
    color: #000!important;
    font-size:15px!important;
   
}
  .faqAccordion > dt > a:hover, .faqAccordion > dt > a:focus {
    background: #f7f7f7;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
  
  .acc_container {
    display: none;
    padding: 20px 0px;
}
  .acc_trigger > a::after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50.1%);
    -ms-transform: translateY(-50.1%);
    transform: translateY(-50.1%);
    right: 15px;
    font-size: 25px;
    content: "\002b";
    color: inherit;
}
  
  

 .acc_trigger > a::after {
    right: 0px!important;
}
 .acc_trigger > a:focus::after {
    content: "\002d";
    font-size: 30px;
}
  
  
  .acc_trigger > a {
    background: transparent;
    position: relative;
    padding: 10px;
    color: #000!important;
    font-size: 15px!important;
    border-bottom: 1px solid #ededed;
    text-align: left;
    display: block;
    cursor: pointer;
    width: 100%;
    outline: none;
    text-transform: initial;
    min-height: auto;
    height: auto;
    line-height: inherit;
    font-weight: normal;
    /* font-family: Montserrat, sans-serif; */
    font-style: normal;
    box-shadow: none;
    border-radius: 0px;
   
}
  
</style>
<script>
$(function () {
    $('.acc_trigger a').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        $(this).closest('.acc_trigger').next('.acc_container').stop().slideDown();
        return false;
    })

    $('.expand').click(function () {
        $('.acc_trigger').closest('.acc_trigger').next('.acc_container').slideDown();
        return false;
    })

    $('.collapse').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        return false;
    })
});
</script>

