<div id="accordion">
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569828417275">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569828417275" aria-expanded="true" aria-controls="1569828417275">
               Is non-stick healthy?
                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569828417275" class="collapse" aria-labelledby="heading-1569828417275" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Wonderchef Non-Stick Cookware is 100% PFOA free, heavy metal and nickel free for your safety and healthy cooking. Duralife range has DURAMAX Japanese non-stick coating that ensures minimal oil use and has excellent abrasion resistance.
                    </p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569828878550">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569828878550" aria-expanded="true" aria-controls="1569828878550">
Can I use a non-stick pan for everyday use?
                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569828878550" class="collapse" aria-labelledby="heading-1569828878550" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Yes. Wonderchef Duralife cookware is versatile for daily cooking needs. The range has tawa, frying pan, kadhai with lid and a grill pan to cater to all your requirements.


                  </p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569828968822">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569828968822" aria-expanded="true" aria-controls="1569828968822">
What spoon / spatula can I use for my non-stick pan?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569828968822" class="collapse" aria-labelledby="heading-1569828968822" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
You should use silicone, wooden or nylon spatula for all Wonderchef Non-Stick cookware range.

</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569829479298">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569829479298" aria-expanded="true" aria-controls="1569829479298">
What makes a good non-stick pan? 


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569829479298" class="collapse" aria-labelledby="heading-1569829479298" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Less or no oil cooking is the essence of light & nutritious food for your family. And Duralife pans offer just that so you can cook healthy meals for your family every day! It has DURAMAX Japanese non-stick coating that ensures minimal oil use.


                  </p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830261920">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830261920" aria-expanded="true" aria-controls="1569830261920">
What is the coating made of?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830261920" class="collapse" aria-labelledby="heading-1569830261920" data-parent="#accordion">
                <div class="card-body">
                    
DURAMAX Japanese non-stick coating ensures minimal oil use. It is a 5 layer coating that has been tested for 7000+ cycles for abrasion resistance. This ensures years of usage without any harm that may come from cheap coatings that peel off easily.



                  </p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830303138">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830303138" aria-expanded="true" aria-controls="1569830303138">
What is the coating made of?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830303138" class="collapse" aria-labelledby="heading-1569830303138" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
DURAMAX Japanese non-stick coating ensures minimal oil use. It is a 5 layer coating that has been tested for 7000+ cycles for abrasion resistance. This ensures years of usage without any harm that may come from cheap coatings that peel off easily.

                      
</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830330055">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830330055" aria-expanded="true" aria-controls="1569830330055">
Can I use the same kadhai lid for the frying pan?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830330055" class="collapse" aria-labelledby="heading-1569830330055" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Duralife cookware is crafted from pure-grade aluminium Die-cast technology and designed to last for years to come. It is meant to never lose its original shape. Die-cast also helps retain heat and consumes less energy while cooking.


                  </p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830354345">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830354345" aria-expanded="true" aria-controls="1569830354345">
Is this Die-cast range? 


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830354345" class="collapse" aria-labelledby="heading-1569830354345" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Duralife cookware is crafted from pure-grade aluminium Die-cast technology and designed to last for years to come. It is meant to never lose its original shape. Die-cast also helps retain heat and consumes less energy while cooking.


                  </p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830380421">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830380421" aria-expanded="true" aria-controls="1569830380421">
Will the pan become small / big in size over time?
                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830380421" class="collapse" aria-labelledby="heading-1569830380421" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Wonderchef Duralife range is made of Die-cast technology and so the cookware will never deform even after long usage. This is proven by a rigorous SUV test. We drove an SUV repeatedly over different pans, while the pressed pans lose their shape, Duralife Die-cast pans retained their original shape perfectly. Thanks to the special property of pure aluminium. When molten metal is poured into a cast and solidified, it becomes as hard as concrete. 

 
</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830404635">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404635" aria-expanded="true" aria-controls="1569830404635">
Can I use non-stick on induction and gas?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404635" class="collapse" aria-labelledby="heading-1569830404635" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Yes Duralife Non-Stick can be used on all cooking surfaces- stove top, gas cooktop, induction cooktop, hot plate and infrared cooktop. 


                  </p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404636">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404636" aria-expanded="true" aria-controls="1569830404636">
10. Are the handles of the pan detachable?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404636" class="collapse" aria-labelledby="heading-1569830404636" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
No. Wonderchef Duralife range has fixed handles.


                  </p>
                </div>
            </div>
        </div>


  <div class="card card-2">
            <div class="card-header" id="heading-1569830404637">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404637" aria-expanded="true" aria-controls="1569830404637">
 Is the lid of the kadhai made of glass or steel?
                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404637" class="collapse" aria-labelledby="heading-1569830404637" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Duralife kadhai lid is made of tempered glass. The lid is light weight so it is easy to lift while cooking food. And has a steam vent as well.


                  </p>
                </div>
            </div>
        </div>


  <div class="card card-2">
            <div class="card-header" id="heading-1569830404638">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404638" aria-expanded="true" aria-controls="1569830404638">
How many layers of coating are present?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404638" class="collapse" aria-labelledby="heading-1569830404638" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Wonderchef Duralife cookware comes with 5 layer professional grade Duramax Japanese non-stick coating.


                  </p>
                </div>
            </div>
        </div>
  <div class="card card-2">
            <div class="card-header" id="heading-1569830404639">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404639" aria-expanded="true" aria-controls="1569830404639">
Is there any special care to be taken while cleaning?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404639" class="collapse" aria-labelledby="heading-1569830404639" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Always cool down cookware to clean, hand wash the cookware in warm, soapy water, and then rinse and thoroughly hand dry. Do not place the heated pan directly on any wet surface to avoid thermo-shock and to keep the coating safe.


                  </p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404640">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404640" aria-expanded="true" aria-controls="1569830404640">
How many people can I cook for?



                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404640" class="collapse" aria-labelledby="heading-1569830404640" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Wonderchef Duralife cookware range of kadai, fry pan, tawa and grill pan are designed to cater to 2 – 3 people.


                  </p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404641">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404641" aria-expanded="true" aria-controls="1569830404641">
Is the non-stick kadhai heavy in weight?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404641" class="collapse" aria-labelledby="heading-1569830404641" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
No. It is light in weight for daily use.


                  </p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404642">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404642" aria-expanded="true" aria-controls="1569830404642">
Can I use a non-stick pan in the dishwasher and microwave?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404642" class="collapse" aria-labelledby="heading-1569830404642" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
No. Cleaning is very easy. Hand wash the cookware in warm, soapy water & then rinse thoroughly.


                  </p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404643">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404643" aria-expanded="true" aria-controls="1569830404643">
What is the warranty period? And what is replaceable in warranty?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404643" class="collapse" aria-labelledby="heading-1569830404643" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Enjoy a 2-year warranty on Wonderchef's Duralife cookware with reliable after-sales service in over 20,000 pin codes across India.


                  </p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404644">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404644" aria-expanded="true" aria-controls="1569830404644">
How many colours are available?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404644" class="collapse" aria-labelledby="heading-1569830404644" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Duralife cookware comes in 2 colours – ivory and copper. The ivory range has dark wood finish handles while the copper range has light wood finish handles to add flair to your kitchen. 


</p>
                </div>
            </div>
        </div>
  
   <div class="card card-2">
            <div class="card-header" id="heading-1569830404645">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404645" aria-expanded="true" aria-controls="1569830404645">
What is the thickness of each cookware? 



                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404645" class="collapse" aria-labelledby="heading-1569830404645" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Wonderchef Duralife range has a base & rim thickness of 4mm for better cooking and higher strength. 


</p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404646">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404646" aria-expanded="true" aria-controls="1569830404646">
Can I re-heat food in a non-stick pan?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404646" class="collapse" aria-labelledby="heading-1569830404646" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Yes you can re-heat the food in a non-stick pan but you should start with low heat and gradually increase the heat.


</p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404647">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404647" aria-expanded="true" aria-controls="1569830404647">
Do I need to first warm the cookware before starting to cook?



                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404647" class="collapse" aria-labelledby="heading-1569830404647" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Yes. Cook on low to medium flame for best performance for better life cycle of product .


</p>
                </div>
            </div>
        </div>
  
   <div class="card card-2">
            <div class="card-header" id="heading-1569830404648">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404648" aria-expanded="true" aria-controls="1569830404648">
How long should a non-stick pan last?



                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404648" class="collapse" aria-labelledby="heading-1569830404648" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Depends on Usage. Usually Duralife pans has a life of 4-5 years


</p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404649">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404649" aria-expanded="true" aria-controls="1569830404649">
What happens if my non-stick pan heats up too much?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404649" class="collapse" aria-labelledby="heading-1569830404649" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
When pans are overheated, polytetrafluoroethylene (PTFE) coating begins to disintegrate. High temperatures will damage the coating and high heat can also cause the release of harmful toxins.


</p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404650">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404650" aria-expanded="true" aria-controls="1569830404650">
Does it contain aluminium? What grade of aluminium is used?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404650" class="collapse" aria-labelledby="heading-1569830404650" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Yes. We use Virgin Aluminium whch is 9 times better conductor of heat, cooks faster, which results in saving time & energy. It helps to cook food evenly without burning or undercooking as well. We do not use recycled aluminium which is generally found in cheaper products.	

</p>
                </div>
            </div>
        </div>
  
   <div class="card card-2">
            <div class="card-header" id="heading-15698304046451">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404651" aria-expanded="true" aria-controls="1569830404651">
Are the handles soft touch?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404651" class="collapse" aria-labelledby="heading-1569830404651" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Yes. All Duralife pans have soft touch wood handles for style and comfortable grip even with wet hands.

</p>
                </div>
            </div>
        </div>

     <div class="card card-2">
            <div class="card-header" id="heading-15698304046452">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404652" aria-expanded="true" aria-controls="1569830404652">
What is the size of the cookware?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404652" class="collapse" aria-labelledby="heading-1569830404652" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
The size and capacity of Duralife range is<br>
<b>Kadhai:</b> 24cm and 2.5lt<br>
<b>Tawa:</b> 28cm<br>
<b>Fry Pan:</b> 24cm and 1.7lt<br>
<b>Grill Pan:</b> 24cm and 1.5lt<br><br>

</p>
                </div>
            </div>
        </div>

    
</div>

