<div id="accordion">
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569828417275">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569828417275" aria-expanded="true" aria-controls="1569828417275">
               Is cooking in cast-iron good for health? 
                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569828417275" class="collapse" aria-labelledby="heading-1569828417275" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
                      Wonderchef Forza cast-Iron cookware is made from natural iron-ore and does not contain any coating. While cooking in cast iron cookware, it will add traces of iron to the food which makes it good for health.
</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569828878550">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569828878550" aria-expanded="true" aria-controls="1569828878550">
Can I cook every day in cast-iron?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569828878550" class="collapse" aria-labelledby="heading-1569828878550" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
                      Yes, Wonderchef Forza Cast-iron can be used for cooking every day.
</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569828968822">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569828968822" aria-expanded="true" aria-controls="1569828968822">
How to use cast-iron for first time? 

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569828968822" class="collapse" aria-labelledby="heading-1569828968822" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Wonderchef Forza cast iron is pre-seasoned. Please rinse it in water and start using it immediately.	
</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569829479298">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569829479298" aria-expanded="true" aria-controls="1569829479298">
How many times do I need to season my cookware?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569829479298" class="collapse" aria-labelledby="heading-1569829479298" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
To get the best results out of your Forza cast-iron cookware, it is recommended that you season it after every use. 

                  </p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830261920">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830261920" aria-expanded="true" aria-controls="1569830261920">
Can I use any oil to season my cast-iron cookware?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830261920" class="collapse" aria-labelledby="heading-1569830261920" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Yes, Forza cast-iron can be seasoned using any vegetable oil you are using in your kitchen.

                  </p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830303138">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830303138" aria-expanded="true" aria-controls="1569830303138">
How to clean burnt cast-iron pan?
                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830303138" class="collapse" aria-labelledby="heading-1569830303138" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
If your cast-iron is burnt and food sticking to it, once it cools down, scrub it thoroughly with warm soapy water. Dry it with a cloth or you can heat dry it. Thereafter apply a thin layer of vegetable oil and spread it evenly on the pan with a cloth. 
                      
</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830330055">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830330055" aria-expanded="true" aria-controls="1569830330055">
I can use cast-iron pan on induction or gas or ceramic cooktop?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830330055" class="collapse" aria-labelledby="heading-1569830330055" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Yes, you can use Wonderchef Forza cast-iron cookware on gas, induction or ceramic cooktop. While using on a glass surface be careful and do not drag the cookware to avoid scratching the glass surface.

                  </p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830354345">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830354345" aria-expanded="true" aria-controls="1569830354345">
Why is cast-iron tawa best for making dosa?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830354345" class="collapse" aria-labelledby="heading-1569830354345" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Forza Cast-iron is an alloy of pure iron, it is heavy and once heated it retains heat. Dosa making requires high even heat. Forza cast-iron dosa tawa is best for making dosas.

                  </p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830380421">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830380421" aria-expanded="true" aria-controls="1569830380421">
Will cast iron pan rust?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830380421" class="collapse" aria-labelledby="heading-1569830380421" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Forza Cast iron will have oxidation of iron and rusting if not seasoned and stored. It is recommended to season Wonderchef cast iron pan with a thin layer of oil after every use.
 
</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830404635">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404635" aria-expanded="true" aria-controls="1569830404635">
Will cooking in cast-iron kadhai change the taste of my curry?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404635" class="collapse" aria-labelledby="heading-1569830404635" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Whenever you cook in cast-iron pan, a little iron will be absorbed from the pan surface and adds to your food. Hence there will be a slight taste variation.  

                  </p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404636">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404636" aria-expanded="true" aria-controls="1569830404636">
Is it very heavy to lift and use? 

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404636" class="collapse" aria-labelledby="heading-1569830404636" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Yes, Forza cast iron is heavier than a similar pan in another material. 

                  </p>
                </div>
            </div>
        </div>


  <div class="card card-2">
            <div class="card-header" id="heading-1569830404637">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404637" aria-expanded="true" aria-controls="1569830404637">
The cast-iron kadhai will get very hot?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404637" class="collapse" aria-labelledby="heading-1569830404637" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Forza cast-iron pan is thick and once heated will retain heat, it can become quite hot. It should be handled with care when hot.   

                  </p>
                </div>
            </div>
        </div>


  <div class="card card-2">
            <div class="card-header" id="heading-1569830404638">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404638" aria-expanded="true" aria-controls="1569830404638">
Can I buy only the lids?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404638" class="collapse" aria-labelledby="heading-1569830404638" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Forza cast-iron provides 2 lids of sizes 24cm and 30 cm which can be purchased individually.

                  </p>
                </div>
            </div>
        </div>
  <div class="card card-2">
            <div class="card-header" id="heading-1569830404639">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404639" aria-expanded="true" aria-controls="1569830404639">
Which spatula / spoon can I use in cast-iron cookware?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404639" class="collapse" aria-labelledby="heading-1569830404639" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
You can use and spatula/spoon to use in Wonderchef cast-iron cookware. It may be wooden, metal, silicone or any other material.

                  </p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404640">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404640" aria-expanded="true" aria-controls="1569830404640">
Will it break / get damaged if falls accidentally?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404640" class="collapse" aria-labelledby="heading-1569830404640" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
As a material cast-iron is heavy and durable but this makes it brittle and fragile. Though Forza cast-iron can last you for a long time once purchased.   

                  </p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404641">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404641" aria-expanded="true" aria-controls="1569830404641">
Is it advisable to cook citrus foods or tomato based gravy in cast-iron?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404641" class="collapse" aria-labelledby="heading-1569830404641" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Yes, you can cook tomato based gravies in cast iron. However once cooked the dish should be transferred to serving pan and not stay in the cast- iron cookware. 

                  </p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404642">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404642" aria-expanded="true" aria-controls="1569830404642">
Is it dishwasher safe? 

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404642" class="collapse" aria-labelledby="heading-1569830404642" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Wonderchef Forza cast-iron cookware should be washed by hand, as it is not dishwasher safe. 

                  </p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404643">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404643" aria-expanded="true" aria-controls="1569830404643">
Is it oven safe?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404643" class="collapse" aria-labelledby="heading-1569830404643" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Yes, Wonderchef Forza cast iron pan can be used in the Oven (OTG)

                  </p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404644">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404644" aria-expanded="true" aria-controls="1569830404644">
Can I keep the cooked food in the cast-iron cookware for long time? 

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404644" class="collapse" aria-labelledby="heading-1569830404644" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Even though technically food can be stored in cast-iron, you should remove and store leftovers/servings separately.
<br> <br>a. Cooking will add iron traces to the cooked food. The longer the food stays in the pan, iron will add. Some people may not like the taste.
<br> <br>b. Cast-iron should be stored washed and dried to preserve seasoning and prevent rusting. Storing food will break down the seasoning. 

</p>
                </div>
            </div>
        </div>
  
   <div class="card card-2">
            <div class="card-header" id="heading-1569830404645">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404645" aria-expanded="true" aria-controls="1569830404645">
How to clean cast-iron?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404645" class="collapse" aria-labelledby="heading-1569830404645" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
                      Cast iron can be cleaned by rinsing or scrubbing in mild soapy warm water. If food is sticking to the pan, we can use hot water and a scrubbing pad.

</p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404646">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404646" aria-expanded="true" aria-controls="1569830404646">
Is it easy to maintain?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404646" class="collapse" aria-labelledby="heading-1569830404646" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Forza cast-iron pans are easy to use and maintain. They need to be seasoned with vegetable oil, regularly to maintain the dark black color. 

</p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404647">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404647" aria-expanded="true" aria-controls="1569830404647">
Is the black colour of cast-iron normal?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404647" class="collapse" aria-labelledby="heading-1569830404647" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Forza cast-iron are pre-seasoned with 100% vegetable oil. When purchased a Forza pan will have a distinctive smooth, black colour. Regular seasoning of the pan will ensure that the products remain in good condition for years to come. 

</p>
                </div>
            </div>
        </div>
  
   <div class="card card-2">
            <div class="card-header" id="heading-1569830404648">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404648" aria-expanded="true" aria-controls="1569830404648">
Does the kadai and fry pan come with a lid? Is the lid also made of cast-iron?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404648" class="collapse" aria-labelledby="heading-1569830404648" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Wonderchef Forza cast-iron kadhai or fry pan, does not come with a lid. The lid needs to be purchased separately. However Wonderchef cast-iron casserole comes with a lid.

</p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404649">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404649" aria-expanded="true" aria-controls="1569830404649">
Will the handles get heated up during cooking?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404649" class="collapse" aria-labelledby="heading-1569830404649" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
The forza cookware handles are also made up of same material, they will heat up during cooking. Be careful during cooking.

</p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404650">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404650" aria-expanded="true" aria-controls="1569830404650">
What is the warranty period on cast-iron cookware?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404650" class="collapse" aria-labelledby="heading-1569830404650" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Forza cast-iron cookware comes with a Lifetime Warranty.

</p>
                </div>
            </div>
        </div>
  
   <div class="card card-2">
            <div class="card-header" id="heading-15698304046451">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404651" aria-expanded="true" aria-controls="1569830404651">
                Is the kadhai round bottom or flat bottom?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404651" class="collapse" aria-labelledby="heading-1569830404651" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
                                      The kadhai base will be round bottom.


</p>
                </div>
            </div>
        </div>

    
</div>

