<div>
 
   
             <h2 class="heading_description" style="text-align:center;">Frequently Asked Questions</h2>
        
        </div>


<dl>
<div class=".faqAccordion .faqAccordion2">
    <dt class="acc_trigger specic_tab"><a href="#toggle1">How does a toaster work?</a></dt>
    <dd class="acc_container specic_tab">
        <div class="block">When you turn on the toaster, it takes in the energy from the power outlet and converts it into the heat, which helps you cook. The electric current flows through a series of thin filaments connected together but spaced widely enough apart to toast the whole surface. There are filaments on each wall of the toaster, so the two sides of the bread can be toasted at the same time.
</div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle2">What are the different types of toasters?</a></dt>
    <dd class="acc_container">
        <div class="block">Depending on their unique features, design elements, and sizes, electric toaster comes in a variety of types. Few being standard toaster more commonly known as pop-up toaster, electric grill toaster, oven toaster & commercial toaster. Wonderchef has a wide range of toasters to cater to various requirements with respect to size and needs.</div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle3">What is the function of a thermostat in a toaster?</a></dt>
    <dd class="acc_container">
        <div class="block">A thermostat is a device that switches an electric circuit on or off to maintain a constant operating temperature. In an electric toaster, the thermostat is used to switch a toaster off when the right temperature is reached as set by the user.
Wonderchef’s range of toasters has an in-built thermostat to help the users toast quickly while ensuring electricity savings.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle4">How do I choose a good toaster?</a></dt>
    <dd class="acc_container">
        <div class="block">A good toaster should have certain features such as numerous slice options, easy to clean, sleek design, multi-grilling tray options, power rating, and auto buttons. Wonderchef toaster such as SKT, Prato 3-in-1 checks in above all mentioned parameters and supported with reliable Wonderchef warranty makes it a convenient choice for every household.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle5">Does the toaster work with all sizes/types of bread?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, but one should note that time taken to toast bread is directly related to size of the bread slice and larger slice will take more time as compared to small size bread slice. In the case of a griller toaster, the toasting time is reduced significantly when both sides are closed.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle6">What should I look for when buying a toaster?</a></dt>
    <dd class="acc_container">
        <div class="block">A good toaster should have certain features such as numerous slice options, easy to clean, sleek design, multi-grilling tray options, power rating, and auto buttons. Wonderchef toasters such as SKT, Prato 3-in-1 checks in above all mentioned parameters and supported with reliable Wonderchef warranty makes it a convenient choice for every household.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle7">How much breads can be toasted at a time?</a></dt>
    <dd class="acc_container">
        <div class="block">A pop-up toaster will have the option to toast two slices of bread simultaneously. In comparison, a grill toaster can toast two to four slices of bread depending on the size of bread taken.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle8">Does this Wonderchef toaster have a tray for the crumbs?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, all Wonderchef pop-up toasters come with a detachable crumb tray to clean the leftover bread pieces once the toasting is completed. The presence of a crumb tray also helps in keeping your toaster clean.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle9">How much power will be consumed by this toaster?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef toasters are available from 640 W to 2000W power rating.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle10">How often do we have to clean the toaster?</a></dt>
    <dd class="acc_container">
        <div class="block">It is recommended to clean the toaster once done with cooking. Wonderchef toasters, with its easy and user-friendly design make cleaning after use so easy that a simple tissue wipe will remove all the leftover oil/butter from the grilling surface.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle11">Can I control the browning?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, an in-built thermostat gives the user the choice to control the browning. Wonderchef toasters have 7 browning controls for ideal toasting.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle12">Do we get pre-set modes in the toaster?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, Wonderchef toasters have more than 6 pre-set menus for temperature control.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle13">If left unattended, will it burn the bread?</a></dt>
    <dd class="acc_container">
        <div class="block">No, as toaster takes up the heat it will only lead to darkening/over-cooking of the bottom side of bread slice, burning is impossible until a flammable object is placed closed to toaster. Wonderchef toasters have an in-built thermostat which automatically switch off the power supply, thus avoiding excessive burning.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle14">What is the warranty that I will get for the toaster?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef toasters come with an industry-leading 2-year standard warranty covering manufacturing defects. It includes onsite repairs by trained service engineers at your own home for your complete peace of mind.</div>
    </dd>
   
  
</div>
</dl>


<style>
  
  
  .acc_trigger > a:hover, .acc_trigger > a:focus {
    background: #ededed;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
   .faqAccordion2 > dt > a {
   
    color: #000!important;
    font-size:15px!important;
   
}
  .faqAccordion > dt > a:hover, .faqAccordion > dt > a:focus {
    background: #f7f7f7;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
  
  .acc_container {
    display: none;
    padding: 20px 0px;
}
  .acc_trigger > a::after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50.1%);
    -ms-transform: translateY(-50.1%);
    transform: translateY(-50.1%);
    right: 15px;
    font-size: 25px;
    content: "\002b";
    color: inherit;
}
  
  

 .acc_trigger > a::after {
    right: 0px!important;
}
 .acc_trigger > a:focus::after {
    content: "\002d";
    font-size: 30px;
}
  
  
  .acc_trigger > a {
    background: transparent;
    position: relative;
    padding: 10px;
    color: #000!important;
    font-size: 15px!important;
    border-bottom: 1px solid #ededed;
    text-align: left;
    display: block;
    cursor: pointer;
    width: 100%;
    outline: none;
    text-transform: initial;
    min-height: auto;
    height: auto;
    line-height: inherit;
    font-weight: normal;
    /* font-family: Montserrat, sans-serif; */
    font-style: normal;
    box-shadow: none;
    border-radius: 0px;
   
}
  
</style>
<script>
$(function () {
    $('.acc_trigger a').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        $(this).closest('.acc_trigger').next('.acc_container').stop().slideDown();
        return false;
    })

    $('.expand').click(function () {
        $('.acc_trigger').closest('.acc_trigger').next('.acc_container').slideDown();
        return false;
    })

    $('.collapse').not('.jdgm-submit-rev').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        return false;
    })
});
</script>

