<div>
 
   
             <h2 class="heading_description" style="text-align:center;">Frequently Asked Questions</h2>
        
        </div>


<dl>
<div class=".faqAccordion .faqAccordion2">
    <dt class="acc_trigger specic_tab"><a href="#toggle1">What is Wonderchef Nutri-Cup Portable Blender?
    </a></dt>
    <dd class="acc_container specic_tab">
        <div class="block">The Wonderchef Nutri-Cup Portable Blender is a small and convenient blender that is perfect for use at
home, office or even for long drives. It is compact and easy to use, and the safe screw top lid ensures no
spillage. It comes with a silicone belt to easily hold the blender, and its small size makes it easy to fit in a
bag.
        </div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle2">How do I make fruit juice in Nutri-cup?
    </a></dt>
    <dd class="acc_container">
        <div class="block">Please follow the steps as mentioned below<br>
1. Charge the Nutri-cup for first time for 4 hrs<br>
2. Prepare the fruit, clean and peel it<br>
3. Cut the fruit into pieces with approximate size of 1.5cm<br>
4. Add water or milk and fruit to the cup according to your preference<br>
5. Tighten the cup cover and double-click the button to start the juicer<br>
6. Tilt the juicer upside down about 45 degrees and gently shake the bottle so that the fruit can be fully
and evenly stirred
        </div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle3">How to charge this device?
    </a></dt>
    <dd class="acc_container">
        <div class="block">A charger comes as free along with the product. Just use the same and connect to the product for
charging.
        </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle4">How long does the charging last for?</a></dt>
    <dd class="acc_container">
        <div class="block">One time charging lasts for 12-15 times of usage.
        </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle5">Can I charge while juicing?
   </a></dt>
    <dd class="acc_container">
        <div class="block">No, please avoid charging the Nutri-cup while juicing.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle6">What is the capacity?
   </a></dt>
    <dd class="acc_container">
        <div class="block">The Wonderchef Nutri-cup has a capacity of 300ml.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle7">Are the blades food-grade?
   </a></dt>
    <dd class="acc_container">
        <div class="block">Yes, it comes with high-grade stainless steel blades (304) and unbreakable Polycarbonate construction. It is
BPA free and extremely health friendly.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle8">Will the cup break?</a></dt>
    <dd class="acc_container">
        <div class="block">No, not at all. The cup has unbreakable Polycarbonate construction. It is BPA-free and extremely health
friendly as well.
        </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle9">What all can I make in this?
   </a></dt>
    <dd class="acc_container">
        <div class="block">You can enjoy delicious smoothies, shakes and juices packed with nutrients and more in this. Easy,
convenient, on–the-go.
        </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle10">Is this spill proof?
   </a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef Nutri-Cup Portable Blender comes with screw top lid. This ensures that liquid doesn’t spill or
leak from the blender anytime. Zero spill guarantee! So you can carry the smoothie, juice in your hand bag
without fear of spillage. Simply open it and drink in style.
        </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle11">Can I make coconut chutney in Nutri-cup?
   </a></dt>
    <dd class="acc_container">
        <div class="block">The Nutri-cup blades are designed for blending of soft fruits and ingredients with soft texture. Hence, hard
fruits like pear or coconut which has hard texture, will harm the blades.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle12">How to clean the Nutri-cup?
</a></dt>
    <dd class="acc_container">
        <div class="block">Fill in some water and press the button to start washing. You may use a sponge brush, it can help you
better clean the blender, and make it dry. Please avoid soaking the electric motor part of the product in
water while cleaning.
        </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle13"What is the product warranty? And how to reach our customer support?
     How long does it take for the coal to cool completely after cooking?
What is the product warranty? And how to reach our customer support?
   </a></dt>
    <dd class="acc_container">
        <div class="block">This Wonderchef Nutri-cup has a 1-year warranty. On Whatsapp just say ‘Hi’ on +91 7070595959 for after-
sales service and our team will be happy to assist you.
        </div>
    </dd>


  
</div>
</dl>


<style>
  
  
  .acc_trigger > a:hover, .acc_trigger > a:focus {
    background: #ededed;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
   .faqAccordion2 > dt > a {
   
    color: #000!important;
    font-size:15px!important;
   
}
  .faqAccordion > dt > a:hover, .faqAccordion > dt > a:focus {
    background: #f7f7f7;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
  
  .acc_container {
    display: none;
    padding: 20px 0px;
}
  .acc_trigger > a::after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50.1%);
    -ms-transform: translateY(-50.1%);
    transform: translateY(-50.1%);
    right: 15px;
    font-size: 25px;
    content: "\002b";
    color: inherit;
}
  
  

 .acc_trigger > a::after {
    right: 0px!important;
}
 .acc_trigger > a:focus::after {
    content: "\002d";
    font-size: 30px;
}
  
  
  .acc_trigger > a {
    background: transparent;
    position: relative;
    padding: 10px;
    color: #000!important;
    font-size: 15px!important;
    border-bottom: 1px solid #ededed;
    text-align: left;
    display: block;
    cursor: pointer;
    width: 100%;
    outline: none;
    text-transform: initial;
    min-height: auto;
    height: auto;
    line-height: inherit;
    font-weight: normal;
    /* font-family: Montserrat, sans-serif; */
    font-style: normal;
    box-shadow: none;
    border-radius: 0px;
   
}
  
</style>
<script>
$(function () {
    $('.acc_trigger a').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        $(this).closest('.acc_trigger').next('.acc_container').stop().slideDown();
        return false;
    })

    $('.expand').click(function () {
        $('.acc_trigger').closest('.acc_trigger').next('.acc_container').slideDown();
        return false;
    })

    $('.collapse').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        return false;
    })
});
</script>

