<div>
 
   
             <h2 class="heading_description" style="text-align:center;">Frequently Asked Questions</h2>
        
        </div>


<dl>
<div class=".faqAccordion .faqAccordion2">
    <dt class="acc_trigger specic_tab"><a href="#toggle1">What is Sanjeev Kapoor Tandoor? </a></dt>
    <dd class="acc_container specic_tab">
        <div class="block">
Chef Sanjeev Kapoor’s signature tandoor series is perfect for cooking healthy and tasty quick snacks. It is multi-functional and helps you to grill, toast, roast and even make multi-layered sandwiches with great ease with minimal oil usage. It extracts every drop of excess oil from the food you cook; the inbuilt design also has a slope that drains away excess oil/ghee and retains minimal oil required for healthy cooking. 
</div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle3">Does Sanjeev Kapoor Tandoor have a healthy non-stick?</a></dt>
    <dd class="acc_container">
        <div class="block">
Yes, Sanjeev Kapoor Tandoor is crafted from high quality materials which involves PFOA & heavy metal-free coating. This ensures years of usage without any harm that may come from cheap coatings that peel off easily.

</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle4">Can we cook on both sides of the griller at the same time? </a></dt>
    <dd class="acc_container">
        <div class="block">
Yes; the SKT has a unique feature that allows you to cook on both sides at the same time by opening it at 180 degree. You can serve your guests faster by grilling patties and buns simultaneously. 
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle5">What all dishes can I make with SKT Griller?
</a></dt>
    <dd class="acc_container">
        <div class="block">
You can grill, toast and roast multiple dishes i.e. sandwiches, burgers, tikkis, buns & patties in the Sanjeev Kapoor Tandoor.
      </div>
          </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle6">How do I control the heating? </a></dt>
    <dd class="acc_container">
        <div class="block">
Set the temperature control to your desired setting. At first, try the max level setting and you may adjust it lower or higher according to your preference. Also the in-built thermostat control system regulates the flow of heat within the appliance to maintain the correct temperature and avoid over- heating. This way the food doesn’t get burnt and is cooked evenly.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle7">What is the function of the green and red led light on the SKT? </a></dt>
    <dd class="acc_container">
        <div class="block">
Wonderchef SKT has advanced LED indicators so that you could check cooking preferences as per your requirement. Red colour indicates dark browning and green colour indicates light browning. You can choose from the two options accordingly and enjoy your food.
 </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle8">How do I clean by SKT Griller?</a></dt>
    <dd class="acc_container">
        <div class="block">
Always unplug the appliance and allow it to cool before cooling. Wipe cooking plates with a soft cloth to remove food residue; do not use anything abrasive that can scratch or damage the non-stick coating. Do not place the appliance in dishwasher.

      </div>
  </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle9">Can I grill a multi-layer sandwich?</a></dt>
    <dd class="acc_container">
        <div class="block">
Yes, Wonderchef SKT has flexi-hinges that can be adjusted according to the height of food and allows even cooking of multi-layered sandwiches
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle10">Do the handles get hot after repeated usage in a day?</a></dt>
    <dd class="acc_container">
        <div class="block">  
       No, Wonderchef uses cool touch handles which will not get hot even after repeated usage. Unique heat-resistant handle keeps your hands safe while operating it, thus making it easy to use!
      </div>
          </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle11">Is the stainless-steel kadhai heavy in weight?</a></dt>
    <dd class="acc_container">
        <div class="block">Due to its thickness 2.5mm and Steel-aluminium-Steel structure the Stanton 3-ply range is super sturdy and hence heavy in weight. 
</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle12">Will this take up a lot of space in my kitchen?
</a></dt>
    <dd class="acc_container">
        <div class="block">
No, these are very sleek, compact designs and easy to store in the kitchen.
 </div>
    </dd>
    <dt class="acc_trigger specic_tab"><a href="#toggle12">What is the warranty period? And what is replaceable in warranty?
</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef Stainless Steel Products comes with an industry-leading 5-year standard warranty that covers the manufacturing defects. It includes onsite repairs by trained service engineers at your own home for your complete peace of mind. 
 </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle13">What is the size of the grill plates?
</a></dt>
    <dd class="acc_container">
        <div class="block"> 
The grill plates are of size 24.6cm x 23.6cm. Size varies as per the product. For product specific details, kindly visit the product description section.  
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle14">How much time does it take generally to prepare a dish in SKT? 
</a></dt>
    <dd class="acc_container">
        <div class="block">It takes just 15-20 mins to prepare a dish in SKT.
</div>
    </dd>
 
</div>
</dl>


<style>
  
  
  .acc_trigger > a:hover, .acc_trigger > a:focus {
    background: #ededed;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
   .faqAccordion2 > dt > a {
   
    color: #000!important;
    font-size:15px!important;
   
}
  .faqAccordion > dt > a:hover, .faqAccordion > dt > a:focus {
    background: #f7f7f7;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
  
  .acc_container {
    display: none;
    padding: 20px 0px;
}
  .acc_trigger > a::after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50.1%);
    -ms-transform: translateY(-50.1%);
    transform: translateY(-50.1%);
    right: 15px;
    font-size: 25px;
    content: "\002b";
    color: inherit;
}
  
  

 .acc_trigger > a::after {
    right: 0px!important;
}
 .acc_trigger > a:focus::after {
    content: "\002d";
    font-size: 30px;
}
  
  
  .acc_trigger > a {
    background: transparent;
    position: relative;
    padding: 10px;
    color: #000!important;
    font-size: 15px!important;
    border-bottom: 1px solid #ededed;
    text-align: left;
    display: block;
    cursor: pointer;
    width: 100%;
    outline: none;
    text-transform: initial;
    min-height: auto;
    height: auto;
    line-height: inherit;
    font-weight: normal;
    /* font-family: Montserrat, sans-serif; */
    font-style: normal;
    box-shadow: none;
    border-radius: 0px;
   
}
  
</style>
<script>
$(function () {
    $('.acc_trigger a').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        $(this).closest('.acc_trigger').next('.acc_container').stop().slideDown();
        return false;
    })

    $('.expand').click(function () {
        $('.acc_trigger').closest('.acc_trigger').next('.acc_container').slideDown();
        return false;
    })

    $('.collapse').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        return false;
    })
});
</script>

