<div>
 
   
             <h2 class="heading_description" style="text-align:center;">Frequently Asked Questions</h2>
        
        </div>


<dl>
<div class=".faqAccordion .faqAccordion2">
    <dt class="acc_trigger specic_tab"><a href="#toggle1">What are the features of Wonderchef Charcoal Barbeque?</a></dt>
    <dd class="acc_container specic_tab">
        <div class="block">Wonderchef Charcoal Barbeque has a 651 sq. in. grill that allows you to grill without lifting the lid and
maintains a consistent temperature. The grill is easy to operate and clean. You can use any standard BBQ
coal or even loose charcoal for a smoke-flavoured treat.
        </div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle2">Can I make pizza in this?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes absolutely, use this Wonderchef Charcoal Barbeques to make the pizza of your choice with wood-fired
oven appeal.
        </div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle3">Can I cook with the lid closed if the vents are open?</a></dt>
    <dd class="acc_container">
        <div class="block">The vents should be open to allow the coal to heat up and the air to circulate. Closing the vents will cut off
the airflow and extinguish the coal.
        </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle4">How long does it take for a charcoal barbeque to fire up?</a></dt>
    <dd class="acc_container">
        <div class="block">A charcoal barbecue can stay warm for up to 24 hours and gets hot enough to start grilling in about
approximately 10-15 minutes.
        </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle5">Where can I place the Charcoal barbeque and use?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef Charcoal Barbeque is ideal for your outdoor parties with family and friends. Place the
barbeque in the garden, patio, balcony or even at poolside and start grilling some delicious food! It comes
with sturdy legs and wheels for easy mobility. 
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle6">Are the handles heat resistant?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, the handles are heat resistant.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle7">Is it foldable to carry?</a></dt>
    <dd class="acc_container">
        <div class="block">YNo you cannot fold the Charcoal Barbeque, however it has legs with wheels for easily transporting it from
one place to another.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle8">How much coal should I use?</a></dt>
    <dd class="acc_container">
        <div class="block">You should use enough coal to cover the bottom grill completely.
        </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle9">Can we use cowdung cake instead of charcoal?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes you may use cowdung in the Charcoal BBQ for cooking. However the flavour profile of food may
change.
        </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle10">What materials are used in the construction of this barbecue?
   </a></dt>
    <dd class="acc_container">
        <div class="block">The Wonderchef Charcoal barbeque is made stainless steel.
        </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle11">How long does chicken take to cook on a charcoal grill?
   </a></dt>
    <dd class="acc_container">
        <div class="block">It takes roughly a 1 hr. to 1 hr. 30 mins. to cook chicken to perfection.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle12">How do you control the temperature on a charcoal grill?
</a></dt>
    <dd class="acc_container">
        <div class="block">There are two ways to control the temperature. Simply change the amount of fuel you use - more charcoal,
higher heat. Alternatively, you can control airflow using the air damper system. The wider the vents, the
greater the airflow and available oxygen. The airflow method is typically used because it is the easiest to
adjust while in use.
        </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle13">How long does it take for the coal to cool completely after cooking?
   </a></dt>
    <dd class="acc_container">
        <div class="block">It will take 24-48 hours if done correctly. Suffocate your charcoal grill for best results. Cutting off the air
supply deprives the fire of oxygen and effectively puts an end to any combustion. Allow plenty of time to
cool naturally after closing any airflow dampers and closing the lid.
        </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle14">How often should I clean my charcoal grill?
</a></dt>
    <dd class="acc_container">
        <div class="block">In a nutshell, every time. Remove any leftover charcoal and ashes after each use. This is significant
because, when moistened, charcoal ash may cause damage to product.
        </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle14">Can I reuse charcoal?
</a></dt>
    <dd class="acc_container">
        <div class="block">When reusing old charcoal, look for larger charcoal chunks with as little ash as possible. To avoid further
combustion, store the charcoal in a dry location. When using old charcoal, mix in some new charcoal for
added heat.
        </div>
    </dd>

   <dt class="acc_trigger specic_tab"><a href="#toggle14">Do you provide coal bag with the product?
</a></dt>
    <dd class="acc_container">
        <div class="block">No, we don’t provide coal, however it is very easy to purchase it from any local shop or you can buy it
online as well.
        </div>
    </dd>

   <dt class="acc_trigger specic_tab"><a href="#toggle14">What is the product warranty? And how to reach our customer support?
</a></dt>
    <dd class="acc_container">
        <div class="block">This Wonderchef Charcoal Barbeque has a 1-year warranty. On Whatsapp just say ‘Hi’ on +91 7070595959
for after-sales service and our team will be happy to assist you.
        </div>
    </dd>


  
</div>
</dl>


<style>
  
  
  .acc_trigger > a:hover, .acc_trigger > a:focus {
    background: #ededed;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
   .faqAccordion2 > dt > a {
   
    color: #000!important;
    font-size:15px!important;
   
}
  .faqAccordion > dt > a:hover, .faqAccordion > dt > a:focus {
    background: #f7f7f7;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
  
  .acc_container {
    display: none;
    padding: 20px 0px;
}
  .acc_trigger > a::after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50.1%);
    -ms-transform: translateY(-50.1%);
    transform: translateY(-50.1%);
    right: 15px;
    font-size: 25px;
    content: "\002b";
    color: inherit;
}
  
  

 .acc_trigger > a::after {
    right: 0px!important;
}
 .acc_trigger > a:focus::after {
    content: "\002d";
    font-size: 30px;
}
  
  
  .acc_trigger > a {
    background: transparent;
    position: relative;
    padding: 10px;
    color: #000!important;
    font-size: 15px!important;
    border-bottom: 1px solid #ededed;
    text-align: left;
    display: block;
    cursor: pointer;
    width: 100%;
    outline: none;
    text-transform: initial;
    min-height: auto;
    height: auto;
    line-height: inherit;
    font-weight: normal;
    /* font-family: Montserrat, sans-serif; */
    font-style: normal;
    box-shadow: none;
    border-radius: 0px;
   
}
  
</style>
<script>
$(function () {
    $('.acc_trigger a').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        $(this).closest('.acc_trigger').next('.acc_container').stop().slideDown();
        return false;
    })

    $('.expand').click(function () {
        $('.acc_trigger').closest('.acc_trigger').next('.acc_container').slideDown();
        return false;
    })

    $('.collapse').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        return false;
    })
});
</script>

