<div>
 
   
             <h2 class="heading_description" style="text-align:center;">Frequently Asked Questions</h2>
        
        </div>


<dl>
<div class=".faqAccordion .faqAccordion2">
    <dt class="acc_trigger specic_tab"><a href="#toggle1">Is non-stick healthy?</a></dt>
    <dd class="acc_container specic_tab">
        <div class="block">Today's non-stick with PFOA free is completely safe for normal home cooking. Wonderchef Caesar comes with PFOA & heavy metal free. Greblon non-stick coating allows for cooking with little to no oil, making food healthy while still being delicious.
      </div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle2">Can I use a non-stick pan for everyday use?</a></dt>
    <dd class="acc_container">
        <div class="block">We should use a good-quality non-stick pan for everyday use. Wonderchef Caesar Fry Pan can be used for everyday cooking on all cooking surfaces - stove top, induction and oven.
      </div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle3">What spoon/spatula can I use for my non-stick pan?</a></dt>
    <dd class="acc_container">
        <div class="block">It is best to use Silicon, Nylon or Wooden spoon/spatula with rounded edges and are comfortable to grip for cooking is best to use for non-stick pan.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle5">What makes a good non-stick pan?</a></dt>
    <dd class="acc_container">
        <div class="block">A good non-stick pan is an essential tool for cooking delicate dishes. Wonderchef Caesar Fry Pan offers superlative performance, beauty, and durability. The die-cast process gives the pan better heat retention capability and holds the non-stick coating firmly, so that it lasts long, and helps for cooking safely and stay healthy for longer.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle6">What is the coating made of?</a></dt>
    <dd class="acc_container">
        <div class="block">In Caesar, Hengestone, C3+, 3 layers Greblon non-stick coating are used. It is the best coating in the world. PFOA free ensuring healthy cooking.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle7">Can I use the same kadhai lid for the frying pan?</a></dt>
    <dd class="acc_container">
        <div class="block">In Wonderchef Caesar Wok or Fry pan lid is not available with the product.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle8">Can I use non-stick on induction and gas?</a></dt>
    <dd class="acc_container">
        <div class="block">Induction cooktops only work if the cookware has an induction base. Wonderchef Caesar comes with induction base for which it can be used both on induction and gas. 
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle9">Are the handles of the pan detachable?</a></dt>
    <dd class="acc_container">
        <div class="block">In Wonderchef Caesar pan, handles are not detachable.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle10">Is the lid of the kadhai made of glass or steel?</a></dt>
    <dd class="acc_container">
        <div class="block">In Wonderchef Caesar instead of a Kadhai, a Wok is available without glass or steel lid. 
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle11">How many layers of coating are present?</a></dt>
    <dd class="acc_container">
        <div class="block">In Caesar, Hengestone, C3+, 3 layers Greblon non-stick coating are used. PFOA free ensuring healthy & safe cooking.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle12">Is there any special care to be taken while cleaning?</a></dt>
    <dd class="acc_container">
        <div class="block">For cleaning it is best to wash in lukewarm & soapy water with sponge. After then rinse and thoroughly hand dry. For protecting exterior gloss need to avoid citrus-based cleaners.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle13">Can I cook for 5 - 6 people in this Kadhai?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef Caesar Wok comes in 28cm, 4.1 Litres. Sufficient to cook for 5 - 6 people.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle14">Is the non-stick kadhai heavy in weight?</a></dt>
    <dd class="acc_container">
        <div class="block">Packing weight of Wonderchef Caesar Wok is 1.59 kg. It is not heavy in weight.  
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle15">Can I use a non-stick pan in the dishwasher and microwave?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef Caesar non-stick pan is absolutely dishwasher and microwave save.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle16">What is the warranty period? And what is replaceable in warranty?</a></dt>
    <dd class="acc_container">
        <div class="block">It has 5 years of warranty on Wonderchef Caesar Fry Pan & other Caesar Products. If the coating is peels off during normal usage or any kind of manufacturing defect so we can replace the product in warranty period.
</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle17">How many colours are available?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef Caesar Fry Pan comes with traditional black coating.
</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle18">What is the thickness of Caesar Fry Pan?	</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef Caesar Fry Pan come with 5mm thickness. For SKU specific thickness specification, kindly visit the product description section. 
</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle19">Can I re-heat food in a non-stick pan?</a></dt>
    <dd class="acc_container">
        <div class="block">In Wonderchef Caesar re-heat of food can be done safely.
</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle20">Do I need to first warm the cookware before starting to cook?</a></dt>
    <dd class="acc_container">
        <div class="block">It will be best not to warm or preheat Wonderchef Caesar fry pan. Better to spray or brush pinch amount of oil or butter before starting of cooking as per choice.
</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle21">How long should a non-stick pan last?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef Caesar fry pan abrasion tests ensure that the coating should last through at least 5000 cycles. Handles are tested to carry load over 5 years of use.
</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle22">What happens if my non-stick pan heats up too much?</a></dt>
    <dd class="acc_container">
        <div class="block">It is better not to heat Wonderchef Caesar pan too much. It conducts heat very fast and uniformly as it is made from 99.9% pure grade virgin aluminium.
</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle23">Does it contain aluminium? What grade of aluminium is used?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef Caesar pans are made of 99.9% pure grade, cold-rolled sheets of virgin aluminium. Wonderchef completely avoid using recycled aluminium found in cheaper products because impurities there in rise as gases when put on fire, puncturing the surface of the coating and the peeling starts from there.
</div>
    </dd>
 <dt class="acc_trigger specic_tab"><a href="#toggle24">Are the handles soft touch?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef Caesar Products come with German Beechwood Handle. Its ruggedly built handle to never come loose and to promote a steady, secure grip while lifting or carrying. No need to wear mitts, as the wooden handle will keep your hands safe even when the pan is hot.
</div>
    </dd>
  
</div>
</dl>


<style>
  
  
  .acc_trigger > a:hover, .acc_trigger > a:focus {
    background: #ededed;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
   .faqAccordion2 > dt > a {
   
    color: #000!important;
    font-size:15px!important;
   
}
  .faqAccordion > dt > a:hover, .faqAccordion > dt > a:focus {
    background: #f7f7f7;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
  
  .acc_container {
    display: none;
    padding: 20px 0px;
}
  .acc_trigger > a::after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50.1%);
    -ms-transform: translateY(-50.1%);
    transform: translateY(-50.1%);
    right: 15px;
    font-size: 25px;
    content: "\002b";
    color: inherit;
}
  
  

 .acc_trigger > a::after {
    right: 0px!important;
}
 .acc_trigger > a:focus::after {
    content: "\002d";
    font-size: 30px;
}
  
  
  .acc_trigger > a {
    background: transparent;
    position: relative;
    padding: 10px;
    color: #000!important;
    font-size: 15px!important;
    border-bottom: 1px solid #ededed;
    text-align: left;
    display: block;
    cursor: pointer;
    width: 100%;
    outline: none;
    text-transform: initial;
    min-height: auto;
    height: auto;
    line-height: inherit;
    font-weight: normal;
    /* font-family: Montserrat, sans-serif; */
    font-style: normal;
    box-shadow: none;
    border-radius: 0px;
   
}
  
</style>
<script>
$(function () {
    $('.acc_trigger a').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        $(this).closest('.acc_trigger').next('.acc_container').stop().slideDown();
        return false;
    })

    $('.expand').click(function () {
        $('.acc_trigger').closest('.acc_trigger').next('.acc_container').slideDown();
        return false;
    })

    $('.collapse').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        return false;
    })
});
</script>

