<div>
 
   
             <h2 class="heading_description" style="text-align:center;">Frequently Asked Questions</h2>
        
        </div>


<dl>
<div class=".faqAccordion .faqAccordion2">
    <dt class="acc_trigger specic_tab"><a href="#toggle1">Is use of stainless steel for cooking healthy?</a></dt>
    <dd class="acc_container specic_tab">
        <div class="block">Food grade stainless steel is steel that met all criteria to be deemed safe for food preparation, 
storage and dining. </br>
The most common food grade stainless steel is Type 304. </br>
But 304 grade stainless steel also goes by another name or code, 18/8 and 18/10 stainless steel. Wonderchef Nigella range is made with 304 stainless steel - best quality and hence it is healthy for cooking.</div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle2">What does 3-ply mean?	</a></dt>
    <dd class="acc_container">
        <div class="block">Triply cookware is made of three-ply material which is basically three layers sandwiched together. 
</br>Most often this is an inner layer of stainless steel, middle layer of aluminum and an outer layer of stainless steel. Wonderchef Nigella range of cookware is made with Tri-ply steel.</div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle3">Is 3-ply stainless steel cookware better than the regular stainless steel cookware?</a></dt>
    <dd class="acc_container">
        <div class="block"> Is 3-ply stainless steel cookware better than the regular stainless steel cookware? </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle4">Can I use a stainless steel cookware for everyday use?</a></dt>
    <dd class="acc_container">
        <div class="block">Aluminum is an excellent conductor of heat,  far better than stainless steel by itself. 
</br>It causes heat to diffuse all over the cookware uniformly. 
</br>Triply cookware only utilizes the heat conduction benefits of aluminum while making sure that food does not come in contact with it.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle7"> What spoon / spatula can I use for my stainless steel kadhai or frying pan?</a></dt>
    <dd class="acc_container">
        <div class="block">Always avoid using hard, abrasive cooking utensils like stainless steel or cast iron 
and instead choose bamboo, wood, silicone, or nylon. 
</br>All four of these are soft enough to protect your cookware's surface from scratching.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle8"> Is it pure stainless steel or mixed with aluminium?</a></dt>
    <dd class="acc_container">
        <div class="block">Tri - ply construction is composed of - 304 Stainless Steel layer inside, Aluminium layer in the centre 
& 430 Stainless Steel layer outside. <br>
Tri - ply steel is the best choice for professionals as well as home chefs because of its even heat distribution. <br>It does not react with acidic food and is 100% safe for cooking.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle9"> Can I use this stainless steel cookware on induction and gas?</a></dt>
    <dd class="acc_container">
        <div class="block">430 Steel outer surface makes it compatible with all types of heat sources.
</br>Nigella cookware can be used on all cooking appliances - stove top, gas cooktop, induction cooktop, 
hot plate, infrared cooktop and ceramic cooktops.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle10"> How to clean stainless-steel cookware?</a></dt>
    <dd class="acc_container">
        <div class="block">To clean, hand wash the cookware in warm, soapy water, and then rinse and thoroughly hand dry.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle11"> Is the stainless-steel heavy in weight?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes it is heavy product due to Steel and Aluminium Inside of 2.6 mm but not heavier than Cast Iron.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle12"> Can I use stainless-steel cookware in the dishwasher and microwave?</a></dt>
    <dd class="acc_container">
        <div class="block">Some cookwares are Dishwasher Safe but not Microwave Safe.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle13"> What is the warranty period? And what is replaceable in warranty?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef gives 10 Years warranty and cookwares are replaceable if any manufacturing defect or steel tears.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle14"> Can I re-heat food in a stainless-steel?
</a></dt>
    <dd class="acc_container">
        <div class="block">Yes because, the thick base ensures the food does not get burnt and the 3-ply walls ensure even heat distribution throughout.
        </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle15"> Do I need to first warm the cookware before starting to cook?</a></dt>
    <dd class="acc_container">
        <div class="block">Almunium is inside which is better conductor of heat so don’t need to warm it before cooking every time .</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle16"> What happens if my stainless-steel cookware heats up too much?</a></dt>
    <dd class="acc_container">
        <div class="block">Avoid placing heated pan directly on any wet surface. </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle17"> Does stainless-steel cookware cook food evenly?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes Nigella cookware helps to cook food evenly for a delicious taste. </div></dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle18"> Is the stainless-steel pan sandwich bottom?
</a></dt>
    <dd class="acc_container">
        <div class="block">A layer of aluminium is sandwiched right through, even at the sides, between two layers of high-grade steel: superior food-grade 18/8 stainless steel on the inside and 430 magnetic stainless steel on the outside, making the pan highly heat conductive and induction friendly. </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle19"> Are these lead and nickel free?
</a></dt>
    <dd class="acc_container">
        <div class="block">304 Stainless Steel layer inside, Aluminium layer in the centre & 430 Stainless Steel layer outside. 
</br>Tri - ply steel is the best choice for professionals as well as home chefs because of its even heat distribution. 
</br>It does not react with acidic foo d and is 100% safe for cooking.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle20"> What grade of stainless-steel is in the cookware?
</a></dt>
    <dd class="acc_container">
        <div class="block">At Wonderchef, the inside non - porous surface is made from 304 Grade Stainless Steel which does not react with food and thus retains the flavor and nutrition.
</br> The outside steel is 430 grade which is magnetic in nature and allows the pans to be used on induction cooktops besides on gas stoves.
        </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle21"> Does it get sticky at the bottom if I use less oil or ghee?
</a></dt>
    <dd class="acc_container">
        <div class="block">To avoid food sticking to the surface, season the Nigella cookware. 
</br>Place the pan on a medium heat source and heat the pan for 1 minute.
 </br>Remove the hot pan and add one tablespoon of oil and swirl it over the inside surface. 
</br>Place the pan back on the heat source and heat until it begins to smoke. 
</br>Turn off the heat and let the cookware cool down completely. 
</br>Remove the extra oil. Your pan is ready with non – stick coating."</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle22"> Is it 3 - layer steel?
</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, Nigella range has inside layer of 304 grade stainless steel, second layer is of aluminium and outer layer is of 430 Grade S.S.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle23"> How are the handles fixed? are they riveted?	
</a></dt>
    <dd class="acc_container">
        <div class="block"> Nigella pans, casseroles and kadhais come with cool - touch strong die - cast handles. Yes they are riveted.
      </div>
    </dd>
<!-- generic FAQ ends -->
  

  
</div>
</dl>


<style>
  
  
  .acc_trigger > a:hover, .acc_trigger > a:focus {
    background: #ededed;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
   .faqAccordion2 > dt > a {
   
    color: #000!important;
    font-size:15px!important;
   
}
  .faqAccordion > dt > a:hover, .faqAccordion > dt > a:focus {
    background: #f7f7f7;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
  
  .acc_container {
    display: none;
    padding: 20px 0px;
}
  .acc_trigger > a::after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50.1%);
    -ms-transform: translateY(-50.1%);
    transform: translateY(-50.1%);
    right: 15px;
    font-size: 25px;
    content: "\002b";
    color: inherit;
}
  
  

 .acc_trigger > a::after {
    right: 0px!important;
}
 .acc_trigger > a:focus::after {
    content: "\002d";
    font-size: 30px;
}
  
  
  .acc_trigger > a {
    background: transparent;
    position: relative;
    padding: 10px;
    color: #000!important;
    font-size: 15px!important;
    border-bottom: 1px solid #ededed;
    text-align: left;
    display: block;
    cursor: pointer;
    width: 100%;
    outline: none;
    text-transform: initial;
    min-height: auto;
    height: auto;
    line-height: inherit;
    font-weight: normal;
    /* font-family: Montserrat, sans-serif; */
    font-style: normal;
    box-shadow: none;
    border-radius: 0px;
   
}
  
</style>
<script>
$(function () {
    $('.acc_trigger a').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        $(this).closest('.acc_trigger').next('.acc_container').stop().slideDown();
        return false;
    })

    $('.expand').click(function () {
        $('.acc_trigger').closest('.acc_trigger').next('.acc_container').slideDown();
        return false;
    })

    $('.collapse').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        return false;
    })
});
</script>

