<div>
 
   
             <h2 class="heading_description" style="text-align:center;">Frequently Asked Questions</h2>
        
        </div>


<dl>
<div class=".faqAccordion .faqAccordion2">
    <dt class="acc_trigger specic_tab"><a href="#toggle1">What fruits can be put in the juicer?</a></dt>
    <dd class="acc_container specic_tab">
        <div class="block">You can make all kinds of healthy and fresh fruits juices in Wonderchef Cold Press Juicer without any hassles.</div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle2">Can I put vegetables also in the juicer?</a></dt>
    <dd class="acc_container">
        <div class="block">You can make all vegetables juices in Wonderchef Cold Press juicer particularly carrot, beetroot and all other kinds of vegetables which are normally used for juicing.</div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle3">Do I need to cut the fruits and vegetables into small pieces before putting them in the juicer?</a></dt>
    <dd class="acc_container">
        <div class="block">For small sizes of fruits no need to cut in to pieces, for bigger fruit sizes cutting into large pieces is recommended.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle4">What is the warranty on the juicer?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef Cold Press Juicer comes with 2 years warranty and V6 model have 5 years warranty.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle5">Do I get an extra jar with juicer?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, you can buy extra jar at Wonderchef.com at attractive price.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle6">What you mean by cold press technology?</a></dt>
    <dd class="acc_container">
        <div class="block">Cold press technology that helps extract healthiest, tastiest juice at a slow pace without generating heat. It is like squeezing fruit juice by hand.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle7">How is cold pressed juicer more beneficial than normal juicer to make juices?</a></dt>
    <dd class="acc_container">
        <div class="block">Normal juicer extract juice at a high speed and so generates more heat, as heat  kills all essential vitamins but in cold press juicer it extracts juice at a low speed no heat is generated and  essential enzymes ,vitamins, proteins are protected.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle8">How good is the straining in the cold press juicer?</a></dt>
    <dd class="acc_container">
        <div class="block">The fine and coarse strainer features a 0.3 millimetre mesh grid which effectively filters out nearly all solid particles and facilitates smooth juices.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle9">Can this juicer retain pulp from fruits?</a></dt>
    <dd class="acc_container">
        <div class="block">Almost 100% pulps are retained in the juice and there is a very minimal wastage. The juice made in Wonderchef Cold Press Juicer is very healthy, fresh and with full of all essential vitamins, enzymes and nutrients. </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle10">Does it separate the seeds from the fruit, especially from orange/mosambi?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef Cold Press Juicer helps separate seeds nearly from all type of fruits.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle11">Can I make beetroot juice?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef Cold Press Juicers can be used to make all kinds of fruits and vegetables juices. Yes can make beetroot juice as well by simply cutting the beetroot in big pieces and putting them inside the juicer.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle12">Can I make black grape juice?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef Cold Press Juicers can be used to make all kinds of fruits and vegetables juices. Yes can make black grapes juice as well by simply putting the grapes inside the juicer. You may put few grapes at a time and then keep adding more.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle13">Can I make carrot juice?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef Cold Press Juicers can be used to make all kinds of fruits and vegetables juices. Yes can make carrot juice as well by simply cutting the carrot into big pieces and putting the pieces inside the juicer.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle14">Does it come with a pusher?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, Wonderchef Cold Press Juicer comes with pusher, pusher makes an easy push to fruits in to receiver block in the juicer. </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle15">How can I get a demo of the product?</a></dt>
    <dd class="acc_container">
        <div class="block">All products demos are available with Wonderchef.com also Wonderchef have trained and professional promoters they give a products demo at customer door step as and when required without any extra cost. You need to inform to outlet at where you purchasing products for fixing a schedule for demo. Also you can call Wonderchef Customer Care for the product demo.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle16">Does the juicer have a reverse button?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, Wonderchef Cold Press Juicer comes with reverse function mode to avoid any over load due to any accumulation of fibres or hard pulp.</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle17">Where can I get spare parts?</a></dt>
    <dd class="acc_container">
        <div class="block">You can buy the Wonderchef spare parts at Wonderchef.com at an attractive prices.</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle18">What is the speed of juicer?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef Cold Press Juicer V6 speed is 43 RPM. RPM stands for Revolutions per Minute.</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle19">Are the jars made of glass or plastic?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef Cold Press Juicer jar is made of polycarbonate which is high premium quality of plastic.</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle20">How easy is it to clean the machine?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes all parts are detachable, it has no sharp blades and is easy to clean, and the cleaning brush has a specially designed end that helps to remove the pulp with ease.</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle21">Are the jars BPA free?	</a></dt>
    <dd class="acc_container">
        <div class="block">Yes the jar is BPA free. </div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle22">How much juice quantity will come in the jar?	</a></dt>
    <dd class="acc_container">
        <div class="block">One Jar can contain 1 Litre of juice.</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle23">Can this juicer be used as a blender as well?</a></dt>
    <dd class="acc_container">
        <div class="block">No, the Cold Press Juicer cannot be used as a blender as it is a specially designed low RPM grinder, while blending happens at a much higher RPM for effective results. </div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle24">How much fibres can be retained?</a></dt>
    <dd class="acc_container">
        <div class="block">All fibres, essential vitamins are retained in the juice, only minimal wastage happens in Wonderchef Cold Press Juicers.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle25">What do you mean by RPM?</a></dt>
    <dd class="acc_container">
        <div class="block">RPM stands for revolutions per minute, and it’s used as a measure of how fast any machine is operating at a given time. Wonderchef Cold Press Juicer V6 moves at 43 RPM.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle26">Do you give recipes with this product?</a></dt>
    <dd class="acc_container">
      <div class="block">Yes, Wonderchef provides the recipe book along with Wonderchef Cold Fresh Juicers, you can also download the recipe book from here.<a href="https://bit.ly/3KOQ3QG" target="_blank">Click here</a></div>
    </dd>
  
</div>
</dl>


<style>
  
  
  .acc_trigger > a:hover, .acc_trigger > a:focus {
    background: #ededed;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
   .faqAccordion2 > dt > a {
   
    color: #000!important;
    font-size:15px!important;
   
}
  .faqAccordion > dt > a:hover, .faqAccordion > dt > a:focus {
    background: #f7f7f7;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
  
  .acc_container {
    display: none;
    padding: 20px 0px;
}
  .acc_trigger > a::after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50.1%);
    -ms-transform: translateY(-50.1%);
    transform: translateY(-50.1%);
    right: 15px;
    font-size: 25px;
    content: "\002b";
    color: inherit;
}
  
  

 .acc_trigger > a::after {
    right: 0px!important;
}
 .acc_trigger > a:focus::after {
    content: "\002d";
    font-size: 30px;
}
  
  
  .acc_trigger > a {
    background: transparent;
    position: relative;
    padding: 10px;
    color: #000!important;
    font-size: 15px!important;
    border-bottom: 1px solid #ededed;
    text-align: left;
    display: block;
    cursor: pointer;
    width: 100%;
    outline: none;
    text-transform: initial;
    min-height: auto;
    height: auto;
    line-height: inherit;
    font-weight: normal;
    /* font-family: Montserrat, sans-serif; */
    font-style: normal;
    box-shadow: none;
    border-radius: 0px;
   
}
  
</style>
<script>
$(function () {
    $('.acc_trigger a').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        $(this).closest('.acc_trigger').next('.acc_container').stop().slideDown();
        return false;
    })

    $('.expand').click(function () {
        $('.acc_trigger').closest('.acc_trigger').next('.acc_container').slideDown();
        return false;
    })

    $('.collapse').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        return false;
    })
});
</script>

