<div id="accordion">
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569828417275">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569828417275" aria-expanded="true" aria-controls="1569828417275">
                  Is non-stick healthy?
                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569828417275" class="collapse" aria-labelledby="heading-1569828417275" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>Yes, Wonderchef platinum range is healthy non-stick because it comes with 5 layer Professional Grade MetaTuff non-stick coating. It is tested for 7,000 cycles of abrasion resistance. Great food release properties enable you to cook with almost no oil. High thermal stability and durability enable years of healthy cooking. It is free from PFOA, heavy metals and harmful chemicals. So much better than cheap coatings that peel off and lose effectiveness within a few months of use.
</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569828878550">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569828878550" aria-expanded="true" aria-controls="1569828878550">
                    Can I use a non-stick pan for everyday use?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569828878550" class="collapse" aria-labelledby="heading-1569828878550" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>Yes. You can you non-stick pan for everyday use.
</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569828968822">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569828968822" aria-expanded="true" aria-controls="1569828968822">
                   What makes a good non-stick pan?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569828968822" class="collapse" aria-labelledby="heading-1569828968822" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>A good non-stick pan is an essential tool for cooking delicate dishes. Wonderchef Platinum range offers superlative performance, beauty, and durability. The die-cast process gives the pan better heat retention capability and holds the non-stick coating firmly, so that it lasts long, and helps for cooking safely and stay healthy for longer.
</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569829479298">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569829479298" aria-expanded="true" aria-controls="1569829479298">
                    What is the coating made of?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569829479298" class="collapse" aria-labelledby="heading-1569829479298" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>The coating is made of PFOA - free healthy Meta Tuff. 
</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830261920">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830261920" aria-expanded="true" aria-controls="1569830261920">
                   Can I use the same kadhai lid for the frying pan?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830261920" class="collapse" aria-labelledby="heading-1569830261920" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>Yes the same lid can be used for kadhai and frying pan.</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830303138">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830303138" aria-expanded="true" aria-controls="1569830303138">
                   Can I use non-stick on induction and gas?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830303138" class="collapse" aria-labelledby="heading-1569830303138" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>Yes, you can use non-stick range on induction and gas.</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830330055">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830330055" aria-expanded="true" aria-controls="1569830330055">
                Are the handles of the pan detachable?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830330055" class="collapse" aria-labelledby="heading-1569830330055" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>No the handles of the pan are non-detachable.
</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830354345">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830354345" aria-expanded="true" aria-controls="1569830354345">
               Is the lid of the kadhai made of glass or steel?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830354345" class="collapse" aria-labelledby="heading-1569830354345" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>The lid of the kadhai is made of glass, it even features a steam vent to avoid spillage.</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830380421">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830380421" aria-expanded="true" aria-controls="1569830380421">
                  How many layers of coating are present?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830380421" class="collapse" aria-labelledby="heading-1569830380421" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>Wonderchef Platinum range has 5 layers of non-stick. 
</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830404635">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404635" aria-expanded="true" aria-controls="1569830404635">
                   Is there any special care to be taken while cleaning?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404635" class="collapse" aria-labelledby="heading-1569830404635" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>To clean, hand wash the cookware in warm, soapy water, and then rinse and thoroughly hand dry. For added longevity, pre -heat on low flame for 1 minute only. Cook on Low to Medium flame for best performance. Use silicone or nylon spatula to avoid any damage to the non -stick coating. When on a gas cooktop, use a burner nearest in size to the diameter of the pan bottom to avoid hot spots, over -heating of sidewalls and handles. Wash when cooled, do not place heated pan directly on any wet surface to avoid thermo -shock and to keep the coating safe. When using it on ceramic - or glass -topped cooking surface, avoid dragging the cookware to protect the cooking surface. Avoid placing pans one inside another to avoid scratches on inner side of cookware
</p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404636">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404636" aria-expanded="true" aria-controls="1569830404636">
               Can I cook for 5 - 6 people in Platinum set?



                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404636" class="collapse" aria-labelledby="heading-1569830404636" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>Yes can be used for 5-6 people in Platinum Cookware set. 
</p>
                </div>
            </div>
        </div>


  <div class="card card-2">
            <div class="card-header" id="heading-1569830404637">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404637" aria-expanded="true" aria-controls="1569830404637">
                 Is the non-stick kadhai heavy in weight?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404637" class="collapse" aria-labelledby="heading-1569830404637" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>No, the non-stick kadhai is not very heavy in weight, it weighs 1.83kg only.

</p>
                </div>
            </div>
        </div>


  <div class="card card-2">
            <div class="card-header" id="heading-1569830404638">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404638" aria-expanded="true" aria-controls="1569830404638">
               Can I use a non-stick pan in the dishwasher and microwave?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404638" class="collapse" aria-labelledby="heading-1569830404638" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>Wonderchef platinum non-stick pan is absolutely dishwasher and microwave save.

</p>
                </div>
            </div>
        </div>
  <div class="card card-2">
            <div class="card-header" id="heading-1569830404639">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404639" aria-expanded="true" aria-controls="1569830404639">
                What is the warranty period? And what is replaceable in warranty?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404639" class="collapse" aria-labelledby="heading-1569830404639" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>The Warranty period is 2 year. A replacement warranty is a type of warranty that typically indicates that if an item malfunctions, then the item covered by the warranty will be replaced.

</p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404640">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404640" aria-expanded="true" aria-controls="1569830404640">
                How many colours are available?



                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404640" class="collapse" aria-labelledby="heading-1569830404640" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>The Platinum range is available in two colours i.e. Purple and Red 

</p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404641">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404641" aria-expanded="true" aria-controls="1569830404641">
                What is the thickness?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404641" class="collapse" aria-labelledby="heading-1569830404641" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>Wonderchef platinum range comes with 3mm thickness. 
</p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404642">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404642" aria-expanded="true" aria-controls="1569830404642">
            Can I re-heat food in a non-stick pan?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404642" class="collapse" aria-labelledby="heading-1569830404642" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>Yes, you may re heat food in a non-stick pan. 

</p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404643">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404643" aria-expanded="true" aria-controls="1569830404643">
               Do I need to first warm the cookware before starting to cook?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404643" class="collapse" aria-labelledby="heading-1569830404643" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>Yes for added longevity, pre-heat on low flame for 1 minute only. Cook on low to medium flame for best performance.

</p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404644">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404644" aria-expanded="true" aria-controls="1569830404644">
                How long should a non-stick pan last?



                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404644" class="collapse" aria-labelledby="heading-1569830404644" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>Wonderchef Platinum range abrasion tests ensure that the coating should last through at least 7000 cycles.

</p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404645">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404645" aria-expanded="true" aria-controls="1569830404645">
              What happens if my non-stick pan heats up too much?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404645" class="collapse" aria-labelledby="heading-1569830404645" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>Overheating non-stick pans causes their coating to break down, which can result in the release of surface particles and/or toxic gases.

</p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404646">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404646" aria-expanded="true" aria-controls="1569830404646">
               Does it contain aluminium? What grade of aluminium is used?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404646" class="collapse" aria-labelledby="heading-1569830404646" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>Wonderchef platinum range is made of 99.9% pure grade, cold-rolled sheets of virgin aluminium. Wonderchef completely avoid using recycled aluminium found in cheaper products because impurities there in rise as gases when put on fire, puncturing the surface of the coating and the peeling starts from there.

</p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404647">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404647" aria-expanded="true" aria-controls="1569830404647">
                Are the handles soft touch?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404647" class="collapse" aria-labelledby="heading-1569830404647" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>No, instead the Platinum range feature bakelite handles to provide a firm grip.

</p>
                </div>
            </div>
        </div>

    
</div>

