<div>
 
   
             <h2 class="heading_description" style="text-align:center;">Frequently Asked Questions</h2>
        
        </div>


<dl>
<div class=".faqAccordion .faqAccordion2">
    <dt class="acc_trigger specic_tab"><a href="#toggle1">Can this be used for mixing, blending, stirring, beating & whipping?	
</a></dt>
    <dd class="acc_container specic_tab">
        <div class="block">
          Yes. Wonderchef hand mixer is all in one device and can perform all the functions of mixing, blending soups, lassies chaas and more. It’s a great tool for whipping cream or eggs, mixing cake batter, dough making, making icing for cakes, salad dressings as well. 
</div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle2">What are the benefits of using hand mixers compared to the traditional mixers?</a></dt>
    <dd class="acc_container">
        <div class="block">Hand mixers are perfect for aeration. They save energy, electricity and space in your kitchen 
</div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle3">How many beaters we will get with the mixer?	</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef hand mixer comes with 2 different stainless steel beaters. For SKU specific details, kindly visit the product description section.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle4">How to choose hand mixer?
</a></dt>
    <dd class="acc_container">
        <div class="block">200-300 watt is the ideal power for hand mixer. For occasional baking a hand mixer with the said ideal power is sufficient. 
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle5">Why are mixer jars made of steel, making it impossible to see the ingredients inside?</a></dt>
    <dd class="acc_container">
        <div class="block">Mixers run at a high speed putting a lot of pressure on the jars. Hence, most mixers have steel jars. Our consumer research shows that people would like to see the status of the ingredients inside while in operation. This is why Nutri-blend was specially designed with transparent but unbreakable polycarbonate jars that last you for years while enabling you to see inside.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle6">Are jars of Nutri-blend strong enough?</a></dt>
    <dd class="acc_container">
        <div class="block">Nutri-blend jars are made of unbreakable polycarbonate which is food safe. They last for years without cracking or breaking. Moreover, the special lid that comes with the product converts them into a storage jar.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle7">How does the mixer grinder work?</a></dt>
    <dd class="acc_container">
        <div class="block">When you start the mixer grinder, the motor begins to turn the blades. This spinning of the blades sets the ingredients in a circular motion which creates a vacuum at the center. This displaces the contents towards the axis (and rotating blades) while the whirling motion forces them up on the sides. This turns the ingredients into a smooth, consistent paste.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle8">Is there an option for speed control?
</a></dt>
    <dd class="acc_container">
        <div class="block">Yes. The change of speed in Wonderchef hand mixer is very quick and smooth. Speed varies from 1 to 7. 
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle9">What is the material of beater and kneading hooks?
</a></dt>
    <dd class="acc_container">
        <div class="block">All attachments are made with high quality steel. Which makes it long lasting. Steel has no pours, hence there is a very low risk of bacteria formation.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle10">Does the hand mixer has overheat protection?	
</a></dt>
    <dd class="acc_container">
        <div class="block">No, it doesn’t.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle11">Does the hand mixer come with safety/child lock?</a></dt>
    <dd class="acc_container">
        <div class="block">No, it doesn’t.  
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle12">Are the hooks rust free?</a></dt>
    <dd class="acc_container">
        <div class="block">All attachments are made with high quality steel. Which makes it long lasting. Steel has no pours, hence there is a very low risk of bacteria or rust formation. 
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle13">Are the hooks detachable?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes. Attachments are easy to fix and remove.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle14">Can I use it to whisk the cake cream?
</a></dt>
    <dd class="acc_container">
        <div class="block">Yes. You can whisk cream to make fluffy cakes.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle15">Can I use the hand mixer to knead a dough?
</a></dt>
    <dd class="acc_container">
        <div class="block">Yes. You can use kneading hooks for kneading dough.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle16">Can I use this to make chutney?	</a></dt>
    <dd class="acc_container">
        <div class="block">No. Wonderchef hand mixer is a device made to do mixing, blending and whipping. You can buy Wonderchef Nutri-Blend for making Chutneys.</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle17">Will the hooks be intact in the long run?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, the hooks are made with high quality steel, which makes it long lasting. Steel has no pours, hence there is a very low risk of bacteria formation. 
</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle18">How to clean the hand mixer?
</a></dt>
    <dd class="acc_container">
        <div class="block">Fill a bowl with half warm water. Add a drop of dishwashing liquid. Keep the beaters attached to the mixer and place them into the bowl as if you were about to mix some batter. Turn the mixer on low, then switch it to medium. Let the beaters "whip" then wash with water for 60 seconds. Turn off the hand mixer, your hand mixer is now clean. 
</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle19">How can I claim the warranty?
</a></dt>
    <dd class="acc_container">
        <div class="block">You can call our helpline number +91 1860 266 0788 to raise the request and our service engineer will come to get the product repaired or inspected. 
</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle20">What accessories will I get with the hand mixer? 
</a></dt>
    <dd class="acc_container">
        <div class="block">You will get 2 beater hooks and 2 kneading hooks with the hand mixer.
</div>
    </dd>
  
</div>
</dl>


<style>
  
  
  .acc_trigger > a:hover, .acc_trigger > a:focus {
    background: #ededed;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
   .faqAccordion2 > dt > a {
   
    color: #000!important;
    font-size:15px!important;
   
}
  .faqAccordion > dt > a:hover, .faqAccordion > dt > a:focus {
    background: #f7f7f7;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
  
  .acc_container {
    display: none;
    padding: 20px 0px;
}
  .acc_trigger > a::after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50.1%);
    -ms-transform: translateY(-50.1%);
    transform: translateY(-50.1%);
    right: 15px;
    font-size: 25px;
    content: "\002b";
    color: inherit;
}
  
  

 .acc_trigger > a::after {
    right: 0px!important;
}
 .acc_trigger > a:focus::after {
    content: "\002d";
    font-size: 30px;
}
  
  
  .acc_trigger > a {
    background: transparent;
    position: relative;
    padding: 10px;
    color: #000!important;
    font-size: 15px!important;
    border-bottom: 1px solid #ededed;
    text-align: left;
    display: block;
    cursor: pointer;
    width: 100%;
    outline: none;
    text-transform: initial;
    min-height: auto;
    height: auto;
    line-height: inherit;
    font-weight: normal;
    /* font-family: Montserrat, sans-serif; */
    font-style: normal;
    box-shadow: none;
    border-radius: 0px;
   
}
  
</style>
<script>
$(function () {
    $('.acc_trigger a').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        $(this).closest('.acc_trigger').next('.acc_container').stop().slideDown();
        return false;
    })

    $('.expand').click(function () {
        $('.acc_trigger').closest('.acc_trigger').next('.acc_container').slideDown();
        return false;
    })

    $('.collapse').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        return false;
    })
});
</script>

