<div>
 
   
             <h2 class="heading_description" style="text-align:center;">Frequently Asked Questions</h2>
        
        </div>


<dl>
<div class=".faqAccordion .faqAccordion2">
    <dt class="acc_trigger specic_tab"><a href="#toggle1">Is electric kettle good for health?</a></dt>
    <dd class="acc_container specic_tab">
        <div class="block">Drinking hot water has additional health benefits. Electric kettles heat, boil water within a short time. Wonderchef electric kettles are good for health. The kettles are made of high grade stainless steel or borosilicate glass which is food grade, anti-rust and does not affect the taste or quality of water. The heating coil is covered and does not come in contact with heating water inside the kettle making Wonderchef kettles your healthy choice.
       </div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle2">Are electric kettles safe to use?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, Wonderchef electric kettles are safe to use. The heating coil is covered and does not come in contact with water inside the kettle. Wonderchef electric kettles have an inbuilt thermostat, the kettle will auto-shut down when the temperature inside reaches boiling point. The drip-free spout and lid lock give additional safety to prevent hot water from spilling out. Kettle handle is heat resistant for easy handling. In double walled Wonderchef kettles like Luxe Ivory, Crimson Edge, Multi-cook Kettles the outer plastic body is cool touch.
      </div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle3">What is better, plastic or steel body kettle? </a></dt>
    <dd class="acc_container">
        <div class="block">Steel Kettles – In Wonderchef steel kettles Crescent/ Cool-Touch/ Prato electric/Crimson edge /Luxe Multi-cook, the steel body is better choice than plastic for electric kettles. Stainless Steel is not affected by heat. Wonderchef electric kettle made of high grade Stainless steel which is food grade, does not rust, and does not affect the taste of water.
Wonderchef Azure electric kettle is made of Borosilicate glass body is better choice than plastic for electric kettles. Glass can withstand high temperature. Azure glass kettle material is free of toxins and does not affect the taste of water when it comes in contact.

      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle4">What is the use of electric kettle?</a></dt>
    <dd class="acc_container">
        <div class="block">An electric kettle is used to boiling/heating water. This hot water can be utilized to make tea, coffee, soups and more.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle5">Do electric kettle use a lot of electricity?</a></dt>
    <dd class="acc_container">
        <div class="block"><ul><li>Wonderchef Electrical kettles use 1000-1800 watts power to operate as per the capacity and the use of the kettles.</li>
<li>Wonderchef Prato Electrical kettle 1.2 L uses 1000 watts power to operate.</li>
<li>Wonderchef Azure Electric Glass Kettle 1.8 L uses 1500 watts power to operate.</li>
<li>Wonderchef Crimson Edge Electric Kettle 1.2 L uses 1500 watts power to operate.</li>
<li>Wonderchef Luxe Multi cook Kettle Blue/Red 1.2 L uses 1000 watts power to operate.</li>
<li>Wonderchef Crimson Edge Electric Kettle Red 1.7 L uses 1800 watts power to operate.</li>
<li>Wonderchef Luxe Kettle Ivory 1.7 L uses 1800 watts power to operate.</li></ul>
<li>Wonderchef Cool-Touch Electric Kettle 800 ML/1.8 L uses 1500 watts power to operate.</li></ul>

 </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle6">How to clean the electric kettle?</a></dt>
    <dd class="acc_container">
        <div class="block">Wash the kettle by hand with washing liquid and fresh water, scrub with a sponge until the entire kettle is clean. If you feel a sponge may damage the kettle, alternatively used a soft cloth to wash it. Once it has been washed, leave it to completely dry before you plug it in and next use.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle7">Can I make tea or coffee?</a></dt>
    <dd class="acc_container">
        <div class="block">Electric kettle is recommended only to boil water. You can use this water to make tea, coffee.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle8">Can I cook Maggie noodles in the electric kettle?</a></dt>
    <dd class="acc_container">
        <div class="block">No. Wonderchef Electric kettle is recommended only to boil water. You can use this hot water to make tea, coffee, soup. 
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle9">Can I stop the electric kettle in between the operation?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes. Wonderchef Electrical Kettle comes with an on/off switch. To stop the kettle once desired water temp of water is reached, you can switch off the kettle.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle10">Can I carry it with me on holiday?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes definitely. Wonderchef Electric Kettle is portable and light weight and can easily be carried when u travel for holiday.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle11">What is the warranty period?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef Electric Kettle comes with a 1 year warranty.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle12">Can I boil milk in electric kettle?</a></dt>
    <dd class="acc_container">
        <div class="block">Electric kettle is recommended only to boil water. You can use this water to make tea, coffee.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle13">Is the lid made up of steel or plastic?</a></dt>
    <dd class="acc_container">
        <div class="block">The lid of Wonderchef Electric kettle is made of special grade plastic which can withstand heat. </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle14">How strong is the glass vessel?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef Azure kettle is made of borosilicate glass. Borosilicate is the best glass material as it can withstand high temperature and not easily breakable. However, if enough force is used or the kettle falls, it might break.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle15">How does the electric kettle work?</a></dt>
    <dd class="acc_container">
        <div class="block">Inside each Kettle is a metal coil called heating element. When the kettle is switched on, electrical energy travels through the coil, heating the coil which in turn brings the cold water inside the kettle to boiling point. Further the kettles are fitted with a thermostat, which then auto shuts off the kettle once boiling point is reached.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle16">How can I control the temperature in electric kettle?</a></dt>
    <dd class="acc_container">
        <div class="block">There is no switch to control the temperature in electric kettle. The kettle will automatically shut down when water is boiled. 
      </div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle17">Can I detach the chord and base from the electric kettle?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, the Wonderchef electric kettle rests on a 360 degrees cordless and detachable power base. The Kettle rests on the base and is detachable for convenient usage and portability. Power is supplied to the kettle only when it is placed on the base. The base of the kettle is connected via chord to the electricity source. 
      </div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle18">What is the warranty?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef electric kettles have a warranty of 1 year.</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle19">How can I connect with the service engineer in case of any problem?</a></dt>
    <dd class="acc_container">
        <div class="block">To connect with the service engineer, customer needs to register a service request at the Wonderchef Service call centre (+91 1860 266 0788) customer will be given a service call request no on call and via message.  Once call is registered, the service engineer will call the customer. Else you can simply send us ‘Hi’ via WhatsApp on +917070595959
      </div>
    </dd>
  
  
</div>
</dl>


<style>
  
  
  .acc_trigger > a:hover, .acc_trigger > a:focus {
    background: #ededed;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
   .faqAccordion2 > dt > a {
   
    color: #000!important;
    font-size:15px!important;
   
}
  .faqAccordion > dt > a:hover, .faqAccordion > dt > a:focus {
    background: #f7f7f7;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
  
  .acc_container {
    display: none;
    padding: 20px 0px;
}
  .acc_trigger > a::after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50.1%);
    -ms-transform: translateY(-50.1%);
    transform: translateY(-50.1%);
    right: 15px;
    font-size: 25px;
    content: "\002b";
    color: inherit;
}
  
  

 .acc_trigger > a::after {
    right: 0px!important;
}
 .acc_trigger > a:focus::after {
    content: "\002d";
    font-size: 30px;
}
  
  
  .acc_trigger > a {
    background: transparent;
    position: relative;
    padding: 10px;
    color: #000!important;
    font-size: 15px!important;
    border-bottom: 1px solid #ededed;
    text-align: left;
    display: block;
    cursor: pointer;
    width: 100%;
    outline: none;
    text-transform: initial;
    min-height: auto;
    height: auto;
    line-height: inherit;
    font-weight: normal;
    /* font-family: Montserrat, sans-serif; */
    font-style: normal;
    box-shadow: none;
    border-radius: 0px;
   
}
  
</style>
<script>
$(function () {
    $('.acc_trigger a').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        $(this).closest('.acc_trigger').next('.acc_container').stop().slideDown();
        return false;
    })

    $('.expand').click(function () {
        $('.acc_trigger').closest('.acc_trigger').next('.acc_container').slideDown();
        return false;
    })

    $('.collapse').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        return false;
    })
});
</script>

