<div id="accordion">
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569828417275">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569828417275" aria-expanded="true" aria-controls="1569828417275">
What is the full form of OTG?
                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569828417275" class="collapse" aria-labelledby="heading-1569828417275" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
An Oven, Toaster, Grill (OTG) is essentially a smaller version of a traditional oven. It uses heated coils to cook meals and requires much less time.
</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569828878550">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569828878550" aria-expanded="true" aria-controls="1569828878550">
What is an OTG used for?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569828878550" class="collapse" aria-labelledby="heading-1569828878550" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
An OTG is best used for baking, toasting, and grilling. For example, you can bake cakes, grill meat, toast bread and more with ease.
</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569828968822">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569828968822" aria-expanded="true" aria-controls="1569828968822">
What is healthy - OTG or microwave?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569828968822" class="collapse" aria-labelledby="heading-1569828968822" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
OTG is a better product when it comes to keeping the food healthy, getting a large OTG makes perfect sense if you’re a professional baker. It will provide you access to everything you need and will assist you in achieving outstanding achievements. The convection microwave oven, on the other hand, is ideal for novice bakers who want to bake simple cakes and cookies.
</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569829479298">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569829479298" aria-expanded="true" aria-controls="1569829479298">
Is the food cooked in an OTG tastier than in a Microwave?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569829479298" class="collapse" aria-labelledby="heading-1569829479298" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
While the upfront cost of an OTG is lower, energy efficiency of a microwave oven is higher. A microwave oven uses 20 per cent less energy than an OTG, saving money in the long run. A microwave has a digital convection display as compared to an OTG, which has a manual knob.

                  </p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830261920">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830261920" aria-expanded="true" aria-controls="1569830261920">
Why does an OTG bake a better tasting cake than a Microwave? (Cue: OTG creates the crust which lends the cake a better taste. MW does not create the crust>

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830261920" class="collapse" aria-labelledby="heading-1569830261920" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
OTG is better while baking.  In OTG, the heat is distributed and it is absorbed by the food which helps in evenly baking it. Due to the presence of a fan in the OTG which distributes the heat but major portion of heat goes directly below the coil. In OTG a crispy crust over the cake is also possible, which is not the case for Microwaves. In a microwave oven, the waves shake the molecules in the food as they go through it. As more waves pass through the molecules, they begin to vibrate at a high rate, producing heat.

                  </p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830303138">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830303138" aria-expanded="true" aria-controls="1569830303138">
How to decide what capacity OTG to buy?
                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830303138" class="collapse" aria-labelledby="heading-1569830303138" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
OTG has a large capacity as they have a maximum capacity of 60 litres and due to the racks present in the OTG’s large batches of food can be cooked or baked. Wonderchef provide OTG with capacity of 60L, 48L, 32L, 19L. The size of the OTGs hence, can be considered basis the cooking requirement. 
                      
</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830330055">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830330055" aria-expanded="true" aria-controls="1569830330055">
What can I cook in an OTG?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830330055" class="collapse" aria-labelledby="heading-1569830330055" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
One can bake, roast & grill delicious food. Make tandoor chicken, grill other meats and vegetables, grill paneer and cheese, bake biscuits, cakes, pizzas and more things. You can refer the recipe book for interesting food that can be prepared in the OTGs. 

                  </p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830354345">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830354345" aria-expanded="true" aria-controls="1569830354345">
Can pizza be made in an OTG? 


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830354345" class="collapse" aria-labelledby="heading-1569830354345" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Yes, Wonderchef OTGs are idea for making pizzas as well. 

                  </p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830380421">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830380421" aria-expanded="true" aria-controls="1569830380421">
What is the size of baking trays?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830380421" class="collapse" aria-labelledby="heading-1569830380421" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
There are many sizes available depending upon the capacity of OTG, however the most common size is 40cm x 30cm.
 
</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830404635">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404635" aria-expanded="true" aria-controls="1569830404635">
Can I bake more than one cake at once?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404635" class="collapse" aria-labelledby="heading-1569830404635" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Yes you can bake, but it is advised to bake one at a time for better results.

                  </p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404636">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404636" aria-expanded="true" aria-controls="1569830404636">
What accessories do I get with the OTG?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404636" class="collapse" aria-labelledby="heading-1569830404636" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
With Wonderchef OTG you get, rotisserie rod, crumbs collection tray, baking tray, wire rack, tray handle, Rotisserie Handle. 

                  </p>
                </div>
            </div>
        </div>


  <div class="card card-2">
            <div class="card-header" id="heading-1569830404637">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404637" aria-expanded="true" aria-controls="1569830404637">
What is the warranty for Wonderchef OTGs?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404637" class="collapse" aria-labelledby="heading-1569830404637" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Wonderchef provides 2 year warranty.

                  </p>
                </div>
            </div>
        </div>


  <div class="card card-2">
            <div class="card-header" id="heading-1569830404638">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404638" aria-expanded="true" aria-controls="1569830404638">
Do you give free demo?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404638" class="collapse" aria-labelledby="heading-1569830404638" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Wonderchef provides free demos at home and also at all our stores.

                  </p>
                </div>
            </div>
        </div>
  <div class="card card-2">
            <div class="card-header" id="heading-1569830404639">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404639" aria-expanded="true" aria-controls="1569830404639">
How much power consumption does the OTC consume?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404639" class="collapse" aria-labelledby="heading-1569830404639" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
It depends on the capacity of OTG, however the 19 ltr uses 220V~50Hz~1280W. 

                  </p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404640">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404640" aria-expanded="true" aria-controls="1569830404640">
Does it have rotisserie function?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404640" class="collapse" aria-labelledby="heading-1569830404640" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Yes, select Wonderchef OTGs do have the rotisserie function. 

                  </p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404641">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404641" aria-expanded="true" aria-controls="1569830404641">
How does the Auto shut off function work?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404641" class="collapse" aria-labelledby="heading-1569830404641" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
There are knobs provided where you can set the alarm and it will ring when the timer goes off to indicate that food is ready. 

                  </p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404642">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404642" aria-expanded="true" aria-controls="1569830404642">
Can OTG be used for defrosting?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404642" class="collapse" aria-labelledby="heading-1569830404642" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
An OTG can grill, bake and toast but cannot be used to heat and defrost. 

                  </p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404643">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404643" aria-expanded="true" aria-controls="1569830404643">
How much space should be left on either sides of the OTG for effective heat dissipation?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404643" class="collapse" aria-labelledby="heading-1569830404643" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
We should place everything in the middle, there is no rule to leave space, one can place the way they want. 

                  </p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404644">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404644" aria-expanded="true" aria-controls="1569830404644">
Can I make Tandoori Roti and Naan in the OTG?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404644" class="collapse" aria-labelledby="heading-1569830404644" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Yes, one can cook roti and naan in Wonderchef OTG.

</p>
                </div>
            </div>
        </div>
  
   <div class="card card-2">
            <div class="card-header" id="heading-1569830404645">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404645" aria-expanded="true" aria-controls="1569830404645">
Does the OTG comes with the convection function?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404645" class="collapse" aria-labelledby="heading-1569830404645" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Wonderchef OTG ovens come with an excellent quality and features. OTG Ovens come with Motorized Rotisserie and convection fan that can be used for baking, cooking, and keeping food warm.

</p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404646">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404646" aria-expanded="true" aria-controls="1569830404646">
Does the body of OTG gets heated while in use?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404646" class="collapse" aria-labelledby="heading-1569830404646" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
OTG can get hot on the outside. Heat tends to rise and this can cause certain elements of an oven to get warm including the top. This is normal and to be expected if an oven has been running for hours at a time.

</p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404647">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404647" aria-expanded="true" aria-controls="1569830404647">
How many heating elements does it have?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404647" class="collapse" aria-labelledby="heading-1569830404647" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
A conventional oven generally has two heating elements, one on top and one on the bottom. For most cooking (other than broiling), only the bottom element is used with the heat rising to the top. This results in all parts of the oven being heated evenly and elimination heating pockets

</p>
                </div>
            </div>
        </div>
  
   <div class="card card-2">
            <div class="card-header" id="heading-1569830404648">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404648" aria-expanded="true" aria-controls="1569830404648">
Does it have double glass door?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404648" class="collapse" aria-labelledby="heading-1569830404648" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Wonderchef OTG have double glass door feature, which lends additional safety and makes it a stand-out supreme quality appliance. 

</p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404649">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404649" aria-expanded="true" aria-controls="1569830404649">
Can I control the temperature manually?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404649" class="collapse" aria-labelledby="heading-1569830404649" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Yes the temperature can be controlled manually

</p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404650">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404650" aria-expanded="true" aria-controls="1569830404650">
How many trays can I put at once?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404650" class="collapse" aria-labelledby="heading-1569830404650" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
One can put maximum two trays at a time.

</p>
                </div>
            </div>
        </div>
  
   <div class="card card-2">
            <div class="card-header" id="heading-15698304046451">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404651" aria-expanded="true" aria-controls="1569830404651">
How does the timer function work?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404651" class="collapse" aria-labelledby="heading-1569830404651" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Time Bake (or Cook Time), Automatic Oven Timers, and Delay Bake (or Delay Time, Delay Start) are options designed for the busy person that cannot be tied down to being in the kitchen or at home at specific times to turn the oven on or off. These controls can be present to start and stop your oven automatically.


</p>
                </div>
            </div>
        </div>
  
  
   <div class="card card-2">
            <div class="card-header" id="heading-15698304046452">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404652" aria-expanded="true" aria-controls="1569830404652">
How to clean the OTG?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404652" class="collapse" aria-labelledby="heading-1569830404652" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
For this you will have to make a mixture of vinegar and hot water. Clean the interiors by taking the tissue/ soft cloth soaked from the mixture. Clean it thoroughly. Once this part is done, wipe the inside surface by cleaning it with soft cloth soaked in cold water with lime juice added to it.


</p>
                </div>
            </div>
        </div>
  
  
   <div class="card card-2">
            <div class="card-header" id="heading-15698304046453">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404653" aria-expanded="true" aria-controls="1569830404653">
Will I get a recipe book with the OTG?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404653" class="collapse" aria-labelledby="heading-1569830404653" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Yes, Wonderchef provides recipe books along with all their products.


</p>
                </div>
            </div>
        </div>
  
  
   <div class="card card-2">
            <div class="card-header" id="heading-15698304046454">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404654" aria-expanded="true" aria-controls="1569830404654">
What is the warranty that is offered with the Wonderchef OTG?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404654" class="collapse" aria-labelledby="heading-1569830404654" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Wonderchef provides 2 year warranty with its range of OTG 


</p>
                </div>
            </div>
        </div>
  
  
   <div class="card card-2">
            <div class="card-header" id="heading-15698304046455">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404655" aria-expanded="true" aria-controls="1569830404655">
How can I avail the service from Wonderchef?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404655" class="collapse" aria-labelledby="heading-1569830404655" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Wonderchef has a strong service network and one can call customer care and avail service.


</p>
                </div>
            </div>
        </div>
  
  
   <div class="card card-2">
            <div class="card-header" id="heading-15698304046456">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404656" aria-expanded="true" aria-controls="1569830404656">
Does this come with skewer rods?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404656" class="collapse" aria-labelledby="heading-1569830404656" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Yes, Wonderchef OTG's come with skewer rods and various accessories like a baking tray, crumb tray, wire rack, tongs and may also include additional attachments like a Rotisserie set or motorized rotisserie for conventional.  


</p>
                </div>
            </div>
        </div>
  
  
   <div class="card card-2">
            <div class="card-header" id="heading-15698304046457">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404657" aria-expanded="true" aria-controls="1569830404657">
How can this be cleaned?


                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404657" class="collapse" aria-labelledby="heading-1569830404657" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
For this you will have to make a mixture of vinegar and hot water. Clean the interiors by taking the tissue/ soft cloth soaked from the mixture. Clean it thoroughly. Once this part is done, wipe the inside surface by cleaning it with soft cloth soaked in cold water with lime juice added to it


</p>
                </div>
            </div>
        </div>

    
</div>

