<div>
 
   
             <h2 class="heading_description" style="text-align:center;">Frequently Asked Questions</h2>
        
        </div>


<dl>
<div class=".faqAccordion .faqAccordion2">
    <dt class="acc_trigger specic_tab"><a href="#toggle1">Does the string chopper also have gears?</a></dt>
    <dd class="acc_container specic_tab">
        <div class="block">Yes. Wonderchef String chopper have gears. Gears help to pull thread when force is applied. 
      </div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle2">What all can I chop or cut in this?</a></dt>
    <dd class="acc_container">
        <div class="block">You can chop fruits, vegetables, nuts & garlic in just 2-3 minutes with easy pulls.
      </div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle3">How much time does it take to cut the vegetables?</a></dt>
    <dd class="acc_container">
        <div class="block">It takes approximately 2 to 3 minutes to cut vegetables.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle4">Do I need to first cut the vegetables in big pieces and put?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, for better results you can cut fruits, vegetables into suitable pieces.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle5">Can I put whole onion, tomato, cucumber and beetroot?</a></dt>
    <dd class="acc_container">
        <div class="block">It is advisable to cut into 4 pieces for better results.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle6">Does everything get chopped evenly? Or size will vary?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes size may vary depending on usage. Wonderchef string choppers have an easy mechanical pulley, which uses a spring and a thread. When the thread is pulled, the blades rotate. Depending on the force and the number of strokes, fruits & vegetables can get chopped.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle7">Does the string chopper cut for salads?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes. You can cut salads also in Wonderchef string chopper.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle8">Does the chopper cut onions, tomatoes only for making curries?</a></dt>
    <dd class="acc_container">
        <div class="block">No. You can use Wonderchef string chopper for mincing, making puree & beating as well.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle9">Can I use it to beat eggs also?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes. Wonderchef string chopper comes with special whisking attachment which helps in beating eggs.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle10">Can I knead atta in this?</a></dt>
    <dd class="acc_container">
        <div class="block">No. Wonderchef string chopper has sharp blades which can be used for chopping & cutting fruits & vegetables. 
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle11">Can you arrange for a free demo?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes. You can also visit the product listing section page to see the demo videos. 
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle12">What is the warranty?</a></dt>
    <dd class="acc_container">
        <div class="block">12 months. For SKU specific warranty specification, kindly visit the product description section. 
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle13">Are all parts easily removable?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes. But be extra careful while touching blades as they are very sharp.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle14">How can I clean the chopper after using?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef string chopper should be cleaned after every use. You can wash chopper with normal water and soap after every use and dry it before storing it. Please be extra careful while cleaning blades as they are very sharp.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle15">How many blades come with the String Chopper?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef string chopper comes with 3, 5 & 6 blade options. 
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle16">How can I decide if I should buy 3 blades or 5 blades chopper?</a></dt>
    <dd class="acc_container">
        <div class="block">It purely depends on your usage. If the quantity requirement for chopping fruits & vegetable is higher, then you can select 6 blades. For small to moderate level requirement 3 and 5 blade options are available. The blades are placed at different level in such a ways that they cover the height of the chopper. This results in fine chopping within seconds.
      </div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle17">Are blades stainless steel?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes the blades are made of stainless steel & are anti-rust.
      </div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle18">Is the body of the chopper made of plastic?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes. Wonderchef string choppers are made of food grade plastic and it is durable to use as well.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle19">Is the body of the chopper BPA free?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes. Wonderchef string choppers are BPA free.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle20">What is the capacity of the chopper?</a></dt>
    <dd class="acc_container">
        <div class="block">The range starts with 3 blade - 450 ml. For SKU specific capacity specification, kindly visit the product description section.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle21">Do I need a minimum quantity to chop?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes. You should fill half the capacity of chopper for fine chopping results.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle22">Do I need a maximum quantity to chop?</a></dt>
    <dd class="acc_container">
        <div class="block">No. You can use even with half capacity.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle23">Does it come with transparent jars?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes. Wonderchef string choppers comes with transparent jars so that you can monitor chopping results easily.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle24">Does it come with a lid on the jar for storage?</a></dt>
    <dd class="acc_container">
        <div class="block">No storage lid is provided with Wonderchef string choppers. 
      </div>
    </dd>
  
</div>
</dl>


<style>
  
  
  .acc_trigger > a:hover, .acc_trigger > a:focus {
    background: #ededed;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
   .faqAccordion2 > dt > a {
   
    color: #000!important;
    font-size:15px!important;
   
}
  .faqAccordion > dt > a:hover, .faqAccordion > dt > a:focus {
    background: #f7f7f7;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
  
  .acc_container {
    display: none;
    padding: 20px 0px;
}
  .acc_trigger > a::after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50.1%);
    -ms-transform: translateY(-50.1%);
    transform: translateY(-50.1%);
    right: 15px;
    font-size: 25px;
    content: "\002b";
    color: inherit;
}
  
  

 .acc_trigger > a::after {
    right: 0px!important;
}
 .acc_trigger > a:focus::after {
    content: "\002d";
    font-size: 30px;
}
  
  
  .acc_trigger > a {
    background: transparent;
    position: relative;
    padding: 10px;
    color: #000!important;
    font-size: 15px!important;
    border-bottom: 1px solid #ededed;
    text-align: left;
    display: block;
    cursor: pointer;
    width: 100%;
    outline: none;
    text-transform: initial;
    min-height: auto;
    height: auto;
    line-height: inherit;
    font-weight: normal;
    /* font-family: Montserrat, sans-serif; */
    font-style: normal;
    box-shadow: none;
    border-radius: 0px;
   
}
  
</style>
<script>
$(function () {
    $('.acc_trigger a').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        $(this).closest('.acc_trigger').next('.acc_container').stop().slideDown();
        return false;
    })

    $('.expand').click(function () {
        $('.acc_trigger').closest('.acc_trigger').next('.acc_container').slideDown();
        return false;
    })

    $('.collapse').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        return false;
    })
});
</script>

