<div>
 
   
             <h2 class="heading_description" style="text-align:center;">Frequently Asked Questions</h2>
        
        </div>


<dl>
<div class=".faqAccordion .faqAccordion2">
    <dt class="acc_trigger specic_tab"><a href="#toggle1">Is non-stick healthy?</a></dt>
    <dd class="acc_container specic_tab">
        <div class="block">Wonderchef Celebration set is healthy non-stick because it comes with 5 layer Professional Grade MetaTuff non-stick coating. It is tested for 7,000 cycles of abrasion resistance. Great food release properties enable you to cook with almost no oil. High thermal stability and durability enable years of healthy cooking. It is free from PFOA, heavy metals and harmful chemicals. So much better than cheap coatings that peel off and lose effectiveness within a few months of use.
      </div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle2">Can I use a non-stick pan for everyday use? </a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef Celebration set 5 layer Meta Tuff non-stick coating is ideal for daily use.
      </div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle3">What spoon / spatula can I use for my non-stick pan?</a></dt>
    <dd class="acc_container">
        <div class="block">Use silicone or nylon spatula so surface of the pan doesn't scratch.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle4">What makes a good non-stick pan?</a></dt>
    <dd class="acc_container">
        <div class="block">Everything you can cook with less oil and healthy food in non-stick pan.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle5">What is the coating made of?</a></dt>
    <dd class="acc_container">
        <div class="block">Celebration set comes with 5 layer Professional Grade MetaTuff non-stick coating. It is tested for 7,000 cycles of abrasion resistance.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle6">Can I use the same kadhai lid for the frying pan?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes the same lid can be used for kadhai and fry pan.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle7">Can I use non-stick on induction and gas?</a></dt>
    <dd class="acc_container">
        <div class="block">All the pans except mini fry pan and grill pan, can be used on all cooking appliances - stove top, gas cooktop, induction cooktop, hot plate, infrared cooktop and ceramic cooktops.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle8">Are the handles of the pan detachable?</a></dt>
    <dd class="acc_container">
        <div class="block">No the handles are fixed.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle9">Is the lid of the kadhai made of glass or steel?</a></dt>
    <dd class="acc_container">
        <div class="block">It is made of tempered glass and has a steam vent as well.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle10">How many layers of coating are present?</a></dt>
    <dd class="acc_container">
        <div class="block">All Wonderchef non-stick cookware has 5 layer Meta Tuff non-stick coating for daily use
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle11">Is there any special care to be taken while cleaning?</a></dt>
    <dd class="acc_container">
        <div class="block">To clean, hand wash the cookware in warm, soapy water, and then rinse and thoroughly hand dry and Wash when cooled, do not place heated pan directly on any wet surface to avoid thermo-shock and to keep the coating safe.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle12">Can I cook for 5 - 6 people? </a></dt>
    <dd class="acc_container">
        <div class="block">Yes with Wonderchef celebration you can easily cook for 5-6 people.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle13">Is the non-stick kadhai heavy in weight?</a></dt>
    <dd class="acc_container">
        <div class="block">No, Wonderchef Kadhai is light weighted.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle14">Can I use a non-stick pan in the dishwasher and microwave?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes non-stick cookware is dishwasher safe but it is not microwave safe.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle15">What is the warranty period? And what is replaceable in warranty?</a></dt>
    <dd class="acc_container">
        <div class="block">Reliable Wonderchef warranty of 2 years and replacement depending on the condition of damage.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle16">How many colours are available?</a></dt>
    <dd class="acc_container">
        <div class="block">Celebration set is available in purple and turquoise blue colours.
      </div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle17">What is the thickness?</a></dt>
    <dd class="acc_container">
        <div class="block">The thickness of Wonderchef Celebration set is 2.2mm.
      </div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle18">Can I re-heat food in a non-stick pan?</a></dt>
    <dd class="acc_container">
        <div class="block">It is fine to reheat food in non-stick pans. Just heat them slowly over nothing higher than medium heat, and don't let them sit on the heat for too long.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle18">Do I need to first warm the cookware before starting to cook? </a></dt>
    <dd class="acc_container">
        <div class="block">For added longevity, pre-heat on low flame for 1 minute only. Cook on low to medium flame for best performance
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle19">How long should a non-stick pan last?	</a></dt>
    <dd class="acc_container">
        <div class="block">Non-stick pans typically last between one and five years. Non-stick pans coated with PTFE (Teflon) generally last at least three years, and ceramic-coated non-stick pans last an average of two years. Pans with multi-layer PTFE coating or reinforced non-stick coating last the longest. Wonderchef Celebration non-Stick pans comes with 5-layer Meta Tuff non-stick coating and lasts longer than other Non-stick pans. It comes with 2 years Reliable Wonderchef Warranty. 
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle20">What happens if my non-stick pan heats up too much?	</a></dt>
    <dd class="acc_container">
        <div class="block">When pans are overheated, that PTFE coating begins to disintegrate. As non-stick layer breaks down, it releases a host of toxic gases. In rare instances, breathing in these chemical fumes can cause polymer fume fever, a condition characterised by a high fever, shortness of breath and weakness. It is highly recommended that a non-stick pan should be moderately heated.
          
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle21">Does it contain aluminium? What grade of aluminium is used?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, at Wonderchef we use Virgin Aluminium only which is 9 times better conductor of heat, cooks faster, and saves energy and time. We do not use recycled aluminium which is generally found in cheaper products.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle22">Are the handles soft touch?	</a></dt>
    <dd class="acc_container">
        <div class="block">All the Celebration non-stick cookware products comes with Soft-touch handles which give you a firm grip even with wet hands.
      </div>
    </dd>
  
  
</div>
</dl>


<style>
  
  
  .acc_trigger > a:hover, .acc_trigger > a:focus {
    background: #ededed;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
   .faqAccordion2 > dt > a {
   
    color: #000!important;
    font-size:15px!important;
   
}
  .faqAccordion > dt > a:hover, .faqAccordion > dt > a:focus {
    background: #f7f7f7;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
  
  .acc_container {
    display: none;
    padding: 20px 0px;
}
  .acc_trigger > a::after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50.1%);
    -ms-transform: translateY(-50.1%);
    transform: translateY(-50.1%);
    right: 15px;
    font-size: 25px;
    content: "\002b";
    color: inherit;
}
  
  

 .acc_trigger > a::after {
    right: 0px!important;
}
 .acc_trigger > a:focus::after {
    content: "\002d";
    font-size: 30px;
}
  
  
  .acc_trigger > a {
    background: transparent;
    position: relative;
    padding: 10px;
    color: #000!important;
    font-size: 15px!important;
    border-bottom: 1px solid #ededed;
    text-align: left;
    display: block;
    cursor: pointer;
    width: 100%;
    outline: none;
    text-transform: initial;
    min-height: auto;
    height: auto;
    line-height: inherit;
    font-weight: normal;
    /* font-family: Montserrat, sans-serif; */
    font-style: normal;
    box-shadow: none;
    border-radius: 0px;
   
}
  
</style>
<script>
$(function () {
    $('.acc_trigger a').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        $(this).closest('.acc_trigger').next('.acc_container').stop().slideDown();
        return false;
    })

    $('.expand').click(function () {
        $('.acc_trigger').closest('.acc_trigger').next('.acc_container').slideDown();
        return false;
    })

    $('.collapse').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        return false;
    })
});
</script>

