<div>
 
   
             <h2 class="heading_description" style="text-align:center;">Frequently Asked Questions</h2>
        
        </div>


<dl>
<div class=".faqAccordion .faqAccordion2">
    <dt class="acc_trigger specic_tab"><a href="#toggle1">Which mixer grinder is good for home?</a></dt>
    <dd class="acc_container specic_tab">
        <div class="block">Wattage, rotational speed (RPM), and quality of blades are the
three important aspects you should focus on while choosing a
mixer. Higher wattage is useful for grinding tougher ingredients
and at a faster speed. The RPM of a mixer grinder will tell you
how fast its blades rotate. Blades in the mixer do all the work so
their quality matters.
Wonderchef Nutri-blend is a powerful 600 watt, 22000 RPM
motor that can grind the toughest ingredients with ease. Its
blades are made from surgical grade, corrosion-resistant
stainless steel which means they'll retain their sharpness for a
longer period of time.

</div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle2">Can a mixer grinder run on an inverter?</a></dt>
    <dd class="acc_container">
        <div class="block">Mixer-grinders can run on true sine wave inverters. However, it
is not advisable to run high-wattage mixers-grinders on the
inverters as they'll drain the battery faster.
Wonderchef Nutri-blend, with its efficient 600-watt motor, can
be safely used even with regular inverters.

</div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle3">Can a mixer grinder be used as a juicer?</a></dt>
    <dd class="acc_container">
        <div class="block">You can prepare juices with a mixer grinder using the juice filter
attachment. Nutri-blend CKM comes with a big jar of 1.2 Ltr
capacity with a juice filter to help extract healthy juices from
almost all fruits and vegetables
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle4">What is the ideal wattage for a mixer grinder?</a></dt>
    <dd class="acc_container">
        <div class="block">Domestic mixer-grinders that come in various capacities from
250 Watts to 1000 Watts and you should choose it based on
usage. Higher wattage is ideal for grinding tougher ingredients
and at a faster speed. However, the performance also depends
on the size of the jars - the smaller the jars the better and faster
the output.
Nutri-blend with its industry-leading engineering and design
has an optimal combination of jar sizes and power and hence
it's superior to many high-powered mixer-grinders with its 400
Watt motor and much more energy-efficient too. What gives
Nutri-blend the edge is its speed of 22,000 RPM which creates
enough power to break down all types of ingredients. A normal
mixer, on the other hand, operates at only 10,000 RPM.


</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle5">Why are mixer jars made of steel, making it impossible to see the ingredients inside?</a></dt>
    <dd class="acc_container">
        <div class="block">Mixers run at a high speed putting a lot of pressure on the jars.
Hence, most mixers have steel jars. Our consumer research
shows that people would like to see the status of the
ingredients inside while in operation. This is why Nutri-blend
was specially designed with transparent but unbreakable
polycarbonate jars that last you for years while enabling you to
see inside.
 </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle6">Are jars of Nutri-blend strong enough?</a></dt>
    <dd class="acc_container">
        <div class="block">Nutri-blend jars are made of unbreakable polycarbonate which
is food safe. They last for years without cracking or breaking.
Moreover, the special lid that comes with the product converts
them into a storage jar.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle7">How does the mixer grinder work?</a></dt>
    <dd class="acc_container">
        <div class="block">When you start the mixer grinder, the motor begins to turn the
blades. This spinning of the blades sets the ingredients in a
circular motion which creates a vacuum at the center. This
displaces the contents towards the axis (and rotating blades)
while the whirling motion forces them up on the sides. This
turns the ingredients into a smooth, consistent paste.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle8">Where to buy Nutri-blend?</a></dt>
    <dd class="acc_container">
        <div class="block">Apart from wonderchef.com, Nutri-blend is available across all
the leading online platforms and retail outlets throughout the
country.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle9">Can I buy a Wonderchef Nutri-blend mixer-grinder in the USA?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes. You can purchase the USA compatible 110V variant of
Nutri-blend from amazon.com
 </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle10">How to operate Wonderchef Nutri-Blend?</a></dt>
    <dd class="acc_container">
        <div class="block">Unlike conventional mixer-grinders with switches for speed
control that need frequent maintenance, Wonderchef
Nutri-blend operates on the principle of plug and play for ease
of use. Since the jars are transparent, you can control the end
result by deciding when to stop.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle11">Can Wonderchef Nutri-Blend be used for dry grinding?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes. With the powerful 400 Watt motor and specially designed
jar with 300ml capacity and 2-wing surgical grade stainless steel
flat blade Nutri-blend gives you one of the best grinding
performances be it Indian dry masalas with tougher ingredients
or chutneys that require wet grinding. In fact, this machine can
grind even a single peppercorn within 3 seconds whereas, in a
normal mixer, it just keeps rotating round and round.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle12">Why do mixers leak?</a></dt>
    <dd class="acc_container">
        <div class="block">When the ingredients rotate at a fast speed, they're thrown up
due to centrifugal force. This is why, in normal mixers you need
to hold the lid in place to avoid the splatter. Wonderchef
Nutri-blend has been designed keeping your convenience in mind. Its unique inverted design screws the lid safely to the
base with zero chance of the food spilling out. This hands-free
design ensures that you do not need to keep your hand on the
lid or the base.
 </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle13">Why does Nutri-Blend not have a handle?</a></dt>
    <dd class="acc_container">
        <div class="block">The jars of Nutri-blend are ergonomically designed to easily fit
the user's hand. Hence the small jars do not have a handle. It
also makes it convenient to screw the base into the jar. However for additional convenience, the mixing jar does come with handle. 
 </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle14">Do I need to have a full jar for it to operate?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef Nutri-blend is designed keeping the Indian
kitchens in mind. It gives perfect output irrespective of the load
and you can operate it even for smaller quantities.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle15">Can it be used for dosa batter and also for chutneys?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef Nutri-blend is the perfect companion for making healthy chutneys in no time. However it is NOT recommended for preparing batter for Idli and dosa.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle16">How to clean Nutri-Blend?</a></dt>
    <dd class="acc_container">
        <div class="block">Cleaning Nutri-blend is a hassle-free process. Post usage, power
off and unplug the base and then unscrew the base from the
jar. Rinse the blades and cup with either warm or normal soap
water. It can be done either by sponge or hands. For best,
long-term performance, ensure you clean your Nutri-blend as
soon as possible post usage.
 </div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle17">Can I use more jars with Nutriblend?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef Nutri-blend has been designed with you in mind.
It’s an all-in-one system that allows you to easily add a chopper,
food processor, juicer, bigger jar for your different needs that
you can buy any of these accessories from wonderchef.com.
The base of the machine stays the same.
</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle18">Can Nutri-blend do everything that a regular mixer does?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes. Wonderchef Nutri-blend is designed keeping the Indian
kitchen and its varied needs in mind. You can use it for
smoothies, finely ground masalas, chutneys, chopped veggies,
etc. in no time. As this is an all-in-one device, you can keep
adding the chopper, juicer & food processor attachments
separately as per your needs.
</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle19">How does Nutri-blend compare with a regular mixer?</a></dt>
    <dd class="acc_container">
        <div class="block">Nutri-blend is the perfect combination of superior performance
and superb styling and is the best-selling mixer-grinder-blender
in India. Hence, it has become the most popular mixer-grinder
in India.
</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle20">What accessories come with Nutri-blend?</a></dt>
    <dd class="acc_container">
        <div class="block">This model of Wonderchef Nutri-blend comes with a motor
base, three jars (long, short and mixing), a set of 2 blades for grinding
(2-wing flatbed) and blending (4-wing), and two useful lids for
storing and sprinkling. Every customer also gets access to an exclusive recipe book that has been specially curated by the
renowned Chef Sanjeev Kapoor.
</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle21">Do you give additional spare blades?</a></dt>
    <dd class="acc_container">
        <div class="block">The additional set of blades can be purchased as and when
needed from wonderchef.com
</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle22">How do I get spares for Nutri-blend?</a></dt>
    <dd class="acc_container">
        <div class="block">You can buy the accessories and spares from wonderchef.com at an attractive price.
      </div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle23">How do I avail of the warranty?</a></dt>
    <dd class="acc_container">
        <div class="block">Nutri-blend comes with a reliable Wonderchef warranty that can be availed by calling our customer care helpline at 1860 266 0788 or by simply sending us ‘Hi’ via WhatsApp on +91 7070595959
      </div>
    </dd>
 <!-- <dt class="acc_trigger specic_tab"><a href="#toggle24">What is covered in the warranty?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef Nutri-blend comes with an industry-leading 2-year standard warranty that covers the manufacturing defects. It includes onsite repairs by trained service engineers at your own home for your complete peace of mind. For more details, click here.
      </div>
    </dd>-->
  
</div>
</dl>


<style>
  
  
  .acc_trigger > a:hover, .acc_trigger > a:focus {
    background: #ededed;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
   .faqAccordion2 > dt > a {
   
    color: #000!important;
    font-size:15px!important;
   
}
  .faqAccordion > dt > a:hover, .faqAccordion > dt > a:focus {
    background: #f7f7f7;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
  
  .acc_container {
    display: none;
    padding: 20px 0px;
}
  .acc_trigger > a::after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50.1%);
    -ms-transform: translateY(-50.1%);
    transform: translateY(-50.1%);
    right: 15px;
    font-size: 25px;
    content: "\002b";
    color: inherit;
}
  
  

 .acc_trigger > a::after {
    right: 0px!important;
}
 .acc_trigger > a:focus::after {
    content: "\002d";
    font-size: 30px;
}
  
  
  .acc_trigger > a {
    background: transparent;
    position: relative;
    padding: 10px;
    color: #000!important;
    font-size: 15px!important;
    border-bottom: 1px solid #ededed;
    text-align: left;
    display: block;
    cursor: pointer;
    width: 100%;
    outline: none;
    text-transform: initial;
    min-height: auto;
    height: auto;
    line-height: inherit;
    font-weight: normal;
    /* font-family: Montserrat, sans-serif; */
    font-style: normal;
    box-shadow: none;
    border-radius: 0px;
   
}
  
</style>
<script>
$(function () {
    $('.acc_trigger a').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        $(this).closest('.acc_trigger').next('.acc_container').stop().slideDown();
        return false;
    })

    $('.expand').click(function () {
        $('.acc_trigger').closest('.acc_trigger').next('.acc_container').slideDown();
        return false;
    })

    $('.collapse').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        return false;
    })
});
</script>

