<div>
 
   
             <h2 class="heading_description" style="text-align:center;">Frequently Asked Questions</h2>
        
        </div>


<dl>
<div class=".faqAccordion .faqAccordion2">
    <dt class="acc_trigger specic_tab"><a href="#toggle1">How many knives come in the set?</a></dt>
    <dd class="acc_container specic_tab">
        <div class="block">
          Razor Knife Block Set is a complete knife block set with a combination of straight and serrated knives for all your prepping needs. It is comprises of 5 different knives such as: 
          <ul><li>8” Chef’s Knife – All-purpose kitchen knife which can be used for chopping, mincing, slicing and dicing any ingredient. </li>
<li>8” Carving Knife – Ideal for slicing meat and fish.</li>
<li>8” Bread Knife – Serrated long bread knife for cutting all types of hard and soft breads.</li>
<li>5” Utility knife – Ideal for cutting vegetables and fruits.</li>
<li>3.5” paring knife – for peeling, trimming and other detailed work.</li>
          </ul>

</div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle2">Can I get the knives individually?</a></dt>
    <dd class="acc_container">
        <div class="block">
      You have to buy the complete Razor Knife Block Set which is a combination of 5 straight and serrated knives for all your prepping needs. The knife set comes with a beautiful block stand made of bamboo.</div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle3">What is the difference between a straight and serrated knife?</a></dt>
    <dd class="acc_container">
        <div class="block">Straight Knife has straight edge which is better for push cuts and gives smooth and clean cuts and that’s why it can be used on a variety of fruits, vegetables and meat etc. 
<br>Serrated knife is better for slicing cuts which requires to drag the edge of the knife back and forth over the object , it is used on breads, tomatoes etc.  
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle4">Does the set have a knife to cut meat?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, the Razor Knife Block Set has an 8”Carving Knife which is 2.5 mm thick and is ideal for slicing meat. Also the set has one 8” Chef’s Knife with 2.5 mm thickness which is an all-purpose knife and also can be used for chopping, mincing, slicing and dicing any ingredient.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle5">Can I cut cold chicken, lamb with a knife?</a></dt>
    <dd class="acc_container">
        <div class="block">You can cut cold chicken with the 8” Carving Knife but lamb meat will require more efforts. </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle6">Is there any warranty?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, Wonderchef offers 1 year warranty on rusting of the blades. </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle7">What are the sizes available?</a></dt>
    <dd class="acc_container">
        <div class="block">Razor Knife Block Set is comprises of 5 different knives such as:
          <ul><li>8” Chef’s Knife, blade thickness: 2.5mm</li>
<li>8” Carving Knife, blade thickness: 2.5mm</li>
<li>8” Bread Knife, blade thickness: 2.5mm</li>
<li>5” Utility knife, blade thickness: 2mm</li>
            <li>3.5” paring knife. Blade thickness: 2mm</li></ul>

      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle8">Do I get a chopping board with the knife set?</a></dt>
    <dd class="acc_container">
        <div class="block">Razor Knife Block Set is a complete set of knives with combination of total 5   straight and serrated knives which are essential for daily kitchen work. The knives come with a beautiful block stand made of pure bamboo.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle9">Are the blades stainless steel?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, the blades are anti-rust Stainless Steel.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle10">Is the whole knife stainless steel?</a></dt>
    <dd class="acc_container">
        <div class="block">The blades are anti- rust stainless steel contoured blades with forged construction. The knife comes with a beautiful handle made of real bamboo which doesn’t absorb odour and is easy to clean.</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle11">What material is the handle of the knife?</a></dt>
    <dd class="acc_container">
        <div class="block">The knife handles are made of real bamboo which doesn’t absorb odour and is easy to clean.</div>
    </dd>
  
   
  
</div>
</dl>


<style>
  
  
  .acc_trigger > a:hover, .acc_trigger > a:focus {
    background: #ededed;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
   .faqAccordion2 > dt > a {
   
    color: #000!important;
    font-size:15px!important;
   
}
  .faqAccordion > dt > a:hover, .faqAccordion > dt > a:focus {
    background: #f7f7f7;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
  
  .acc_container {
    display: none;
    padding: 20px 0px;
}
  .acc_trigger > a::after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50.1%);
    -ms-transform: translateY(-50.1%);
    transform: translateY(-50.1%);
    right: 15px;
    font-size: 25px;
    content: "\002b";
    color: inherit;
}
  
  

 .acc_trigger > a::after {
    right: 0px!important;
}
 .acc_trigger > a:focus::after {
    content: "\002d";
    font-size: 30px;
}
  
  
  .acc_trigger > a {
    background: transparent;
    position: relative;
    padding: 10px;
    color: #000!important;
    font-size: 15px!important;
    border-bottom: 1px solid #ededed;
    text-align: left;
    display: block;
    cursor: pointer;
    width: 100%;
    outline: none;
    text-transform: initial;
    min-height: auto;
    height: auto;
    line-height: inherit;
    font-weight: normal;
    /* font-family: Montserrat, sans-serif; */
    font-style: normal;
    box-shadow: none;
    border-radius: 0px;
   
}
  
</style>
<script>
$(function () {
    $('.acc_trigger a').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        $(this).closest('.acc_trigger').next('.acc_container').stop().slideDown();
        return false;
    })

    $('.expand').click(function () {
        $('.acc_trigger').closest('.acc_trigger').next('.acc_container').slideDown();
        return false;
    })

    $('.collapse').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        return false;
    })
});
</script>

