<div>
 
   
             <h2 class="heading_description" style="text-align:center;">Frequently Asked Questions</h2>
        
        </div>


<dl>
<div class=".faqAccordion .faqAccordion2">
    <dt class="acc_trigger specic_tab"><a href="#toggle1">How do I assess if my water bottle is safe for children? </a></dt>
    <dd class="acc_container specic_tab">
        <div class="block">Wonderchef uses high quality 304 SS that can withstand high corrosion in harsh and unforgiving environment and lasts a lifetime. This high-quality steel flask keeps the liquids safe for consumption for over a longer period, so it's ideal for regular use for children.
      </div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle2">Is this leak proof?</a></dt>
    <dd class="acc_container">
        <div class="block">Toss your bottle in your bag without worrying about spills or drips. The bottle features a leak-free lid for added spill protection.
      </div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle3">Can this bottle be used for storing & drinking hot water?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes will leak-free lid, and 304 stainless steel it is safe for storing and drinking hot water. 
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle4">How long can the water remain hot?</a></dt>
    <dd class="acc_container">
        <div class="block">Since its single wall, depending on usage condition it can retain hot water temperature for limited period.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle5">Is this single or double wall?</a></dt>
    <dd class="acc_container">
        <div class="block">This bottle has single wall.  
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle6">Is this bottle rust-free?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes it’s rust free as Wonderchef uses high quality 304 SS which is food grade.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle7">Is this bottle suitable for carrying juices?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, it is very safe to carry juices and baby food as well.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle8">Is it advisable to clean the bottle with some specific soap clean?</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef flasks should be cleaned regularly. We recommend washing your flask with warm water and regular soap after every use and drying and storing it with the lid off. This will help it look good and smell fresh. It does not require any specific soap. 
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle9">Is this bottle 100 percent food grade?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, Wonderchef bottles are made with food grade stainless steel and are 100 percent rust-free, durable, hygienic and 100 percent BPA-free. The BPA free bottles serve as a reassurance that the bottles are perfect for storing water and other beverages and safe for consumption later.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle10">My last bottle broke when it slipped from my hand. Is this bottle strong enough?</a></dt>
    <dd class="acc_container">
        <div class="block">Since it’s made of steel so there less chances of bottle breaking but we suggest to use it carefully.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle11">Can I pour soft drinks and carry this for my children?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes. You can also visit the product listing section page to see the demo videos. 
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle12">Does this bottle come with a warranty?
</a></dt>
    <dd class="acc_container">
        <div class="block">Yes. For SKU specific warranty specification, kindly visit the product description section.  
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle13">Is the bottle BPA free or not?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes the bottle is 100 percent BPA-free, non-toxic, non-leaching. The BPA free bottles serve as a reassurance that the bottles are perfect for storing water and other beverages and safe for consumption later.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle14">How many years can this bottle last with daily usage?
</a></dt>
    <dd class="acc_container">
        <div class="block">Depending on usage and other conditions, this stainless steel bottle will last very long, unless the damage happens to the container or lid making it unusable.
      </div>
    </dd>

  
</div>
</dl>


<style>
  
  
  .acc_trigger > a:hover, .acc_trigger > a:focus {
    background: #ededed;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
   .faqAccordion2 > dt > a {
   
    color: #000!important;
    font-size:15px!important;
   
}
  .faqAccordion > dt > a:hover, .faqAccordion > dt > a:focus {
    background: #f7f7f7;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
  
  .acc_container {
    display: none;
    padding: 20px 0px;
}
  .acc_trigger > a::after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50.1%);
    -ms-transform: translateY(-50.1%);
    transform: translateY(-50.1%);
    right: 15px;
    font-size: 25px;
    content: "\002b";
    color: inherit;
}
  
  

 .acc_trigger > a::after {
    right: 0px!important;
}
 .acc_trigger > a:focus::after {
    content: "\002d";
    font-size: 30px;
}
  
  
  .acc_trigger > a {
    background: transparent;
    position: relative;
    padding: 10px;
    color: #000!important;
    font-size: 15px!important;
    border-bottom: 1px solid #ededed;
    text-align: left;
    display: block;
    cursor: pointer;
    width: 100%;
    outline: none;
    text-transform: initial;
    min-height: auto;
    height: auto;
    line-height: inherit;
    font-weight: normal;
    /* font-family: Montserrat, sans-serif; */
    font-style: normal;
    box-shadow: none;
    border-radius: 0px;
   
}
  
</style>
<script>
$(function () {
    $('.acc_trigger a').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        $(this).closest('.acc_trigger').next('.acc_container').stop().slideDown();
        return false;
    })

    $('.expand').click(function () {
        $('.acc_trigger').closest('.acc_trigger').next('.acc_container').slideDown();
        return false;
    })

    $('.collapse').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        return false;
    })
});
</script>

