<div>
 
   
             <h2 class="heading_description" style="text-align:center;">Frequently Asked Questions</h2>
        
        </div>


<dl>
<div class=".faqAccordion .faqAccordion2">
    <dt class="acc_trigger specic_tab"><a href="#toggle1">Is use of stainless steel for cooking healthy?</a></dt>
    <dd class="acc_container specic_tab">
        <div class="block">Wonderchef, stainless steel Stanton structure protects the underlying non-stick coating, creating a non-stick surface that is scratch-resistant, robust and long lasting. Wonderchef Stanton range is made with 304 stainless steel, which is anti-rust and non-porous for perfect hygiene and hence it is healthy for cooking.
      </div>
    </dd>
    
    <dt class="acc_trigger specic_tab"><a href="#toggle3">Is 3-ply stainless steel cookware better than the regular stainless steel cookware?</a></dt>
    <dd class="acc_container">
        <div class="block">Aluminium is an excellent conductor of heat far better than stainless steel standalone. It causes heat to diffuse all over the cookware uniformly. Tri-ply cookware only utilizes the heat conduction benefits of aluminium while making sure that food does not come in contact with it.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle4">Can I use a stainless steel cookware for everyday use?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, Wonderchef Nigella Tri-ply steel kadhai and other cookware is completely safe and can be used for everyday use.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle5">What spoon / spatula can I use for my stainless steel kadhai?
</a></dt>
    <dd class="acc_container">
        <div class="block">With Wonderchef 3-ply non-stick Stanton range you can use metal spoon as the non-stick honeycomb structures is metal spoon resistant. One can use a metal spatula on this tawa with ease. The unique stainless steel honeycomb structure protects the underlying non-stick coating creating a non-stick surface that is scratch-resistant, robust and long lasting 
      </div>
          </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle6">Is it pure stainless steel or mixed with aluminium?</a></dt>
    <dd class="acc_container">
        <div class="block">It is 3-ply full body for quick heating. The Steel-aluminium-Steel layers help save energy and prevents food from burning. The body is made of high-grade 304 stainless steel, which is anti-rust and non-porous for perfect hygiene. Virgin aluminium is used to cut the disc that would go on to become a world-class pan. We never use re-processed metal since it is invariably mixed with certain impurities that cannot be completely extracted. This leads to chemical reactions when the pan is heated over fire. The gases produced as a result rise up and puncture the non-stick surface creating micro-holes. The coating begins to tear precisely from these holes.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle7">Can I use this stainless steel cookware on induction and gas?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes the Stanton 3-ply is induction Friendly. The tawa has an induction compatible spiral bottom to work on induction as well as gas, electric and glass stove tops
 </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle8">Is there a lid for the kadhai?</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, Wonderchef non-stick kadhai is great for making delicious stir fry, pakoras, and curries at home. With its Stanton honeycomb structure, this is a perfect non Stick pan even for beginners. You can cook at home hassle-free without creating any mess. It is a versatile cooking vessel that lets you cook. </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle9">How to clean stainless-steel cookware?	</a></dt>
    <dd class="acc_container">
        <div class="block">The Wonderchef Stanton Non Stick range brightens your kitchen at home. Toss them in the dishwasher for cleaning convenience, or hand wash with gentle soap.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle10">What is the importance of honeycomb texture? Can I cook for 5 - 6 people in Honeycomb structure?</a></dt>
    <dd class="acc_container">
        <div class="block">The stainless steel honeycomb structure protects the underlying non-stick coating, creating a non-stick surface that is scratch resistant, robust & long lasting. Yes, you can cook for 5-6 people with Stanton Stainless Steel Non-Stick Kadhai With Lid- 24cm, 2L, 2.5mm</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle11">Is the stainless-steel kadhai heavy in weight?</a></dt>
    <dd class="acc_container">
        <div class="block">Due to its thickness 2.5mm and Steel-aluminium-Steel structure the Stanton 3-ply range is super sturdy and hence heavy in weight. 
</div>
    </dd>
  <dt class="acc_trigger specic_tab"><a href="#toggle12">Can I use stainless-steel cookware in the dishwasher and microwave? 
</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, It can be clean in dishwasher, but you can’t put stainless steel cookware in microwave.  </div>
    </dd>
    <dt class="acc_trigger specic_tab"><a href="#toggle12">What is the warranty period? And what is replaceable in warranty?
</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef Stainless Steel Products comes with an industry-leading 5-year standard warranty that covers the manufacturing defects. It includes onsite repairs by trained service engineers at your own home for your complete peace of mind. 
 </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle13">What is the thickness/ capacity?
</a></dt>
    <dd class="acc_container">
        <div class="block">Stanton Stainless Steel Non-Stick tri-ply has 2.5mm thickness. For SKU specific thickness specification, kindly visit the product description section. Capacity for some of the Stanton 3-ply range is as mentioned. Stanton Stainless Steel Non-Stick Kadhai With Lid- 24cm, 2 Litres, Stanton Stainless Steel Non-Stick Kadhai With Lid- 28cm, 3.4L, Stanton Stainless Steel Non-Stick Frying Pan, 24cm,1.2L and Stanton Stainless Steel Non-stick Dosa Tawa- 30cm </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle14">Can I re-heat food in a stainless-steel?
</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, one can use Stainless –steel Product for re-heat only on low flame 
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle15">Do I need to first warm the cookware before starting to cook?
</a></dt>
    <dd class="acc_container">
        <div class="block">Aluminium is inside which is better conductor of heat so there is no need to warm the cookware before starting to cook.
      </div>
    </dd>
    <dt class="acc_trigger specic_tab"><a href="#toggle16">What happens if my stainless-steel cookware heats up too much?
</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef stainless steel will turn reddish like any other stainless steel cookware when left on the high flame for a very long time. It will then take longer to clean and eventually it will not be easy to use it for a longer period. So it is important to use the stainless steel cookware with care. 
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle16">Does stainless-steel cookware cook food evenly?
</a></dt>
    <dd class="acc_container">
        <div class="block">The Steel-aluminium-Steel layers help to cook food evenly and prevent burning of food.
      </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle17">Is the stainless-steel pan sandwich bottom?
</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef Stainless steel entire product is sandwich with even layer from bottom and on side wall steel – aluminium –steel. The body is made of high-grade 304 stainless steel, which is anti-rust and non-porous for perfect hygiene.
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle18">Are these lead and nickel free?
</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, PFOA and PFOS free. Specific migration of chromium and heavy metal is well within limits. Specific migration of primary aromatic amines are well within limits as well.  
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle19">What grade of stainless-steel is in the cookware?
</a></dt>
    <dd class="acc_container">
        <div class="block"304 Stainless Steel. The body is made of high-grade 304 stainless steel, which is anti-rust and non-porous for perfect hygiene. </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle20">Does it get sticky at the bottom if I use less oil or ghee?
</a></dt>
    <dd class="acc_container">
        <div class="block">Depend upon the flame usually it won’t if used with lid, the adequate thickness and sandwich3 –ply Layer helps prevent stickiness. </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle21">Is it 3 - layer steel?
</a></dt>
    <dd class="acc_container">
        <div class="block">Yes it is, with steel-aluminium-steel layers. 304 Stainless Steel. The body is made of high-grade 304 stainless steel, which is anti-rust and non-porous for perfect hygiene. 
</div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle22">Is the fry pan suitable for deep frying?
</a></dt>
    <dd class="acc_container">
        <div class="block">Yes, but Wonderchef Stainless Steel kadhai 24cm & 28 cm is better option for deep frying. 
 </div>
    </dd>
   <dt class="acc_trigger specic_tab"><a href="#toggle23">How are the handles fixed? Are they riveted?	
</a></dt>
    <dd class="acc_container">
        <div class="block">Stanton 3-ply has stainless steel ergonomic handles, which are strongly riveted. These handles are designed to offer a firm and comfortable grip while cooking as well.  </div>
    </dd>
     <dt class="acc_trigger specic_tab"><a href="#toggle23">How do I avail of the warranty?	
	
</a></dt>
    <dd class="acc_container">
        <div class="block">Wonderchef warranty that can be availed by calling our customer care helpline at 1860 266 0788 or by simply sending us ‘Hi’ via WhatsApp on +91 7070595959
 </div>
    </dd>
</div>
</dl>


<style>
  
  
  .acc_trigger > a:hover, .acc_trigger > a:focus {
    background: #ededed;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
   .faqAccordion2 > dt > a {
   
    color: #000!important;
    font-size:15px!important;
   
}
  .faqAccordion > dt > a:hover, .faqAccordion > dt > a:focus {
    background: #f7f7f7;
    border: none;
    border-bottom: 1px solid #ededed;
    color: #000000;
}
  
  
  .acc_container {
    display: none;
    padding: 20px 0px;
}
  .acc_trigger > a::after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50.1%);
    -ms-transform: translateY(-50.1%);
    transform: translateY(-50.1%);
    right: 15px;
    font-size: 25px;
    content: "\002b";
    color: inherit;
}
  
  

 .acc_trigger > a::after {
    right: 0px!important;
}
 .acc_trigger > a:focus::after {
    content: "\002d";
    font-size: 30px;
}
  
  
  .acc_trigger > a {
    background: transparent;
    position: relative;
    padding: 10px;
    color: #000!important;
    font-size: 15px!important;
    border-bottom: 1px solid #ededed;
    text-align: left;
    display: block;
    cursor: pointer;
    width: 100%;
    outline: none;
    text-transform: initial;
    min-height: auto;
    height: auto;
    line-height: inherit;
    font-weight: normal;
    /* font-family: Montserrat, sans-serif; */
    font-style: normal;
    box-shadow: none;
    border-radius: 0px;
   
}
  
</style>
<script>
$(function () {
    $('.acc_trigger a').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        $(this).closest('.acc_trigger').next('.acc_container').stop().slideDown();
        return false;
    })

    $('.expand').click(function () {
        $('.acc_trigger').closest('.acc_trigger').next('.acc_container').slideDown();
        return false;
    })

    $('.collapse').click(function () {
        $('.acc_trigger').next('.acc_container').slideUp();
        return false;
    })
});
</script>

