<div id="accordion">
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569828417275">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569828417275" aria-expanded="true" aria-controls="1569828417275">
What is a coffee grinder?
                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569828417275" class="collapse" aria-labelledby="heading-1569828417275" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Wonderchef Regalia Coffee Grinder is the perfect appliance to give you fresh coffee powder for all kinds of
machines you may have at home or work. The size of the grounds can be customized depending on your
brewing method and personal preference, starting from the coarse ground of French Press or pour-over to
the finer grounds used in brew and 5-bar machine to the finest ones for 15 and 19-bar machines.
                    </p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569828878550">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569828878550" aria-expanded="true" aria-controls="1569828878550">
Why coffee grinding is better than buying pre-ground coffee?
                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569828878550" class="collapse" aria-labelledby="heading-1569828878550" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Whole coffee beans preserve their natural flavour and they produce fresh powder or ground which is rich
in taste and aroma. Coffee made from such ground is richer, accentuating your coffee experience. 
Pre-ground coffee, on the other hand, loses the richness of flavour and aroma quickly with interaction with
air, humidity and sunlight. Hence freshly ground coffee is always a preferred option.
                    </p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569828968822">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569828968822" aria-expanded="true" aria-controls="1569828968822">
What is a Burr Grinder?
                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569828968822" class="collapse" aria-labelledby="heading-1569828968822" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
A burr is a grinding wheel that crushes the beans to a uniform size as per the setting you choose. A uniform
size is essential for creating an awesome coffee experience. There are two different burr grinders, conical
or flat plate. Wonderchef Regalia Coffee Grinder uses a conical burr for maximum efficiency. It is better
than simply crushing the beans in a high-speed mixer-grinder with blades as that causes oxidation and loss
of taste. Moreover one cannot control the size of the grounds in a normal mixer.
</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569829479298">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569829479298" aria-expanded="true" aria-controls="1569829479298">
Why there are so many grind options in the machine? Why coffee ground size is so important?
                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569829479298" class="collapse" aria-labelledby="heading-1569829479298" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Based on the choice of the machine, grind-size affects the flavour and texture of the coffee. It makes all the
difference between a flavourful coffee and a tasteless, bland or overly bitter one. A coarse grind is best for
a French Press brewer, with a sea salt texture. Cold brew works best with an extra coarse grind size
mirroring peppercorns. Medium ground size works best for pour-over coffees and espresso tastes best in
finely ground coffee beans. And superfine coffee grounds are often used for Turkish coffee. Wonderchef
coffee grinder gives you all choices.
                  </p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830261920">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830261920" aria-expanded="true" aria-controls="1569830261920">
How do I use this coffee grinder?
                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830261920" class="collapse" aria-labelledby="heading-1569830261920" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
It is very easy to operate Wonderchef Regalia Coffee Grinder. Follow the steps below to get the perfect
ground coffee <br>
Step 1: Add coffee beans to the container <br>
Step 2: Rotate the basket to adjust the texture or ground-size <br>
Step 3: Rotate the knob to adjust no. of cups <br>
Step 4: Enjoy freshly grounded coffee <br>
                    </p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830303138">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830303138" aria-expanded="true" aria-controls="1569830303138">
How long can I leave the beans in a coffee grinder?               
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830303138" class="collapse" aria-labelledby="heading-1569830303138" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Generally, coffee beans in crushed /half-crushed form get stale after three days. So consider emptying
grinders after 3 days. Using beans as per your coffee ground requirement is key. As a benchmark, typically
8 to 10 gms of coffee beans are needed for 1 espresso shot. One spoonful is about 5 gms of beans.                
</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830330055">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830330055" aria-expanded="true" aria-controls="1569830330055">
What is the total capacity of the bean basket?
                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830330055" class="collapse" aria-labelledby="heading-1569830330055" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
The total capacity of the bean basket is 200 grams. The powder cup can store 120g powder.
                  </p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830354345">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830354345" aria-expanded="true" aria-controls="1569830354345">
Does this machine have an auto-stop feature?
                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830354345" class="collapse" aria-labelledby="heading-1569830354345" data-parent="#accordion">
                <div class="card-body">                  
                    <p>
Yes, Regalia Coffee Grinder has an auto-stop feature. It will stop automatically once the desired amount of
powder in the chosen setting has been crushed and dispensed.
                  </p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830380421">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830380421" aria-expanded="true" aria-controls="1569830380421">
How to clean this grinder? How much grounds is left in the machine after running it?
                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830380421" class="collapse" aria-labelledby="heading-1569830380421" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
It is very easy to clean the grinder after use. Remove the upper grinding wheel and sweep with brush. Keep
the machine idle for 1 minute before starting it again.
</p>
                </div>
            </div>
        </div>
    
        <div class="card card-2">
            <div class="card-header" id="heading-1569830404635">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404635" aria-expanded="true" aria-controls="1569830404635">
Does this machine make a noise while grinding?
                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404635" class="collapse" aria-labelledby="heading-1569830404635" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
The grinder makes a low noise while grinding the beans which is common with all grinders.
                    </p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404636">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404636" aria-expanded="true" aria-controls="1569830404636">
Do the settings reset when unplugged or power is lost?
                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404636" class="collapse" aria-labelledby="heading-1569830404636" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
The settings in this grinder are mechanical and do not change unless the basket or the dial are rotated
manually.
                  </p>
                </div>
            </div>
        </div>


  <div class="card card-2">
            <div class="card-header" id="heading-1569830404637">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404637" aria-expanded="true" aria-controls="1569830404637">
What is the max capacity of beans that can be ground in this machine?
                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404637" class="collapse" aria-labelledby="heading-1569830404637" data-parent="#accordion">
                <div class="card-body">                
                    <p>
Wonderchef Regalia Coffee Grinder can grind 200g of coffee beans in one cycle.
                  </p>
                </div>
            </div>
        </div>


  <div class="card card-2">
            <div class="card-header" id="heading-1569830404638">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404638" aria-expanded="true" aria-controls="1569830404638">
Will it grind nuts into flour?
                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404638" class="collapse" aria-labelledby="heading-1569830404638" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
No, this is a coffee grinder and should be used to grind coffee beans only. Using nuts or any other
ingredient except coffee may dull the burr grinder affecting the output permanently.
                  </p>
                </div>
            </div>
        </div>
  <div class="card card-2">
            <div class="card-header" id="heading-1569830404639">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404639" aria-expanded="true" aria-controls="1569830404639">
Is this coffee grinder suitable as a gift?
                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404639" class="collapse" aria-labelledby="heading-1569830404639" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Yes with compact size and stellar performance this Regalia Coffee Grinder is the perfect gift. It is unique,
and speaks of your refined taste in the growing coffee market.
                    </p>
                </div>
            </div>
        </div>

  <div class="card card-2">
            <div class="card-header" id="heading-1569830404640">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404640" aria-expanded="true" aria-controls="1569830404640">
Can I use the coffee powder container to store coffee powder?
                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404640" class="collapse" aria-labelledby="heading-1569830404640" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
Yes, just use the lid on top to seal the flavour and aroma the coffee powder.
                  </p>
                </div>
            </div>
        </div>
 <div class="card card-2">
            <div class="card-header" id="heading-1569830404641">
                <button class="title collapsed" data-toggle="collapse" data-target="#1569830404641" aria-expanded="true" aria-controls="1569830404641">
           What is the warranty? And how to reach our customer support?

                </button>
                
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewbox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
            </div>
            <div id="1569830404641" class="collapse" aria-labelledby="heading-1569830404641" data-parent="#accordion">
                <div class="card-body">
                    
                    <p>
                      This Wonderchef Regalia Fully Automatic Coffee Maker has a 2-year warranty.<br>
On Whatsapp just say ‘Hi’ on +91 7070595959 for after-sales service and our team will be happy to assist
you.
</p>
                </div>
            </div>
        </div>

 
</div>

