{% if settings.display_gdpr %}

<div id="accept-cookies" class="cookieMessage hide" {% if settings.display_gdpr_mb %}cookieMessage-mb{% endif %}> 
    <div class="block-cookies">
        <div class="des">
            {{ settings.gdpr_content }}
        </div>

        {% if settings.gdpr_privacy_policy_text != blank or settings.gdpr_accept_cookies_text != blank %}
        <div class="group-action-links">
            {% if settings.gdpr_accept_cookies_text != blank %}
            <a href="#" class="notification-cookies accept_cookies_link" aria-label="link" data-accept-cookie>
                {{ settings.gdpr_accept_cookies_text }}
            </a>
            {% endif %}
            {% if settings.gdpr_privacy_policy_text != blank %}
            <a target="_blank" href="{{ settings.gdpr_privacy_policy_link }}" aria-label="link" class="notification-cookies privacy-link">
                {{ settings.gdpr_privacy_policy_text }}
            </a>
            {% endif %}
        </div>
        {% endif %}
    </div>   
</div>
{% endif %}