
    <div class="modal fade halo_modal" id="popup_form" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    {% if section.settings.custom_size_chart_header != blank %}
                        <h5 class="modal-title">
                           Book A Demo
                        </h5>
                    {% endif %}
                    <a data-dismiss="modal" class="close close-modal" href="javascript:void(0)">&#215;</a>
                </div>
               
                <div class="modal-body">
                    <div style="margin:0 auto;" class="pxFormGenerator" id="s91IHf1Dl14pFAOv-KuOmQ"></div>  
                </div>
            </div>
        </div>
    </div>
