{% if settings.show_product_quickview %}
    <div class="modal fade halo_modal" id="product_quickview" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-quickview">
            <div class="modal-content">
                <div class="modal-body">
                    <a data-dismiss="modal" class="close close-modal" href="javascript:void(0)">&#215;</a>
                    <div class="product_template"></div>
                </div>
            </div>
        </div>
    </div>
{% endif %}