<div class="container">
    {% render 'breadcrumb' %}
    <div class="page page-product-detail">
        {% section 'sidebar-collection' %}
        <div class="page-content">
            {% section 'product-template-3' %}
            {% section 'frequently-by-together' %}
            {% section 'tab-horizontal' %}
            {% section 'product-recommendations' %}
        </div>
    </div>
</div>
{% section 'recently-viewed-products' %}