<div class="container">
    {% render 'breadcrumb' %}
    <div class="page page-product-detail">
        <div class="page-content">
            {% section 'product-template-2' %}
            {% section 'frequently-by-together-2' %}
            <div class="product-desciption-wrapper-2">
                {% section 'tab-vertical' %}
                {% section 'product-recommendations' %}
            </div>
        </div>
    </div>
</div>
{% section 'recently-viewed-products' %}