<style>
  .supplier-name p {
    font-weight: 500;
    text-transform: none;
    font-size: 13px;
    margin-bottom: 0;
    padding-bottom: 0;
}
  .supplier-name p {
    margin-bottom: 0;
}
  
</style>
<hr class="clearfix">
<div class="table-content-wrapper">
<div class="supplier-name sixteen columns table-content">
 <table width="100%">
    <tbody> 
{% if product.tags contains 'IS-1' %}
  
  <tr>
   <td width="50%"><p>Marketed by: <br>Name & Registered Office Address:</p> </td>
  <td width="50%">
  <p>Wonderchef Home Appliances Pvt. Ltd.</p>
   <p> B-Wing, Supreme Business Park, Unit No. 303,</p>
   <p> 3rd floor, Hiranandani Gardens, Powai,</p>
   <p> Mumbai, Maharashtra 400076</p>
   </td>
  </tr>
  <tr>
  <td width="50%"><p>Name & address of Manufacturer:</p></td>
  <td width="50%"><p>(For Wonderchef Home Appliances Pvt. Ltd.)</p><p>Global Enterprises,Fact, Plot No. 1&2, G.No. 741/P, Hissa No. 5, Satpali Rd Village Shir, Thane, Maharashtra</p>
  <p>Pmb Enterprises,Dabua Pali Road, Near Sakshi Dharam Kanta,
Faridabad, 121001
  </p>
  <p>Sanjay Industries,G-12, Sector-4, Bawana Industrial Area, Near Ganga Toli Mandir 10039 Delhi</p>
   
   </td>
  </tr>

{% elsif  product.tags contains 'IS-2' %}
 
 <tr>
   <td width="50%"><p>Marketed by: <br>Name & Registered Office Address:</p> </td>
  <td width="50%">
  <p>Wonderchef Home Appliances Pvt. Ltd.</p>
   <p> B-Wing, Supreme Business Park, Unit No. 303,</p>
   <p> 3rd floor, Hiranandani Gardens, Powai,</p>
   <p> Mumbai, Maharashtra 400076</p>
   </td>
  </tr>
  <tr>
  <td width="50%">
  <p>Name & address of Manufacturer:</p></td>
  <td width="50%"><p>(For Wonderchef Home Appliances Pvt. Ltd.)</p>
<p>Shinag Allied Enterprises Private Limited
Shed No.1, Khata No.141/117/A, Sy No.215/4,
Gabbadi Village, Harohalli Hobli, Ramanagar Dist,
  Kanakpura Taluk,Bengaluru, Karnataka - 562112</p>
 
 </td>
  </tr>

{%elsif  product.tags contains 'IS-3' %}

  <tr>
   <td width="50%"><p>Marketed by: <br>Name & Registered Office Address:</p> </td>
  <td width="50%">
  <p>Wonderchef Home Appliances Pvt. Ltd.</p>
   <p> B-Wing, Supreme Business Park, Unit No. 303,</p>
   <p> 3rd floor, Hiranandani Gardens, Powai,</p>
   <p> Mumbai, Maharashtra 400076</p>
   </td>
  </tr>
  <tr>
  <td width="50%">
  <p>Name & address of Manufacturer:</p></td>
  <td width="50%"><p>(For Wonderchef Home Appliances Pvt. Ltd.)</p>
  <p>Sanjay Industries,G-12, Sector-4, Bawana Industrial Area, Near Ganga Toli Mandir 10039 Delhi</p>
  <p>Pmb Enterprises,Dabua Pali Road, Near Sakshi Dharam Kanta,
Faridabad, 121001
  </p>
  </td>
  </tr>

{%elsif  product.tags contains 'IS-4' %}

 <tr>
   <td width="50%"><p>Marketed by: <br>Name & Registered Office Address:</p> </td>
  <td width="50%">
  <p>Wonderchef Home Appliances Pvt. Ltd.</p>
   <p> B-Wing, Supreme Business Park, Unit No. 303,</p>
   <p> 3rd floor, Hiranandani Gardens, Powai,</p>
   <p> Mumbai, Maharashtra 400076</p>
   </td>
  </tr>
  <tr>
  <td width="50%">
  <p>Name & address of Manufacturer:</p>
  </td>
  <td width="50%"><p>(For Wonderchef Home Appliances Pvt. Ltd.)</p>
<p>My Choice Home Appliances,C1b, 29/3 Gidc Antalia
Bilimora
Dist - Navsari
Gujarat
  </p> 
  </td>
  </tr>

{%elsif  product.tags contains 'IS-5' %}

  <tr>
   <td width="50%"><p>Marketed by: <br>Name & Registered Office Address:</p> </td>
  <td width="50%">
  <p>Wonderchef Home Appliances Pvt. Ltd.</p>
   <p> B-Wing, Supreme Business Park, Unit No. 303,</p>
   <p> 3rd floor, Hiranandani Gardens, Powai,</p>
   <p> Mumbai, Maharashtra 400076</p>
   </td>
  </tr>
  <tr>
  <td width="50%">
  <p>Name & address of Manufacturer:</p></td>
  <td width="50%"><p>(For Wonderchef Home Appliances Pvt. Ltd.)</p>
  <p>Mr Metal Industries,Plot No. B-1 Sec A-7 Tronica City Tronica City Ghaziabad 201102 Uttar Pradesh</p>
   </td>
  </tr>

{%elsif  product.tags contains 'IS-6' %}

 <tr>
   <td width="50%"><p>Marketed by: <br>Name & Registered Office Address:</p> </td>
  <td width="50%">
  <p>Wonderchef Home Appliances Pvt. Ltd.</p>
   <p> B-Wing, Supreme Business Park, Unit No. 303,</p>
   <p> 3rd floor, Hiranandani Gardens, Powai,</p>
   <p> Mumbai, Maharashtra 400076</p>
   </td>
  </tr>
  <tr>
  <td width="50%">
  <p>Name & address of Manufacturer:</p></td>
  <td width="50%"><p>(For Wonderchef Home Appliances Pvt. Ltd.)</p>
<p>Kiran Cookware Private Limited,1st Floor, Plot No-107, Pkt-J, Sec-4, Dsidc Bawana,
North West Delhi, Delhi, 110039
  </p> 
  </td>
  </tr>

{%elsif  product.tags contains 'IS-7' %}

 <tr>
   <td width="50%"><p>Marketed by: <br>Name & Registered Office Address:</p> </td>
  <td width="50%">
  <p>Wonderchef Home Appliances Pvt. Ltd.</p>
   <p> B-Wing, Supreme Business Park, Unit No. 303,</p>
   <p> 3rd floor, Hiranandani Gardens, Powai,</p>
   <p> Mumbai, Maharashtra 400076</p>
   </td>
  </tr>
  <tr>
  <td width="50%">
  <p>Name & address of Manufacturer:</p>
  </td>
  <td width="50%"><p>(For Wonderchef Home Appliances Pvt. Ltd.)</p>
<p>Kiran Industries,D-287 & 288, Sector-5, Bawana Industrial Area
New Delhi, 110039
  </p>
   
   </td>
  </tr>

{%elsif  product.tags contains 'IS-8' %}

  <tr>
   <td width="50%"><p>Marketed by: <br>Name & Registered Office Address:</p> </td>
  <td width="50%">
  <p>Wonderchef Home Appliances Pvt. Ltd.</p>
   <p> B-Wing, Supreme Business Park, Unit No. 303,</p>
   <p> 3rd floor, Hiranandani Gardens, Powai,</p>
   <p> Mumbai, Maharashtra 400076</p>
   </td>
  </tr>
  <tr>
  <td width="50%">
  <p>Name & address of Manufacturer:</p>
  </td>
  <td width="50%"><p>(For Wonderchef Home Appliances Pvt. Ltd.)</p>
<p>Viral Non Stick Coating Pvt. Ltd,Plot No. E 28/2, Addl Ambernath East, Distt Thane, Ambernath
Pin - 421506, Maharashtra
  </p>
  <p>Kiran Industries,D-287 & 288, Sector-5, Bawana Industrial Area
New Delhi, 110039
  </p>
   </td>
  </tr>

{%elsif  product.tags contains 'IS-9' %}

 <tr>
   <td width="50%"><p>Marketed by: <br>Name & Registered Office Address:</p> </td>
  <td width="50%">
  <p>Wonderchef Home Appliances Pvt. Ltd.</p>
   <p> B-Wing, Supreme Business Park, Unit No. 303,</p>
   <p> 3rd floor, Hiranandani Gardens, Powai,</p>
   <p> Mumbai, Maharashtra 400076</p>
   </td>
  </tr>
  <tr>
  <td width="50%">
  <p>Name & address of Manufacturer:</p>
  </td>
  <td width="50%"><p>(For Wonderchef Home Appliances Pvt. Ltd.)</p>
<p>Viral Non Stick Coating Pvt. Ltd,Plot No. E 28/2, Addl Ambernath East, Distt Thane, Ambernath
Pin - 421506, Maharashtra
  </p>
   </td>
  </tr>

{%elsif  product.tags contains 'IS-10' %}

  <tr>
   <td width="50%"><p>Marketed by: <br>Name & Registered Office Address:</p> </td>
  <td width="50%">
  <p>Wonderchef Home Appliances Pvt. Ltd.</p>
   <p> B-Wing, Supreme Business Park, Unit No. 303,</p>
   <p> 3rd floor, Hiranandani Gardens, Powai,</p>
   <p> Mumbai, Maharashtra 400076</p>
   </td>
  </tr>
  <tr>
  <td width="50%">
  <p>Name & address of Manufacturer:</p>
  </td>
  <td width="50%"><p>(For Wonderchef Home Appliances Pvt. Ltd.)</p>
  <p>Suraj Industries,Pipaliya Hall Road Atika Industrial Area Rajkot,360002</p>
 
   </td>
  </tr>

{%elsif  product.tags contains 'IS-11' %}

  <tr>
   <td width="50%"><p>Marketed by: <br>Name & Registered Office Address:</p> </td>
  <td width="50%">
  <p>Wonderchef Home Appliances Pvt. Ltd.</p>
   <p> B-Wing, Supreme Business Park, Unit No. 303,</p>
   <p> 3rd floor, Hiranandani Gardens, Powai,</p>
   <p> Mumbai, Maharashtra 400076</p>
   </td>
  </tr>
  <tr>
  <td width="50%">
  <p>Name & address of Manufacturer:</p>
  </td>
  <td width="50%"><p>(For Wonderchef Home Appliances Pvt. Ltd.)</p>
  <p>Nandini Kitchen Appliances Pvt.Ltd.,301,3rd floor Floor, Gajanan Avenue, Cross Lane No.3 Old
Pandit Colony,Nashik-422002</p>
   
   </td>
  </tr>

{%elsif  product.tags contains 'IS-12' %}

  <tr>
   <td width="50%"><p>Marketed by: <br>Name & Registered Office Address:</p> </td>
  <td width="50%">
  <p>Wonderchef Home Appliances Pvt. Ltd.</p>
   <p> B-Wing, Supreme Business Park, Unit No. 303,</p>
   <p> 3rd floor, Hiranandani Gardens, Powai,</p>
   <p> Mumbai, Maharashtra 400076</p>
   </td>
  </tr>
  <tr>
  <td width="50%">
  <p>Name & address of Manufacturer:</p>
  </td>
  <td width="50%"><p>(For Wonderchef Home Appliances Pvt. Ltd.)</p>
<p>Adinath Engineering Co,501 Tarangan Building ,V.P Road,
Near Smpr School,Mulund West , Mumbai- 400080
  </p>
 </td>
  </tr>

{%elsif  product.tags contains 'IS-13' %}

  <tr>
   <td width="50%"><p>Marketed by: <br>Name & Registered Office Address:</p> </td>
  <td width="50%">
  <p>Wonderchef Home Appliances Pvt. Ltd.</p>
   <p> B-Wing, Supreme Business Park, Unit No. 303,</p>
   <p> 3rd floor, Hiranandani Gardens, Powai,</p>
   <p> Mumbai, Maharashtra 400076</p>
   </td>
  </tr>
  <tr>
  <td width="50%">
  <p>Name & address of Manufacturer:</p>
  </td>
  <td width="50%"><p>(For Wonderchef Home Appliances Pvt. Ltd.)</p>
  <p>Plast O Pack (I)
Unicon Industrial Park, 
Building No.1, Unit No. -
1&2, Tungar Phata, Vasai Highway, Sativali,Vasai E
Navi Mumbai, 400614

  </p>
   </td>
  </tr>

{%elsif  product.tags contains 'IS-14' %}

  <tr>
   <td width="50%"><p>Marketed by: <br>Name & Registered Office Address:</p> </td>
  <td width="50%">
  <p>Wonderchef Home Appliances Pvt. Ltd.</p>
   <p> B-Wing, Supreme Business Park, Unit No. 303,</p>
   <p> 3rd floor, Hiranandani Gardens, Powai,</p>
   <p> Mumbai, Maharashtra 400076</p>
   </td>
  </tr>
  <tr>
  <td width="50%">
  <p>Name & address of Manufacturer:</p>
  </td>
  <td width="50%"><p>(For Wonderchef Home Appliances Pvt. Ltd.)</p>
  <p>Best Technologies,Khasra No.169 Village-Buranwala
P.O.Barotiwala,Tehsil Baddi, Distt-Solan (H.P)

  </p>
   </td>
  </tr>

{%elsif  product.tags contains 'IS-15' %}
<tr>
   <td width="50%"><p>Marketed by: <br>Name & Registered Office Address:</p> </td>
  <td width="50%">
  <p>Wonderchef Home Appliances Pvt. Ltd.</p>
   <p> B-Wing, Supreme Business Park, Unit No. 303,</p>
   <p> 3rd floor, Hiranandani Gardens, Powai,</p>
   <p> Mumbai, Maharashtra 400076</p>
   </td>
  </tr>
  <tr>
  <td width="50%">
  <p>Name & address of Manufacturer:</p></td>
  <td width="50%"><p>(For Wonderchef Home Appliances Pvt. Ltd.)</p>
  <p>Sangeeta Appliances,Palghar,Maharashtra-401404
  </p>
   </td>
  </tr>

{%elsif  product.tags contains 'IS-16' %}

 <tr>
   <td width="50%"><p>Marketed by: <br>Name & Registered Office Address:</p> </td>
  <td width="50%">
  <p>Wonderchef Home Appliances Pvt. Ltd.</p>
   <p> B-Wing, Supreme Business Park, Unit No. 303,</p>
   <p> 3rd floor, Hiranandani Gardens, Powai,</p>
   <p> Mumbai, Maharashtra 400076</p>
   </td>
  </tr>
  <tr>
    <td width="50%">
      <p>Name & address of Manufacturer:</p>
    </td>
    <td width="50%">
      <p>(For Wonderchef Home Appliances Pvt. Ltd.)</p>
      <p>Global Indutries,Plot No-2, Sector-53,Phase V, Hsiidc, Industrial Area,Kundli, Sonepat</p>

    </td>
  </tr>

{%elsif  product.tags contains 'IS-17' %}

  <tr>
   <td width="50%"><p>Marketed by: <br>Name & Registered Office Address:</p> </td>
  <td width="50%">
  <p>Wonderchef Home Appliances Pvt. Ltd.</p>
   <p> B-Wing, Supreme Business Park, Unit No. 303,</p>
   <p> 3rd floor, Hiranandani Gardens, Powai,</p>
   <p> Mumbai, Maharashtra 400076</p>
   </td>
  </tr>
  <tr>
  <td width="50%">
  <p>Name & address of Manufacturer:</p>
  </td>
  <td width="50%"><p>(For Wonderchef Home Appliances Pvt. Ltd.)</p>
  <p>Raj Marketing,12, Subbaiah  Naidu Thottam, Subramaniyar Udayar 
Street, Near Mahendra First Choice, Coimbatore-641039
  </p> 
  </td>
  </tr>

{%elsif  product.tags contains 'IS-18' %}

  <tr>
   <td width="50%"><p>Marketed by: <br>Name & Registered Office Address:</p> </td>
  <td width="50%">
  <p>Wonderchef Home Appliances Pvt. Ltd.</p>
   <p> B-Wing, Supreme Business Park, Unit No. 303,</p>
   <p> 3rd floor, Hiranandani Gardens, Powai,</p>
   <p> Mumbai, Maharashtra 400076</p>
   </td>
  </tr>
  <tr>
  <td width="50%">
  <p>Name & address of Manufacturer:</p></td>
  <td width="50%"><p>(For Wonderchef Home Appliances Pvt. Ltd.)</p>
  <p>Suvidha Appliances,Vill - Akkanwali, Po - Baddi, Teh. - Baddi, Distt. - Solan (Hp) Pin
Code - 173205
  </p> 
  </td>
  </tr>

{%elsif  product.tags contains 'IS-19' %}

  <tr>
   <td width="50%"><p>Marketed by: <br>Name & Registered Office Address:</p> </td>
  <td width="50%">
  <p>Wonderchef Home Appliances Pvt. Ltd.</p>
   <p> B-Wing, Supreme Business Park, Unit No. 303,</p>
   <p> 3rd floor, Hiranandani Gardens, Powai,</p>
   <p> Mumbai, Maharashtra 400076</p>
   </td>
  </tr>
  <tr>
  <td width="50%">
  <p>Name & address of Manufacturer:</p>
  </td>
  <td width="50%">
  <p>(For Wonderchef Home Appliances Pvt. Ltd.)</p>
  <p>Vardhman Electrical Appliances,118, Sector53, Phase-V, Kundli Industrial Area, Sonipat, Haryana,
131028
  </p> 
  </td>
  </tr>

{%elsif  product.tags contains 'IS-20' %}
<tr>
   <td width="50%"><p>Marketed by: <br>Name & Registered Office Address:</p> </td>
  <td width="50%">
  <p>Wonderchef Home Appliances Pvt. Ltd.</p>
   <p> B-Wing, Supreme Business Park, Unit No. 303,</p>
   <p> 3rd floor, Hiranandani Gardens, Powai,</p>
   <p> Mumbai, Maharashtra 400076</p>
   </td>
  </tr>
  <tr>
  <td width="50%">
  <p>Name & address of Manufacturer:</p></td>
  <td width="50%"><p>(For Wonderchef Home Appliances Pvt. Ltd.)</p>
  <p>Vardhman Electrical Appliances,No.6b, Kaidb Indl Area, 
Kumbalgodu 2nd Phase, 
Bangalore- 560074.
  </p>
   </td>
  </tr>

{%elsif  product.tags contains 'IS-21' %}

  <tr>
   <td width="50%"><p>Marketed by: <br>Name & Registered Office Address:</p> </td>
  <td width="50%">
  <p>Wonderchef Home Appliances Pvt. Ltd.</p>
   <p> B-Wing, Supreme Business Park, Unit No. 303,</p>
   <p> 3rd floor, Hiranandani Gardens, Powai,</p>
   <p> Mumbai, Maharashtra 400076</p>
   </td>
  </tr>
  <tr>
  <td width="50%">
  <p>Name & address of Manufacturer:</p></td>
  <td width="50%"><p>(For Wonderchef Home Appliances Pvt. Ltd.)</p>
  <p>Kwality Metal Industries,No.6b, Kaidb Indl Area, 
Kumbalgodu 2nd Phase, 
Bangalore- 560074.
  </p>
  <p>Copperking Home India Pvt. Ltd.,A/02, Grd Floor, Gloden Eagle Bldg, New Golden,Nest, Goddeo Bypass Road, Bhayander (East)
Thane, 401105
  </p>
   </td>
  </tr>

{%elsif  product.tags contains 'IS-22' %}
<tr>
   <td width="50%"><p>Marketed by: <br>Name & Registered Office Address:</p> </td>
  <td width="50%">
  <p>Wonderchef Home Appliances Pvt. Ltd.</p>
   <p> B-Wing, Supreme Business Park, Unit No. 303,</p>
   <p> 3rd floor, Hiranandani Gardens, Powai,</p>
   <p> Mumbai, Maharashtra 400076</p>
   </td>
  </tr>
  <tr>
  <td width="50%">
  <p>Name & address of Manufacturer:</p></td>
  <td width="50%"><p>(For Wonderchef Home Appliances Pvt. Ltd.)</p>
  <p>Shree Balaji Metal Industries,Plot No. 86, Survey No. 72, Dewan & Shah Estate, Opp. Dhuri Estate No.1, Gate No.2,
Waliv Phata, Sativali Road, Vasai (East)-401208: Palghar, Maharashtra, India.
  </p>
   </td>
  </tr>

{%elsif  product.tags contains 'IS-23' %}

  <tr>
   <td width="50%"><p>Marketed by: <br>Name & Registered Office Address:</p> </td>
  <td width="50%">
  <p>Wonderchef Home Appliances Pvt. Ltd.</p>
   <p> B-Wing, Supreme Business Park, Unit No. 303,</p>
   <p> 3rd floor, Hiranandani Gardens, Powai,</p>
   <p> Mumbai, Maharashtra 400076</p>
   </td>
  </tr>
  <tr>
  <td width="50%">
  <p>Name & address of Manufacturer:</p></td>
  <td width="50%"><p>(For Wonderchef Home Appliances Pvt. Ltd.)</p>
  <p>Chef Set Housewares Pvt Ltd,Gat No 6051,Pirangut,Mulshi,Pune,Maharashtra,412115</p>
 
  </td>
  </tr>

{%elsif  product.tags contains 'CHINA' or product.tags contains 'ENGLAND' or product.tags contains 'HONGKONG'  or  product.tags contains 'ITALY'  or  product.tags contains 'KOREA'  or product.tags contains 'SOLINGEN'  or  product.tags contains 'TIAWAN'  or  product.tags contains 'THAILAND'  %}

  <tr>
   <td width="50%">
 <p>Name & Registered Office Address of Importer:</p></td>
 <td width="50%"> <p>Wonderchef Home Appliances Pvt. Ltd.</p>
   <p> B-Wing, Supreme Business Park, Unit No. 303,</p>
   <p> 3rd floor, Hiranandani Gardens, Powai,</p>
   <p> Mumbai, Maharashtra 400076</p>
  </td>
  </tr>
  <tr>
   <td width="50%"><p>  Manufactured in</p><td width="50%"><p>
 {% if product.tags contains 'CHINA' %}   
    PRC
  {%elsif product.tags contains 'ENGLAND' %}
    ENGLAND
    {%elsif product.tags contains 'HONGKONG' %}
    Hong Kong
    
    {%elsif product.tags contains 'ITALY' %}
    Italy
    
    {%elsif product.tags contains 'KOREA' %}
    Korea
    {%elsif product.tags contains 'SOLINGEN' %}
    
    Solingen
    {%elsif product.tags contains 'TIAWAN' %}
    Taiwan
    {%elsif product.tags contains 'THAILAND' %}
    Thailand
    {%endif%}
    </p>
  </td>
  </tr>

{%endif%}

  <tr>
   <td width="50%">
 <p>Maximum Retail Price ₹(inclusive of all taxes) :</p></td><td width="50%"> 
    
    {% assign on_sale = false %}
{% if product.compare_at_price_min > product.price_min %}
  {% assign on_sale = true %}
{% endif %}

{% if on_sale %}
  <span class="old-price">{{ product.compare_at_price_min | money }}</span>
{% else %}
  <span>{{variant.price  | money}}</span>
{% endif %}
  
  </td>
  </tr>
 <tr>
  <td width="50%">  Generic Name:</td> <td width="50%">
  {% for tag in product.tags %}
  {% assign tag_name = tag | split: '-' %}
  {% if tag_name[0] == 'generic' %}  
  {% assign generic_name = tag_name[1] %}
  {{ generic_name }}
  {% endif %}
  {% endfor %}
  </td></tr>
  <tr>
 <td width="50%"> Net Quantity:</td> <td width="50%"> 1N </td></tr>
 <tbody> 
  </table>
</div>
</div>