
	
<style class="vjs-styles-defaults">
  
  p {
    margin: 0 0 0px!important;
   
}
  .style__textTile__3IGKx.style__large__sqlxi {
    padding: 1.5%!important;
}
  
  
      .video-js {
        width: 300px;
        height: 150px;
      }

      .vjs-fluid {
        padding-top: 56.25%
      }
    </style>
	<style class="vjs-styles-dimensions">
      .stores-video-vls1unawf7-dimensions {
        width: 854px;
        height: 479.99999999999994px;
      }

      .stores-video-vls1unawf7-dimensions.vjs-fluid {
        padding-top: 56.20608899297424%;
      }
    </style><style class="vjs-styles-dimensions">
      .stores-video-rh2esjbp09-dimensions {
        width: 1920px;
        height: 1080px;
      }

      .stores-video-rh2esjbp09-dimensions.vjs-fluid {
        padding-top: 56.25%;
      }
    </style>
	<style class="vjs-styles-dimensions">
      .stores-video-rity7c98pt-dimensions {
        width: 1920px;
        height: 876px;
      }

      .stores-video-rity7c98pt-dimensions.vjs-fluid {
        padding-top: 45.625%;
      }
.v-space{
  
  margin-top:2%;
  
}
@media (max-width: 800px) {
.v-space{
  
  margin-top:25%;
  
  
}
  .style__row__3wS8d{
    padding: 39px 7.5px 0.5px 7.5px!important;
  }
  .laptop{
    
    display:none;
  }
   .mobile{
        display:block;
      }
  .style__title__WbEBX {
    font-size: 1.9em!important;
    max-height: none;
}
  .style__tagline__3aa7g {
    font-size: 1.375em!important;
    max-height: none;
}
  
 
}
      .celi{text-align:left;}
       .celi2{text-align:right;}
      @media (min-width: 801px) {
      .mobile{
        display:none;
      }
      }
      


div.container {
    margin: 0 auto;
    padding: 0px!important;
}
.container.js-product-slider.homepage-product-slider .slider-gallery {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

 @media screen and (max-width: 840px){
.style__textTile__3IGKx.style__small__3gYkV .style__description__GTAEe {
    font-size: 15px!important;
    max-height: 6.665em;
    overflow: hidden;
}
   .style__textTile__3IGKx.style__large__sqlxi .style__description__GTAEe {
    font-size: 1.9em!important;
    max-height: none;
}
   .style__imageTile__3JHSj.style__cover__Pengw .style__caption-wrapper__1N1zE {
    bottom: 0!important;
    max-height: none!important;
    padding: 0.75em!important;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    /* right: auto; */
    /* left: AUTO; */
    border-top: 0;
    background: #000;
    margin: 15px!important;
    FONT-SIZE: 6px!important;
}

   @media screen and (max-width: 840px){
.style__textTile__3IGKx.style__small__3gYkV .style__description__GTAEe {
   
   
    min-height: 240px;
    /* overflow: hidden; */
}}
  
.style__textTile__3IGKx.style__small__3gYkV {
    padding: 0.5%!important;
}
 }
video {
    display: block;
    width: 100%;
    height: 100%;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  width:auto;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
      
      .style__textTile__3IGKx .style__description__GTAEe {
    color: #000;
        font-weight:bold;
    word-break: break-word;
    font-family: Montserrat,sans-serif!important;
}
      
      .style__textTile__3IGKx.style__small__3gYkV .style__description__GTAEe {
    font-size: 1.4em!important;
   
}
      
      .style__half__3vpnl1 {
    float: left;
    width: 75%;
    vertical-align: top;
    padding: 0;
    background: 0 0;
}
      .style__half__3vpnl {
    float: left;
    width: 25%!important;
    vertical-align: top;
    padding: 0;
    background: 0 0;
}
      .style__textTile__3IGKx.style__small__3gYkV {
    padding: 2% 0%!important;
    border-bottom: 0;
}
      .style__textTile__3IGKx {
    height: auto!important;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: 0 0;
}
      
      @media screen and (max-width: 840px){
.style__half__3vpnl {
    width: 100%!important;
}
      .style__half__3vpnl1 {
    width: 100%!important;
}}
      
      .EditorialTile__tile__3UtFX {
   
    background-color: #fff!important;
   
}
      .EditorialTile__small__2lq63.EditorialTile__grouped__2xqvG {
    width: 100%;
    padding-bottom: 0%!important;
}
      .style__row__3wS8d1 {
    
    margin:0px 0px 40px 0px!important;
    background: #fff!important;
}
      .bbt{
       float: right;
    background: #b20000;
    color: aliceblue;
    
    box-shadow: 0 1px 3px #000000;
} 
    
        a:hover {
    color: #dfa649;
}   
      
      @media (max-width: 800px){
.style__row__3wS8d {
    padding: 15px 7.5px 0.5px 7.5px!important;
}
      }
    .mobile {
  
    padding-left: 6px;
    padding-bottom: 6px;
}
      
      @media screen and (max-width: 840px){
.style__textTile__3IGKx.style__small__3gYkV .style__description__GTAEe {
    
    max-height: 50.665em!important;
    overflow: hidden;
}}
 
    </style>
<link rel="stylesheet" href="https://images-eu.ssl-images-amazon.com/images/I/71KRxyP8saL.css?AUIClients/AmazonStoresReactBuzzAssets-AmazonStoresReactWidgets-diamond">
<link rel="stylesheet" href="https://images-eu.ssl-images-amazon.com/images/I/81sTPNH-m+L.css?AUIClients/AmazonStoresReactBuzzAssets-AmazonStoresReactUiToolkit-diamond">
<link rel="stylesheet" href="https://images-eu.ssl-images-amazon.com/images/I/61Y0mOb0L-L.css?AUIClients/AmazonStoresReactBuzzAssets-AmazonStoresReactWidgetsProductGrid-diamond">
<link rel="stylesheet" href="https://images-eu.ssl-images-amazon.com/images/I/51NfLtDS9mL._RC%7C01oxUylwjHL.css_.css?AUIClients/Brila">
	<!--  <div data-widgetid="6ylqhxfg6o" data-widgettype="EditorialRow" class="a-column a-span12 stores-column v-space">
	   
		 
						  
							<video id="stores-video-rity7c98pt_html5_api" data-click-type="OTHER" tabindex="-1" class="vjs-tech" preload="metadata" loop="" muted="muted" playsinline="playsinline" autoplay="" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/B1exZdjqAnS.mp4?v=1630648104"></video>
			
	</div>-->

	<div id="uh8md8h49c" class="a-row stores-row stores-widget-btf container" style="opacity: 1;">
  <div data-widgetid="uh8md8h49c" data-widgettype="EditorialRow" class="a-column a-span12 stores-column">
    <div id="EditorialRow-slQbbCy">
      <div>
        <div class="style__row__3wS8d double style__noText__1VqhD" >
          <div style="padding-bottom:40px;padding-top:30px;">
           <div style="font-size:1.4em!important"><div class="style__textContent__1gVWd" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="style__description__GTAEe" style="color:#000000;font-weight:300;text-align:left;text-transform:none">Seeing is believing! Schedule a live demo with one of our product specialists at your convenience, Monday to Sunday, 10 am - 7 pm. We'll walk you through all the features and answer any questions you may have. We're confident that once you see what our product can do, you won't be able to resist becoming a satisfied customer.</p></div></div></div>
         
     <div style="font-size:1.4em!important"><div class="style__textContent__1gVWd" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="style__description__GTAEe" style="color:#000000;font-weight:300;text-align:left;text-transform:none">Fill out the form today to set up your demo. Post that, a Wonderchef team member will give you a quick call to schedule the demo. We can't wait to show you the magic of our product.</p></div></div></div>
          </div>
        
         
        </div>
      </div>
    </div>
  </div>
</div>
	<hr>
<div id="uh8md8h49c" class="a-row stores-row stores-widget-btf container" style="opacity: 1;">
  <div data-widgetid="uh8md8h49c" data-widgettype="EditorialRow" class="a-column a-span12 stores-column">
    <div id="EditorialRow-slQbbCy">
      <div>
        <div class="style__row__3wS8d style__row__3wS8d1 double style__noText__1VqhD" >
         
          <div class="style__half__3vpnl">
              <div ><div class="style__textContent__1gVWd mobile" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b> Wonderchef Roti-Magic </b></p>
                 </div></div></div>
            <div id="lo3xmkyci5" class="EditorialTile__tile__3UtFX EditorialTile__medium__-4req interactiveImage EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW">
                  <div class="style__container__to60m">
                    <div class="style__image-wrapper__1E9ym" data-click-type="OTHER"><a href="#form"> <img class="style__image__1k4uu" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/1_f8cc0384-71cc-49ba-98b2-6e45b6c31d73.jpg?v=1661496604"></a>
                      
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div class="style__half__3vpnl1">
            <div id="r80vz5c3om" class="EditorialTile__tile__3UtFX EditorialTile__small__2lq63 EditorialTile__text__oPEWB EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW"> 
                  <div ><div class="style__textContent__1gVWd laptop" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b> Wonderchef Roti-Magic </b></p>
                 </div></div></div>
                <div class="style__textTile__3IGKx style__small__3gYkV style__left__12fx4"><div class="style__textContent__1gVWd" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="style__description__GTAEe" style="color:#000000;font-weight:300;text-align:left;text-transform:none">Wonderchef Roti-Magic is nothing short of magic in your kitchen. It kneads the dough, rolls the round rotis, and cooks them to perfection every time at a touch of a button, entirely automatically - untouched by hand and completely hygienic. Fill containers with flour, water, and oil, then select desired roti count for automated dough kneading and cooking. You can choose soft, medium, or hard roti textures to suit personal preferences, ensuring the perfect rotis for every family member. It makes up to 15 rotis in just 13 minutes, allowing you to spend more time with family and friends during mealtime.</p>
                  <br><a href="#form" class="btn bbt">Book a Demo</a></div></div></div>
                </div>
              </div>
            </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div id="uh8md8h49c" class="a-row stores-row stores-widget-btf container" style="opacity: 1;">
  <div data-widgetid="uh8md8h49c" data-widgettype="EditorialRow" class="a-column a-span12 stores-column">
    <div id="EditorialRow-slQbbCy">
      <div>
        <div class="style__row__3wS8d style__row__3wS8d1 double style__noText__1VqhD" >
         
          <div class="style__half__3vpnl">
              <div ><div class="style__textContent__1gVWd mobile" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b> Fully-Automatic Coffee Maker </b></p>
                 </div></div></div>
            <div id="lo3xmkyci5" class="EditorialTile__tile__3UtFX EditorialTile__medium__-4req interactiveImage EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW">
                  <div class="style__container__to60m">
                    <div class="style__image-wrapper__1E9ym" data-click-type="OTHER"><a href="#form"> <img class="style__image__1k4uu" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/machine_front_image_for_prebook.jpg?v=1663424819"></a>
                      
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div class="style__half__3vpnl1">
            <div id="r80vz5c3om" class="EditorialTile__tile__3UtFX EditorialTile__small__2lq63 EditorialTile__text__oPEWB EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW"> 
                  <div ><div class="style__textContent__1gVWd laptop" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b>Fully-Automatic Coffee Maker </b></p>
                 </div></div></div>
                <div class="style__textTile__3IGKx style__small__3gYkV style__left__12fx4"><div class="style__textContent__1gVWd" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="style__description__GTAEe" style="color:#000000;font-weight:300;text-align:left;text-transform:none">Wonderchef Regalia Fully-Automatic Coffee Machine makes your favourite coffee at the touch of a button, including creating a perfect espresso shot from coffee beans and adding frothed milk to your cup. The 7” HD touchscreen display with premier programming includes Espresso, Lungo, Americano, Cappuccino, Latte, Macchiato, Flat white, Hot milk & water. With a 4-step adjustable conical burr grinder, you can turn your beans into anything from ultra-fine powder to coarse grindings. The Wonderchef Regalia Fully Automatic Coffee Maker is nothing short of your personal barista!</p>
                  <br><a href="#form" class="btn bbt">Book a Demo</a></div></div></div>
                </div>
              </div>
            </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
 
	<div id="uh8md8h49c" class="a-row stores-row stores-widget-btf container" style="opacity: 1;">
  <div data-widgetid="uh8md8h49c" data-widgettype="EditorialRow" class="a-column a-span12 stores-column">
    <div id="EditorialRow-slQbbCy">
      <div>
        <div class="style__row__3wS8d style__row__3wS8d1 double style__noText__1VqhD" >
         
          <div class="style__half__3vpnl">
              <div ><div class="style__textContent__1gVWd mobile" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b> Granite Non-stick Cookware </b></p>
                 </div></div></div>
            <div id="lo3xmkyci5" class="EditorialTile__tile__3UtFX EditorialTile__medium__-4req interactiveImage EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW">
                  <div class="style__container__to60m">
                    <div class="style__image-wrapper__1E9ym" data-click-type="OTHER"><a href="#form"> <img class="style__image__1k4uu" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/2_a74e9836-928d-4c75-bff6-2a107532caee.jpg?v=1660634755"></a>
                      
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div class="style__half__3vpnl1">
            <div id="r80vz5c3om" class="EditorialTile__tile__3UtFX EditorialTile__small__2lq63 EditorialTile__text__oPEWB EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW"> 
                  <div ><div class="style__textContent__1gVWd laptop" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b> Granite Non-stick Cookware </b></p>
                 </div></div></div>
                <div class="style__textTile__3IGKx style__small__3gYkV style__left__12fx4"><div class="style__textContent__1gVWd" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="style__description__GTAEe" style="color:#000000;font-weight:300;text-align:left;text-transform:none">Enhance your cooking and dining experience with the most popular Wonderchef Granite cookware range. These designer forged pans are made with pure grade virgin aluminium for quick and even heat distribution and have health-friendly, 100% PFOA free, heavy metal and nickel free 5-layer Meta Tuff non-stick coating for daily oil-free cooking. The ergonomically designed soft-touch handle provides a firm grip and does not heat up during cooking, and they are suitable for use on the gas stove, ceramic plate, hob, hot plate, infrared, and induction plate. Granite non-stick cookware is ideal for making wholesome, nutritious, healthy dishes, including dosas, uttapams, pancakes, omelets, fish fries, stir fry vegetables, veg kofta, palak paneer, noodles, Manchurian, chicken curry, and much more.</p>
                  <br><a href="#form" class="btn bbt">Book a Demo</a></div></div></div>
                </div>
              </div>
            </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
	
	<div id="uh8md8h49c" class="a-row stores-row stores-widget-btf container" style="opacity: 1;">
  <div data-widgetid="uh8md8h49c" data-widgettype="EditorialRow" class="a-column a-span12 stores-column">
    <div id="EditorialRow-slQbbCy">
      <div>
        <div class="style__row__3wS8d style__row__3wS8d1 double style__noText__1VqhD">
         
          <div class="style__half__3vpnl">
               <div ><div class="style__textContent__1gVWd mobile" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b>Royal Velvet Non-stick Cookware </b></p>
                 </div></div></div>
            <div id="lo3xmkyci5" class="EditorialTile__tile__3UtFX EditorialTile__medium__-4req interactiveImage EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW">
                  <div class="style__container__to60m">
                    <div class="style__image-wrapper__1E9ym" data-click-type="OTHER"><a href="#form"> <img class="style__image__1k4uu" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/3_97b8ee2c-e2c5-42c2-8763-649d0b30e40c.jpg?v=1660634755"></a>
                      
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div class="style__half__3vpnl1">
            <div id="r80vz5c3om" class="EditorialTile__tile__3UtFX EditorialTile__small__2lq63 EditorialTile__text__oPEWB EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW"> 
                  <div ><div class="style__textContent__1gVWd laptop" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b>Royal Velvet Non-stick Cookware </b></p>
                 </div></div></div>
                <div class="style__textTile__3IGKx style__small__3gYkV style__left__12fx4"><div class="style__textContent__1gVWd" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="style__description__GTAEe" style="color:#000000;font-weight:300;text-align:left;text-transform:none">Embellish your kitchen with an innovative design and a splash of bold color. Wonderchef Royal Velvet Cookware Set brings simplicity and convenience to your everyday cooking.
This beautifully designed non-stick cookware with marble coating inside and a vibrant colour outside complements the look of any kitchen. Its premium healthy non-stick coating allows oil-free cooking without any compromise on taste! It is made from pure-grade virgin aluminum, which aids in faster cooking and even heat distribution. With excellent performance, beauty and durability, these pans are also the perfect gift for special occasions.
</p>
                  <br><a href="#form" class="btn bbt">Book a Demo</a></div></div></div>
                </div>
              </div>
            </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

	<div id="uh8md8h49c" class="a-row stores-row stores-widget-btf container" style="opacity: 1;">
  <div data-widgetid="uh8md8h49c" data-widgettype="EditorialRow" class="a-column a-span12 stores-column">
    <div id="EditorialRow-slQbbCy">
      <div>
        <div class="style__row__3wS8d style__row__3wS8d1 double style__noText__1VqhD">
         
          <div class="style__half__3vpnl">
              <div><div class="style__textContent__1gVWd mobile" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b>Tri-Ply Stainless Steel Cookware </b></p>
                 </div></div></div>
            <div id="lo3xmkyci5" class="EditorialTile__tile__3UtFX EditorialTile__medium__-4req interactiveImage EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW">
                  <div class="style__container__to60m">
                    <div class="style__image-wrapper__1E9ym" data-click-type="OTHER"><a href="#form"> <img class="style__image__1k4uu" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/6_847798c4-e3ed-4980-9a8f-3560d7edc5ac.jpg?v=1660634755"></a>
                      
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div class="style__half__3vpnl1">
            <div id="r80vz5c3om" class="EditorialTile__tile__3UtFX EditorialTile__small__2lq63 EditorialTile__text__oPEWB EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW"> 
                  <div><div class="style__textContent__1gVWd laptop" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b>Tri-Ply Stainless Steel Cookware </b></p>
                 </div></div></div>
                <div class="style__textTile__3IGKx style__small__3gYkV style__left__12fx4"><div class="style__textContent__1gVWd" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="style__description__GTAEe" style="color:#000000;font-weight:300;text-align:left;text-transform:none">Wonderchef tri-ply range offers you a splendid cooking experience. The aluminium core between two stainless steel layers provides heat distribution from the base to the top rim. The inside non-porous surface is made from 304-grade Stainless Steel which does not react with food and thus retains the flavor and nutrition. The outside steel is 430-grade magnetic and allows the pans to be used on induction cooktops and gas stoves. Tri-ply stainless steel cookware is ideal for cooking and serving soups, biryanis, curries, rice, pastas, and much more.</p>
                  <br><a href="#form" class="btn bbt">Book a Demo</a></div></div></div>
                </div>
              </div>
            </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
	<div id="uh8md8h49c" class="a-row stores-row stores-widget-btf container" style="opacity: 1;">
  <div data-widgetid="uh8md8h49c" data-widgettype="EditorialRow" class="a-column a-span12 stores-column">
    <div id="EditorialRow-slQbbCy">
      <div>
        <div class="style__row__3wS8d style__row__3wS8d1 double style__noText__1VqhD">
         
          <div class="style__half__3vpnl">
              <div><div class="style__textContent__1gVWd mobile" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b> Nutri-blend Mixer-Grinder </b></p>
                 </div></div></div>
            <div id="lo3xmkyci5" class="EditorialTile__tile__3UtFX EditorialTile__medium__-4req interactiveImage EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW">
                  <div class="style__container__to60m">
                    <div class="style__image-wrapper__1E9ym" data-click-type="OTHER"><a href="#form"> <img class="style__image__1k4uu" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/Lifestyle_1024x1024_2x_03157f72-5f9d-4497-aa0f-90f69ddd011e.jpg?v=1695793634"></a>
                      
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div class="style__half__3vpnl1">
            <div id="r80vz5c3om" class="EditorialTile__tile__3UtFX EditorialTile__small__2lq63 EditorialTile__text__oPEWB EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW"> 
                  <div><div class="style__textContent__1gVWd laptop" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b> Nutri-blend Mixer-Grinder </b></p>
                 </div></div></div>
                <div class="style__textTile__3IGKx style__small__3gYkV style__left__12fx4"><div class="style__textContent__1gVWd" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="style__description__GTAEe" style="color:#000000;font-weight:300;text-align:left;text-transform:none">India's favourite Mixer-Grinder-Blender, Nutriblend, is the perfect combination of superior performance and superb styling that adds beauty to your kitchen. 
<br>Its compact yet powerful machine grinds the toughest chutneys and masalas and ensures nutrition extraction from all fruits and veggies thanks to its incredibly high speed of 22,000 RPM, which is almost twice that of ordinary mixer grinders. The super-sharp surgical stainless steel blades grind everything and stay sharp despite working at high speeds. They extract every ounce of immunity-enhancing anti-oxidants, pain relieving Omega 3s, proteins, vitamins & minerals from your foods.
Nutri-blend is an all-in-one system; starting with two jars, you can add a chopper, food processor, juicer, and bigger jar for your different needs.
</p>
                  <br><a href="#form" class="btn bbt">Book a Demo</a></div></div></div>
                </div>
              </div>
            </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
	<div id="uh8md8h49c" class="a-row stores-row stores-widget-btf container" style="opacity: 1;">
  <div data-widgetid="uh8md8h49c" data-widgettype="EditorialRow" class="a-column a-span12 stores-column">
    <div id="EditorialRow-slQbbCy">
      <div>
        <div class="style__row__3wS8d style__row__3wS8d1 double style__noText__1VqhD" >
         
          <div class="style__half__3vpnl">
            <div><div class="style__textContent__1gVWd mobile" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b> Crimson Edge Air Fryer Oven </b></p>
                 </div></div></div>
            <div id="lo3xmkyci5" class="EditorialTile__tile__3UtFX EditorialTile__medium__-4req interactiveImage EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW">
                  <div class="style__container__to60m">
                    <div class="style__image-wrapper__1E9ym" data-click-type="OTHER"><a href="#form"> <img class="style__image__1k4uu" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/5_51db4b85-ec52-47cc-8e36-89545361f3f7.jpg?v=1660634755"></a>
                      
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div class="style__half__3vpnl1">
            <div id="r80vz5c3om" class="EditorialTile__tile__3UtFX EditorialTile__small__2lq63 EditorialTile__text__oPEWB EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW"> 
                  <div><div class="style__textContent__1gVWd laptop" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b> Crimson Edge Air Fryer Oven </b></p>
                 </div></div></div>
                <div class="style__textTile__3IGKx style__small__3gYkV style__left__12fx4"><div class="style__textContent__1gVWd" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="style__description__GTAEe" style="color:#000000;font-weight:300;text-align:left;text-transform:none">Step into a whole new world of possibilities with Wonderchef's Crimson Edge Air Fryer Oven.
Keeping your health, taste, and convenience in mind, this 2-in-1 Air Fryer Oven does everything from baking to roasting to healthy frying. Enjoy zero-oil snacks like kachoris, fries, and samosas, or bake gooey cakes, brownies or tarts, and more. You can prepare whole meals like grilled veggies and roasted meat too.
<br>The Wonderchef Crimson Edge range is inspired by a day in the life of a quintessential millennial that combines style with cutting-edge technology and a design that lends superior quality to its appliances. 
</p>
                  <br><a href="#form" class="btn bbt">Book a Demo</a></div></div></div>
                </div>
              </div>
            </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

	<div id="uh8md8h49c" class="a-row stores-row stores-widget-btf container" style="opacity: 1;">
  <div data-widgetid="uh8md8h49c" data-widgettype="EditorialRow" class="a-column a-span12 stores-column">
    <div id="EditorialRow-slQbbCy">
      <div>
        <div class="style__row__3wS8d style__row__3wS8d1 double style__noText__1VqhD">
         
          <div class="style__half__3vpnl">
              <div ><div class="style__textContent__1gVWd mobile" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh">
<p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b>Nutri-cook Heater Blender</b></p>
                 </div></div></div>
            <div id="lo3xmkyci5" class="EditorialTile__tile__3UtFX EditorialTile__medium__-4req interactiveImage EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW">
                  <div class="style__container__to60m">
                    <div class="style__image-wrapper__1E9ym" data-click-type="OTHER"><a href="#form" > <img class="style__image__1k4uu" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/14_e636580c-fe70-4060-9c15-bcdeb8489a2e.jpg?v=1660634755"></a>
                      
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div class="style__half__3vpnl1">
            <div id="r80vz5c3om" class="EditorialTile__tile__3UtFX EditorialTile__small__2lq63 EditorialTile__text__oPEWB EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW">
                   <div ><div class="style__textContent__1gVWd laptop" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b>Nutri-cook Heater Blender</b></p>
                 </div></div></div>
                <div class="style__textTile__3IGKx style__small__3gYkV style__left__12fx4"><div class="style__textContent__1gVWd" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="style__description__GTAEe" style="color:#000000;font-weight:300;text-align:left;text-transform:none">Nutri-cook Heater Blender is a smart all-purpose appliance with 12 pre-set functions for mixing, grinding, blending, and heating. It can even steam and keep the food warm. One just needs to choose the required function and set the timer and speed. Let the machine perform!
<br>The 24000 RPM high-powered motor helps blend and grind even the toughest ingredients quickly.The 12 pre-set functions cater to all your grinding, blending, and even heating needs! It can steam and keep the food warm with ease. It can blend smoothies and baby food, giving smooth consistency with ease, and can also make fresh juices, sauces, and purees or crush hard ingredients like ice and frozen fruits for cold desserts.
</p>
                  <br><a href="#form" class="btn bbt">Book a Demo</a></div></div></div>
                </div>
              </div>
            </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div id="uh8md8h49c" class="a-row stores-row stores-widget-btf container" style="opacity: 1;">
  <div data-widgetid="uh8md8h49c" data-widgettype="EditorialRow" class="a-column a-span12 stores-column">
    <div id="EditorialRow-slQbbCy">
      <div>
        <div class="style__row__3wS8d style__row__3wS8d1 double style__noText__1VqhD">
         
          <div class="style__half__3vpnl">
              <div ><div class="style__textContent__1gVWd mobile" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh">
<p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b>Sanjeev Kapoor Tandoor - Family Size Plus</b></p>
                 </div></div></div>
            <div id="lo3xmkyci5" class="EditorialTile__tile__3UtFX EditorialTile__medium__-4req interactiveImage EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW">
                  <div class="style__container__to60m">
                    <div class="style__image-wrapper__1E9ym" data-click-type="OTHER"><a href="#form" > <img class="style__image__1k4uu" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/7_d0d9f44f-f0ff-47a7-af9a-4505c8e61f7d.jpg?v=1660634755"></a>
                      
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div class="style__half__3vpnl1">
            <div id="r80vz5c3om" class="EditorialTile__tile__3UtFX EditorialTile__small__2lq63 EditorialTile__text__oPEWB EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW">
                   <div ><div class="style__textContent__1gVWd laptop" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b>Sanjeev Kapoor Tandoor - Family Size Plus</b></p>
                 </div></div></div>
                <div class="style__textTile__3IGKx style__small__3gYkV style__left__12fx4"><div class="style__textContent__1gVWd" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="style__description__GTAEe" style="color:#000000;font-weight:300;text-align:let;text-transform:none">Wonderchef Sanjeev Kapoor Tandoor - Family Size Plus is designed to use very little oil to grill some yummy sandwiches, tikkas and kebabs.
<br>Easy and quick grill at home for weekend snacks and parties. It drains out excess oil and gives crisp, quick, and tasty food. It comes with 2 separate grills, which can be used for veg and non –vegetarian foods as per your preference. Super-fast heating and even cooking on both sides are the added advantages.
</p>
                  <br><a href="#form" class="btn bbt">Book a Demo</a></div></div></div>
                </div>
              </div>
            </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div id="uh8md8h49c" class="a-row stores-row stores-widget-btf container" style="opacity: 1;">
  <div data-widgetid="uh8md8h49c" data-widgettype="EditorialRow" class="a-column a-span12 stores-column">
    <div id="EditorialRow-slQbbCy">
      <div>
        <div class="style__row__3wS8d style__row__3wS8d1 double style__noText__1VqhD">
         
          <div class="style__half__3vpnl">
              <div ><div class="style__textContent__1gVWd mobile" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh">
<p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b>Prato Air fryer</b></p>
                 </div></div></div>
            <div id="lo3xmkyci5" class="EditorialTile__tile__3UtFX EditorialTile__medium__-4req interactiveImage EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW">
                  <div class="style__container__to60m">
                    <div class="style__image-wrapper__1E9ym" data-click-type="OTHER"><a href="#form" > <img class="style__image__1k4uu" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/8_45d4768f-d9f9-46e0-847a-595ecb76227d.jpg?v=1660634755"></a>
                      
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div class="style__half__3vpnl1">
            <div id="r80vz5c3om" class="EditorialTile__tile__3UtFX EditorialTile__small__2lq63 EditorialTile__text__oPEWB EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW">
                   <div ><div class="style__textContent__1gVWd laptop" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b>Prato Air fryer</b></p>
                 </div></div></div>
                <div class="style__textTile__3IGKx style__small__3gYkV style__left__12fx4"><div class="style__textContent__1gVWd" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="style__description__GTAEe" style="color:#000000;font-weight:300;text-align:let;text-transform:none">Prato Air A must in every home that focuses on healthy living, Prato Air Fryer serves the whole family. It makes your cooking effortless and is suitable for every occasion. Essential for that first apartment, compact kitchen, college dorm life, or weight-conscious holiday.
<br>Prato Air Fryer's innovative rapid air heat circulation technology fries a wide variety of food with almost zero oil - french fries, potato chips, spring rolls, fried veggies, sausage rolls, nuggets, and more.
<br>The compact air fryer has manual time and temperature control functions and an auto shut-off feature that lets you know when your food is ready.
</p>
                  <br><a href="#form" class="btn bbt">Book a Demo</a></div></div></div>
                </div>
              </div>
            </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div id="uh8md8h49c" class="a-row stores-row stores-widget-btf container" style="opacity: 1;">
  <div data-widgetid="uh8md8h49c" data-widgettype="EditorialRow" class="a-column a-span12 stores-column">
    <div id="EditorialRow-slQbbCy">
      <div>
        <div class="style__row__3wS8d style__row__3wS8d1 double style__noText__1VqhD">
         
          <div class="style__half__3vpnl">
              <div ><div class="style__textContent__1gVWd mobile" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh">
<p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b>Gas Oven Tandoor Duo</b></p>
                 </div></div></div>
            <div id="lo3xmkyci5" class="EditorialTile__tile__3UtFX EditorialTile__medium__-4req interactiveImage EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW">
                  <div class="style__container__to60m">
                    <div class="style__image-wrapper__1E9ym" data-click-type="OTHER"><a href="#form" > <img class="style__image__1k4uu" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/15_cb5427fc-20b6-4222-93e9-1b5b3b5c420a.jpg?v=1660634755"></a>
                      
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div class="style__half__3vpnl1">
            <div id="r80vz5c3om" class="EditorialTile__tile__3UtFX EditorialTile__small__2lq63 EditorialTile__text__oPEWB EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW">
                   <div ><div class="style__textContent__1gVWd laptop" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b>Gas Oven Tandoor Duo</b></p>
                 </div></div></div>
                <div class="style__textTile__3IGKx style__small__3gYkV style__left__12fx4"><div class="style__textContent__1gVWd" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="style__description__GTAEe" style="color:#000000;font-weight:300;text-align:let;text-transform:none">Wonderchef's Gas Oven Tandoor is a unique combination of Oven & Tandoor that works on your regular Gas Stove in your very own kitchen.
<br>It cooks professional-grade tandoori dishes with a smoky effect and great taste. It is ideal for making tandoori vegetables, kebabs, paneer tikka, roasted chicken, tandoori rotis, Rajasthani baati, cakes, muffins and cookies.
</p>
                  <br><a href="#form" class="btn bbt">Book a Demo</a></div></div></div>
                </div>
              </div>
            </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div id="uh8md8h49c" class="a-row stores-row stores-widget-btf container" style="opacity: 1;">
  <div data-widgetid="uh8md8h49c" data-widgettype="EditorialRow" class="a-column a-span12 stores-column">
    <div id="EditorialRow-slQbbCy">
      <div>
        <div class="style__row__3wS8d style__row__3wS8d1 double style__noText__1VqhD">
         
          <div class="style__half__3vpnl">
              <div ><div class="style__textContent__1gVWd mobile" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh">
<p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b> Cold Press Juicer (V6 - Full Fruit) </b></p>
                 </div></div></div>
            <div id="lo3xmkyci5" class="EditorialTile__tile__3UtFX EditorialTile__medium__-4req interactiveImage EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW">
                  <div class="style__container__to60m">
                    <div class="style__image-wrapper__1E9ym" data-click-type="OTHER"><a href="#form" > <img class="style__image__1k4uu" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/9_8ab5c6f6-b643-4062-a767-f2752e2b9989.jpg?v=1660634755"></a>
                      
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div class="style__half__3vpnl1">
            <div id="r80vz5c3om" class="EditorialTile__tile__3UtFX EditorialTile__small__2lq63 EditorialTile__text__oPEWB EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW">
                   <div ><div class="style__textContent__1gVWd laptop" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b> Cold Press Juicer (V6 - Full Fruit) </b></p>
                 </div></div></div>
                <div class="style__textTile__3IGKx style__small__3gYkV style__left__12fx4"><div class="style__textContent__1gVWd" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="style__description__GTAEe" style="color:#000000;font-weight:300;text-align:let;text-transform:none">Wonderchef Cold Press Juicer (V6 - Full Fruit) brings the goodness of enzymes and vitamins. Now have a perfectly healthy start to your day with fresh fruit juices full of nutrients, and always keep your family fit! The juicer operates at a very slow speed of 43 RPM and extracts juice with a gentle squeezing process. The slow juicing technology mimics the hand-squeezing motion for juicing to retain all essential nutrients otherwise lost in regular juicers and deliver up to 50% more juice making it your ideal fitness partner.</p>
                  <br><a href="#form" class="btn bbt">Book a Demo</a></div></div></div>
                </div>
              </div>
            </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div id="uh8md8h49c" class="a-row stores-row stores-widget-btf container" style="opacity: 1;">
  <div data-widgetid="uh8md8h49c" data-widgettype="EditorialRow" class="a-column a-span12 stores-column">
    <div id="EditorialRow-slQbbCy">
      <div>
        <div class="style__row__3wS8d style__row__3wS8d1 double style__noText__1VqhD">
         
          <div class="style__half__3vpnl">
              <div ><div class="style__textContent__1gVWd mobile" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh">
<p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b>Nutri-pot Electric Pressure Cooker</b></p>
                 </div></div></div>
            <div id="lo3xmkyci5" class="EditorialTile__tile__3UtFX EditorialTile__medium__-4req interactiveImage EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW">
                  <div class="style__container__to60m">
                    <div class="style__image-wrapper__1E9ym" data-click-type="OTHER"><a href="#form" > <img class="style__image__1k4uu" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/9ff96e1SWONAA00000734_1_1.jpg?v=1695794185"></a>
                      
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div class="style__half__3vpnl1">
            <div id="r80vz5c3om" class="EditorialTile__tile__3UtFX EditorialTile__small__2lq63 EditorialTile__text__oPEWB EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW">
                   <div ><div class="style__textContent__1gVWd laptop" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b> Nutri-pot Electric Pressure Cooker </b></p>
                 </div></div></div>
                <div class="style__textTile__3IGKx style__small__3gYkV style__left__12fx4"><div class="style__textContent__1gVWd" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="style__description__GTAEe" style="color:#000000;font-weight:300;text-align:let;text-transform:none">Wonderchef Nutri-Pot makes your everyday cooking extremely convenient. Be it a pro or a beginner in the world of cooking, Nutri-Pot, with its one-touch cooking, is your perfect kitchen partner. 
<br>Nutri-pot is a combination of 7 diﬀerent appliances put all in one in your kitchen. It acts as a Pressure Cooker, Sauté/Fry Pan, Slow Cooker, Yogurt Maker, Steamer, Warmer & Rice Cooker. Put the ingredients in, select a speciﬁc cooking function and you can leave the kitchen, let the Nutri-Pot do the rest while you come back to evenly cooked ﬂavor packed food. Nutri-pot is a must-have in every Indian kitchen.
</p>
                  <br><a href="#form" class="btn bbt">Book a Demo</a></div></div></div>
                </div>
              </div>
            </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div id="uh8md8h49c" class="a-row stores-row stores-widget-btf container" style="opacity: 1;">
  <div data-widgetid="uh8md8h49c" data-widgettype="EditorialRow" class="a-column a-span12 stores-column">
    <div id="EditorialRow-slQbbCy">
      <div>
        <div class="style__row__3wS8d style__row__3wS8d1 double style__noText__1VqhD">
         
          <div class="style__half__3vpnl">
              <div ><div class="style__textContent__1gVWd mobile" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh">
<p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b>Soup Maker</b></p>
                 </div></div></div>
            <div id="lo3xmkyci5" class="EditorialTile__tile__3UtFX EditorialTile__medium__-4req interactiveImage EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW">
                  <div class="style__container__to60m">
                    <div class="style__image-wrapper__1E9ym" data-click-type="OTHER"><a href="#form" > <img class="style__image__1k4uu" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/Lifestyle-New_1024x1024_2x_66c77e1b-f6f4-4c8e-a43e-f6764a87beab.jpg?v=1695794009"></a>
                      
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div class="style__half__3vpnl1">
            <div id="r80vz5c3om" class="EditorialTile__tile__3UtFX EditorialTile__small__2lq63 EditorialTile__text__oPEWB EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW">
                   <div ><div class="style__textContent__1gVWd laptop" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b> Soup Maker </b></p>
                 </div></div></div>
                <div class="style__textTile__3IGKx style__small__3gYkV style__left__12fx4"><div class="style__textContent__1gVWd" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="style__description__GTAEe" style="color:#000000;font-weight:300;text-align:let;text-transform:none">Wonderchef Soup maker guarantees perfectly blended soup at the touch of a button. The soup maker heats, boils, and mixes automatically, giving you the perfect, healthy soup whenever you crave it. It also retains all essential fibers in your soup, making it healthier and tastier.
<br>Chilly winters are complemented with a perfect bowl of steamy hot soup. Wonderchef Automatic Soup Maker offers you an ease of making sumptuous soup, with a 1.8L capacity. An easy-to-use appliance heats, boils, blends, and mixes the ingredients automatically and serves a perfect, tasty, healthy soup without supervision. Therefore, you can enjoy quality time with your loved ones and enjoy the soup.
</p>
                  <br><a href="#form" class="btn bbt">Book a Demo</a></div></div></div>
                </div>
              </div>
            </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div id="uh8md8h49c" class="a-row stores-row stores-widget-btf container" style="opacity: 1;">
  <div data-widgetid="uh8md8h49c" data-widgettype="EditorialRow" class="a-column a-span12 stores-column">
    <div id="EditorialRow-slQbbCy">
      <div>
        <div class="style__row__3wS8d style__row__3wS8d1 double style__noText__1VqhD">
         
          <div class="style__half__3vpnl">
              <div ><div class="style__textContent__1gVWd mobile" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh">
<p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b>Regalia Power Blender</b></p>
                 </div></div></div>
            <div id="lo3xmkyci5" class="EditorialTile__tile__3UtFX EditorialTile__medium__-4req interactiveImage EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW">
                  <div class="style__container__to60m">
                    <div class="style__image-wrapper__1E9ym" data-click-type="OTHER"><a href="#form" > <img class="style__image__1k4uu" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/12_6215944f-aa26-404e-8fc0-90a0c60f1853.jpg?v=1660634755"></a>
                      
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div class="style__half__3vpnl1">
            <div id="r80vz5c3om" class="EditorialTile__tile__3UtFX EditorialTile__small__2lq63 EditorialTile__text__oPEWB EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW">
                   <div ><div class="style__textContent__1gVWd laptop" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b> Regalia Power Blender </b></p>
                 </div></div></div>
                <div class="style__textTile__3IGKx style__small__3gYkV style__left__12fx4"><div class="style__textContent__1gVWd" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="style__description__GTAEe" style="color:#000000;font-weight:300;text-align:let;text-transform:none">Wonderchef Regalia Power Blender is the answer to all your blending requirements. The 1200W motor makes grinding, blending, and even crushing any ingredient very easy. You can use this Power Blender for all your heavy needs at home or even for a cloud kitchen. The next time you crave homemade ice-creams or south Indian chutneys to accompany your idli/dosas, Regalia Power Blender will help you do it all.</p>
                  <br><a href="#form" class="btn bbt">Book a Demo</a></div></div></div>
                </div>
              </div>
            </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div id="uh8md8h49c" class="a-row stores-row stores-widget-btf container" style="opacity: 1;">
  <div data-widgetid="uh8md8h49c" data-widgettype="EditorialRow" class="a-column a-span12 stores-column">
    <div id="EditorialRow-slQbbCy">
      <div>
        <div class="style__row__3wS8d style__row__3wS8d1 double style__noText__1VqhD">
         
          <div class="style__half__3vpnl">
              <div ><div class="style__textContent__1gVWd mobile" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh">
<p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b>Crimson Edge Die-Cast Stand Mixer</b></p>
                 </div></div></div>
            <div id="lo3xmkyci5" class="EditorialTile__tile__3UtFX EditorialTile__medium__-4req interactiveImage EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW">
                  <div class="style__container__to60m">
                    <div class="style__image-wrapper__1E9ym" data-click-type="OTHER"><a href="#form" > <img class="style__image__1k4uu" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/13_2681620d-df2e-4c20-97f9-cd5c1bfdc9b1.jpg?v=1660634755"></a>
                      
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div class="style__half__3vpnl1">
            <div id="r80vz5c3om" class="EditorialTile__tile__3UtFX EditorialTile__small__2lq63 EditorialTile__text__oPEWB EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW">
                   <div ><div class="style__textContent__1gVWd laptop" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="" style="color:#000000;font-weight:300;text-align:left;text-transform:none;font-size:1.8em!important;"><b> Crimson Edge Die-Cast Stand Mixer </b></p>
                 </div></div></div>
                <div class="style__textTile__3IGKx style__small__3gYkV style__left__12fx4"><div class="style__textContent__1gVWd" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="style__description__GTAEe" style="color:#000000;font-weight:300;text-align:let;text-transform:none">Whip up lip-smacking mixes for cakes and pastries in a jiffy or make doughs for pizzas, rotis & bread with Wonderchef's Crimson Edge Die-Cast Stand Mixer.
<br>With Turbo speed having 6-speed settings, it is powerful enough, making it easy for any task or recipe, whether you're stirring wet and dry ingredients together, kneading bread dough, or whipping cream.
<br>Its die-cast metal housing lends stability, strength, and performance, and the planetary mixing action for perfect texture & consistency. 
</p>
                  <br><a href="#form" class="btn bbt">Book a Demo</a></div></div></div>
                </div>
              </div>
            </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
        <div class="container">
If you are starting your cooking journey or are confused about which cookware or cooking appliance to invest in, then it is advisable to take a demo and choose for yourself which is the best cookware appliance for you. We specialize in high-quality, durable cookware that will improve your cooking experience! From saute pans to Dutch ovens, we have the perfect utensil for every meal. 

</br></br>
<h3><b>Why You Should Book a Demo</b></h3>

If you're looking for new cookware, you should book a demo. Here's why:</br></br>
  
- You'll be able to see the cookware is trending now.</br>
- You can ask questions and get expert advice.</br>
- Demos are usually free or very low-cost.</br>
- It's a fantastic opportunity to test out new cookware prior to purchasing it.</br>
- You might even find some cookware that you love and didn't know existed!
</br></br>
<h3><b>Tips For Making the Most of Your Demo</b></h3>

There are a few things you can do to make the most of a planned cookware demo. Make sure you know what you want to cook before you start. This will help the salesperson know what kind of cookware is perfect for you. Make sure to be prepared with questions about the features and benefits of the cookware. This will help you get the most information out of the demo. Finally, be sure to take your time, enjoy the experience, and make a decision based on it. 
</br></br>
<h3><b>Book A Demo </b></h3>

You can book a demo for the following cookware. 
</br></br>
<p><b>Granite Non-Stick Cookware</b></p>

There are a few things you can do to make the most of a scheduled cookware demo. Make sure you know what you want to cook before you start. It is also eco-friendly and will not release toxins into the food that you are cooking.Granite non-stick cookware is perfect for preparing dishes that are filling, nourishing, and healthy, like dosas.
</br></br>
<p><b>Tri-ply stainless steel cookware</b></p>

We have got you covered if you're looking for the best tri-ply stainless steel cookware. If you want to know anything about the tri-ply stainless steel cookware, you can book a demo, and we'll show you how our cookware can help you create healthy and delicious meals. Our tri-ply construction ensures even heat distribution, so your food will always be cooked evenly. Our stainless steel finish is easy to clean and looks great in any kitchen.
</br></br>
<p><b>Nutri Blend Mixer Grinder</b></p>

If you're looking for top-of-the-line cookware that will last a lifetime, look no further than Nutri Blend Stainless Steel Cookware. This cookware is made of premium stainless steel and is built to endure the demands of regular use. Whether you're cooking for one or a large group, Nutri Blend Stainless Steel Cookware is up to the task. Plus, it's dishwasher-safe for easy cleanup. So what are you waiting for? Book a demo today and see for yourself how Nutri Blend Stainless Steel Cookware can make your life easier. You won't be disappointed!
</br></br>
<p><b>Air Fryer</b></p>
Air fryers are the newest kitchen gadget to hit the market. They use hot air for cooking food, which means that they can cook food faster and more evenly than other methods, like frying in a pan. Air fryers are perfect for those who want to make quick, healthy meals.Various dishes, such as chicken, fish, vegetables, and even desserts, can be prepared using them. If you're interested in seeing how an air fryer works, you can book a demo with us. We'll show you how to use an air fryer to make a delicious meal.
</br></br>
<p><b>Heater Blender</b></p>

When it comes to cooking, one appliance that is a must-have in any kitchen is a blender. A good quality blender can make all the difference in the taste and texture of your food. You should consider the Heater Blender if you're looking for a high-quality blender. The Heater Blender is a professional-grade blender that can handle any type of food. A clever all-purpose appliance with 12 pre-programmed mixing, grinding, blending, and heating actions is called a Nutri-cook Heater Blender. Even steam can be produced, keeping the food warm. Simply select the necessary option, then set the timer and speed. Book a demo for the Heater Blender today if you're looking for a top-of-the-line blender that can do it all. You won't be disappointed!
</br></br>
<p><b>Electric Tandoor</b></p>

If you are looking for an electric tandoor, then you have come to the right place. We offer a demo for our electric tandoor so that you can see for yourself how it works. Our electric tandoor is perfect for cooking kebabs, naan bread, and other Indian dishes. It is easy to use and clean, and it heats up quickly so that you can cook your food in no time. If you are sceptical about how to use it, just book a demo, and our expert will come and explain everything about the tandoor. 
</br></br>
<p><b>Gas Oven Tandoor</b></p>

If you're seeking for a convenient and adaptable cooking method, a gas oven tandoor is the ideal choice. With its unique design, a gas oven tandoor can be used to bake, roast, grill, and even fry food. It's also easy to clean and maintain, making it a great option for busy families or those who often get-togethers. So why not book a demo today and see how a gas oven tandoor can make your life easier? We'll show you how to use it for cooking delicious meals that will impress your family and friends.
</br></br>
<p><b>Cold Press Juicer</b></p>

If you've been considering a cold press juicer for your kitchen, now is the time to take the plunge! Book a demo with us and see how easy it is to make delicious, healthy juice at home. A cold press juicer is ideal for anyone who wants to make their own fresh, healthy juice at home. With a cold press juicer, you can control the ingredients that go into your juice, ensuring that you're getting all of the nutrients you need. Not to mention, freshly-pressed juice tastes great and is a satisfying way to start your day or refuel after a workout. At our demo, we'll show you how easy it is to use a cold press juicer and make delicious juice using fresh fruits and vegetables. In order to get the most out of your new appliance, you will also get the chance to ask any questions you may have regarding juicing. So why are you still waiting? See how simple it is to get started with cold press juices by scheduling a demo right away!
</br></br>
<p><b>Nutri Pot</b></p>

If you're looking for high-quality, durable cookware that can help you cook healthier meals in less time, then all you need is Nutri Pot. The Nutri-pot combines seven different culinary equipment into one one. It performs the functions of a rice cooker, pressure cooker, sauté/fry pan, slow cooker, yoghurt maker, steamer, and warmer. Put the ingredients in, choose a cooking function, and then step away from the kitchen. The Nutri-Pot will take care of the rest, and when you return, the meal will be uniformly cooked and flavorful. The Nutri Pot is also easy to use and clean so that you can enjoy delicious, healthy meals without any hassle.
</br></br>
<p><b>Soup Maker</b></p>

Soup makers are one of the most versatile and handy kitchen appliances around. Whether you're looking to make a quick and easy soup for lunch or a fancy soup for dinner, a soup maker can help you get the job done. Soup makers come with various preset programs that make it easy to get the perfect soup every time. If you're interested in trying out a soup maker, we highly recommend booking a demo with us. We'll be able to show you how easy it is to use and answer any questions you may have.
</br></br>
<p><b>Stand Mixer</b></p>

A stand mixer is a multipurpose kitchen tool that may be used to prepare numerous recipes. It's critical to select the best stand mixer for your needs because they come in a variety of sizes and designs. If you're interested in learning more about stand mixers, or if you're looking to purchase one, we recommend booking a demo with one of our experts. During a demo, our experts will walk you through the features of our different stand mixers and help you choose the suitable model for your needs.

        </div>
  <hr>





	