{%if collection.title == 'Gifting' %}
    
  	<div  class="static-page">
    {% include 'page-multi-column', content: page.content %}
    <div class="container">
      <div class="one-third column alpha" style="width:23.5%;margin-right:5px">
        <a href="https://www.wonderchef.com/collections/gift-below-1500"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/1._Before_click_5a8129f3-3e3e-420c-bcef-ff8a2f61655f.jpg?v=1609400387" alt="GIft 1000" style="width:100%"></a>
      </div>
      <div class="one-third column" style="width:23.5%;margin-right:5px">
         <a href="https://www.wonderchef.com/collections/gift-1500-to-3500"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/2._Before_click_57e5d856-fe2c-4a29-8249-f66798014a4e.jpg?v=1609400387" alt="GIft 1000" style="width:100%"></a>
      </div>
      <div class="one-third column" style="width:23.5%;;margin-right:5px">
         <a href="https://www.wonderchef.com/collections/gift-above-3500"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/3._Before_click_32ac9110-bc61-44ff-8ee2-8e83a11a55a9.jpg?v=1609400387" alt="GIft 1000" style="width:100%"></a>
      </div>
      <div class="one-third column" style="width:23.5%;">
         <a href="https://www.wonderchef.com/collections/gift-card"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/Block_4.jpg?v=1643444260" alt="GIft 1000" style="width:100%"></a>
      </div>
    </div>
  </div>
{% endif %}
<div class="clearfix"></div>