<div id="test"  style="display:none;" >
  <div onclick="closePopup();" class="overlay"></div>
  <div class="popup">
 <!-- <div class="cancel" onclick="closePopup();">x</div>-->
    {% if section.settings.display_product_detail_share %}
                {% render 'share' with product %}
            {% endif %}
  </div>
</div>

<style>
    .show-read-more .more-text{
        display: none;
    }
</style>
 
  
<div class="product_top product_layout_1 next-prev-product-wrapper">
       
         
      <div class="product_photos">
           










<div class="product_badges">
  

    
  <!--  
        <div class="badge sale-badge">Sale</div>
    -->
    
    
    
     
      
  
    
   
<div class="product_rentbadges ">
  </div>

 
  
</div>

<style>

  .coupon_badges{
    background: #dfa649;
    padding: 5px;
  }
</style>
            <div class="product-single__photos product-slider custom position_left">
                <div class="product-single__photos_container"><div class="slider-for">
                        
                            
                            
                            
                            
                            

                            
                                    <div id="FeaturedImageZoom-product-template-25959398211761-wrapper" class="product-single__photo-wrapper js">
                                        <div id="FeaturedImageZoom-product-template-25959398211761" class="product-single__photo js-zoom-enabled product-single__photo--has-thumbnails number__1" data-image-id="25959398211761" data-fancybox="images" href="//www.wonderchef.com/cdn/shop/files/01_2b16f5b7-9b9d-42ce-aa89-19628a21db5b_1024x1024.jpg?v=1682766584" data-zoom="//www.wonderchef.com/cdn/shop/files/01_2b16f5b7-9b9d-42ce-aa89-19628a21db5b_1024x1024@2x.jpg?v=1682766584" style="position: absolute; overflow: hidden;">
                                            <img id="FeaturedImage-product-template-25959398211761" class="feature-row__image product-featured-img lazyautosizes ls-is-cached lazyloaded" src="//www.wonderchef.com/cdn/shop/files/01_2b16f5b7-9b9d-42ce-aa89-19628a21db5b_1024x1024.jpg?v=1682766584" data-src="//www.wonderchef.com/cdn/shop/files/01_2b16f5b7-9b9d-42ce-aa89-19628a21db5b_1024x1024.jpg?v=1682766584" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" tabindex="-1" alt="Duralife Die-cast 24 cm Fry Pan | 5 Layer Healthy Duramax Non-Stick Coating | Soft Touch Handle | Pure Grade Aluminium | PFOA Free | 1.7 litres | 2 Year Warranty | Copper" sizes="500px">
                                        <img role="presentation" alt="" src="//www.wonderchef.com/cdn/shop/files/01_2b16f5b7-9b9d-42ce-aa89-19628a21db5b_1024x1024@2x.jpg?v=1682766584" class="zoomImg" style="position: absolute; top: -0.543748px; left: -332.95px; opacity: 0; width: 1100px; height: 1100px; border: none; max-width: none; max-height: none;"></div>
                                    </div>
                                
                        
                            
                            
                            
                            
                            

                            
                                    <div id="FeaturedImageZoom-product-template-25959398244529-wrapper" class="product-single__photo-wrapper js">
                                        <div id="FeaturedImageZoom-product-template-25959398244529" class="product-single__photo js-zoom-enabled product-single__photo--has-thumbnails number__2 hide" data-image-id="25959398244529" data-fancybox="images" href="//www.wonderchef.com/cdn/shop/files/02_2c788655-66eb-49a4-8e55-f1ec2fd55ab1_1024x1024.jpg?v=1682766585" data-zoom="//www.wonderchef.com/cdn/shop/files/02_2c788655-66eb-49a4-8e55-f1ec2fd55ab1_1024x1024@2x.jpg?v=1682766585" style="position: absolute; overflow: hidden;">
                                            <img id="FeaturedImage-product-template-25959398244529" class="feature-row__image product-featured-img lazypreload lazyautosizes ls-is-cached lazyloaded" src="//www.wonderchef.com/cdn/shop/files/02_2c788655-66eb-49a4-8e55-f1ec2fd55ab1_1024x1024.jpg?v=1682766585" data-src="//www.wonderchef.com/cdn/shop/files/02_2c788655-66eb-49a4-8e55-f1ec2fd55ab1_1024x1024.jpg?v=1682766585" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" tabindex="-1" alt="Duralife Die-cast 24 cm Fry Pan | 5 Layer Healthy Duramax Non-Stick Coating | Soft Touch Handle | Pure Grade Aluminium | PFOA Free | 1.7 litres | 2 Year Warranty | Copper" sizes="388px">
                                        <img role="presentation" alt="" src="//www.wonderchef.com/cdn/shop/files/02_2c788655-66eb-49a4-8e55-f1ec2fd55ab1_1024x1024@2x.jpg?v=1682766585" class="zoomImg" style="position: absolute; top: 0px; left: 0px; opacity: 0; width: 1100px; height: 1100px; border: none; max-width: none; max-height: none;"></div>
                                    </div>
                                
                        
                            
                            
                            
                            
                            

                            
                                    <div id="FeaturedImageZoom-product-template-25959398277297-wrapper" class="product-single__photo-wrapper js">
                                        <div id="FeaturedImageZoom-product-template-25959398277297" class="product-single__photo js-zoom-enabled product-single__photo--has-thumbnails number__3 hide" data-image-id="25959398277297" data-fancybox="images" href="//www.wonderchef.com/cdn/shop/files/03_bfbdbeb8-3e47-4452-b9be-ac3b8699663f_1024x1024.jpg?v=1682766584" data-zoom="//www.wonderchef.com/cdn/shop/files/03_bfbdbeb8-3e47-4452-b9be-ac3b8699663f_1024x1024@2x.jpg?v=1682766584" style="position: absolute; overflow: hidden;">
                                            <img id="FeaturedImage-product-template-25959398277297" class="feature-row__image product-featured-img lazypreload lazyautosizes ls-is-cached lazyloaded" src="//www.wonderchef.com/cdn/shop/files/03_bfbdbeb8-3e47-4452-b9be-ac3b8699663f_1024x1024.jpg?v=1682766584" data-src="//www.wonderchef.com/cdn/shop/files/03_bfbdbeb8-3e47-4452-b9be-ac3b8699663f_1024x1024.jpg?v=1682766584" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" tabindex="-1" alt="Duralife Die-cast 24 cm Fry Pan | 5 Layer Healthy Duramax Non-Stick Coating | Soft Touch Handle | Pure Grade Aluminium | PFOA Free | 1.7 litres | 2 Year Warranty | Copper" sizes="388px">
                                        <img role="presentation" alt="" src="//www.wonderchef.com/cdn/shop/files/03_bfbdbeb8-3e47-4452-b9be-ac3b8699663f_1024x1024@2x.jpg?v=1682766584" class="zoomImg" style="position: absolute; top: 0px; left: 0px; opacity: 0; width: 1100px; height: 1100px; border: none; max-width: none; max-height: none;"></div>
                                    </div>
                                
                        
                            
                            
                            
                            
                            

                            
                                    <div id="FeaturedImageZoom-product-template-25959398310065-wrapper" class="product-single__photo-wrapper js">
                                        <div id="FeaturedImageZoom-product-template-25959398310065" class="product-single__photo js-zoom-enabled product-single__photo--has-thumbnails number__4 hide" data-image-id="25959398310065" data-fancybox="images" href="//www.wonderchef.com/cdn/shop/files/04_374a0741-c4fc-4449-83d0-e9fc9c013d94_1024x1024.jpg?v=1682766585" data-zoom="//www.wonderchef.com/cdn/shop/files/04_374a0741-c4fc-4449-83d0-e9fc9c013d94_1024x1024@2x.jpg?v=1682766585" style="position: absolute; overflow: hidden;">
                                            <img id="FeaturedImage-product-template-25959398310065" class="feature-row__image product-featured-img lazypreload lazyautosizes ls-is-cached lazyloaded" src="//www.wonderchef.com/cdn/shop/files/04_374a0741-c4fc-4449-83d0-e9fc9c013d94_1024x1024.jpg?v=1682766585" data-src="//www.wonderchef.com/cdn/shop/files/04_374a0741-c4fc-4449-83d0-e9fc9c013d94_1024x1024.jpg?v=1682766585" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" tabindex="-1" alt="Duralife Die-cast 24 cm Fry Pan | 5 Layer Healthy Duramax Non-Stick Coating | Soft Touch Handle | Pure Grade Aluminium | PFOA Free | 1.7 litres | 2 Year Warranty | Copper" sizes="388px">
                                        <img role="presentation" alt="" src="//www.wonderchef.com/cdn/shop/files/04_374a0741-c4fc-4449-83d0-e9fc9c013d94_1024x1024@2x.jpg?v=1682766585" class="zoomImg" style="position: absolute; top: 0px; left: 0px; opacity: 0; width: 1100px; height: 1100px; border: none; max-width: none; max-height: none;"></div>
                                    </div>
                                
                        
                            
                            
                            
                            
                            

                            
                                    <div id="FeaturedImageZoom-product-template-25959398342833-wrapper" class="product-single__photo-wrapper js">
                                        <div id="FeaturedImageZoom-product-template-25959398342833" class="product-single__photo js-zoom-enabled product-single__photo--has-thumbnails number__5 hide" data-image-id="25959398342833" data-fancybox="images" href="//www.wonderchef.com/cdn/shop/files/05_5977eaaa-a2af-4c87-9120-e2b172cdee21_1024x1024.jpg?v=1682766584" data-zoom="//www.wonderchef.com/cdn/shop/files/05_5977eaaa-a2af-4c87-9120-e2b172cdee21_1024x1024@2x.jpg?v=1682766584" style="position: absolute; overflow: hidden;">
                                            <img id="FeaturedImage-product-template-25959398342833" class="feature-row__image product-featured-img lazypreload lazyautosizes ls-is-cached lazyloaded" src="//www.wonderchef.com/cdn/shop/files/05_5977eaaa-a2af-4c87-9120-e2b172cdee21_1024x1024.jpg?v=1682766584" data-src="//www.wonderchef.com/cdn/shop/files/05_5977eaaa-a2af-4c87-9120-e2b172cdee21_1024x1024.jpg?v=1682766584" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" tabindex="-1" alt="Duralife Die-cast 24 cm Fry Pan | 5 Layer Healthy Duramax Non-Stick Coating | Soft Touch Handle | Pure Grade Aluminium | PFOA Free | 1.7 litres | 2 Year Warranty | Copper" sizes="388px">
                                        <img role="presentation" alt="" src="//www.wonderchef.com/cdn/shop/files/05_5977eaaa-a2af-4c87-9120-e2b172cdee21_1024x1024@2x.jpg?v=1682766584" class="zoomImg" style="position: absolute; top: 0px; left: 0px; opacity: 0; width: 1100px; height: 1100px; border: none; max-width: none; max-height: none;"></div>
                                    </div>
                                
                        
                            
                            
                            
                            
                            

                            
                                    <div id="FeaturedImageZoom-product-template-25959398375601-wrapper" class="product-single__photo-wrapper js">
                                        <div id="FeaturedImageZoom-product-template-25959398375601" class="product-single__photo js-zoom-enabled product-single__photo--has-thumbnails number__6 hide" data-image-id="25959398375601" data-fancybox="images" href="//www.wonderchef.com/cdn/shop/files/06_1b4bb2b4-79fe-46c1-aabe-c30c9e7f067d_1024x1024.jpg?v=1682766584" data-zoom="//www.wonderchef.com/cdn/shop/files/06_1b4bb2b4-79fe-46c1-aabe-c30c9e7f067d_1024x1024@2x.jpg?v=1682766584" style="position: absolute; overflow: hidden;">
                                            <img id="FeaturedImage-product-template-25959398375601" class="feature-row__image product-featured-img lazypreload lazyautosizes ls-is-cached lazyloaded" src="//www.wonderchef.com/cdn/shop/files/06_1b4bb2b4-79fe-46c1-aabe-c30c9e7f067d_1024x1024.jpg?v=1682766584" data-src="//www.wonderchef.com/cdn/shop/files/06_1b4bb2b4-79fe-46c1-aabe-c30c9e7f067d_1024x1024.jpg?v=1682766584" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" tabindex="-1" alt="Duralife Die-cast 24 cm Fry Pan | 5 Layer Healthy Duramax Non-Stick Coating | Soft Touch Handle | Pure Grade Aluminium | PFOA Free | 1.7 litres | 2 Year Warranty | Copper" sizes="388px">
                                        <img role="presentation" alt="" src="//www.wonderchef.com/cdn/shop/files/06_1b4bb2b4-79fe-46c1-aabe-c30c9e7f067d_1024x1024@2x.jpg?v=1682766584" class="zoomImg" style="position: absolute; top: 0px; left: 0px; opacity: 0; width: 1100px; height: 1100px; border: none; max-width: none; max-height: none;"></div>
                                    </div>
                                
                        
                            
                            
                            
                            
                            

                            
                                    <div id="FeaturedImageZoom-product-template-25959398408369-wrapper" class="product-single__photo-wrapper js">
                                        <div id="FeaturedImageZoom-product-template-25959398408369" class="product-single__photo js-zoom-enabled product-single__photo--has-thumbnails number__7 hide" data-image-id="25959398408369" data-fancybox="images" href="//www.wonderchef.com/cdn/shop/files/07_7ae06596-22ce-4728-a604-ffce5a04a2b3_1024x1024.jpg?v=1682766584" data-zoom="//www.wonderchef.com/cdn/shop/files/07_7ae06596-22ce-4728-a604-ffce5a04a2b3_1024x1024@2x.jpg?v=1682766584" style="position: absolute; overflow: hidden;">
                                            <img id="FeaturedImage-product-template-25959398408369" class="feature-row__image product-featured-img lazypreload lazyautosizes ls-is-cached lazyloaded" src="//www.wonderchef.com/cdn/shop/files/07_7ae06596-22ce-4728-a604-ffce5a04a2b3_1024x1024.jpg?v=1682766584" data-src="//www.wonderchef.com/cdn/shop/files/07_7ae06596-22ce-4728-a604-ffce5a04a2b3_1024x1024.jpg?v=1682766584" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" tabindex="-1" alt="Duralife Die-cast 24 cm Fry Pan | 5 Layer Healthy Duramax Non-Stick Coating | Soft Touch Handle | Pure Grade Aluminium | PFOA Free | 1.7 litres | 2 Year Warranty | Copper" sizes="388px">
                                        <img role="presentation" alt="" src="//www.wonderchef.com/cdn/shop/files/07_7ae06596-22ce-4728-a604-ffce5a04a2b3_1024x1024@2x.jpg?v=1682766584" class="zoomImg" style="position: absolute; top: 0px; left: 0px; opacity: 0; width: 1100px; height: 1100px; border: none; max-width: none; max-height: none;"></div>
                                    </div>
                                
                        
                            
                            
                            
                            
                            

                            
                                    <div id="FeaturedImageZoom-product-template-25976271405233-wrapper" class="product-single__photo-wrapper js" style="height:500px;">
                                        <div id="FeaturedImageZoom-product-template-25976271405233" class="product-single__photo product-single__media product-single__photo--has-thumbnails number__8 hide" data-image-id="25976271405233" style="height: inherit;">
                                            <iframe frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/2rOPz67zxbU?controls=1&amp;enablejsapi=1&amp;modestbranding=1&amp;origin=https%3A%2F%2Fwww.wonderchef.com&amp;playsinline=1&amp;rel=0" title="The SUV Test - Wonderchef Die-Cast Cookware" data-gtm-yt-inspected-10="true" id="565102789"></iframe>
                                        </div>
                                    </div>
                                
                        
                            
                            
                            
                            
                            

                            
                                    <div id="FeaturedImageZoom-product-template-26018055422129-wrapper" class="product-single__photo-wrapper js">
                                        <div id="FeaturedImageZoom-product-template-26018055422129" class="product-single__photo js-zoom-enabled product-single__photo--has-thumbnails number__9 hide" data-image-id="26018055422129" data-fancybox="images" href="//www.wonderchef.com/cdn/shop/files/63154791_Duralife-Dosa-Fry-Pan-24cm-Copper_1024x1024.jpg?v=1684317953" data-zoom="//www.wonderchef.com/cdn/shop/files/63154791_Duralife-Dosa-Fry-Pan-24cm-Copper_1024x1024@2x.jpg?v=1684317953" style="position: absolute; overflow: hidden;">
                                            <img id="FeaturedImage-product-template-26018055422129" class="feature-row__image product-featured-img lazypreload lazyautosizes ls-is-cached lazyloaded" src="//www.wonderchef.com/cdn/shop/files/63154791_Duralife-Dosa-Fry-Pan-24cm-Copper_1024x1024.jpg?v=1684317953" data-src="//www.wonderchef.com/cdn/shop/files/63154791_Duralife-Dosa-Fry-Pan-24cm-Copper_1024x1024.jpg?v=1684317953" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" tabindex="-1" alt="Duralife Die-cast 24 cm Fry Pan | 5 Layer Healthy Duramax Non-Stick Coating | Soft Touch Handle | Pure Grade Aluminium | PFOA Free | 1.7 litres | 2 Year Warranty | Copper" sizes="388px">
                                        <img role="presentation" alt="" src="//www.wonderchef.com/cdn/shop/files/63154791_Duralife-Dosa-Fry-Pan-24cm-Copper_1024x1024@2x.jpg?v=1684317953" class="zoomImg" style="position: absolute; top: 0px; left: 0px; opacity: 0; width: 1000px; height: 1000px; border: none; max-width: none; max-height: none;"></div>
                                    </div>
                                
                        
                    </div>
                    
                    <div class="hover-to-zoom">
                        <svg viewBox="0 0 1024 1024" class="icon icon-search">
    <path class="path1" d="M966.070 981.101l-304.302-331.965c68.573-71.754 106.232-165.549 106.232-265.136 0-102.57-39.942-199-112.47-271.53s-168.96-112.47-271.53-112.47-199 39.942-271.53 112.47-112.47 168.96-112.47 271.53 39.942 199.002 112.47 271.53 168.96 112.47 271.53 112.47c88.362 0 172.152-29.667 240.043-84.248l304.285 331.947c5.050 5.507 11.954 8.301 18.878 8.301 6.179 0 12.378-2.226 17.293-6.728 10.421-9.555 11.126-25.749 1.571-36.171zM51.2 384c0-183.506 149.294-332.8 332.8-332.8s332.8 149.294 332.8 332.8-149.294 332.8-332.8 332.8-332.8-149.294-332.8-332.8z"></path>
</svg>
                        <span class="text">Click to zoom in</span>
                    </div>
                    
                </div>
                <div class="slider-nav product-single__thumbnails product-single__thumbnails-product-template" data-rows="5">
                    
                        
                                <div class="item product-single__thumbnails-item js" data-slick-index="1">
                                    <a href="//www.wonderchef.com/cdn/shop/files/01_2b16f5b7-9b9d-42ce-aa89-19628a21db5b_1024x1024@2x.jpg?v=1682766584" class="text-link product-single__thumbnail product-single__thumbnail--product-template" data-thumbnail-id="25959398211761" data-zoom="//www.wonderchef.com/cdn/shop/files/01_2b16f5b7-9b9d-42ce-aa89-19628a21db5b_1024x1024@2x.jpg?v=1682766584">
                                            <img class="product-single__thumbnail-image" src="//www.wonderchef.com/cdn/shop/files/01_2b16f5b7-9b9d-42ce-aa89-19628a21db5b_110x110@2x.jpg?v=1682766584" alt="Load image into Gallery viewer, Duralife Die-cast 24 cm Fry Pan | 5 Layer Healthy Duramax Non-Stick Coating | Soft Touch Handle | Pure Grade Aluminium | PFOA Free | 1.7 litres | 2 Year Warranty | Copper">
                                    </a>
                                </div>
                            
                    
                        
                                <div class="item product-single__thumbnails-item js" data-slick-index="2">
                                    <a href="//www.wonderchef.com/cdn/shop/files/02_2c788655-66eb-49a4-8e55-f1ec2fd55ab1_1024x1024@2x.jpg?v=1682766585" class="text-link product-single__thumbnail product-single__thumbnail--product-template" data-thumbnail-id="25959398244529" data-zoom="//www.wonderchef.com/cdn/shop/files/02_2c788655-66eb-49a4-8e55-f1ec2fd55ab1_1024x1024@2x.jpg?v=1682766585">
                                            <img class="product-single__thumbnail-image" src="//www.wonderchef.com/cdn/shop/files/02_2c788655-66eb-49a4-8e55-f1ec2fd55ab1_110x110@2x.jpg?v=1682766585" alt="Load image into Gallery viewer, Duralife Die-cast 24 cm Fry Pan | 5 Layer Healthy Duramax Non-Stick Coating | Soft Touch Handle | Pure Grade Aluminium | PFOA Free | 1.7 litres | 2 Year Warranty | Copper">
                                    </a>
                                </div>
                            
                    
                        
                                <div class="item product-single__thumbnails-item js" data-slick-index="3">
                                    <a href="//www.wonderchef.com/cdn/shop/files/03_bfbdbeb8-3e47-4452-b9be-ac3b8699663f_1024x1024@2x.jpg?v=1682766584" class="text-link product-single__thumbnail product-single__thumbnail--product-template" data-thumbnail-id="25959398277297" data-zoom="//www.wonderchef.com/cdn/shop/files/03_bfbdbeb8-3e47-4452-b9be-ac3b8699663f_1024x1024@2x.jpg?v=1682766584">
                                            <img class="product-single__thumbnail-image" src="//www.wonderchef.com/cdn/shop/files/03_bfbdbeb8-3e47-4452-b9be-ac3b8699663f_110x110@2x.jpg?v=1682766584" alt="Load image into Gallery viewer, Duralife Die-cast 24 cm Fry Pan | 5 Layer Healthy Duramax Non-Stick Coating | Soft Touch Handle | Pure Grade Aluminium | PFOA Free | 1.7 litres | 2 Year Warranty | Copper">
                                    </a>
                                </div>
                            
                    
                        
                                <div class="item product-single__thumbnails-item js" data-slick-index="4">
                                    <a href="//www.wonderchef.com/cdn/shop/files/04_374a0741-c4fc-4449-83d0-e9fc9c013d94_1024x1024@2x.jpg?v=1682766585" class="text-link product-single__thumbnail product-single__thumbnail--product-template" data-thumbnail-id="25959398310065" data-zoom="//www.wonderchef.com/cdn/shop/files/04_374a0741-c4fc-4449-83d0-e9fc9c013d94_1024x1024@2x.jpg?v=1682766585">
                                            <img class="product-single__thumbnail-image" src="//www.wonderchef.com/cdn/shop/files/04_374a0741-c4fc-4449-83d0-e9fc9c013d94_110x110@2x.jpg?v=1682766585" alt="Load image into Gallery viewer, Duralife Die-cast 24 cm Fry Pan | 5 Layer Healthy Duramax Non-Stick Coating | Soft Touch Handle | Pure Grade Aluminium | PFOA Free | 1.7 litres | 2 Year Warranty | Copper">
                                    </a>
                                </div>
                            
                    
                        
                                <div class="item product-single__thumbnails-item js" data-slick-index="5">
                                    <a href="//www.wonderchef.com/cdn/shop/files/05_5977eaaa-a2af-4c87-9120-e2b172cdee21_1024x1024@2x.jpg?v=1682766584" class="text-link product-single__thumbnail product-single__thumbnail--product-template" data-thumbnail-id="25959398342833" data-zoom="//www.wonderchef.com/cdn/shop/files/05_5977eaaa-a2af-4c87-9120-e2b172cdee21_1024x1024@2x.jpg?v=1682766584">
                                            <img class="product-single__thumbnail-image" src="//www.wonderchef.com/cdn/shop/files/05_5977eaaa-a2af-4c87-9120-e2b172cdee21_110x110@2x.jpg?v=1682766584" alt="Load image into Gallery viewer, Duralife Die-cast 24 cm Fry Pan | 5 Layer Healthy Duramax Non-Stick Coating | Soft Touch Handle | Pure Grade Aluminium | PFOA Free | 1.7 litres | 2 Year Warranty | Copper">
                                    </a>
                                </div>
                            
                    
                        
                                <div class="item product-single__thumbnails-item js" data-slick-index="6">
                                    <a href="//www.wonderchef.com/cdn/shop/files/06_1b4bb2b4-79fe-46c1-aabe-c30c9e7f067d_1024x1024@2x.jpg?v=1682766584" class="text-link product-single__thumbnail product-single__thumbnail--product-template" data-thumbnail-id="25959398375601" data-zoom="//www.wonderchef.com/cdn/shop/files/06_1b4bb2b4-79fe-46c1-aabe-c30c9e7f067d_1024x1024@2x.jpg?v=1682766584">
                                            <img class="product-single__thumbnail-image" src="//www.wonderchef.com/cdn/shop/files/06_1b4bb2b4-79fe-46c1-aabe-c30c9e7f067d_110x110@2x.jpg?v=1682766584" alt="Load image into Gallery viewer, Duralife Die-cast 24 cm Fry Pan | 5 Layer Healthy Duramax Non-Stick Coating | Soft Touch Handle | Pure Grade Aluminium | PFOA Free | 1.7 litres | 2 Year Warranty | Copper">
                                    </a>
                                </div>
                            
                    
                        
                                <div class="item product-single__thumbnails-item js" data-slick-index="7">
                                    <a href="//www.wonderchef.com/cdn/shop/files/07_7ae06596-22ce-4728-a604-ffce5a04a2b3_1024x1024@2x.jpg?v=1682766584" class="text-link product-single__thumbnail product-single__thumbnail--product-template" data-thumbnail-id="25959398408369" data-zoom="//www.wonderchef.com/cdn/shop/files/07_7ae06596-22ce-4728-a604-ffce5a04a2b3_1024x1024@2x.jpg?v=1682766584">
                                            <img class="product-single__thumbnail-image" src="//www.wonderchef.com/cdn/shop/files/07_7ae06596-22ce-4728-a604-ffce5a04a2b3_110x110@2x.jpg?v=1682766584" alt="Load image into Gallery viewer, Duralife Die-cast 24 cm Fry Pan | 5 Layer Healthy Duramax Non-Stick Coating | Soft Touch Handle | Pure Grade Aluminium | PFOA Free | 1.7 litres | 2 Year Warranty | Copper">
                                    </a>
                                </div>
                            
                    
                        
                                <div class="item product-single__thumbnails-item js" data-slick-index="8">
                                    <div class="text-link product-single__thumbnail product-single__thumbnail--product-template product-single__media" data-thumbnail-id="25976271405233">
                                        <img id="product-featured-image-25976271405233" class="product-single__thumbnail-image" src="https://img.youtube.com/vi/2rOPz67zxbU/0.jpg" alt="Duralife Die-cast 24 cm Fry Pan | 5 Layer Healthy Duramax Non-Stick Coating | Soft Touch Handle | Pure Grade Aluminium | PFOA Free | 1.7 litres | 2 Year Warranty | Copper">
                                        <div class="product-single__thumbnail--icon" aria-label="Play 3D Viewer">
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 494.148 494.148" xml:space="preserve"><g><g><path d="M405.284,201.188L130.804,13.28C118.128,4.596,105.356,0,94.74,0C74.216,0,61.52,16.472,61.52,44.044v406.124 c0,27.54,12.68,43.98,33.156,43.98c10.632,0,23.2-4.6,35.904-13.308l274.608-187.904c17.66-12.104,27.44-28.392,27.44-45.884 C432.632,229.572,422.964,213.288,405.284,201.188z"></path></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                        </div>
                                    </div>
                                </div>
                            
                    
                        
                                <div class="item product-single__thumbnails-item js" data-slick-index="9">
                                    <a href="//www.wonderchef.com/cdn/shop/files/63154791_Duralife-Dosa-Fry-Pan-24cm-Copper_1024x1024@2x.jpg?v=1684317953" class="text-link product-single__thumbnail product-single__thumbnail--product-template" data-thumbnail-id="26018055422129" data-zoom="//www.wonderchef.com/cdn/shop/files/63154791_Duralife-Dosa-Fry-Pan-24cm-Copper_1024x1024@2x.jpg?v=1684317953">
                                            <img class="product-single__thumbnail-image" src="//www.wonderchef.com/cdn/shop/files/63154791_Duralife-Dosa-Fry-Pan-24cm-Copper_110x110@2x.jpg?v=1684317953" alt="Load image into Gallery viewer, Duralife Die-cast 24 cm Fry Pan | 5 Layer Healthy Duramax Non-Stick Coating | Soft Touch Handle | Pure Grade Aluminium | PFOA Free | 1.7 litres | 2 Year Warranty | Copper">
                                    </a>
                                </div>
                            
                    
                    
                    
                    
                </div>
                <div class="slider-nav-mobile">
                  
                    
                    
                    
                </div>
            </div>
            
        </div>
      
      
        <div class="product_shop">
         <a href="https://www.wonderchef.com/products/wonderchef-duralife-die-cast-fry-pan-5-layer-healthy-duramax-non-stick-coating-soft-touch-handle-pure-grade-aluminium-pfoa-free-1-7-litres-24-cm-2-year-warranty-copper">   <h1 class="product-title ">Duralife Die-cast 24 cm Fry Pan | 5 Layer Healthy Duramax Non-Stick Coating | Soft Touch Handle | Pure Grade Aluminium | PFOA Free | 1.7 litres | 2 Year Warranty | Copper</h1> </a>  <button onclick="openPopup();" style="float:right;border: 0;margin:0px 0px 0px 0px;"> <i class="fa fa-share-alt" aria-hidden="true"></i></button>
           
           
          















<div style="" class="jdgm-widget jdgm-preview-badge jdgm-preview-badge--with-link jdgm--done-setup" data-id="7464287174833" data-template="product" data-auto-install="false">
  <div style="display:none" class="jdgm-prev-badge" data-average-rating="4.60" data-number-of-reviews="5" data-number-of-questions="0"> <span class="jdgm-prev-badge__stars" data-score="4.60" tabindex="0" aria-label="4.60 stars" role="button"> <span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--half"></span> </span> <span class="jdgm-prev-badge__text"> 4.6 | 5 reviews</span> </div>
</div>





          
          <div class="group_item laptop">
                 
                        <div class="sku_product laptop" style="display: flex;">
                            <label>
                                SKU:
                            </label>
                            <span class="variant-sku">63154791</span>
                        </div>
                    
 
                
                    <div data-soldout-product="" class="sold_product" data-items="6,3,5,2,4,6,2,3,2,6" data-hours="24,24,24,24,24,24,24,24,24,24">
                        <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="fire" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-fire fa-w-12 fa-2x"><path fill="currentColor" d="M216 24.01c0-23.8-31.16-33.11-44.15-13.04C76.55 158.25 200 238.73 200 288c0 22.06-17.94 40-40 40s-40-17.94-40-40V182.13c0-19.39-21.86-30.76-37.73-19.68C30.75 198.38 0 257.28 0 320c0 105.87 86.13 192 192 192s192-86.13 192-192c0-170.29-168-192.85-168-295.99zM192 464c-79.4 0-144-64.6-144-144 0-28.66 8.56-64.71 24-88v56c0 48.52 39.48 88 88 88s88-39.48 88-88c0-64.27-88-120-64-208 40 88 152 121.77 152 240 0 79.4-64.6 144-144 144z" class=""></path></svg>
                        <span class="items-count">6</span>
                        sold in last
                        <span class="hours-num">24</span>
                        hours
                    </div>
                
             
            </div>
          
           
             
            
         
              
            
                <!-- snippet/product-price.liquid -->


<div class="product-price  price--on-sale " data-price="" style="min-height:50px;">
                        
   
        <span class="price-item price-item--regular" data-regular-price="">
         MRP: ₹ 1,950/-
        </span>
  <br>

       <span class="price-item price-item--sale" data-sale-price="">
            OFFER PRICE: ₹ 999/-
        </span>

  
      
  
  
     
  
</div>

<div class="product-price  price--on-sale " style="margin-bottom: 15px;margin-top: 10px;">

     
  
     <span class="sale savings" style="background:  background: #f3f3f3;
    padding: 5px 8px;
    font-weight: bolder;
    background-color: #b81f1f;
    background-image: linear-gradient(to right, #b81f1f , #dfa649);
    clip-path: polygon(0% 100%, 100% 100%, calc(100% - 8px) 0%, 0% 0%, calc(100% - 10px) 0%, 0% 0%);
    color: white;;padding: 5px 8px;font-weight: bolder;">
                  
                You Save <span style="">48% </span> (<span class="money" data-currency-inr="₹ 951">₹ 951</span>)
                  
                </span>
   &nbsp;(inclusive of all taxes)
  
  
   
</div>
            
         

                  <script>
                    function openPopup() {
    //document.getElementById('test').style.display = 'block';
   $('#test').fadeIn(100);
}

function closePopup() {
    //document.getElementById('test').style.display = 'none';
    $('#test').fadeOut(100);
}


                  </script>
                  
                  <style>

                    .overlay{
                      background: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    inset: 0px;
    z-index: 20000;
    cursor: pointer;
                    }
                    .popup {
    position:fixed;
    top:0px;
    left:0px;
	bottom:0px;
	right:0px;	
    margin:auto;
    width:205px;
    height:70px;
   
    font-size:13px;
    padding:10px;
    background-color:rgb(240,240,240);
    border:2px solid #d30303;
    z-index:100000000000000000;
}
    
.cancel {
    display:relative;
    cursor:pointer;
    margin:0;
    float:right;
    height:10px;
    width:14px;
    padding:0 0 5px 0;
    background-color:red;
    text-align:center;
    font-weight:bold;
    font-size:11px;
    color:white;
    border-radius:3px;
    z-index:100000000000000000;
}

.cancel:hover {
    background:rgb(255,50,50);
}
                    </style>
               
            	<div class="product_form_wrapper">
                
     <form method="post" action="/cart/add" id="product_form_7464287174833" accept-charset="UTF-8" class="product-form product-form-product-template product-form--payment-button-no-variants
" enctype="multipart/form-data" novalidate="novalidate" data-product-form=""><input type="hidden" name="form_type" value="product"><input type="hidden" name="utf8" value="✓">
                    
                   
                 
                  <div style="margin-bottom:25px;" id="offer">
                    
                <!--     <div style="display:flex;font-size: 14px;margin: 5px 0px;" class="flash" >
            
<img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/pngwing.com.png?v=1668666647" width="20px" height="20px;" >
            <p id="agent_commission_model" style=" margin-left: 5px;color:#930156;" ><b>Cook Good, Look Good!</b> Shop For <b>₹ 2,500 & get a Lakmé Salon voucher worth Rs 500/- absolutely free.</b></p>
            </div>-->
        
                  
                <div style="display:flex;margin: 5px 0px;font-size: 14px;">
            
<img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/pngwing.com.png?v=1668666647" width="20px" height="20px;">
            <p id="agent_commission_model" style=" margin-left: 5px;">Order now and get <b><span style="color:#b20000">free shipping.</span></b></p>
            </div>  
                     
                     <div style="display:flex;margin: 5px 0px;font-size: 14px;">
            
<img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/pngwing.com.png?v=1668666647" width="20px" height="20px;">
            <p id="agent_commission_model" style=" margin-left: 5px;">Buy now &amp; earn <b><span class="mp" style="color:#b20000">999 WonderPoints </span></b>that can be used towards your next purchase.</p>
            </div>
                    

                   
               
          </div>
                 
                  
                    


<select name="id" id="ProductSelect-product-template" class="product-form__variants no-js">
    
        
            <option selected="selected" value="42662082543793">
                Default Title
            </option>
        
    
</select>
                    
                      
                        <div class="product-form__item product-form__item--quantity quantity">
                            <label for="Quantity-product-template" class="form-label">Quantity</label>
                            <div class="qty-group">
                                <a href="#" data-qtt="" data-minus-qtt="" class="minus button"> <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 498.98 284.49"><defs></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg> </a>
                                <input type="text" id="Quantity-product-template" name="quantity" value="1" min="1" pattern="[0-9]*" data-quantity-input="">
                                <a href="#" data-qtt="" data-plus-qtt="" class="plus button"> <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-up" viewBox="0 0 498.98 284.49"><defs><style>.cls-1{fill:#231f20}</style></defs><path class="cls-1" d="M579.91 486.24A35 35 0 0 1 520.16 511L330.42 321.25 140.68 511a35 35 0 1 1-49.5-49.5L305.67 247a35 35 0 0 1 49.5 0l214.49 214.5a34.89 34.89 0 0 1 10.25 24.74z" transform="translate(-80.93 -236.76)"></path></svg></a>
                            </div>
                        </div>
                         
                    

                    
                        <div class="total-price">
                            <label>
                                Subtotal:
                            </label>
                            <span class="total-money" data-total-price="" data-price-value="99900">
                                ₹ 999
                            </span>
                        </div>
                    

                    <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden" data-error-message-wrapper="" role="alert">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 14 14"><g fill="none" fill-rule="evenodd"><path d="M7 0a7 7 0 0 1 7 7 7 7 0 1 1-7-7z"></path><path class="icon-error__symbol" d="M6.328 8.396l-.252-5.4h1.836l-.24 5.4H6.328zM6.04 10.16c0-.528.432-.972.96-.972s.972.444.972.972c0 .516-.444.96-.972.96a.97.97 0 0 1-.96-.96z" fill-rule="nonzero"></path></g></svg> <span class="product-form__error-message" data-error-message="">Quantity must be 1 or more</span>
                    </div>
                  <div id="esc-oos-form"></div>
             <script data-app="esc-out-of-stock" type="text/json">[{"id":42662082543793,"title":"Default Title","option1":"Default Title","option2":null,"option3":null,"sku":"63154791","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":" | escape","public_title":" | escape","options":["Default Title"],"price":99900,"weight":0,"compare_at_price":195000,"inventory_quantity":19,"inventory_management":"shopify","inventory_policy":"deny","barcode":"8904214735784"}]</script>
<script data-app="esc-out-of-stock-locale" type="text/json">[{"iso_code":"en"}]</script>
                    <div class="button-group layout-1">

                       <div class="custom-buy__now shopify-payment-button">
          <a href="https://www.wonderchef.com/products/wonderchef-duralife-die-cast-fry-pan-5-layer-healthy-duramax-non-stick-coating-soft-touch-handle-pure-grade-aluminium-pfoa-free-1-7-litres-24-cm-2-year-warranty-copper" class="shopify-payment-button__button buy-now shopify-payment-button__button--unbranded smartech-payment-button"  style="display: block;"><span>See all details</span></a>
        </div>
                
                   
                        <button type="submit" name="add" aria-label="Add to cart" class="btn btn--primary product-form__cart-submit" data-add-to-cart="">
                            
                                
                                    
                                        <span data-add-to-cart-text="">
                                            Add to cart
                                        </span>
                                    
                                
                            
                           
                            <span class="hide" data-loader="">
                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-spinner" viewBox="0 0 20 20"><path d="M7.229 1.173a9.25 9.25 0 1 0 11.655 11.412 1.25 1.25 0 1 0-2.4-.698 6.75 6.75 0 1 1-8.506-8.329 1.25 1.25 0 1 0-.75-2.385z" fill="#919EAB"></path></svg>
                            </span>
                        </button>
                  
                                    
                  
                        
                  
                
         
      
                  
                            
                        
                        
                    
                   
                
                    </div>
          
         <!-- Rentity Snippet Start for Product Card -->
          		 
		          <!-- Rentity Snippet End for Product Card -->
                    <!-- <input required type="text" id="monogram" name="properties[Note]" data-error="Please enter a Note."> -->
                <input type="hidden" name="product-id" value="7464287174833"></form>

                <div class="product_infor">
                    
                   
                    
                    
                 </div>
            
<p class="visually-hidden" data-product-status="" aria-live="polite" role="status"></p><p class="visually-hidden" data-loader-status="" aria-live="assertive" role="alert" aria-hidden="true">
                    Adding product to your cart
                </p>
            </div>
      
      
            
                <div id="customers_view" class="product_customers_view" data-customer-view="25,28,30,27,29">
                    <i class="far fa-eye"></i>
                    <label>30</label>
                    <span> customers are viewing this product</span>
                </div>
            
      

      
            
        </div>
  
  

<script>
    $(document).ready(function() {
        var nextPrevProduct = $('.next-prev-product'),
                iconNextPrev = nextPrevProduct.find('[data-next-prev-icon]'),
                contentNextPrev = nextPrevProduct.find('[data-next-prev-content]'),
                modal = nextPrevProduct.find('[data-next-prev-modal]');
        
        if(!('ontouchstart' in document)) {
            iconNextPrev.hover(function() {
                var curLink = $(this),
                        curContent = $(curLink.data('target'));    
                
                if(!$(this).hasClass('active')) {
                    iconNextPrev.removeClass('active');
                    contentNextPrev.removeClass('active');
                    
                    curLink.addClass('active');
                    curContent.addClass('active');
                    modal.show();
                }
                                
                nextPrevProduct.mouseleave(function() {
                    if(modal.is(':visible')) {
                        iconNextPrev.removeClass('active');
                        contentNextPrev.removeClass('active');
                        modal.hide();
                    };
                });   
            });
        }
        
        else {
            iconNextPrev.off('click').on('click', function(e) {
                e.preventDefault();
                e.stopPropagation();
                
                var curLink = $(this),
                        curContent = $(curLink.data('target'));
                
                if(!$(this).hasClass('active')) {
                    iconNextPrev.removeClass('active');
                    contentNextPrev.removeClass('active');
                    
                    curLink.addClass('active');
                    curContent.addClass('active');
                    modal.show();
                }
                else {
                    curLink.removeClass('active');
                    curContent.removeClass('active');
                    modal.hide();
                }
            });
        };
        
        $(document).on('click', function(e) {
            if(!$(e.target).closest('[data-next-prev-modal]').length && modal.is(':visible')) {
                iconNextPrev.removeClass('active');
                contentNextPrev.removeClass('active');
                modal.hide();
            };
        });
    });
</script>

  
    </div>
                                            
{% schema %}
{
    "name": "Product pages",
    "settings": [
        {
            "type": "header",
            "content": "Product Image"
        },
        {
            "type": "select",
            "id": "thumnail_image_position",
            "label": "Position Thumnail",
            "default": "position_left",
            "options": [
                {
                    "value": "position_left",
                    "label": "Thumnail Left"
                },
                {
                    "value": "position_right",
                    "label": "Thumnail Right"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "enable_zoom",
            "label": "Enable image zoom",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "enable_fancybox",
            "label": "Enable image gallery popup",
            "default": true
        },
        {
            "type": "header",
            "content": "Video Product"
        },
        {
            "type": "checkbox",
            "id": "video_product",
            "label": "Enable Video Product",
            "default": false,
            "info": "Please install app Metafields Guru and setting like Document"
        },
        {
            "type": "select",
            "id": "video_icon_type",
            "label": "Video Icon Type",
            "options": [
                {
                    "value": "font",
                    "label": "Icon Font Awesome"
                },
                {
                    "value": "image",
                    "label": "Icon image"
                }
            ],
            "default": "font"
        },
        {
            "type": "text",
            "id": "video_icon",
            "label": "Font Awesome icon",
            "default": "<i class=\'far fa-play-circle\'></i>",
            "info": "Font Awesome [(Where do I find Font Awesome?)](https:\/\/fontawesome.com\/icons)"
        },
        {
            "type": "image_picker",
            "id": "video_image",
            "label": "Image Icon"
        },
        {
            "type" : "text",
            "id" : "video_header",
            "label" : "Title",
            "default" : "Video"
            
        },
        {
            "type": "header",
            "content": "Instruction Product"
        },
        {
            "type": "checkbox",
            "id": "instruction_product",
            "label": "Enable Instruction Product",
            "default": false,
            "info": "Please install app Metafields Guru and setting like Document"
        },
        {
            "type": "select",
            "id": "instruction_icon_type",
            "label": "Instruction Icon Type",
            "options": [
                {
                    "value": "font",
                    "label": "Icon Font Awesome"
                },
                {
                    "value": "image",
                    "label": "Icon image"
                }
            ],
            "default": "font"
        },
        {
            "type": "text",
            "id": "instruction_icon",
            "label": "Font Awesome icon",
            "default": "<i class=\'fas fa-book\'></i>",
            "info": "Font Awesome [(Where do I find Font Awesome?)](https:\/\/fontawesome.com\/icons)"
        },
        {
            "type": "image_picker",
            "id": "instruction_image",
            "label": "Image Icon"
        },
        {
            "type" : "text",
            "id" : "instruction_header",
            "label" : "Title",
            "default" : "Instruction"
            
        },
        {
            "type": "header",
            "content": "Warranty Product"
        },
        {
            "type": "checkbox",
            "id": "warranty_product",
            "label": "Enable Warranty Product",
            "default": false,
            "info": "Please install app Metafields Guru and setting like Document"
        },
        {
            "type": "select",
            "id": "warranty_icon_type",
            "label": "Warranty Icon Type",
            "options": [
                {
                    "value": "font",
                    "label": "Icon Font Awesome"
                },
                {
                    "value": "image",
                    "label": "Icon image"
                }
            ],
            "default": "font"
        },
        {
            "type": "text",
            "id": "warranty_icon",
            "label": "Font Awesome icon",
            "default": "<i class=\'fas fa-shield-alt\'></i>",
            "info": "Font Awesome [(Where do I find Font Awesome?)](https:\/\/fontawesome.com\/icons)"
        },
        {
            "type": "image_picker",
            "id": "warranty_image",
            "label": "Image Icon"
        },
        {
            "type" : "text",
            "id" : "warranty_header",
            "label" : "Title",
            "default" : "Warranty"
            
        },
        {
            "type": "header",
            "content": "Contacts"
        },
        {
            "type" : "checkbox",
            "id" : "show_contacts",
            "label" : "Enabled Contacts",
            "default" : true
        },
        {
            "type": "image_picker",
            "id": "contacts_image",
            "label": "Contacts Image"
        },
        {
            "type" : "text",
            "id" : "contact_title",
            "label" : "Contacts title",
            "default" : "Have Questions?"
        },
        {
            "type" : "text",
            "id" : "contact_phone",
            "label" : "Number Phone",
            "default" : "1.800.000.6890"
        },
        {
            "type": "header",
            "content": "Ask an Expert"
        },
        {
            "type" : "checkbox",
            "id" : "ask_an_expert",
            "label" : "Enabled Ask an Expert",
            "default" : true
        },
        {
            "type" : "text",
            "id" : "ask_an_expert_title",
            "label" : "title",
            "default" : "Ask an Experts"
        },
        {
            "type": "header",
            "content": "Services"
        },
        {
            "type" : "checkbox",
            "id" : "show_services",
            "label" : "Enabled Services",
            "default" : true
        },
        {
            "type": "text",
            "id": "services_icon_1",
            "label": "Services Icon",
            "default": "<i class=\'fas fa-check\'></i>",
            "info": "Font Awesome [(Where do I find Font Awesome?)](https:\/\/fontawesome.com\/icons)"
        },
        {
            "type" : "text",
            "id" : "services_title_1",
            "label" : "Services title",
            "default" : "Services"
        },
        {
            "type" : "text",
            "id" : "services_description_1",
            "label" : "Services description",
            "default" : "Use appropriate text",
            "info": "======================"
        },
        {
            "type": "text",
            "id": "services_icon_2",
            "label": "Services Icon",
            "default": "<i class=\'fas fa-phone\'></i>",
            "info": "Font Awesome [(Where do I find Font Awesome?)](https:\/\/fontawesome.com\/icons)"
        },
        {
            "type" : "text",
            "id" : "services_title_2",
            "label" : "Services title",
            "default" : "Services"
        },
        {
            "type" : "text",
            "id" : "services_description_2",
            "label" : "Services description",
            "default" : "Use appropriate text",
            "info": "======================"
        },
        {
            "type": "text",
            "id": "services_icon_3",
            "label": "Services Icon",
            "default": "<i class=\'fas fa-wrench\'></i>",
            "info": "Font Awesome [(Where do I find Font Awesome?)](https:\/\/fontawesome.com\/icons)"
        },
        {
            "type" : "text",
            "id" : "services_title_3",
            "label" : "Services title",
            "default" : "Services"
        },
        {
            "type" : "text",
            "id" : "services_description_3",
            "label" : "Services description",
            "default" : "Use appropriate text",
            "info": "======================"
        },
        {
            "type": "text",
            "id": "services_icon_4",
            "label": "Services Icon",
            "default": "<i class=\'fas fa-dice-d6\'></i>",
            "info": "Font Awesome [(Where do I find Font Awesome?)](https:\/\/fontawesome.com\/icons)"
        },
        {
            "type" : "text",
            "id" : "services_title_4",
            "label" : "Services title",
            "default" : "Services"
        },
        {
            "type" : "text",
            "id" : "services_description_4",
            "label" : "Services description",
            "default" : "Use appropriate text"
        },
        {
            "type" : "header",
            "content" : "products review"
        },
        {
            "type": "checkbox",
            "id": "display_product_reviews",
            "label": "Enable Product Reviews?",
            "default": true
        },
        {
            "type" : "header",
            "content" : "products has been sold"
        },
        {
            "type" : "checkbox",
            "id" : "show_sold_in",
            "label" : "Enabled",
            "default" : true
        },
        {
            "type" : "textarea",
            "id" : "item_prd",
            "label" : "The number of products",
            "default" : "3,5,6,7,8,10,12,15"
        },
        {
            "type" : "text",
            "id" : "item_prds",
            "label" : "Text Sold in",
            "default" : "sold in last"
        },
        {
            "type" : "textarea",
            "id" : "hours_prs",
            "label" : "Hours",
            "default" : "10,15,16,17,18,20,25,35"
        },
        {
            "type" : "text",
            "id" : "item_hours",
            "label" : "Text Hours",
            "default" : "hours"
        },
        {
            "type": "header",
            "content": "Product vendor"
        },
        {
            "type": "checkbox",
            "id": "display_vendor",
            "label": "Enable Vendor?",
            "default": true
        },
        {
            "type": "header",
            "content": "Product SKU"
        },
        {
            "type": "checkbox",
            "id": "display_product_sku",
            "label": "Enable Product SKU?",
            "default": true
        },
        {
            "type": "header",
            "content": "Product Availability"
        },
        {
            "type": "checkbox",
            "id": "display_availability",
            "label": "Enable Availability?",
            "default": true
        },
        {
            "type": "header",
            "content": "Product Type"
        },
        {
            "type": "checkbox",
            "id": "display_product_type",
            "label": "Enable Product Type?",
            "default": true
        },
        {
            "type": "header",
            "content": "Countdown"
        },
        {
            "type": "checkbox",
            "id": "display_countdown",
            "label": "Enable Countdown?",
            "default": true,
            "info": "Please install app Metafields Guru and setting like Document"
        },
        {
            "type": "header",
            "content": "Product Price"
        },
        {
            "type": "checkbox",
            "id": "display_price",
            "label": "Enable Price?",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "display_subtotal",
            "label": "Enable Subtotal?",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_quantity_selector",
            "label": "Show quantity selector",
            "default": true
        },
        {
            "type": "header",
            "content": "Product Short Description"
        },
        {
            "type": "checkbox",
            "id": "display_short_description",
            "label": "Enable Short description?",
            "default": true
        },
        {
            "type": "text",
            "id": "number_words",
            "label": "Number Words",
            "default": "16"
        },
        {
            "type": "header",
            "content": "Product Size Chart"
        },
        {
            "type": "checkbox",
            "id": "display_size_chart",
            "label": "Enable Size Chart?",
            "default": true
        },
        {
            "type": "text",
            "id": "display_size_chart_at",
            "label": "Show Size Chart At Option (Use for swatch)",
            "default": "Size"
        },
        {
            "type": "text",
            "id": "size_guide_text",
            "label": "Size Guide Text",
            "default": "Size Guide"
        },
        {
            "type": "text",
            "id": "custom_size_chart_header",
            "label": "Header",
            "default": "Size Chart"
        },
        {
            "type": "select",
            "id": "size_chart",
            "label": "Using different size charts for products by following",
            "options": [
            {
                "value": "none",
                "label": "All Product"
            },
            {
                "value": "product_vendor",
                "label": "Product Vendor"
            },
            {
                "value": "product_type",
                "label": "Product Type"
            },
            {
                "value": "different",
                "label": "Each of size chart for each of product"
            }],
            "default": "none",
            "info": "Default Value: All Products"
        },
        {
            "type": "image_picker",
            "id": "custom_size_chart",
            "label": "Size Chart Image",
            "info": "Select Image if you would like to show the same Size Chart for All Products"
        },
        {
            "type": "header",
            "content": "dynamic checkout button"
        },
        {
            "type": "checkbox",
            "id": "enable_payment_button",
            "label": "Show dynamic checkout button",
            "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
            "default": true
        },
        {
            "type" : "header",
            "content" : "Customers viewing"
        },
        {
            "type" : "checkbox",
            "id" : "dpl_customers_view",
            "label" : "Enable Customers viewing",
            "default" : true
        },
        {
            "type" : "text",
            "id" : "title_view",
            "label" : "Title",
            "default" : "customers are viewing this product"
        },
        {
            "type" : "textarea",
            "id" : "number_view",
            "label" : "Number of customers viewing",
            "default" : "283, 100, 59, 11, 14, 185, 193, 165, 50, 38, 99, 112, 46, 10, 125, 200, 250, 18",
            "info" : "Please enter the number"
        },
        {
            "type": "header",
            "content": "Product Share"
        },
        {
            "type": "checkbox",
            "id": "display_product_detail_share",
            "label": "Enable Product Share?",
            "default": true
        },
        {
            "type": "text",
            "id": "share_text",
            "label": "Share Text",
            "default": "Share"
        },
        {
            "type": "header",
            "content": "Product Trust Image"
        },
        {
            "type": "checkbox",
            "id": "display_trust_img",
            "label": "Enable Trust Image?",
            "default": true
        },
        {
            "type": "image_picker",
            "id": "img_trust",
            "label": "Image Trust"
        },
        {
            "type": "header",
            "content": "Sticky Add To Cart"
        },
        {
            "type": "checkbox",
            "id": "enable_sticky_atc",
            "label": "Enable Sticky Add To Cart",
            "default": true
        }
    ]
}
{% endschema %}

                                                
<script>
 function numberWithCommas(number) {
    var parts = number.toString().split(".");
    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    return parts.join(".");
}
$(document).ready(function() {
  $("#agent_commission_model span").each(function() {
    var num = $(this).text();
    var commaNum = numberWithCommas(num);
    $(this).text(commaNum);
  });
});
</script>


<script>
  function instantBuy(event,data){
    event.preventDefault();
    var $ = jQuery;
    var formParams =$(data).closest('form').serialize();
    $(data).find('span').html("Adding...");
    $(data).attr("disabled",true);
    $.ajax({
      url: "/cart/add.js",
      type: "post",
      dataType :'JSON',
      data: formParams,
      success: function(){
        window.location.href = "/checkout";
        $(data).find('span').html('BUY NOW');
      },
      error: function(){
        $(data).removeAttr("disabled");
        $(data).find('span').html('BUY NOW');
      }
    })
  }
</script>
