<header class="banner center page_banner dark-overlay-false"> <div class="hidden_xs clearfix">
      <h1 style="text-align:center;"> Gift</h1>

<div class="image-element__wrap" style=" max-width: 1920px;"> <img alt="test" src="//cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_1600x.jpg?v=1628662922" data-src="//cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_1600x.jpg?v=1628662922" data-sizes="auto" data-aspectratio="1920/480" data-srcset="//cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_5000x.jpg?v=1628662922 5000w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_4500x.jpg?v=1628662922 4500w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_4000x.jpg?v=1628662922 4000w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_3500x.jpg?v=1628662922 3500w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_3000x.jpg?v=1628662922 3000w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_2500x.jpg?v=1628662922 2500w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_2000x.jpg?v=1628662922 2000w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_1800x.jpg?v=1628662922 1800w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_1600x.jpg?v=1628662922 1600w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_1400x.jpg?v=1628662922 1400w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_1200x.jpg?v=1628662922 1200w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_1000x.jpg?v=1628662922 1000w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_800x.jpg?v=1628662922 800w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_600x.jpg?v=1628662922 600w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_400x.jpg?v=1628662922 400w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_200x.jpg?v=1628662922 200w" style=";" class="transition--blur-up lazyautosizes lazyloaded" sizes="939px" srcset="//cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_5000x.jpg?v=1628662922 5000w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_4500x.jpg?v=1628662922 4500w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_4000x.jpg?v=1628662922 4000w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_3500x.jpg?v=1628662922 3500w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_3000x.jpg?v=1628662922 3000w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_2500x.jpg?v=1628662922 2500w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_2000x.jpg?v=1628662922 2000w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_1800x.jpg?v=1628662922 1800w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_1600x.jpg?v=1628662922 1600w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_1400x.jpg?v=1628662922 1400w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_1200x.jpg?v=1628662922 1200w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_1000x.jpg?v=1628662922 1000w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_800x.jpg?v=1628662922 800w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_600x.jpg?v=1628662922 600w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_400x.jpg?v=1628662922 400w,
    //cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_200x.jpg?v=1628662922 200w">
</div>



<noscript> <img src="//cdn.shopify.com/s/files/1/0104/9211/7092/collections/Offer_banner_2000x.jpg?v=1628662922" alt="test" class="">
</noscript></div> <div class="visible_xs clearfix"> <img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/Onam_Offer_banner_Mobile.jpg?v=1628612372" alt="" class=""></div>
  	<div class="static-page"> <div class="container"> <div class="one-third column alpha" style="width:32%;margin-right:5px"> <a href="https://www.wonderchef.com/collections/gift-below-1500"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/1._Before_click_5a8129f3-3e3e-420c-bcef-ff8a2f61655f.jpg?v=1609400387" alt="GIft 1000" style="width:100%"></a></div> <div class="one-third column" style="width:32%;margin-right:5px"> <a href="https://www.wonderchef.com/collections/gift-1500-to-3500"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/2._Before_click_57e5d856-fe2c-4a29-8249-f66798014a4e.jpg?v=1609400387" alt="GIft 1000" style="width:100%"></a></div> <div class="one-third column" style="width:32%;"> <a href="https://www.wonderchef.com/collections/gift-above-3500"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/3._Before_click_32ac9110-bc61-44ff-8ee2-8e83a11a55a9.jpg?v=1609400387" alt="GIft 1000" style="width:100%"></a></div></div></div>

    
      
    
<h1 style="display:none;" class="headline">Gifting</h1>
<script type="text/javascript" xml="space">// 

// Set the date we're counting down to
   var countDownDate = new Date("August 23, 2021 00:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now an the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var convertedDays = days*24; 
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
  var convertedHours = hours + convertedDays;

  // Display the result in the element with id="demo"
 jQuery(".offertime_categories").html(convertedHours + "h:"  + minutes + "m:" + seconds + "s left");

  // If the count down is finished, write some text 
  if (distance <0) {
    clearInterval(x);
     jQuery(".offertime_categories").html( "");
  }
}, 1000);
</script></header>
