{% case section.settings.column %}
    {% when 1 %}
        {%- assign column = '1' -%}
    {% when 2 %}
        {%- assign column = '2' -%}
    {% when 3 %}
        {%- assign column = '3' -%}
    {% when 4 %}
        {%- assign column = '4' -%}
    {% when 4 %}
        {%- assign column = '5' -%}
{% endcase %}

<div class="sidebar_mobile_wrapper">
    <div class="item item-iconSidebar text-left">
        <div class="sidebar_mobile">
            <span class='text'>{{ 'collections.sidebar.title' | t }}:</span>
            {% render 'icon-sidebar' %}
        </div>
    </div>
</div>

<div class="halo-column column-{{ column }}">
    {% if section.settings.display_type == 'all' %}
        {% case section.settings.sort %}
            {% when 'products_high' or 'products_low' %}
                {%- assign collections = collections | sort: 'all_products_count' -%}
            {% when 'date' or 'date_reversed' %}
                {%- assign collections = collections | sort: 'published_at' -%}
        {% endcase %}
        {% if section.settings.sort == 'products_low' or section.settings.sort == 'date' or section.settings.sort == 'alphabetical' %}
            {% for collection in collections %}
                <li class="halo-item">
                    {% render 'collection-grid-item', collection: collection %}
                </li>
            {% endfor %}
        {% else %}
            {% for collection in collections reversed %}
                <li class="halo-item">
                    {% render 'collection-grid-item', collection: collection %}
                </li>
            {% endfor %}
        {% endif     %}
    {% else %}
        {% for block in section.blocks %}
            <li class="halo-item">
                {% assign collection = collections[block.settings.collection] %}
                {% render 'collection-grid-item', collection: collection %}
            </li>
        {% endfor %}
    {% endif %}
</div>


{% schema %}
{
    "name": "Collections list page",
    "class": "page-content",
    "settings": [
        {
            "type": "paragraph",
            "content": "All of your collections are listed by default. To customize your list, choose 'Selected' and add collections."
        },
        {
            "type": "radio",
            "id": "display_type",
            "label": "Select collections to show",
            "default": "all",
            "options": [
                {
                    "value": "all",
                    "label": "All"
                },
                {
                    "value": "selected",
                    "label": "Selected"
                }
            ]
        },
        {
            "type": "select",
            "id": "sort",
            "label": "Sort collections by:",
            "info": "Sorting only applies when 'All' is selected",
            "default": "alphabetical",
            "options": [
                {
                    "value": "products_high",
                    "label": "Product count, high to low"
                },
                {
                    "value": "products_low",
                    "label": "Product count, low to high"
                },
                {
                    "value": "alphabetical",
                    "label": "Alphabetically, A-Z"
                },
                {
                    "value": "alphabetical_reversed",
                    "label": "Alphabetically, Z-A"
                },
                {
                    "value": "date",
                    "label": "Date, old to new"
                },
                {
                    "value": "date_reversed",
                    "label": "Date, new to old"
                }
            ]
        },
        {
            "type": "range",
            "id": "column",
            "label": "Collections per row",
            "min": 1,
            "max": 5,
            "step": 1,
            "default": 3
        }
    ],
    "blocks": [
        {
            "type": "collection",
            "name": "Collection",
            "settings": [
                {
                    "label": "Collection",
                    "id": "collection",
                    "type": "collection"
                }
            ]
        }
    ]
}
{% endschema %}
