
	
<style class="vjs-styles-defaults">
  
  p {
    margin: 0 0 0px!important;
   
}
  .style__textTile__3IGKx.style__large__sqlxi {
    padding: 1.5%!important;
}
  
  
      .video-js {
        width: 300px;
        height: 150px;
      }

      .vjs-fluid {
        padding-top: 56.25%
      }
    </style>
	<style class="vjs-styles-dimensions">
      .stores-video-vls1unawf7-dimensions {
        width: 854px;
        height: 479.99999999999994px;
      }

      .stores-video-vls1unawf7-dimensions.vjs-fluid {
        padding-top: 56.20608899297424%;
      }
    </style><style class="vjs-styles-dimensions">
      .stores-video-rh2esjbp09-dimensions {
        width: 1920px;
        height: 1080px;
      }

      .stores-video-rh2esjbp09-dimensions.vjs-fluid {
        padding-top: 56.25%;
      }
    </style>
	<style class="vjs-styles-dimensions">
      .stores-video-rity7c98pt-dimensions {
        width: 1920px;
        height: 876px;
      }

      .stores-video-rity7c98pt-dimensions.vjs-fluid {
        padding-top: 45.625%;
      }
.v-space{
  
  margin-top:2%;
  
}
@media (max-width: 800px) {
.v-space{
  
  margin-top:25%;
  
  
}
  .style__row__3wS8d{
    padding: 39px 7.5px 0.5px 7.5px!important;
  }
  .laptop{
    
    display:none;
  }
   .mobile{
        display:block;
      }
  .style__title__WbEBX {
    font-size: 1.9em!important;
    max-height: none;
}
  .style__tagline__3aa7g {
    font-size: 1.375em!important;
    max-height: none;
}
  
 
}
      .celi{text-align:left;}
       .celi2{text-align:right;}
      @media (min-width: 801px) {
      .mobile{
        display:none;
      }
      }
      


div.container {
    margin: 0 auto;
    padding: 0px!important;
}
.container.js-product-slider.homepage-product-slider .slider-gallery {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

 @media screen and (max-width: 840px){
.style__textTile__3IGKx.style__small__3gYkV .style__description__GTAEe {
    font-size: 15px!important;
    max-height: 6.665em;
    overflow: hidden;
}
   .style__textTile__3IGKx.style__large__sqlxi .style__description__GTAEe {
    font-size: 1.9em!important;
    max-height: none;
}
   .style__imageTile__3JHSj.style__cover__Pengw .style__caption-wrapper__1N1zE {
    bottom: 0!important;
    max-height: none!important;
    padding: 0.75em!important;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    /* right: auto; */
    /* left: AUTO; */
    border-top: 0;
    background: #000;
    margin: 15px!important;
    FONT-SIZE: 6px!important;
}

   @media screen and (max-width: 840px){
.style__textTile__3IGKx.style__small__3gYkV .style__description__GTAEe {
   
   
    min-height: 240px;
    /* overflow: hidden; */
}}
  
.style__textTile__3IGKx.style__small__3gYkV {
    padding: 0.5%!important;
}
 }
video {
    display: block;
    width: 100%;
    height: 100%;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  width:auto;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
      
      .style__textTile__3IGKx .style__description__GTAEe {
    color: #000;
        font-weight:bold;
    word-break: break-word;
    font-family: Montserrat,sans-serif!important;
}
      
      .style__textTile__3IGKx.style__small__3gYkV .style__description__GTAEe {
    font-size: 1.7em!important;
   
}
 
    </style>
<link rel="stylesheet" href="https://images-eu.ssl-images-amazon.com/images/I/71KRxyP8saL.css?AUIClients/AmazonStoresReactBuzzAssets-AmazonStoresReactWidgets-diamond">
<link rel="stylesheet" href="https://images-eu.ssl-images-amazon.com/images/I/81sTPNH-m+L.css?AUIClients/AmazonStoresReactBuzzAssets-AmazonStoresReactUiToolkit-diamond">
<link rel="stylesheet" href="https://images-eu.ssl-images-amazon.com/images/I/61Y0mOb0L-L.css?AUIClients/AmazonStoresReactBuzzAssets-AmazonStoresReactWidgetsProductGrid-diamond">
<link rel="stylesheet" href="https://images-eu.ssl-images-amazon.com/images/I/51NfLtDS9mL._RC%7C01oxUylwjHL.css_.css?AUIClients/Brila">
	<!--  <div data-widgetid="6ylqhxfg6o" data-widgettype="EditorialRow" class="a-column a-span12 stores-column v-space">
	   
		 
						  
							<video id="stores-video-rity7c98pt_html5_api" data-click-type="OTHER" tabindex="-1" class="vjs-tech" preload="metadata" loop="" muted="muted" playsinline="playsinline" autoplay="" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/B1exZdjqAnS.mp4?v=1630648104"></video>
			
	</div>-->
	
	<div id="uh8md8h49c" class="a-row stores-row stores-widget-btf container" style="opacity: 1;">
  <div data-widgetid="uh8md8h49c" data-widgettype="EditorialRow" class="a-column a-span12 stores-column">
    <div id="EditorialRow-slQbbCy">
      <div>
        <div class="style__row__3wS8d double style__noText__1VqhD">
         
          <div class="style__half__3vpnl">
            <div id="lo3xmkyci5" class="EditorialTile__tile__3UtFX EditorialTile__medium__-4req interactiveImage EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW">
                  <div class="style__container__to60m">
                    <div class="style__image-wrapper__1E9ym" data-click-type="OTHER"><a href="https://wonderchef.com/collections/nutriblend-mixer-grinder-2-jar"> <img class="style__image__1k4uu" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/offer_banner_1500x1500-2.jpg?v=1641817424"></a>
                      
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div class="style__half__3vpnl">
            <div id="r80vz5c3om" class="EditorialTile__tile__3UtFX EditorialTile__small__2lq63 EditorialTile__text__oPEWB EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW"> 
                <div class="style__textTile__3IGKx style__small__3gYkV style__left__12fx4"><div class="style__textContent__1gVWd" style="color:#000000;font-weight:300;text-align:left;text-transform:none"><div class="style__description-wrapper__1dgRh"><p class="style__description__GTAEe" style="color:#000000;font-weight:300;text-align:left;text-transform:none">We curated Nutri-blend, the most loved blender, mixer & grinder to make chutneys, masalas, smoothies, shakes & juices in a jiffy! Its simple functioning, compact size & 22,000 RPM speed give you perfect result every time!</p></div></div></div>
                </div>
              </div>
            </div>
            
            
            
            
            <div id="rh2esjbp09" class="EditorialTile__tile__3UtFX EditorialTile__small__2lq63 video EditorialTile__grouped__2xqvG" tileheight="0">
              <div class="EditorialTile__content__2mvO9">
                <div class="EditorialTile__innerContent__3PswW">
                  <div class="style__videoTile__2dasF small style__cover__1-h3z">
                    <div class="style__video__1UQqZ style__video__uL4pK video-js vjs-fill brila-video-js" data-feature="af">
                      
						<video poster="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/poster-4.jpg?v=1633008447" controls class="fullscreen-bg__video">
  <source src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/Kriti_Sanon_s_best_friend_-_Nutri-blend.mp4?v=1633006835" type="video/mp4">
  <source src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/Kriti_Sanon_s_best_friend_-_Nutri-blend.mp4?v=1633006835" type="video/ogg">
  
</video>
						
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


	