{% include 'setting-spacing' %}
{% include 'setting-background-color' %}
<div class="halo-section  {{ padding_top }} {{ padding_bottom }} {{ background_color }} " data-section-id="{{ section.id }}" data-section-type="banner block 1" >
<div class="container">
        
            <div class="section-header
                 text-center
                 ">
                <h2 class="smart-title gradiant">Nutri-blend SMART<sup style="font-weight: lighter;" class="gradiant">™</sup> - <span style="font-style: italic;text-transform: capitalize;">Sets You Free</span>
</h2>
               <p class="description" style="color:#fff;font-size:16px!important;font-weight:700;">Enjoy ultimate freedom with the unique patented features of Nutri-blend SMART<sup>™</sup> </p>
                
            </div>
        <div class="halo-row halo-row-custom  ">
          <div class="halo-item cet">

           
                     <div class="content" style="padding: 0px 0px;margin-bottom:15px;">
                                      
                       <table>
                         <tbody>
                            <h3 class="title" style="margin: 0px 0px 0px 4px;color:#fff!important;">
                                        Complete Independence  </h3>
                         
                           <tr>
                             <td>
                               <img class= "lazyloaded image-shadow" style="border-radius: 10px" src="//cdn.shopify.com/s/files/1/0104/9211/7092/files/M2---Freedom-from-Stationary-Supervision_da2d066d-7ad4-4637-9296-bd1f5490afda.jpg?v=1686566519" data-src="//cdn.shopify.com/s/files/1/0104/9211/7092/files/M2---Freedom-from-Stationary-Supervision_da2d066d-7ad4-4637-9296-bd1f5490afda.jpg?v=1686566519" alt="" data-image="" width="200px">
                             </td>
                             <td style="width:70%;text-align:left;">
                               <p class="description">No need to stand watching and holding your mixer-grinder anymore. Nutri-blend SMART<sup>™</sup> sets you free. It operates independently, allowing you to do parallel tasks when you are stressed for time every morning. It's your ultimate kitchen robot.</p>
                             </td>
                           </tr>
                         </tbody>
                       </table>
                                    
                            </div>
               <div class="content" style="padding: 0px 0px;margin-bottom:15px;">
                                        


                   <table>
                         <tbody>
                            <h3 class="title" style="margin: 10px 2px 0px 0px;text-align: right;color:#fff!important;">Pre-set Programs</h3>
                          
                           <tr>
                               <td style="width:70%;text-align:right;">
                                <p class="description">First time ever, a mixer that’s pre-programmed to deliver the perfect chutney, masala and smoothies with 30, 45, and 60 sec pre-set buttons. Just press and move on to other kitchen tasks or catch up on your phone. Nutri-blend SMART<sup>™</sup> will stop automatically once the job is done.</p> </td>
                             <td>
                               <img class= "lazyloaded image-shadow" style="border-radius: 10px" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/M2-Freedom-from-Hassle_3d76322a-2bbc-4685-8419-a13c7fd6560f.jpg?v=1686566528" data-src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/M2-Freedom-from-Hassle_3d76322a-2bbc-4685-8419-a13c7fd6560f.jpg?v=1686566528" alt="" data-image="" width="200px">
                             </td>
                           
                           </tr>
                         </tbody>
                       </table>
                                   
                               
                            </div>
               <div class="content" style="padding: 0px 0px;margin-bottom:15px;">
                                         
                   <table>
                         <tbody>
                            <h3 class="title" style="margin: 0px 0px 0px 4px;color:#fff!important;">
                                        Double-Pulse Function </h3>
                         
                           <tr>
                             <td>
                               <img class= "lazyloaded image-shadow" style="border-radius: 10px" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/Freedom-from-Compromises-2.jpg?v=1686566528" data-src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/Freedom-from-Compromises-2.jpg?v=1686566528" alt="" data-image="" width="200px">
                             </td>
                             <td style="width:70%;text-align:left;">
                                <p class="description">Nutri-blend SMART<sup>™</sup> redefines quality. The mixer will stop twice for 2 seconds and restart on its own. This is to enhance the consistency of your mix by drawing the contents back to the blades at the bottom of the jar.</p>
                                </td>
                           </tr>
                         </tbody>
                       </table>
                                  
                            </div>
             <div class="content" style="padding: 0px 0px;margin-bottom:15px;">
                                        
                  <table>
                         <tbody>
                            <h3 class="title" style="margin: 10px 2px 0px 0px;text-align: right;color:#fff!important;">See What’s Inside</h3>
                            
                           <tr>
                               <td style="width:70%;text-align:right;">
                                <p class="description">Transparent yet unbreakable polycarbonate jars allow you to achieve perfection in your mixing, grinding and blending without opening your jars repeatedly.</p>
                               </td> <td>
                               <img class= "lazyloaded image-shadow" style="border-radius: 10px" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/M2-Freedom-from-Guesswork.jpg-High-Res.jpg?v=1688275940" data-src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/M2-Freedom-from-Guesswork.jpg-High-Res.jpg?v=1688275940" alt="" data-image="" width="200px">
                             </td>
                           
                           </tr>
                         </tbody>
                       </table>
                                   
                            </div>
                 
          
          </div>
          </div>
        
       {% comment %}
            <div class="halo-row halo-row-custom  column-2">
                
                    <div class="halo-item cet">
                        <div class="layout-1 text-center" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                            <div class="image">
                                    <div class="img">
                                        <img class="radius marg zigzag2 lazyloaded image-shadow" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/M2---Freedom-from-Stationary-Supervision_da2d066d-7ad4-4637-9296-bd1f5490afda.jpg?v=1686566519" data-src="//cdn.shopify.com/s/files/1/0104/9211/7092/files/Screenshot-2023-05-25-125004.png?v=1685001086" alt="" data-image="">
                                      </div> 
                            </div>
                            <div class="content" style="padding: 0px 0px;width:48%;float: right;">
                                        <h3 class="title gradiant">
                                        Freedom from Stationary Supervision

                                        </h3>
                                    <p class="description">Why be anchored to your mixer grinder when you could be doing something more enjoyable or productive? Nutri-blend SMART<sup>™</sup> works independently, freeing you up to focus on what matters. A true companion for your culinary adventures.
</p>
                               
                            </div>
                        </div>
                    </div>
                
                    <div class="halo-item cet">
                        <div class="layout-1 text-center" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                          
                            <div class="content" style="padding: 0px 0px;width:48%;float: left;">
                                        <h3 class="title gradiant">
                                        Freedom from Hassle

                                        </h3>
                                    <p class="description">Get rid of the traditional manual operations with Nutri-blend SMART<sup>™</sup>. Let our intelligent appliance take charge of the grind, liberating you from the tiresome chores.
</p>
                               
                            </div>
                            <div class="image">
                                    <div class="img">
                                        <img class="radius marg zigzag1 lazyloaded" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/M2-Freedom-from-Hassle_3d76322a-2bbc-4685-8419-a13c7fd6560f.jpg?v=1686566528" data-src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/M2-Freedom-from-Hassle_3d76322a-2bbc-4685-8419-a13c7fd6560f.jpg?v=1686566528" alt="" data-image="">
                                      </div> 
                            </div>
                        </div>
                    </div>
                
                    <div class="halo-item cet">
                        <div class="layout-1 text-center" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                            <div class="image">
                                    <div class="img">
                                        <img class="radius marg zigzag2 ls-is-cached lazyloaded" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/Freedom-from-Compromises-2.jpg?v=1686566528" data-src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/Freedom-from-Compromises-2.jpg?v=1686566528" alt="" data-image="">
                                      </div> 
                            </div>
                            <div class="content" style="padding: 0px 0px;width:48%;float: right;">
                                        <h3 class="title gradiant">
                                        Freedom from Compromises

                                        </h3>
                                    <p class="description">Nutri-blend SMART<sup>™</sup> redefines quality. Forget about settling for mediocre results. Each operation delivers precision and perfection, setting a new standard in your kitchen.
</p>
                               
                            </div>
                        </div>
                    </div>
                
                    <div class="halo-item cet">
                        <div class="layout-1 text-center" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                           
                            <div class="content" style="padding: 0px 0px;width:48%;float: left;">
                                        <h3 class="title gradiant">
                                        Freedom from Guesswork

                                        </h3>
                                    <p class="description">Wave farewell to uncertainty. With Nutri-blend SMART<sup>™</sup>, you've got pre-programmed menus at your fingertips, ensuring consistently perfect results every single time.
</p>
                               
                            </div>
                           <div class="image">
                                    <div class="img">
                                        <img class="radius marg zigzag1 ls-is-cached lazyloaded" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/M2-Freedom-from-Guesswork.jpg?v=1686309538" data-src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/M2-Freedom-from-Guesswork.jpg?v=1686309538" alt="" data-image="">
                                      </div> 
                            </div>
                        </div>
                    </div>
                
            </div>
  {% endcomment %}
       
    </div>
</div>

{% schema %}
{
    "name": "smart key points",
    "max_blocks": 12,
    "settings": [
        {
            "type": "header",
            "content": "Section Layout"
        },
        {
            "type": "checkbox",
            "id": "background-color",
            "label": "Background Gray",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "border-top",
            "label": "show border top",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "border-bottom",
            "label": "show border bottom",
            "default": false
        },
        {
            "type": "range",
            "id": "padding-top",
            "label": "Spacing Top",
            "default": 3,
            "min": 0,
            "max": 10,
            "step": 1
        },
        {
            "type": "range",
            "id": "padding-bottom",
            "label": "Spacing bottom",
            "default": 3,
            "min": 0,
            "max": 10,
            "step": 1
        },
        {
            "type": "header",
            "content": "Heading Section"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Banner Block 1"
        },
        {
            "type": "text",
            "id": "text_link",
            "label": "Text Link"
        },
        {
            "type": "url",
            "id": "custom_link",
            "label": "Link (Optional)"
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Description"
        },
        {
            "type": "select",
            "id": "title_layout",
            "label": "Title Layout",
            "default": "left",
            "options": [
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "left",
                    "label": "Left"
                }
            ]
        },
        {
            "type": "header",
            "content": "Layout Column"
        },
        {
            "type": "range",
            "id": "column",
            "label": "Column",
            "default": 3,
            "min": 1,
            "max": 5,
            "step": 1
        },
        {
            "type": "header",
            "content": "Block Style"
        },
        {
            "type": "select",
            "id": "overlay",
            "label": "Overlays",
            "default": "dark",
            "options": [
                {
                    "label": "Dark",
                    "value": "dark"
                },
                {
                    "label": "Light",
                    "value": "light"
                }
            ]
        },
        {
            "type": "header",
            "content": "Custom Color"
        },
        {
            "type": "checkbox",
            "id": "custom_color",
            "label": "Turn on custom color",
            "default": false
        },
        {
            "type": "color",
            "id": "color_heading",
            "label": "Heading Color"
        },
        {
            "type": "color",
            "id": "color_heading_hover",
            "label": "Heading Color Hover"
        },
        {
            "type": "color",
            "id": "color_text",
            "label": "Description Color"
        }
    ],
    "blocks": [
        {
            "type": "banner_block",
            "name": "Another Block",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link (Optional)"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Title"
                },
                {
                    "type": "text",
                    "id": "description",
                    "label": "Description",
                    "default": "Image with text overlay"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "smart-points",
            "category": "Banners",
            "blocks": [
                {
                    "type": "banner_block"
                }
               
            ]
        }
    ]
}
{% endschema %}