<div class="container">
    <div class="page page-404">
        <div class="empty-page-content text-center">
            <h1 class="page-404">404</h1>
            <h2 class="page-heading">{{ 'general.404.title' | t }}</h1>
            <p class="description">
                {{ 'general.404.subtext' | t }}
            </p>

            <div class="button-group">
              <a href="{{ routes.root_url }}" class="btn btn--big btn--primary">{{ 'general.404.link' | t }}</a>
            <div class="button-group">
        </div>
    </div>
</div>