{% comment %}
  The contents of the cart.liquid template can be found in /sections/cart-template.liquid
{% endcomment %}
<div class="container">
    {% render 'breadcrumb' %}
    <div class="page page-cart">
		{% section 'cart-template' %}
	</div>
</div>

<script type="text/javascript">
  
    window.ad_products = [
     {% for item in cart.items %}
 {
        "id": "{{ item.product_id }}", 
        "number": "{{forloop.index0 | plus: 1}}"
    }{% unless forloop.last %},{% endunless %}

{% endfor %}
    ];

    window._retag = window._retag || [];
    window._retag.push({code: "9ce8884bfe", level: 3});
    (function () {
        var id = "admitad-retag";
        if (document.getElementById(id)) {return;}
        var s = document.createElement("script");
        s.async = true; s.id = id;
        var r = (new Date).getDate();
        s.src = (document.location.protocol == "https:" ? "https:" : "http:") + "//cdn.lenmit.com/static/js/retag.js?r="+r;
        var a = document.getElementsByTagName("script")[0]
        a.parentNode.insertBefore(s, a);
    })()
</script>