{% comment %}
  The contents of the cart.liquid template can be found in /sections/rentity-cart-template.liquid
{% endcomment %}
<div class="container">
    {% render 'breadcrumb' %}
    <div class="page page-cart">
     
		{% section 'rentity-cart-template' %}
      
     
	</div>
</div>
