{% assign collectionDescription = collection.description | split: '<!-- split -->' %}
{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

{% section 'collection-template-banner' %}
{% section 'collection-header' %}
<div class="container">
    <div class="page page-collections">
      
     {%if collection.title == 'Gifting' %}
      {% section 'collection_gift_static_layout' %}
      {% endif %}
      
      {% if collection.title contains 'Home & Living' %}
      <div class="homeware-highlights">
      {%section 'brand-carousel'%}
      {%section 'brand-carousel1'%}
          </div>
      {% endif %}
       
       {% if collection.description != blank %}
      <div class="collection-description desc ">
        {{ collectionDescription[0] }}
      </div>
    {% endif %}
      
        {% section 'sidebar-collection' %}
        
     
        {% section 'collection-template' %}
        <div class="clearfix"></div>
    </div>
</div>
{% section 'collection_customHtml' %}
{% if collection.description != blank %}
  <div class="collection-description container desc">
    {{ collectionDescription[1] }}
  </div>
{% endif %}
{% section 'reviews' %}
{% section 'recently-viewed-products' %}
{% section 'brand-grid' %}
<style>
    .desc{

      padding:20px 15 px;
    }

    .desc p{

      font-size: 14px;
  }
    }
</style>
<script type="text/javascript">
    window.ad_category = "{{ collection.title | metafield_text}}";   // required

    window._retag = window._retag || [];
    window._retag.push({code: "9ce8884bf0", level: 1});
    (function () {
        var id = "admitad-retag";
        if (document.getElementById(id)) {return;}
        var s=document.createElement("script");
        s.async = true; s.id = id;
        var r = (new Date).getDate();
        s.src = (document.location.protocol == "https:" ? "https:" : "http:") + "//cdn.lenmit.com/static/js/retag.js?r="+r;
        var a = document.getElementsByTagName("script")[0]
        a.parentNode.insertBefore(s, a);
    })()
</script>