
<div style="background:#094f4b">
  {% render 'christmas_snow' %}
{% section 'diwali-offer-banner'  %}
<br>
  <br>
<h2 class="title_h2">Special Offer For Special Season</h2>
<br>

{% section 'diwali-grid-collection' %}<br>
<h2 class="title_h2">Celebrate The Holiday With Ultimate Gifting</h2>
<br>
{% section 'christmas-grid4-collection' %}

<br>
{% section 'diwali-offer-second-banner'  %}
<br>
<h2 class="title_h2">Looking For Something Special</h2>
<br>
{% section 'christmas-grid3-collection' %}
<br>
<h2 class="title_h2">Bestseller</h2>
<br>

{% section 'christmas-grid2-collection' %}

<br>

<style>

 
  @media screen and (max-width: 600px){
  .title_h2{
    color: #fff!important;
    text-align: center;
    font-size: 20px!important;
    font-family: Philosopher!important;
    font-weight: 500!important;
    margin: 0 0 0px;
    line-height: 1.2;
   
  }
    .padding-top-30 {
    padding-top: 4px;
}
    .padding-top-60 {
    padding-top: 4px;
}

 
.halo-row.column-3 .halo-item {
    width: 50%!important;
}
    }
   @media screen and (min-width: 601px){
  .title_h2{
    margin-top:50px;
    color:#fff!important;
    text-align: center;
    font-size:4.5em!important;
     font-family: Philosopher!important;
    font-weight: 200!important;
  }
    }
   .chrismast-text{
       color:#fff!important;
       font-family: Philosopher!important;
     text-transform: capitalize;
    padding: 5px;
    font-size: 20px;
         }

  .chrismast-text1  {
      
       border: 1px dotted #fff;
        padding: 4px;
   
    margin-top: 15px;
   
         }

</style>
</div>