{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

{% section 'collection-template-banner' %}
{% section 'blackfriday' %}
{% section 'collection-header' %}
<div class="container">
    <div class="page page-collections">
      
     {%if collection.title == 'Gifting' %}
      {% section 'collection_gift_static_layout' %}
      {% endif %}
      
      {% if collection.title contains 'Home & Living' %}
      <div class="homeware-highlights">
      {%section 'brand-carousel'%}
      {%section 'brand-carousel1'%}
          </div>
      {% endif %}
       
      
      
        {% section 'sidebar-collection' %}
        
     
        {% section 'collection-template' %}
        <div class="clearfix"></div>
    </div>
</div>
{% section 'collection_customHtml' %}
{% section 'reviews' %}
{% section 'recently-viewed-products' %}
{% section 'brand-grid' %}
