{% section 'diwali-offer-banner'  %}
<br>
<h2 class="title_h2">Let The Celebrations Begin!</h2>
<br>

{% section 'christmas-grid-collection' %}<br>
<h2 class="title_h2">COOKWARE</h2>
<br>
{% section 'diwali-offer-second-banner'  %}
<br>
<h2 class="title_h2">Bestsellers</h2>
<br>
{% section 'diwali-second-grid-collection' %}
<br>
{% section 'diwali-offer-third-banner'  %}
<br>

<style>

 
  @media screen and (max-width: 600px){
  .title_h2{
    color: #dc1c81!important;
    text-align: center;
    font-size: 20px!important;
    font-family: Philosopher!important;
    font-weight: 500!important;
    margin: 0 0 0px;
    line-height: 0.2;
   
  }
    .padding-top-30 {
    padding-top: 4px;
}
    .padding-top-60 {
    padding-top: 4px;
}

 
.halo-row.column-3 .halo-item {
    width: 50%!important;
}
    }
   @media screen and (min-width: 601px){
  .title_h2{
    margin-top:50px;
    color:#dc1c81!important;
    text-align: center;
    font-size:4.5em!important;
     font-family: Philosopher!important;
    font-weight: 200!important;
  }
    }
</style>