
  <link rel="preload" href="//db.onlinewebfonts.com/c/d21c922929b11ecc5b13a31ba5706e34?family=Caviar+Dreams" rel="stylesheet" type="text/css"/>


<div style="background:#d6cfbf;">
{% section 'diwali-offer-banner'  %}
<div style="background:#36818f;">
<div class="container" style="color:#fff;padding-top:20px;margin-bottom: 0px;">
<h2 class="title_h2" style="color:#fff;">Wide range of memorable wedding gifts
</h2></div></div>
  <div class="laptop">
{% section 'wedding-gift-grid-collection' %}</div>
  <div class="mobile">{% section 'wedding-gift-carousel2'  %}</div>
  <div style="background:#c11a61;">
  <div class="container" style="color:#fff;padding-top:20px;margin-bottom: 0px;">
  <h2 class="title_h2" style="color:#fff;">Shop By Range</h2></div></div>

 {% comment %} {% section 'wedding-gift-carousel'  %}{% endcomment %}
  {% section 'wedding-gift-gird-5-collection' %}<div style="background: #c48f45;">
<div class="container" style="color:#c11a61;padding-top:20px;margin-bottom: 0px;">
  <div class="laptop">
<h2 class="title_h2" style="color:#fff;">Gift in style with the distinctive bridal collection</h2></div>
<div class="mobile">
<h2 class="title_h2" style="color:#fff;">Gift in style with the distinctive bridal collection</h2></div></div>
  </div>
{% section 'wedding-gift-gird-2-collection' %}
<div style="background:#36818f;">
<div class="container" style="color:#fff;padding-top:20px;margin-bottom: 0px;">
  <div class="laptop">
<h2 class="title_h2" style="color:#fff;">Discover the perfect gifts to celebrate your groom!</h2>
  </div>
    <div class="mobile">
<h2 class="title_h2" style="color:#fff;">Discover the perfect gifts to celebrate your groom!</h2>
  </div>
</div></div>
{% section 'wedding-gift-gird-3-collection' %}<div style="background: #c48f45;">
<div class="container" style="padding-top:20px;margin-bottom: 0px;">
<h2 class="title_h2" style="color:#fff;">Perfect Presents for All Personalities!</h2>
</div></div>
{% section 'wedding-gift-gird-4-collection' %}
{% comment %}
<h2 class="title_h2" style="color:#fff;background:#36818f;padding-top:20px;margin-bottom: 0px;">Blogs</h2>

{% section 'wedding-gift-gird-5-collection' %}
{% endcomment %}



<style>
  
 
  @media screen and (max-width: 600px){

    .size{
      width:150px;
    }
     .chrismast-text{
      color:#fff;
     text-transform: capitalize;
     font-family: Caviar Dreams!important;
    padding:4px;
     font-weight: 400;
    font-size: 21px;
     margin: 0 0 0 0;
         }
  .title_h2{
  color:#fff;
    text-align: center;
    font-size: 25px!important;
    font-family: Caviar Dreams!important;
    font-weight: 400!important;
    text-transform: capitalize;
    margin: 0 0 0px;
    line-height: 1.2;
   
  }

    .cet{
      width:29%;
    }
    .halo-row.halo-row-custom .halo-item {
    margin: 0px 0 0;
}
    .title_h3{
  color:#fff;
    text-align: center;
    font-size: 12px!important;
    font-family: Caviar Dreams!important;
    font-weight: 400!important;
      text-transform: capitalize;
    margin: 0 0 0px;
    line-height: 1.2;
   
  }
    .padding-top-30 {
    padding-top: 0px;
}
    .padding-top-60 {
    padding-top: 0px;
}

 
.halo-row.column-3 .halo-item {
    width: 50%!important;
}
     .padding{

       padding-bottom:15px;
     }
    }
   @media screen and (min-width: 601px){

      .size{
      width:200px;
    }

     .padding{

       padding-bottom:20px;
     }
  .title_h2{
    margin-top:30px;
        margin-bottom: 0px;
    color:#fff;
    text-align: center;
    text-transform: capitalize;
    font-size:4.0em!important;
     font-family: Caviar Dreams!important;
    font-weight: 200!important;
  }
      .chrismast-text{
      color:#fff;
     text-transform: capitalize;
     font-family: Caviar Dreams!important;
    padding:4px;
     font-weight: 400;
    font-size: 1.5em;
     margin: 0 0 0 0;
         }
      .title_h3{
     margin-top:30px;
      
            margin-bottom: 0px;
   color:#fff;
        text-transform: capitalize;
    text-align: center;
    font-size:2.5em!important;
     font-family: Caviar Dreams!important;
    font-weight: 200!important;
     
   
  }
    }
  

  .chrismast-text1  {
      
      
   
    margin-top: 15px;
   
         }
  </style>

