{% comment %}
  The contents of the lists-collections.liquid template can be found in /sections/lists-collections-template.liquid
{% endcomment %}

<div class="container">
    {% render 'breadcrumb' %}
    <div class="page page-collections">
        {% section 'sidebar-collections' %}

        {% section 'list-collections-template' %}
    </div>
</div>



