<div class="container">
    {% render 'breadcrumb' %}
    <div class="page">
	    <div class="rte">
	      	{{ page.content }}
          <div class="klaviyo-form-RYg6hi"></div>
	    </div>
    </div>
</div>