<div class=" page clearfix" style="padding-bottom:0px;">
	<img class="warranty_reg" src="{{'warranty_banner1.jpg' | file_url}}" alt="Warranty">

  <!-- <h1 class="warranty-title">
    <span>{{ page.title }}</span>
  </h1> !-->
  
</div>
<div class=" main content clearfix container">
  {% section 'warranty-registration' %}
</div>
<div class="clearfix"></div>