<div class=" clearfix">

  <div  class="static-page roti-magic">
    <div class ="tncwonderchef">
      <div class="mainbanner">
        <img class="hidden_xs" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/RevisedRotimagic.jpg?v=1653302022" width="100%" alt="TNC banner" s/>
        <img class="visible_xs" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/RevisedRotimagic.jpg?v=1653302022" width="100%" alt="TNC banner" s/>
      </div>
    
<div class="three-column">
  <h1>As easy as <strong><span style="color:#b81f1f">1, 2, 3</span></strong></h1>
<div class="column-1">
<p class="image-container"><img alt="" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/col-1_8e91f7a3-a59f-4b35-9b1d-b2fc70081fc4.jpg?v=1653310212"></p>
<p><strong>Fill up the tanks</strong></p>
<font>with flour, water & oil</font>
</div>
<div class="column-1">
<p class="image-container"><img alt="" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/col-2_e349e28b-7bec-4586-9666-b93325a1eafb.jpg?v=1653310212"></p>
<p><strong>Press the button</strong></p>
<font>to knead dough & make<br> hot rotis automatically</font>
</div>
<div class="column-1">
<p class="image-container"><img alt="" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/col-3_58dbd32e-b518-4fed-ab8c-134764b21f0b.jpg?v=1653310212"></p>
<p><strong>Start enjoying</strong></p>
<font>hygienic, fresh rotis<br> within 2 minutes</font>
</div>
</div>
      
      <div class="one-column">
<p>Make upto 15 Rotis at one go within 13 minutes. Keep enjoying them with your family as Roti-Magic churns out hot rotis one after the other. 
  For more rotis, just press once more.</p>
</div>
      <br>
      <h1>See how it <span style="color:#b81f1f"><strong><i>works.</i></strong></span></h1>    
      <br>
   <iframe src="https://www.youtube.com/embed/I1-1e1AJYGA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <div class="one-column" style="width:100%; background:#fff6f1;">
        <br>
        <h1 class="small-heading">Loaded with <span style="color:#b81f1f"><i>Benefits!</i></span></h1>
        <img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/service.jpg?v=1653304754" width="100%" alt="TNC banner" s/>
</div>  
      
       <div class="two-column">
        <div class="column-1">
          <br>
<p class="image-container" style="text-align:center;"><img width="70%" alt="" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/book-now.jpg?v=1653305233"></p>
</div>
          <div class="column-1 pre-book-div">
              <img class="save-img" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/RevisedRotimagic.png?v=1653312399" >
			<br>
            <p>MRP: INR 1,02,000/-</p>
            <p>Launch price: INR 79,999/-</p>
            <h2><strong>PRE-BOOK NOW</strong></h2>
            <br>
            <p><strong><span style="color:#b81f1f">Only For Rs 5,000/-</span></strong></p>
         
            
            <div id='product-component-1653385203847'></div>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'wonderchefind.myshopify.com',
      storefrontAccessToken: '5f16307fc617ccdebbdb4f25e41754fa',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: '7229763322033',
        node: document.getElementById('product-component-1653385203847'),
        moneyFormat: '%E2%82%B9%20%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px"
        },
        "text-align": "left"
      },
      "title": {
        "font-family": "Montserrat, sans-serif",
        "font-weight": "normal"
      },
      "button": {
        "font-family": "Montserrat, sans-serif",
        "font-size": "16px",
        "padding-top": "16px",
        "padding-bottom": "16px",
        ":hover": {
          "background-color": "#cc1b20"
        },
        "background-color": "#e31e24",
        ":focus": {
          "background-color": "#cc1b20"
        }
      },
      "quantityInput": {
        "font-size": "16px",
        "padding-top": "16px",
        "padding-bottom": "16px"
      },
      "price": {
        "font-family": "Montserrat, sans-serif"
      },
      "compareAt": {
        "font-family": "Montserrat, sans-serif"
      },
      "unitPrice": {
        "font-family": "Montserrat, sans-serif"
      },
      "description": {
        "font-family": "Montserrat, sans-serif"
      }
    },
    "buttonDestination": "checkout",
    "contents": {
      "img": false,
      "title": false,
      "price": false
    },
    "text": {
      "button": "Pre-Book Now"
    },
    "googleFonts": [
      "Montserrat"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "font-family": "Montserrat, sans-serif",
        "font-size": "16px",
        "padding-top": "16px",
        "padding-bottom": "16px",
        ":hover": {
          "background-color": "#cc1b20"
        },
        "background-color": "#e31e24",
        ":focus": {
          "background-color": "#cc1b20"
        }
      },
      "quantityInput": {
        "font-size": "16px",
        "padding-top": "16px",
        "padding-bottom": "16px"
      },
      "title": {
        "font-family": "Montserrat, sans-serif",
        "font-weight": "normal",
        "font-size": "26px",
        "color": "#4c4c4c"
      },
      "price": {
        "font-family": "Montserrat, sans-serif",
        "font-weight": "normal",
        "font-size": "18px",
        "color": "#4c4c4c"
      },
      "compareAt": {
        "font-family": "Montserrat, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#4c4c4c"
      },
      "unitPrice": {
        "font-family": "Montserrat, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#4c4c4c"
      },
      "description": {
        "font-family": "Montserrat, sans-serif",
        "font-weight": "normal",
        "font-size": "14px",
        "color": "#4c4c4c"
      }
    },
    "googleFonts": [
      "Montserrat"
    ]
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Montserrat, sans-serif"
      },
      "select": {
        "font-family": "Montserrat, sans-serif"
      }
    },
    "googleFonts": [
      "Montserrat"
    ]
  },
  "cart": {
    "styles": {
      "button": {
        "font-family": "Montserrat, sans-serif",
        "font-size": "16px",
        "padding-top": "16px",
        "padding-bottom": "16px",
        ":hover": {
          "background-color": "#cc1b20"
        },
        "background-color": "#e31e24",
        ":focus": {
          "background-color": "#cc1b20"
        }
      },
      "title": {
        "color": "#000000"
      },
      "header": {
        "color": "#000000"
      },
      "lineItems": {
        "color": "#000000"
      },
      "subtotalText": {
        "color": "#000000"
      },
      "subtotal": {
        "color": "#000000"
      },
      "notice": {
        "color": "#000000"
      },
      "currency": {
        "color": "#000000"
      },
      "close": {
        "color": "#000000",
        ":hover": {
          "color": "#000000"
        }
      },
      "empty": {
        "color": "#000000"
      },
      "noteDescription": {
        "color": "#000000"
      },
      "discountText": {
        "color": "#000000"
      },
      "discountIcon": {
        "fill": "#000000"
      },
      "discountAmount": {
        "color": "#000000"
      }
    },
    "popup": false,
    "googleFonts": [
      "Montserrat"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Montserrat, sans-serif",
        "background-color": "#e31e24",
        ":hover": {
          "background-color": "#cc1b20"
        },
        ":focus": {
          "background-color": "#cc1b20"
        }
      },
      "count": {
        "font-size": "16px"
      }
    },
    "googleFonts": [
      "Montserrat"
    ]
  },
  "lineItem": {
    "styles": {
      "variantTitle": {
        "color": "#000000"
      },
      "title": {
        "color": "#000000"
      },
      "price": {
        "color": "#000000"
      },
      "fullPrice": {
        "color": "#000000"
      },
      "discount": {
        "color": "#000000"
      },
      "discountIcon": {
        "fill": "#000000"
      },
      "quantity": {
        "color": "#000000"
      },
      "quantityIncrement": {
        "color": "#000000",
        "border-color": "#000000"
      },
      "quantityDecrement": {
        "color": "#000000",
        "border-color": "#000000"
      },
      "quantityInput": {
        "color": "#000000",
        "border-color": "#000000"
      }
    }
  }
},
      });
    });
  }
})();
/*]]>*/
</script>
            <br>
            <font><i> Available for home demonstration in just 10 weeks.</i></font>
         </div>
      </div>  
      
            <div class="one-column last-column" style="width:100%; background:#ececec;">
              <h1>Buy it only if<span style="color:#b81f1f"><i><strong> you like it</strong></i></span></h1>
            
              <h2>after we do a demo at your home.</h2>
              <br>
         
              <font>We know how tedious it is to make rotis. Making rotis automatically is the holy grail of the Indian kitchen.
Roti-Magic makes it possible. You would love the convenience of freshly made rotis at the press of a button,
completely hygienic, untouched by hands. Don't worry; it even makes the dough by itself. It's magic!
<br><br>
We want to sell the Roti-Magic only after demonstrating it to you. We are confident in our quality
& our all-India supoort network. However, we understand that roti can be a very personal thing, and
despite loving the Roti-Magic, the roti may be different from what you are used to. Hence, we want you to
experience it, see its convenient operation, taste the rotis, and make an informed decision. 
                If you do not like what you experience, your pre-booking amount would be refunded. </font>
             <br>  <br>
              <h2>Bring a little <span style="color:#b81f1f"><i><strong>magic</strong></i></span> in your daily life!</h2>
              </div>
    
    </div>
  </div>
</div>

















<style>
  .roti-magic p{
  text-align:center;
    font-size: 24px;
  }
  .roti-magic .one-column, .roti-magic .three-column{
    width:90%;
    margin:50px auto;
  }
  
  .roti-magic font{
  font-size:18px;
    text-align:center;
  }
  
  .roti-magic h1, .roti-magic h2{
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    text-transform: initial;
    font-family: inherit;
    font-weight:100;
}

  .roti-magic iframe{
  width:80%;
    margin-left:10%;
    height:500px;
  }
  
  .roti-magic img.save-img{
  width: 200px;
    position: absolute;
    right: 0px;
    top:-100px;
  }
  
  .roti-magic .two-column p{
  text-align:left;
  }
  
  .roti-magic .last-column{
 padding:50px;
    margin-bottom:0px;
    text-align: center;
  }
  
  .pre-book-div{
  position:relative;
    margin-top:100px;
  }
  
  .pre-book-btn{
  background:#242425;
    width:200px;
    text-align:center;
    padding:10px;
  }
  
  .pre-book-btn a{
 	color: white;
    font-size: 20px;
  }
  
    .pre-book-btn:hover{
  background:#b81f1f;
  }
  
  .pre-book-div h2{
    text-align:left;
    }
  
  .pre-book-div iframe{
  margin-left:0px;
  }
  
  .shopify-buy__layout-vertical {
    text-align: left;
}
  
  .shopify-buy__product {
    text-align: left;
}
  



  @media (max-width: 600px){
    .roti-magic p{
    font-size: 18px;
      margin-bottom: 0px;
  }
  .roti-magic .one-column, .roti-magic .three-column{
    margin:20px auto;
  }
  
  .roti-magic font{
  font-size:16px;
  }
  
  .roti-magic h2{
font-size:20px;
  }
  
  .roti-magic iframe{
    height:300px;
  }
  
  .roti-magic img.save-img{
  width: 100px;
  }
  
  .roti-magic .last-column{
 padding:30px;
     margin-bottom:0px;
  }
    
    .image-container img {
    width: 250px;
}
    
    h1.small-heading{
    font-size: 16px;
    }
    
    .pre-book-div {
    margin-top: 0;
}
    
    .roti-magic .two-column .pre-book-div p{
    text-align:center;
    }
    
    .pre-book-div h2{
    text-align:center; 
      padding:20px 0;
    }
    
    .pre-book-btn {
    margin: 0 auto;
}


  }

</style>



