
<div class="sixteen columns clearfix">
  <div  class="static-page">
    <h1 style="text-align:center">Wonderchef Youtube Play List</h1>
    {% include 'page-multi-column', content: page.content %}
  </div>
</div>
<div class="clearfix"></div>
<!-- schemaplus-added -->
{% include "schemaplus.page"%}
<!-- endof-schemaplus-added -->
<style>
  div#yottie_1 {
    max-width: 100%!important;
}
  .yottie-widget-header-classic .yottie-widget-header-banner {
    height: 334px!important;
    background-size: 100% auto;
    background-repeat: no-repeat!important;
}
</style>