

{% section 'nutri-1' %}
<div class="a-row stores-row stores-widget-btf" style="opacity: 1;">
  <div data-widgetid="vzdrshwdki" data-widgettype="EditorialRow" class="a-column a-span12 stores-column">
    <div id="EditorialRow-wZYscgB">
      <div>
        <div class="style__row__3wS8d double style__large__2PpRS">
          <div id="zd7d5xorl5" class="EditorialTile__tile__3UtFX EditorialTile__large__ywgaQ EditorialTile__text__oPEWB EditorialTile__ungrouped__35927" tileheight="0">
            <div class="EditorialTile__content__2mvO9">
              <div class="EditorialTile__innerContent__3PswW">
                <div class="style__overlay__2qYgu EditorialTile__overlay__3cghg" style="background-color:rgba(135, 149, 150, 0.025);position:absolute;z-index:1"></div>
                <div class="style__textTile__3IGKx style__large__sqlxi style__left__12fx4">
                  <div class="style__textContent__1gVWd" style="color:#000000;font-weight:bold;text-align:left;text-transform:none">
                    <div class="style__description-wrapper__1dgRh">
                      <p class="style__description__GTAEe" style="color:#000000;font-weight:bold;text-align:left;text-transform:none">BEST SELLING PRODUCTS</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% section 'featured-collection' %}
{% section 'nutri-2' %}
<div class="a-row stores-row stores-widget-btf" style="opacity: 1;">
  <div data-widgetid="vzdrshwdki" data-widgettype="EditorialRow" class="a-column a-span12 stores-column">
    <div id="EditorialRow-wZYscgB">
      <div>
        <div class="style__row__3wS8d double style__large__2PpRS">
          <div id="zd7d5xorl5" class="EditorialTile__tile__3UtFX EditorialTile__large__ywgaQ EditorialTile__text__oPEWB EditorialTile__ungrouped__35927" tileheight="0">
            <div class="EditorialTile__content__2mvO9">
              <div class="EditorialTile__innerContent__3PswW">
                <div class="style__overlay__2qYgu EditorialTile__overlay__3cghg" style="background-color:rgba(135, 149, 150, 0.025);position:absolute;z-index:1"></div>
                <div class="style__textTile__3IGKx style__large__sqlxi style__left__12fx4">
                  <div class="style__textContent__1gVWd" style="color:#000000;font-weight:bold;text-align:left;text-transform:none">
                    <div class="style__description-wrapper__1dgRh">
                      <p class="style__description__GTAEe" style="color:#000000;font-weight:bold;text-align:left;text-transform:none">FEATURED PRODUCTS</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% section 'featured-collection' %}
{% section 'nutri-3' %}
hello
