<div class=" clearfix">

  <div  class="static-page">
    <div class ="tncwonderchef">
      <div class="mainbanner">
        <img class="hidden_xs" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/corporate-coupon_desktop.jpg?v=1691663356" width="100%" alt="TNC banner" s/>
        <img class="visible_xs" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/Corportae_coupen_mobile.jpg?v=1691663356" width="100%" alt="TNC banner" s/>
      </div>
      <div class="centerText normaltext container">
        <h2 style="color:#000;">Presenting Wonderchef, India's most prestigious and widely acclaimed cookware & kitchen appliance brand.</h2>
         <h2 style="color:#000;">Wonderchef has <span style="color:#b81f1f;">500+</span> high quality innovative products designed with Health, Taste and Convenience first approach. </h2>
         <h2 style="text-align:center;">Be it corporate gifting, reward and recognition, trade <br>schemes or customised offers, Wonderchef is <br>an ideal gifting option for all occasions.</h2>
        
      </div>
       <div class="mainbanner">
        <img class="hidden_xs" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/2_4286aa94-f99c-40f4-a0d6-d05146ef7db2.jpg?v=1647671403" width="100%" alt="TNC banner" s/>
        <img class="visible_xs" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/2_4286aa94-f99c-40f4-a0d6-d05146ef7db2.jpg?v=1647671403" width="100%" alt="TNC banner" s/>
      </div>
       <div class="centerText normaltext container">
         <h2 style="color:#000;">Wonderchef products are sure to be loved by all as <span style="color:#b81f1f;">the kitchen is where the heart is!</span>
     Trusted by <span style="color:#b81f1f;">3000+ </span> Corporates.
         With customized gifting assortment, co-branding opportunities & faster turnarond time for large orders. Wonderchef is trusted by leading corporates.</h2>
   
      </div>
      
      <div class="termsplicy-reward"> <div class="container"> <div class=" normaltext centerText"> <h2 style="color:#000;">Most gifted prducts by crporates</h2>  </div></div></div>
     
      
      <div class="centerText normaltext container">
        <!-- first step Start-->
        <div class="laptop margintop normaltext ">
         <div class="grid-container">
           <div class="item1"><a href="https://www.wonderchef.com/collections/nutri-blend"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/3_2548f7e2-3050-44e6-879b-40c8fcc91966.jpg?v=1647671403"><br><p>Nutri-blend</p></a></div>
  <div class="item2"><a href="https://www.wonderchef.com/collections/nutripot"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/4_739ba881-5ccc-4905-81c1-5b36e94bbb26.jpg?v=1647671403"><br><p>Nutri-Pot</p></a></div>
  <div class="item3"><a href="https://www.wonderchef.com/collections/air-fryers"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/5_87ddd120-835e-4b7a-a1f0-1e308aae294a.jpg?v=1647671403"><br><p>Prato Air Fryer</p></a></div>  
  <div class="item4"><a href="https://www.wonderchef.com/collections/royal-velvet"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/6_4083575b-1010-4c37-9016-79e0630cd225.jpg?v=1647671403"><br><p>Royal Velvet Blue</p></a></div>
  <div class="item5"><a href="https://www.wonderchef.com/collections/otgs"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/7_f86f825d-a866-4c00-ba68-678cd1b72b39.jpg?v=1647671403"><br><p>Crimson Edge OTG</p></a></div>
  <div class="item6"><a href="https://www.wonderchef.com/collections/flasks-bottles"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/8_61863788-ec06-4bb3-bc3e-a0e7ff878dcd.jpg?v=1647671403"><br><p>Flask & Bottles</p></a></div>
   <div class="item7"><a href="https://www.wonderchef.com/collections/casseroles/casseroles"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/9_16f25a8f-10c9-431b-99f9-8e14ab44c59e.jpg?v=1647671403"><br><p>Granite Casserole Set</p></a></div>
   <div class="item8"><a href="https://www.wonderchef.com/collections/sanjeev-kapoor-tandoor"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/10_e8695532-482b-484e-83d4-7db2222f7b9f.jpg?v=1647671403"><br><p>Sanjeev Kapoor Tandoor (SKT)</p></a></div>
</div>
        </div>
        
         <div class="mobile column margintop normaltext " >
         <div class="grid-container">
  <div class="item1"><a href="https://www.wonderchef.com/collections/nutri-blend"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/3_2548f7e2-3050-44e6-879b-40c8fcc91966.jpg?v=1647671403" style="height: 70%;"><p>Nutri-blend</p></a></div>
  <div class="item2"><a href="https://www.wonderchef.com/collections/nutripot"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/4_739ba881-5ccc-4905-81c1-5b36e94bbb26.jpg?v=1647671403" style="height: 70%;"><p>Nutri-Pot</p></a></div>
  <div class="item3"><a href="https://www.wonderchef.com/collections/air-fryers"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/5_87ddd120-835e-4b7a-a1f0-1e308aae294a.jpg?v=1647671403" style="height: 70%;"><p>Prato Air Fryer</p></a></div>  
  <div class="item4"><a href="https://www.wonderchef.com/collections/royal-velvet"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/6_4083575b-1010-4c37-9016-79e0630cd225.jpg?v=1647671403" style="height: 70%;"><p>Royal Velvet Blue</p></a></div>
  <div class="item5"><a href="https://www.wonderchef.com/collections/otgs"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/7_f86f825d-a866-4c00-ba68-678cd1b72b39.jpg?v=1647671403" style="height: 70%;"><p>Crimson Edge OTG</p></a></div>
  <div class="item6"><a href="https://www.wonderchef.com/collections/flasks-bottles"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/8_61863788-ec06-4bb3-bc3e-a0e7ff878dcd.jpg?v=1647671403" style="height: 70%;"><p>Flask & Bottles</p></a></div>
   <div class="item7"><a href="https://www.wonderchef.com/collections/casseroles/casseroles"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/9_16f25a8f-10c9-431b-99f9-8e14ab44c59e.jpg?v=1647671403" style="height: 70%;"><p>Granite Casserole Set</p></a></div>
   <div class="item8"><a href="https://www.wonderchef.com/collections/sanjeev-kapoor-tandoor"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/10_e8695532-482b-484e-83d4-7db2222f7b9f.jpg?v=1647671403" style="height: 70%;"><p>Sanjeev Kapoor Tandoor (SKT)</p></a></div>
</div>
        </div>
       
       
        <!-- first step complete-->
        <div class="clearfix"></div>
        <!-- second step Start-->

  
      
      
        <!-- fourth step complete-->
        
      </div>
      
      <div class="clearfix"></div>
      
       <div class="centerText normaltext container">
        <h2 style="color:#000;text-align:center;">For Corporate Queries Reach Out</h2>
         <h2 style="color:#000;text-align:center;">Mr. Nimish Talsania | +91 9820904280</h2>
         <h2 style="color:#000;text-align:center;">enquiries@wonderchef.in</h2>
         
      </div>
       <div class="centerText normaltext container">
      <a href="#" class="action_button continue-button" style="color:#fff;">Click here for exclusive offer for yourself</a>
      
    
      </div>

      <div class="clearfix"></div>
      
   
    </div>
  </div>
</div>




<style>
.grid-container {
  display: grid;
  grid: auto/ auto auto;
  grid-gap: 10px;
  
  padding: 10px;
}

.grid-container > div {
  
  text-align: center;
  padding: 0px 0;
  font-size: 20px;
}
</style>





<style>
  .imageone{
    margin-bottom:15px;
  }
  button#reward_readmore {
    text-transform: none;
    background: transparent;
    color: #2626fd;
    font-size: 26px;
    border: 0;
    outline:none;
  }
  img.imageone.wpwork {
    position: relative;
    top: 22px;
  }
  .second_stagechanges p {
    line-height: 30px;
    margin: 0;
}
  h3.headingreward {
    letter-spacing: -1.2px!important;
    line-height: 40px!important;
    margin-bottom: 20px!important;
  }
  .first_stagechanges p {
    margin-bottom: 0;
  }
  .first_stagechanges p input#btAnimate {
    min-height: 30px;
    height: 30px;
  }
  .sixteen.column.normaltext.liability {
    text-align: left;
}
  .wonderarrow{
    margin:6px 0px 0px 6px;
  }
  .icon-up-arrow{
    margin:6px 0px 0px 6px;
    font-size:15px;
  }
  .second_stagechanges h3.headingreward.hidden_xs {
    margin-bottom: 0px!important;
}
  .centerText{
    text-align:center;
  }#more {display: none;}
  .tncwonderchef p {
    font-size: 25px;
    font-weight: 500;
    color: #4e4e4e;
    line-height: 30px;
    letter-spacing: -0.5px;
  }
  .sixteen.column.normaltext.liability h3 {
    color: #e33237;
    margin: 30px 0 10px;
    text-align: center;
    text-transform: none;

  }
 
  .first_stagechanges p img.imageone {
    margin: 0;
    top: 4px;
    width: 25px;
  }
  img.first_stage_image {
    width: 80%;
    float: right;
  }
  .padding_top.main.content {
    padding: 0;
}
  img.imageone.firts-step-pointers {
    width: 60px;
  }
 p img.imageone {
    top: 6px;
    position: relative;
    margin: 0;
}
  .tncwonderchef h3 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 20px;
    letter-spacing: 0;
    color: #4e4e4e;
  }
  .tncwonderchef #divAnim input {
    padding: 0 6px;
    border: solid 1px #5d6bc4;
    background: #606ec6;
    color: #FFF;
    cursor: pointer;
    height: 40px;
    line-height: 26px!important;
    min-height: 40px;
    font-weight: 600;
  }
  .centerText h1 {
    color:#e31e24;
    margin: 40px 0px 0px 0px;
    text-transform: none;
    font-size: 41px;
    letter-spacing: -1.2px;
    line-height: 40px;
  }
  .margintop{
    margin-top:60px;
  }
  .margintop h3{
    text-transform:none;
  } 

  .tncwonderchef .imageone{
    width:5%;
  }
  .centerimg{
    padding:40% 0px 0px 0px;
  }
  .righttoleft{
    direction: rtl;
  }
  .mainbanner img {
    width: 100%;
  }
  .pointer_rewards {
    display: block;
    clear: both;
    padding-top: 40px;
  }
  img.imageone.wpwork.headingwonderpoint {
    position: relative;
    top: 18px;
}
  .pointer_rewards p {
    margin-bottom: 26px;
  }.termsplicy-reward {
    background: #eaeaea;
   
  }

  .termsplicy-reward h3 {
    color: #e21e24;
    text-transform: none;
    
  }
  @media (max-width: 600px){
    .tncwonderchef h3 {
      font-size: 20px;
      text-align: center;
    }
    .tncwonderchef p {
      font-size: 20px;
      line-height: 26px;
      text-align: center;
    }

    .tncwonderchef span#divAnim {
      display: inline-block;
    }
    .tncwonderchef #divAnim input{
      min-height: 30px;
      height: 30px;
    }
    .tncwonderchef .imageone {
      width: 10%;
    }
    .margintop {
      margin-top: 0;
    }
    .centerimg {
      padding: 10% 0 0;
    }
    .tncwonderchef {
      margin-top: 40px;
    }
    img.imageone.firts-step-pointers {
    width: 50px;
}.tncwonderchef h3 {
    font-size: 30px;
    text-align: center;
    line-height: 34px!important;
}
    img.first_stage_image {
    width: 100%;
    float: none;
}
     h3.visible_xs.headingreward {
    margin-bottom: 0px!important;
}
    .pointer_rewards p {
    text-align: left;
}
  }
  
  @media (max-width: 600px){
.tncwonderchef p {
    font-size: 15px!important;
    line-height: 15px!important;
    text-align: center;
}
  }

</style>