<div class=" page clearfix" style="padding-bottom:0px;">
	<img class="warranty_reg" src="{{'warranty_banner1.jpg' | file_url}}" alt="Warranty">

  <!-- <h1 class="warranty-title">
    <span>{{ page.title }}</span>
  </h1> !-->
  
</div>
<div class=" main content clearfix container">
  
  <div class="eight columns" style="text-align: center;">
   
  <button onclick="myFunction()"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/images.jpg?v=1683800925"><br>Warranty registration For Nutri-blend</button>
  </div>
    <div class="eight columns" style="text-align: center;">
  <button onclick="myFunction2()"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/images.jpg?v=1683800925"><br>Warranty registration For other product</button>
  </div>
  <div id="myDIV" class="myDIV">
  
 <div style="margin:0 auto;" class="pxFormGenerator" id="xo5d_bKhwV4R-eFYDcVKnA"></div>
</div>
  <div id="myDIV2" class="myDIV2">
 <div style="margin:0 auto;" class="pxFormGenerator" id="RHotj9qUuYHyOYSLhiimBA"></div>
</div>
 <script>
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
   function myFunction2() {
  var x = document.getElementById("myDIV2");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>
  
  <style>

    .myDIV{
      display: none;
    }
     .myDIV2{
      display: none;
    }
  </style>
</div>
<div class="clearfix"></div>