{% section 'diwali-offer-banner'  %}
<br>
<h2 class="title_h2"><u>LET THE PARTY BEGIN!</u></h2>
<br>

{% section 'diwali-grid-collection' %}<br>
{% section 'diwali-offer-second-banner'  %}
<br>
<h2 class="title_h2"><u>BEST SELLER</u></h2>
<br>
{% section 'diwali-second-grid-collection' %}
<br>
{% section 'diwali-offer-third-banner'  %}
<br>

<style>

  @media screen and (max-width: 600px){
  .title_h2{
    color:#dc1c81!important;
    text-align: center;
    font-size:2.5em!important;
    font-family: Philosopher!important;
    font-weight: 200!important;
  }

 
.halo-row.column-3 .halo-item {
    width: 50%!important;
}
    }
   @media screen and (min-width: 601px){
  .title_h2{
    margin-top:50px;
    color:#dc1c81!important;
    text-align: center;
    font-size:4.5em!important;
     font-family: Philosopher!important;
    font-weight: 200!important;
  }
    }
</style>