{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

     <!-- {% section 'slideshow' %} -->
<div class=" clearfix">

  <div  class="static-page roti-magic">
    <div class ="tncwonderchef">
     
      <div class="mainbanner">
        <img class="hidden_xs" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/Desktop_2_fc9632fa-af72-450d-9fae-c3f668cee068.jpg?v=1676529532" width="100%" alt="TNC banner" s/>
        <img class="visible_xs" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/mobile_2_3b180fe4-40bb-452e-968e-623af9ec1f94.jpg?v=1676529532" width="100%" alt="TNC banner" s/>
      </div> 
 
     <br><br> 
<div class="container" style="font-size:16px">
We know you love Wonderchef and can't stop raving about us in your social circles! That's why we've launched the Grow with Wonderchef program - a way for you to save money and earn rewards while sharing your passion for cooking and the highest quality Wonderchef cookware and appliances with others.
<br><br>
  Sign up below to join Wonderchef's Direct-To-Home (DTH) channel. After successful registration, you will be a DTH member and get access to exclusive discounts, offers, and much more. 
<br><br>And the best part? Once you become a member, you will also get an exclusive referral code to share with your family, friends, and neighbors. When they use your unique referral code while checking out from <b><u><a href="https://wonderchef.com/">wondechef.com</a></u></b>, they will get an extra 17% discount on their purchases, and you'll earn a referral commission of 10% every time your code is used*.
<br><br>Imagine stocking up on all your favorite kitchen essentials while earning rewards at the same time! With Grow with Wonderchef, it's not just a dream - it's a reality! So sign up now to start saving, earning, and spreading the joy of cooking with Wonderchef.
</div>
    </br></br>
     <div style="text-align: center;"> <a href="http://103.253.125.54:89/P10xSignup.html" class="btn btn--primary" target="_blank">Become A Member Now</a>
<br></br></div>
<style>
  .roti-magic p{
  text-align:center;
    font-size: 24px;
    margin-bottom:10px;
    line-height: 30px;
    font-family:Muli;
    color: #6e6a6a;
  }
  
  p.intro{
  font-size: 30px;
    line-height: 36px;
  }
  
  
  .roti-magic .one-column, .roti-magic .three-column{
    width:80%;
    margin:70px auto;
  }
  
  .two-column .image-container {
    text-align: right;
    margin-right: 50px;
}
  
  .roti-magic font{
  font-size:18px;
    text-align:center;
    font-family:Muli;
    color: #6e6a6a;
  }
  
  .roti-magic h1, .roti-magic h2{
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    text-transform: initial;
    font-family: inherit;
    font-weight:100;
    font-family:Muli;
    color:#000;
}

  .roti-magic iframe{
  width:80%;
    margin-left:10%;
    height:607px;
  }
  
  .roti-magic img.save-img{
  width: 200px;
    position: absolute;
    right: 0px;
    top:-150px;
  }
  
  .roti-magic .two-column p{
  text-align:left;
  }
  
      .roti-magic h1{
    font-size: 52px;
  }
  
     .roti-magic h2{
  margin-bottom:10px;
      font-size: 34px;
  }
  
  .roti-magic .last-column{
 padding: 30px;
    margin-bottom: 50px;
    text-align: center;
    float: left;
    padding-left: 0px;
    position:relative;
  }
  
  .last-column .new-image{
  width: 55%;
    float: left;
  }
  
  .last-column .mobile-image{
  display:none;
  }
  
  .last-column .desktop-image{
  display:block;
  }
  
  
  .last-column .new-content{
 width: 41%;
    float: right;
    text-align: left;
    padding-left: 20px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translateY(-50%);
  }
  
  .roti-magic .last-column font{
         font-size: 2.5vh;
    line-height: 2vh;
  }
  
   .last-column .new-content p{
  font-size: 20px;
    text-align: left;
     line-height: 10px;
  }
  
  
  .last-column .magic-font{
   font-size: 4vh;
    line-height: 10px;
    text-align:left;
  }
  
  .last-column h1 {
    font-size: 6vh;
    text-align: left;
}
  
   .last-column h2 {
  font-size: 4vh;
    text-align: left;
     margin-bottom:20px;
  }
  
  .pre-book-div{
  position:relative;
    margin-top:100px;
    padding-left: 50px !important;
  }
  
  
  
    .pre-book-div h1{
	text-align:left;
      font-family: Rajdhani,sans-serif;
    font-size: 50px;
  }
  
    .pre-book-div h2{
    text-align:left;
    font-family: Rajdhani,sans-serif;
    }
  
  .pre-book-btn{
  background:#242425;
    width:200px;
    text-align:center;
    padding:10px;
  }
  
  
  .pre-book-div iframe{
  margin-left:0px;
  }
  
  .shopify-buy__layout-vertical {
    text-align: left;
}
  
  .shopify-buy__product {
    text-align: left;
}
  
 
  
     .roti-magic .three-column h2{
      font-size: 32px;
       margin-bottom:0px;
  }
  
  .shopify-payment-button .shopify-payment-button__button--unbranded{
  width:200px !important;
  }
  
  .small-heading{
  margin-top:20px;
  }

 @media (min-width: 601px){
   .pddda{

     padding-top:20px!important;
   }

   .rotirent{

         padding: 2px 20px 20px 50px!important;
   }

   .new1{

         margin: 20% 0px 0px 37px!important;
     width: 80%!important;
   }

   .column-1half{

     width:45%!important;
   }
    .column-2half{

     width:27.33%!important;
   }

   .pad1{

     padding: 10px 10px 10px 100px!important;
   }

    .pfont{

    font-size: 30px!important;
  }

   
.productView-description p {
     text-align: left; 
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 30px;
    font-family: Muli;
    color: #6e6a6a;
}
}

  @media (max-width: 600px){

    .new1{
          margin: 0% 0px 0px 0px!important;
    width: 100%!important;
    }

    .padtop{
padding-top:15px!important;
      
    }
    .pad1{

      padding: 10px 10px 10px 10px!important;
    }

     .pfont{

    font-size: 16px!important;
  }

.productView-description p {
    
    font-size: 18px;
 
}
    .padtop{
      margin-top: 12px!important;
    }

    
    .special-phone{
     margin: 15px auto 20px auto!important; 
    }
    
    .roti-magic p{
    font-size: 16px;
      margin-bottom: 10px;
      line-height: 18px;
  }
.column-1{
padding-top:20px!important;

}
    
    p.intro {
    font-size: 20px;
    line-height: 24px;
}
    
    .roti-magic h1 {
    font-size: 30px;
}
    .roti-magic .three-column h2 {
    font-size: 24px;
}

  .roti-magic .one-column, .roti-magic .three-column{
   margin: 15px auto 50px auto;
  }
  
  .roti-magic font{
  font-size:14px;
  }
    
    .magic-font {
    font-size: 16px;
    }
  
  .roti-magic h2{
font-size:20px;
  }
  
  .roti-magic iframe{
    height:250px;
    width: 100%;
    padding: 0 10px;
    margin:0px;
  }
  
  .roti-magic img.save-img{
  width: 100px;
    top: -70px;
}
 
  
  .roti-magic .last-column{
 padding:0px;
    margin-bottom:30px;
  }
    
    .image-container img {
    width: 100%;
}
    
    h1.small-heading{
    font-size: 18px;
      margin-top: 0px;
    }
    
    .pre-book-div {
    margin-top: 0;
	padding: 0 50px !important;
}
    
    .pre-book-btn {
    margin: 0 auto;
}
    
    .two-column .image-container {
    text-align: center;
    margin-right: 0;
}
    
    .pre-book-div h1 {
    font-size: 40px;
    }
    
      .pre-book-div h2 {
    font-size: 28px;
    }
   
    .two-column .image-container img {
    width: 80%;
}
    
      .last-column .mobile-image{
  display:block;
  }
  
  .last-column .desktop-image{
  display:none;
  }
    
    .last-column .new-image {
    width: 100%;
}
    .last-column .new-content {
    width: 100%;
    padding: 20px;
    text-align: center;
    position: unset;
    transform: none;
    }
    
    .last-column h1, .last-column h2{
    text-align:center;
    }
    
    .roti-magic .last-column font {
    font-size: 16px;
}
    .last-column .magic-font {
    font-size: 16px;
      text-align:center;
    }

  }

 
</style> 








