{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

     <!-- {% section 'slideshow' %} -->
<div class=" clearfix">

  <div  class="static-page roti-magic">
    <div class ="tncwonderchef">
     
      <div class="mainbanner">
        <img class="hidden_xs" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/Roti_Magic_KRITI_WEBSITE_LANDING_PAGE_DESKTOP_BANNER_Rentity_142ea7fc-b07a-4d3c-b801-0aacbf2cfa6d.jpg?v=1673499836" width="100%" alt="TNC banner" s/>
        <img class="visible_xs" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/Roti_Magic_KRITI_WEBSITE_LANDING_PAGE_MOBILE_BANNER_rentity_714cea39-a97c-4bd0-86f6-5ad64bee1b05.jpg?v=1673499836" width="100%" alt="TNC banner" s/>
      </div> 
    
<div class="three-column special-phone" style="text-align:center;">
 <h1 style="color: #6e6a6a;">As easy as <strong><span style="color:#b81f1f">1, 2, 3</span></strong></h1>
<div class="column-1">
<p class="image-container"><img alt="" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/1_07ee7910-67e3-4eee-a49e-d200401fd3f6.jpg?v=1653479356"></p>
<h2><strong>Fill up the tanks</strong></h2>
<p style="color: #000;">with flour, water & oil</p>
</div>
<div class="column-1">
<p class="image-container"><img alt="" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/2_087ac130-61b5-4318-8925-3a27ff7b5062.jpg?v=1653479357"></p>
<h2><strong>Press the button</strong></h2>
<p style="color: #000;">to knead dough & make<br> hot rotis automatically</p>
</div>
<div class="column-1">
<p class="image-container"><img alt="" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/3_2a7b562f-6172-4146-a445-3b1c071f7443.jpg?v=1653479356"></p>
<h2><strong>Start enjoying</strong></h2>
<p style="color: #000;">hygienic, fresh rotis<br> within 2 minutes</p>
</div>
</div>
       <div class="mainbanner" style="margin-bottom: 50px;">
        <img class="hidden_xs" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/desktop_ecb0663b-0856-4900-b195-8bc7af052bfb.jpg?v=1658397766" width="100%" alt="TNC banner" />
        <img class="visible_xs" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/mobile_24447225-cb5a-46d1-a04e-e818a6bb764a.jpg?v=1658396668" width="100%" alt="TNC banner" />
      </div> 
      <div class="one-column mobile">
 
<p class="intro">Make upto 15 Rotis at one go within 13 minutes. Keep enjoying them with your family as Roti-Magic churns out hot rotis one after the other. 
  For more rotis, just press once more.</p>
</div>
 
      <h1>It's <span style="color:#b81f1f; font-family: Arnhem-BoldItalic;">magic</span></h1>    
      <br>
   <iframe src="https://www.youtube.com/embed/TLsv2RFnuSI" title="Wonderchef Roti-Magic | India's first fully automatic Roti Maker is here!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <div class="one-column" style="width:100%; background:#fff6f1;">
        <br>
        <h1 class="small-heading">Loaded with <span style="color:#b81f1f; font-family: Arnhem-BoldItalic;">Benefits!</span></h1>
        <img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/service.jpg?v=1653304754" width="100%" alt="TNC banner" s/>
</div>  
      
       <div class="two-column">
        <div class="column-1">
<div class="image-container"><img width="80%" alt="" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/1_f8cc0384-71cc-49ba-98b2-6e45b6c31d73.jpg?v=1661496604"></div>
</div>
          <div class="column-1 pre-book-div padtop">
            
            <p class="pfont">MRP: <strong>₹ 1,02,000/-</strong></p>
            <p style="margin-bottom: 0px;" class="pfont"><strong>SPECIAL LAUNCH PRICE: ₹ 79,999/-</strong></p>
           
            <br>
            <h1 style="font-size:34px;">BUY NOW <font>AND</font></h1>
            <h2><strong><span style="color:#b81f1f">SAVE ₹ 22,001/-</span></strong></h2>
 
            <!-- pre-book button -->
          
			{% section 'product-template-prebook' %}
            
            <!-- end of pre book button-->
             <p style="font-size: 16px;font-family: Arnhem-BoldItalic;"><strong>Avail No Cost EMI </strong>starting at ₹ 6,667/- per month.*</p>
             <p style="font-size: 14px;font-style: italic;font-family: Arimo,sans-serif;">Avail No Cost EMI on select cards of all leading banks. To avail No Cost EMI, choose Razorpay Secure as the payment option at checkout and select No Cost EMI from the available offers.</p>

          
         </div>
      </div>  
        <div class="container" style="padding: 3% 0%;">
           <!-- Rentity Snippet Start for Product Card -->
          		{% render 'rentity-product-rent-card', product: product %}
		          <!-- Rentity Snippet End for Product Card -->
                    <!-- <input required type="text" id="monogram" name="properties[Note]" data-error="Please enter a Note."> -->
                   
      </div>
            <div class="one-column last-column" style="width:100%; background:#ececec;">
               
               <div class="new-image">
                <img class="desktop-image" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/790x520_2.jpg?v=1656767441">
                <img class="mobile-image" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/Roti_magic_mobile_1b943e08-658e-4f5c-9f33-afc847debd46.jpg?v=1656759749">
              </div>
              <div class="new-content" style="text-align:left;">
             
         <h1 style="text-align:left;">Bring a little <span style="color:#b81f1f; font-family: Arnhem-BoldItalic;">magic </span>in your daily life!
</h1>
            
            <br>
                
               <font >We know how tedious it is to make rotis. Making rotis automatically is the holy grail of the Indian kitchen. Roti-Magic makes it possible. You would love the convenience of freshly made rotis at the press of a button, completely hygienic, untouched by hands. It even makes the dough and rolls the rotis by itself. <span style="color:#000;"><strong> It's magic!</strong></span>
<br><br>
                We will ensure a delightful experience for you with Roti-Magic. Post delivery, our product experts will conduct a personalised demonstration - via a video call or at your home - as per your convenience and answer all your queries. And even after that, our customer support team will be just a call or WhatsApp message away.
<br><br>
               So go ahead and<span style="color:#000;"><strong> bring a little magic in your daily life!
               </strong></span>
</font>
              </div>

            </div>
     <br>

               <h1>Customers Love <span style="color:#b81f1f; font-family: Arnhem-BoldItalic;">The Magic</span></h1>  <br>
         <div class="two-column">
        <div class="column-1">
           <iframe src="https://www.youtube.com/embed/OO44uYOsaOQ" title="Roti-Magic Review | Shraddha Malvade" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
             <div class="column-1">
               <iframe src="https://www.youtube.com/embed/aTVDP1mcp2g" title="Rincy's Review : Roti-Magic | Wonderchef by Sanjeev Kapoor" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             </div>
           
          <br><br>
    </div>
 
<div class="productView-description">
<br>
<h1>Know <span style="color:#b81f1f; font-family: Arnhem-BoldItalic;">More</span></h1>
<div class="three-column">
<div class="column-1">
<p class="mobile"><strong>Easy Operation</strong></p>
<p class="image-container"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/Easy_Operation.jpg?v=1659442581" alt=""></p>
<p class="laptop"><strong>Easy Operation</strong></p>
<p>Start by filling the container with dry flour. Add the required water and oil (if you choose to) in their respective jars and switch on the machine. Select the number of rotis required. Get a roti a minute. The Roti-Magic can make upto 15 rotis, all of the same size and shape in 1 cycle (1 cycle =13 minutes). For more rotis, just press the button again.</p>
</div>
<div class="column-1">
<p class="mobile"><strong>Choose Your Roti Type</strong></p>
<p class="image-container"><img alt="" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/Choose_Your_Roti_Type.jpg?v=1659442581"></p>
<p class="laptop"><strong>Choose Your Roti Type</strong></p>
<p>Some of us like our rotis to be soft while others prefer the roti to be crispy. Roti-Magic takes care of everyone’s choice. You can select soft, medium or hard texture. The top and bottom heating plates ensure an evenly cooked roti from both sides.</p>
</div>
<div class="column-1">
<p class="mobile"><strong>Kneads Dough Automatically</strong></p>
<p class="image-container"><img alt="" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/Kneads_dough_automatically.jpg?v=1659442581"></p>
<p class="laptop"><strong>Kneads dough automatically</strong></p>
<p>Isn’t kneading such a cumbersome task? Roti-Magic kneads dough one ball at a time. While a roti is being cooked, the next ball is being rolled to save time.</p>
</div>
<div class="column-1" style="text-align: start;">
<p class="mobile"><strong>The Cooking</strong></p>
<p class="image-container"><img src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/The_Cooking.jpg?v=1659442581" style="float: none;"></p>
<p class="laptop"><strong>The Cooking</strong></p>
<p>The dough ball is transferred to the heating plate, where it’s
pressed into a round roti. Then the heating plates cook the roti
within a minute. The fluffy roti is pushed out automatically. Apply ghee to taste and enjoy with your favourite curry!</p>
</div>
<div class="column-1">
<p class="mobile"><strong>Cleaning</strong></p>
<p class="image-container"><img alt="" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/Cleaning_d71693b2-b215-46df-81de-4c7714313d33.jpg?v=1659442581"></p>
<p class="laptop"><strong>Cleaning</strong></p>
<p>Cleaning must be done once the machine has cooled down. Use the silicone brush that comes with the machine to clean the corners and other areas of the machine. Use a damp cloth to clean the heating plates. The containers of flour, water, oil and kneading cup can be manually removed and cleaned with soapy water.</p>
</div>
<div class="column-1">
<p class="mobile"><strong>Reliable Wonderchef Service</strong></p>
<p class="image-container"><img alt="" src="https://cdn.shopify.com/s/files/1/0104/9211/7092/files/Reliable-Wonderchef-Service_7901edaf-8c4c-4aff-8138-708531df40f0.jpg?v=1659442581"></p>
<p class="laptop"><strong>Reliable Wonderchef Service</strong></p>
<p>Say WhatsApp ‘Hi’ on +91 7070595959 for after sales service. We are confident of our quality. In case of any manufacturing defect found within the service period, we shall get it resolved immediately.</p>
</div>
  </div>

</div>

 
        <h1>See how it <span style="color:#b81f1f; font-family: Arnhem-BoldItalic;">works</span></h1>    
      <br>
 <iframe src="https://www.youtube.com/embed/0kXq7iR5-jY" title="Wonderchef Roti-Magic | Ravi Saxena" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </br></br>
    </div>
     </br></br>   
<div class="container">
<h3><b>Introducing Wonderchef’s Fully Automatic Roti Maker </b></h3>

With the push of a button, the automated kitchen device produces chapati. We are all aware of how tedious making chapatis from scratch is. Your task is made simple with the Wonderchef magic roti maker. You can knead, roll and cook the perfect roti with just a click of a button. Using an automatic roti maker machine, you can enjoy hot, fluffy Rotis that are entirely hygienic. You can prepare 15 rotis in less than 15 minutes. You may prepare various foods with a chapati machine, including pizza, tortillas, jowhar roti, bajra roti, multigrain roti, and much more. It is simple to use and is mess-free.
</br></br>
<h3><b>Features Of Rotimagic Rotimaker </b></h3>

Rotimatic is the world's first fully integrated solution that measures, mixes, kneads, puffs and cooks the perfect roti. 
</br>
- Now you may have a fresh roti whenever you want at the touch of a button; it operates in your kitchen like magic.</br>
- Rotis that are completely hygienic and untouched </br>
- automatically knead the dough and roll out flawless rotis.</br>
- You can make up to 15 rotis in just 13 minutes at one go. </br>
- Rotimatic is connected to the cloud, software updates and remote troubleshooting.</br>
- The automatic roti maker machine keeps your tabletop clean and mess-free</br>
 </br>
<h3><b>Roti Maker Machine That Is Easy To Operate…</b></h3>

The automatic roti maker machine is very convenient to use. Below is the way to use the machine. 
</br>
- Fill a container with dry flour first, then add the necessary amounts of water and oil to the respective jars before turning on the machine. </br>
- Decide the number of rotis needed. </br>
- Choose the roti's texture. There are three textures available: soft, medium, and hard.</br>
- The dough ball is moved to the heating plate and formed into a circular roti there. </br>
- It takes a minute to cook on the heating plate. Rotis are cooked equally on both sides thanks to the top and bottom heating plates.</br>
</br>
<h3><b>…And Easy To Clean</b></h3>

Wonderchef roti maker is easy to use and is hassle-free. Use the silicone brush that comes with the machine to clean the corners and other parts of the machine when it has cooled down. The heating plates can be cleaned with a wet cloth. Containers of flour, water, oil and a kneading cup can be manually removed and cleaned with soapy water.
</br></br>
<h3><b>Perfect For Dinner Parties </b></h3>
Wondechef’s roti maker is perfect for get-togethers. Making rotis for guests can be tiresome as it is a long process. Now you don't have to sweat yourself in the kitchen for long hours. Make perfect rotis at a click of a button within a few minutes and enjoy your party. Just switch on the machine a few minutes before the party and delight your guests with hot and fluffy rotis.
</br></br>
  <h3><b>Wonderchef’s Reliable Service </b></h3>

We ensure you a delightful experience every time you make chapatis with Wonderchef automatic roti maker. Our product experts will conduct a personal demo and answer all your queries after delivery. Our customer support team is just a call away. 
</div>
    </br></br>

<style>
  .roti-magic p{
  text-align:center;
    font-size: 24px;
    margin-bottom:10px;
    line-height: 30px;
    font-family:Muli;
    color: #6e6a6a;
  }
  
  p.intro{
  font-size: 30px;
    line-height: 36px;
  }
  
  
  .roti-magic .one-column, .roti-magic .three-column{
    width:80%;
    margin:70px auto;
  }
  
  .two-column .image-container {
    text-align: right;
    margin-right: 50px;
}
  
  .roti-magic font{
  font-size:18px;
    text-align:center;
    font-family:Muli;
    color: #6e6a6a;
  }
  
  .roti-magic h1, .roti-magic h2{
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    text-transform: initial;
    font-family: inherit;
    font-weight:100;
    font-family:Muli;
    color:#000;
}

  .roti-magic iframe{
  width:80%;
    margin-left:10%;
    height:607px;
  }
  
  .roti-magic img.save-img{
  width: 200px;
    position: absolute;
    right: 0px;
    top:-150px;
  }
  
  .roti-magic .two-column p{
  text-align:left;
  }
  
      .roti-magic h1{
    font-size: 52px;
  }
  
     .roti-magic h2{
  margin-bottom:10px;
      font-size: 34px;
  }
  
  .roti-magic .last-column{
 padding: 30px;
    margin-bottom: 50px;
    text-align: center;
    float: left;
    padding-left: 0px;
    position:relative;
  }
  
  .last-column .new-image{
  width: 55%;
    float: left;
  }
  
  .last-column .mobile-image{
  display:none;
  }
  
  .last-column .desktop-image{
  display:block;
  }
  
  
  .last-column .new-content{
 width: 41%;
    float: right;
    text-align: left;
    padding-left: 20px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translateY(-50%);
  }
  
  .roti-magic .last-column font{
         font-size: 2.5vh;
    line-height: 2vh;
  }
  
   .last-column .new-content p{
  font-size: 20px;
    text-align: left;
     line-height: 10px;
  }
  
  
  .last-column .magic-font{
   font-size: 4vh;
    line-height: 10px;
    text-align:left;
  }
  
  .last-column h1 {
    font-size: 6vh;
    text-align: left;
}
  
   .last-column h2 {
  font-size: 4vh;
    text-align: left;
     margin-bottom:20px;
  }
  
  .pre-book-div{
  position:relative;
    margin-top:100px;
    padding-left: 50px !important;
  }
  
  
  
    .pre-book-div h1{
	text-align:left;
      font-family: Rajdhani,sans-serif;
    font-size: 50px;
  }
  
    .pre-book-div h2{
    text-align:left;
    font-family: Rajdhani,sans-serif;
    }
  
  .pre-book-btn{
  background:#242425;
    width:200px;
    text-align:center;
    padding:10px;
  }
  
  
  .pre-book-div iframe{
  margin-left:0px;
  }
  
  .shopify-buy__layout-vertical {
    text-align: left;
}
  
  .shopify-buy__product {
    text-align: left;
}
  
 
  
     .roti-magic .three-column h2{
      font-size: 32px;
       margin-bottom:0px;
  }
  
  .shopify-payment-button .shopify-payment-button__button--unbranded{
  width:200px !important;
  }
  
  .small-heading{
  margin-top:20px;
  }

 @media (min-width: 601px){
   .pddda{

     padding-top:20px!important;
   }

   .rotirent{

         padding: 2px 20px 20px 50px!important;
   }

   .new1{

         margin: 20% 0px 0px 37px!important;
     width: 80%!important;
   }

   .column-1half{

     width:45%!important;
   }
    .column-2half{

     width:27.33%!important;
   }

   .pad1{

     padding: 10px 10px 10px 100px!important;
   }

    .pfont{

    font-size: 30px!important;
  }

   
.productView-description p {
     text-align: left; 
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 30px;
    font-family: Muli;
    color: #6e6a6a;
}
}

  @media (max-width: 600px){

    .new1{
          margin: 0% 0px 0px 0px!important;
    width: 100%!important;
    }

    .padtop{
padding-top:15px!important;
      
    }
    .pad1{

      padding: 10px 10px 10px 10px!important;
    }

     .pfont{

    font-size: 16px!important;
  }

.productView-description p {
    
    font-size: 18px;
 
}
    .padtop{
      margin-top: 12px!important;
    }

    
    .special-phone{
     margin: 15px auto 20px auto!important; 
    }
    
    .roti-magic p{
    font-size: 16px;
      margin-bottom: 10px;
      line-height: 18px;
  }
.column-1{
padding-top:20px!important;

}
    
    p.intro {
    font-size: 20px;
    line-height: 24px;
}
    
    .roti-magic h1 {
    font-size: 30px;
}
    .roti-magic .three-column h2 {
    font-size: 24px;
}

  .roti-magic .one-column, .roti-magic .three-column{
   margin: 15px auto 50px auto;
  }
  
  .roti-magic font{
  font-size:14px;
  }
    
    .magic-font {
    font-size: 16px;
    }
  
  .roti-magic h2{
font-size:20px;
  }
  
  .roti-magic iframe{
    height:250px;
    width: 100%;
    padding: 0 10px;
    margin:0px;
  }
  
  .roti-magic img.save-img{
  width: 100px;
    top: -70px;
}
 
  
  .roti-magic .last-column{
 padding:0px;
    margin-bottom:30px;
  }
    
    .image-container img {
    width: 100%;
}
    
    h1.small-heading{
    font-size: 18px;
      margin-top: 0px;
    }
    
    .pre-book-div {
    margin-top: 0;
	padding: 0 50px !important;
}
    
    .pre-book-btn {
    margin: 0 auto;
}
    
    .two-column .image-container {
    text-align: center;
    margin-right: 0;
}
    
    .pre-book-div h1 {
    font-size: 40px;
    }
    
      .pre-book-div h2 {
    font-size: 28px;
    }
   
    .two-column .image-container img {
    width: 80%;
}
    
      .last-column .mobile-image{
  display:block;
  }
  
  .last-column .desktop-image{
  display:none;
  }
    
    .last-column .new-image {
    width: 100%;
}
    .last-column .new-content {
    width: 100%;
    padding: 20px;
    text-align: center;
    position: unset;
    transform: none;
    }
    
    .last-column h1, .last-column h2{
    text-align:center;
    }
    
    .roti-magic .last-column font {
    font-size: 16px;
}
    .last-column .magic-font {
    font-size: 16px;
      text-align:center;
    }

  }

 
</style> 








