{% comment %}
  The contents of the search.liquid template can be found in /sections/search-template.liquid
{% endcomment %}
<div class="container">
    {% render 'breadcrumb' %}
    <div class="page page-search">
        {% section 'search-template' %}
    </div>
</div>